&lt;div class=&quot;spacing-half&quot;&gt;
  &lt;h1&gt;Heading Level 1&lt;/h1&gt;
  &lt;h2&gt;Heading Level 2&lt;/h2&gt;
  &lt;h3&gt;Heading Level 3&lt;/h3&gt;
  &lt;h4&gt;Heading Level 4&lt;/h4&gt;
  &lt;h5&gt;Heading Level 5&lt;/h5&gt;
  &lt;h6&gt;Heading Level 6&lt;/h6&gt;
&lt;/div&gt;
