&lt;div class=&quot;carousel__item rel {{ carousel_item_class }}&quot;&gt;
  {{&gt; atoms-picture }}

  {{# has_slide_text }}
  &lt;div class=&quot;carousel__item-text__wrap&quot;&gt;
    &lt;div class=&quot;layout-container&quot;&gt;
      &lt;div class=&quot;carousel__item-text spacing--half {{ carousel_text_class }}&quot;&gt;
        &lt;h2 class=&quot;carousel__item-heading font--serif--xxl&quot;&gt;{{{ slide_heading }}}&lt;/h2&gt;
        {{# slide_subtitle }}&lt;h3 class=&quot;carousel__item-subtitle font--serif--m&quot;&gt;{{{ slide_subtitle }}}&lt;/h3&gt;{{/ slide_subtitle }}
        &lt;div class=&quot;carousel__item-dek pad-half--btm&quot;&gt;
          &lt;p&gt;{{{ slide_dek }}}&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.carousel__item-dek --&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;carousel__item-cta btn {{ btn_class }}&quot;&gt;{{{ slide_cta }}}&lt;/a&gt;
      &lt;/div&gt; &lt;!-- /.carousel__item-text --&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  {{/ has_slide_text }}

&lt;/div&gt; &lt;!-- /.carousel__item --&gt;
