<table class="u-spacing o-table-slim u-border">
	<caption>Caption</caption>
	<thead>
		<tr>
			<th tabindex="0" scope="col" title="Table Heading 1">Table Heading 1</th>
			<th tabindex="0" scope="col" title="Table Heading 2">Table Heading 2</th>
			<th tabindex="0" scope="col" title="Table Heading 3">Table Heading 3</th>
			<th tabindex="0" scope="col" title="Table Heading 4">Table Heading 4</th>
			<th tabindex="0" scope="col" title="Table Heading 5">Table Heading 5</th>
		</tr>
	</thead>
	<tbody>
		<tr tabindex="0">
			<td>Table Cell 1</td>
			<td>Table Cell 2</td>
			<td>Table Cell 3</td>
			<td>Table Cell 4</td>
			<td><a href="">Table Cell 5</a></td>
		</tr>
		<tr tabindex="0">
			<td>Table Cell 1</td>
			<td>Table Cell 2</td>
			<td>Table Cell 3</td>
			<td>Table Cell 4</td>
			<td><a href="">Table Cell 5</a></td>
		</tr>
		<tr tabindex="0">
			<td>Table Cell 1</td>
			<td>Table Cell 2</td>
			<td>Table Cell 3</td>
			<td>Table Cell 4</td>
			<td><a href="">Table Cell 5</a></td>
		</tr>
		<tr tabindex="0">
			<td>Table Cell 1</td>
			<td>Table Cell 2</td>
			<td>Table Cell 3</td>
			<td>Table Cell 4</td>
			<td><a href="">Table Cell 5</a></td>
		</tr>
	</tbody>
</table>
