{{# secondary_nav }}
&lt;nav class=&quot;secondary-nav toggled-element&quot; id=&quot;secondary-nav&quot; role=&quot;navigation&quot;&gt;
  &lt;ul class=&quot;secondary-nav__list&quot;&gt;
    {{# items }}
    &lt;li class=&quot;secondary-nav__list-item&quot;&gt;&lt;a class=&quot;secondary-nav__link theme--secondary-text-color&quot; href=&quot;{{ url }}&quot;&gt;
      {{# link_before }}&lt;span class=&quot;secondary-nav__before-link show-at--large&quot;&gt;{{{ link_before }}}&lt;/span&gt;{{/ link_before }}
      &lt;strong&gt;{{{ text }}}&lt;/strong&gt;
    &lt;/a&gt;&lt;/li&gt;
    {{/ items }}
  &lt;/ul&gt; &lt;!-- /.secondary-nav__list --&gt;
&lt;/nav&gt; &lt;!-- /.secondary-nav --&gt;
{{/ secondary_nav }}
