{{# secondary_nav }}
&lt;nav class=&quot;secondary-nav toggled-element&quot; id=&quot;secondary-nav&quot; role=&quot;navigation&quot;&gt;
  &lt;ul class=&quot;secondary-nav__list&quot;&gt;
    {{# items }}
    &lt;li class=&quot;secondary-nav__list-item rel&quot;&gt;&lt;a class=&quot;secondary-nav__link theme--secondary-text-color {{# subnav }} js-toggle-parent {{/ subnav }}&quot; href=&quot;{{ url }}&quot;&gt;
      {{# link_before }}&lt;span class=&quot;secondary-nav__before-link&quot;&gt;{{{ link_before }}}&lt;/span&gt;{{/ link_before }}
      &lt;strong&gt;{{{ text }}}&lt;/strong&gt; {{# subnav }}&lt;span class=&quot;subnav__arrow dib arrow--down va--middle&quot;&gt;&lt;/span&gt;{{/ subnav }}&lt;/a&gt;
      {{# subnav }}
        &lt;ul class=&quot;subnav__list theme--secondary-background-color&quot;&gt;
          {{# items }}
            &lt;li class=&quot;subnav__list-item&quot;&gt;&lt;a class=&quot;subnav__link theme--secondary-background-hover-color--at-medium {{# active_link }} active {{/ active_link }}&quot; href=&quot;{{ url }}&quot;&gt;{{# active_link }}&lt;span class=&quot;icon icon--xs icon__check&quot;&gt;{{&gt; atoms-icon-check }}&lt;/span&gt;{{/ active_link }} {{{ text }}}&lt;/a&gt;&lt;/li&gt;
          {{/ items }}
        &lt;/ul&gt; &lt;!-- /.subnav --&gt;
      {{/ subnav }}
      &lt;/li&gt;
    {{/ items }}
  &lt;/ul&gt; &lt;!-- /.secondary-nav__list --&gt;
&lt;/nav&gt; &lt;!-- /.secondary-nav --&gt;
{{/ secondary_nav }}
