{{# aside_nav }}
<nav class="bg--tan aside-nav pad--secondary" id="aside-nav" role="navigation">
  <div class="spacing">
    {{# category_nav }}
      <ul class="aside-nav__list spacing--quarter">
        {{# items }}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color font--primary--xs" href="{{ url }}">{{{ text }}}</a></li>
        {{/ items }}
      </ul> <!-- /.aside-nav__list -->
    {{/ category_nav }}
    <hr class="theme--primary-transparent-background-color--30">
    {{# social_nav }}
      <ul class="aside-nav__list spacing--quarter">
        {{# items }}
          <li class="aside-nav__list-item rel"><a class="aside-nav__link theme--primary-text-color font--primary--xs" href="{{ url }}"><span class="icon icon--s va--tbtm">{{{ icon }}}</span> {{ text }}</a></li>
        {{/ items }}
      </ul> <!-- /.aside-nav__list -->
    {{/ social_nav }}
  </div>
</nav> <!-- /.aside-nav -->
{{/ aside_nav }}

