<span class="nav-toggle" data-active-trigger="primary-nav">
  <div class="nav-toggle__inner">
    <span class="nav-toggle__segment nav-toggle__segment--1"></span><span class="nav-toggle__segment nav-toggle__segment--2"></span><span class="nav-toggle__segment nav-toggle__segment--3"></span><span class="nav-toggle__segment nav-toggle__segment--4"></span>
  </div> <!-- /.nav-toggle__inner -->
</span> <!-- /.nav-toggle -->
