{{# primary_nav }}
<nav class="primary-nav toggled-element" id="primary-nav" role="navigation" data-active-target="primary-nav">
  <ul class="primary-nav__list">
    {{# items }}
      <li class="primary-nav__list-item"><a class="primary-nav__link theme--primary-text-color {{# is_active }} theme--secondary-text-color active {{/ is_active }}" href="{{ url }}">{{{ text }}}</a></li>
    {{/ items }}
  </ul> <!-- /.primary-nav__list -->
</nav> <!-- /.primary-nav -->
{{/ primary_nav }}
