{{# primary }}
<nav class="primary-nav" id="primary-nav" role="navigation" data-active-target="primary-nav">
  <ul class="primary-nav__list">
    {{# items }}
    <li class="primary-nav__list-item"><a class="primary-nav__link" href="{{ url }}">{{{ text }}}</a></li>
    {{/ items }}
  </ul> <!-- /.primary-nav__list -->
</nav> <!-- /.primary-nav -->
{{/ primary }}
