{{# secondary-nav }}
<nav class="secondary-nav toggled-element" id="secondary-nav" role="navigation">
  <ul class="secondary-nav__list">
    {{# items }}
    <li class="secondary-nav__list-item"><a class="secondary-nav__link" href="{{ url }}">
      {{# link-before }}<span class="secondary-nav__before-link show-at--large">{{{ link-before }}}</span>{{/ link-before }}
      <strong>{{{ text }}}</strong>
    </a></li>
    {{/ items }}
  </ul> <!-- /.secondary-nav__list -->
</nav> <!-- /.secondary-nav -->
{{/ secondary-nav }}
