{{# secondary_nav }}
<nav class="secondary-nav toggled-element" id="secondary-nav" role="navigation">
  <ul class="secondary-nav__list">
    {{# items }}
    <li class="secondary-nav__list-item"><a class="secondary-nav__link theme--secondary-text-color" href="{{ url }}">
      {{# link_before }}<span class="secondary-nav__before-link show-at--large">{{{ link_before }}}</span>{{/ link_before }}
      <strong>{{{ text }}}</strong>
    </a></li>
    {{/ items }}
  </ul> <!-- /.secondary-nav__list -->
</nav> <!-- /.secondary-nav -->
{{/ secondary_nav }}
