<!-- ONLY FOR DEV TESTING -->
<div class="text u-spacing--double">

<h1> Drop Cap Tests</h1>

<h2>Normal</h2>

  <div>
    <p class="has-drop-cap">"And this is <strong>another lorem</strong> Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

<h2 style="padding-top:5rem">Bold / Leading with HTML</h2>

  <div>
    <p class="has-drop-cap"><strong>Freddie</strong> this is <strong>another lorem</strong> Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

<h2 style="padding-top:5rem">Quotes / Leading with Quotes</h2>

  <div class="has-drop-cap">
    <p>"This is a sentence to test this" ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.</p>

    <p>THIS</p>
  </div>

<h2 style="padding-top:5rem">Body / Block markup</h2>

</div>



<section class="l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-large  u-space--quad--top ">
  <div class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xxl--3-col">
    <article class="text c-article__body u-spacing--double has-drop-cap">
      <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. <a href="">Donec malesuada</a>, est ut viverra euismod, dui dolor
        gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus.
        Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt
        aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit
        tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue
        finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor
        sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>

    </article>
  </div>
</section>
