{{# address }}
  <div class="vcard text spacing--quarter">
    {{# hcard_img }}<img src="{{ hcard_img }}" alt="{{ first_name }} {{ last_name }}" class="photo">{{/ hcard_img }}
    <p>
      {{# first_name }}
        <strong class="fn n">
          {{# first_name }}<span class="given-name">{{{ first_name }}}</span>{{/ first_name }}
          {{# additional_name }}<span class="additional-name">{{{ additional_name }}}</span>{{/ additional_name }}
          {{# last_name }}<span class="family-name">{{{ last_name }}}</span>{{/ last_name }}
        </strong><br>
      {{/ first_name }}
      {{# org }}<strong class="org">{{{ org }}}</strong><br>{{/ org }}
      {{# tel }}<span class="tel">{{{ tel }}}</span><br>{{/ tel }}
      {{# url }}<span class="url">{{{ url }}}</span><br>{{/ url }}
      {{# email }}<a class="email" href="mailto:{{{ email }}}">{{{ email }}}</a><br>{{/ email }}
      {{# street_address }}
        <span class="adr">
          {{# street_address }}<span class="street-address">{{{ street_address }}}</span><br>{{/ street_address }}
          {{# locality }}<span class="locality">{{{ locality }}}</span>,{{/ locality }}
          {{# region }}<span class="region">{{{ region }}}</span>,{{/ region }}
          {{# postal_code }}<span class="postal-code">{{{ postal_code }}}</span>{{/ postal_code }}
          {{# country_name }}<br><span class="country-name">{{{ country_name }}}</span>{{/ country_name }}
        </span><br>
      {{/ street_address }}
    </p>
  </div>
{{/ address }}
