<blockquote class="pullquote u-theme--border-color--darker--left u-theme--color--darker u-padding--right">
  <p>{{ pullquote }}</p>
  <cite class="o-citation u-theme--color--base">&mdash; {{ pullquote_author }}</cite>
</blockquote> <!-- /.pullquote -->
