<blockquote class="pullquote u-theme--border-color--darker--left u-theme--color--darker">
  <p>{{ pullquote }}</p>
  <cite class="o-citation">&mdash; {{ pullquote_author }}</cite>
</blockquote> <!-- /.pullquote -->
