<a href="{{ large_image_url }}" class="view-larger js-modal-image flex flex--align-center flex--justify-center theme--secondary-text-color ta--center"><span class="dib round icon--m pad-5 theme--secondary-background-color space-5--right">{% include 'atoms-icon-magnify' with {'fill_class': 'fill--white'} %}</span> <span class="font--secondary--xs">View Larger</span></a>
