<div class="comment__form text">
  <div class="comment-respond">
    <h3 class="comment-reply-title">Leave a Reply</h3>
    <form action="" method="post" class="comment-form" novalidate="">
      <p class="logged-in-as">
        <a href="" aria-label="">Logged in as John Doe</a>. <a href="">Log out?</a>
      </p>
      <p class="comment-form-comment">
        <label for="comment">Comment</label>
        <textarea name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
      </p>
      <p class="form-submit">
        <input name="submit" type="submit" class="submit" value="Post Comment">
      </p>
    </form>
  </div>
</div>
