<div class="c-comment-form">
  <div class="comment-respond u-spacing--half">
    <h3 class="comment-reply-title u-font--secondary--m u-text-transform--upper u-theme--color--darker"><strong>Leave a Comment</strong> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/spirituality/sabbath/article/the-sabbath-in-colossians/#respond" style="display:none;">Cancel reply</a></small></h3>
    <form action="" method="post" class="u-spacing--half" novalidate="">
      <p class="comment-form-comment">
        <textarea name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
      </p>
      <p class="form-submit">
        <input name="submit" type="submit" class="submit" value="Post Comment">
      </p>
    </form>
  </div>
</div>
