<form action="" method="post" class="c-form--inline" novalidate="">
  <input type="text" name="text" cols="45" rows="8" aria-required="true" required="required" class="form-input"/>
  <p class="u-space--left form-submit">
    <input name="submit" type="submit" class="submit" value="Submit">
  </p>
</form>
