<div class="l-container l-container--s u-padding--double">
  <form class="u-spacing" action="index.html" method="post">
    <div class="u-spacing--quarter">
      <h2 class="u-font--secondary--l u-theme--secondary-text-color">Login</h2>
      <hr />
      <div class="messaging u-padding u-color--white u-theme--primary-background-color"><span class="u-font--secondary--s">Logging you in...</span></div>
    </div>
    <div class="u-spacing--quarter">
      <input type="text" name="name" value="" placeholder="Username*">
      <input type="password" name="name" value="" placeholder="Password*">
      <input class="u-theme--secondary-background-color" type="submit" value="Login" />
    </div>
    <p><a class="u-font--secondary--s u-theme--secondary-text-color" href="">Forgot Password?</a></p>
</form>
