<form class="u-spacing--half" action="index.html" method="post">
  <h2 class="u-font--secondary--m u-theme--color--darker">Login</h2>
  <div class="messaging u-padding u-color--white u-theme--background-color--darker"><span class="u-font--secondary--s">Logging you in...</span></div>
  <input type="text" name="name" value="" placeholder="Username*">
  <input type="password" name="name" value="" placeholder="Password*">
  <div class="u-flex u-flex--align-center">
    <input type="submit" value="Login" />
    <a class="o-button o-button--simple" href="">Forgot Password?</a>
  </div>
</form>
