<div class="layout-container layout-container--s pad-double">
  <form class="spacing" action="index.html" method="post">
    <div class="spacing--quarter">
      <h2 class="u-font--secondary--l theme--secondary-text-color">Login</h2>
      <hr />
      <div class="messaging pad white theme--primary-background-color"><span class="u-font--secondary--s">Logging you in...</span></div>
    </div>
    <div class="spacing--quarter">
      <input type="text" name="name" value="" placeholder="Username*">
      <input type="password" name="name" value="" placeholder="Password*">
      <input class="theme--secondary-background-color" type="submit" value="Login" />
    </div>
    <p><a class="u-font--secondary--s theme--secondary-text-color" href="">Forgot Password?</a></p>
</form>
