<form class="c-form-store__components c-form u-spacing" action="index.html" method="post">
  <div class="c-form-store__components--input u-spacing--quarter">
    <p class="c-form-store__components--title">Text Input</p>
    <label class="c-form-store__components--subtitle u-font--secondary--s" for="">Enter your input below</label>
    <input type="text" name="name" placeholder="User input text(empty otherwise)" value="">
  </div>

  <div class="c-form-store__components--date u-spacing--quarter">
    <p class="c-form-store__components--title ">Date Input</p>
    <label class="c-form-store__components--subtitle  u-font--secondary--s" for="">Enter the date below</label>
    <div class="c-form-store__components--date__fields">
      <div class="day">
        <p>DD</p>
        <input type="text" name="name" value="">
      </div>
      <div class="month">
        <p>MM</p>
        <input type="text" name="name" value="">
      </div>
      <div class="year">
        <p>YYYY</p>
        <input type="text" name="name" value="">
      </div>
    </div>
  </div>

  <div class="c-form-store__components--select form__select u-spacing--half">
    <p class="c-form-store__components--title">Select</p>
    <label class="c-form-store__components--subtitle u-font--secondary--s" for="">Select one option below</label>
    <select>
      <option value="one">Option 1</option>
      <option value="two">Option 2</option>
      <option value="three">Option 3</option>
      <option value="four">Option 4</option>
    </select>
  </div>

  <div class="c-form-store__components--radio form__radio u-spacing--half">
    <p class="c-form-store__components--title">Radio Buttons</p>
    <div class="c-form-store__components--subtitle u-font--secondary--s">Select one option</div>
    {% for item in radio_buttons %}
      <div class="inline-form-element--row"><input type="radio" name="option" value="{{ item.text }}" {% if item.checked %} checked {% endif%}>
        <label class="u-font--secondary--s">{{ item.text }}</label>
      </div>
    {% endfor %}
  </div>

  <div class="c-form-store__components--checkbox form__checkbox u-spacing--half">
    <p class="c-form-store__components--title ">Checkbox</p>
    <div class="c-form-store__components--subtitle u-font--secondary--s">Select as many as are true</div>
    {% for item in checkbox__buttons %}
    <div class="inline-form-element--row">
      <input type="checkbox" name="option" value="{{ item.text }}" {% if item.checked %} checked {% endif %}>
      <label class="u-font--secondary--s" for="">{{ item.text }}</label>
    </div>
    {% endfor %}
  </div>

  <div class="c-form-store__components--button">
    {% include '@atoms/buttons/button.twig' %}
  </div>
</form>
