<div class="c-form-store-additional-information u-spacing--quarter">
  <p>Order notes(optional)</p>
  <label class="u-font--secondary--s" for="">Notes about your order, e.g. special notes for delivery.</label>
  <textarea name="name" rows="5" cols="40"></textarea>
</div>
