<div class="c-form-store-details">
  <form class="c-form u-spacing" action="index.html" method="post">
    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">First name</label>
      <input type="text" name="name" value="">
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">Last name</label>
      <input type="text" name="name" value="">
    </div>

    <div class="form__select u-spacing--half">
      <label class=" u-font--secondary--s" for="">Country / Region</label>
      <select>
        <option value="one">Option 1</option>
        <option value="two">Option 2</option>
        <option value="three">Option 3</option>
        <option value="four">Option 4</option>
      </select>
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">Street address</label>
      <input type="text" name="name" placeholder="House number and street name" value="">
      <input type="text" name="name" placeholder="Apartament, suite, unit, etc. (optional)" value="">
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">Town / City</label>
      <input type="text" name="name" value="">
    </div>

    <div class="form__select u-spacing--half">
      <label class=" u-font--secondary--s" for="">State</label>
      <select>
        <option value="one">Option 1</option>
        <option value="two">Option 2</option>
        <option value="three">Option 3</option>
        <option value="four">Option 4</option>
      </select>
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">ZIP</label>
      <input type="text" name="name" value="">
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">Phone</label>
      <input type="text" name="name" value="">
    </div>

    <div class="u-spacing--quarter">
      <label class="u-font--secondary--s" for="">Email address</label>
      <input type="text" name="name" value="">
    </div>
  </form>
</div>
