<form class="c-form c-subscribe-form u-theme--dark u-theme--background-color--darker u-spacing u-padding" action="index.html" method="post">
  <h2 class="u-font--primary--l u-color--white"><strong>Subscribe for Healthy Spam-Substitute</strong></h2>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="First Name" type="text" name="first_name" value="">
    <label class="u-font--secondary--s" for="">First Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Last Name" type="text" name="last_name" value="">
    <label class="u-font--secondary--s" for="">Last Name</label>
  </div>
  <div class="u-spacing--quarter c-form-group">
    <input placeholder="Email Address" type="email" name="email" value="">
    <label class="u-font--secondary--s" for="">Email Address</label>
  </div>
   <div class="u-spacing--quarter c-form-group">
    <label class="u-font--secondary--s" for="">Your Comments</label>
    <textarea name="name" rows="8" cols="40">Enter a comment.</textarea>
  </div>
  <div class="u-spacing--half">
    <span class="u-font--secondary--s u-theme--color--lighter u-text-transform--upper"><strong>Frequency</strong></span>
    <div class="c-form-group__radio">
      <input type="radio" name="option" value="one" checked>
      <label class="u-font--secondary--s" for="">Weekly Bulletin</label>
    </div>
    <div class="c-form-group__radio">
      <input type="radio" name="option" value="two">
      <label class="u-font--secondary--s" for="">Seasonal Bulletin</label>
    </div>
  </div>
  <button class="o-button o-button--outline" type="submit">Submit</button>
  <button class="o-button o-button--simple" type="submit"><span class="u-icon u-icon--xs u-theme--path-fill--lighter">{% include '@atoms/icons/icon-close.twig' %}</span>Cancel</button>
</form>
