<form action="" role="search" method="get" class="search-form toggled-element">
  <fieldset>
    <legend class="is-vishidden">Search</legend>
    <input type="search" name="s" placeholder="Search&hellip;" class="search-form__input font--secondary--s" required />
    <button class="search-form__submit is-vishidden">
      <span class="is-vishidden">Submit</span>
    </button> <!-- /.search-form__submit -->
  </fieldset>
</form> <!-- /.search-form -->
