<div class="spacing--double">
  <p class="font--serif--xxl">.font--serif--xl</p>
  <p class="font--serif--xl">.font--serif--xl</p>
  <p class="font--serif--l">.font--serif--l</p>
  <p class="font--serif--m">.font--serif--m</p>
  <p class="font--serif--s">.font--serif--s</p>
  <p class="font--serif--xs">.font--serif--xs</p>

  <p class="font--sans--xxl">.font--sans--xxl</p>
  <p class="font--sans--xl">.font--sans--xl</p>
  <p class="font--sans--l">.font--sans--l</p>
  <p class="font--sans--m">.font--sans--m</p>
  <p class="font--sans--s">.font--sans--s</p>
  <p class="font--sans--xs">.font--sans--xs</p>
</div>
