&lt;div class=&quot;carousel__item rel {{ carousel-item-class }}&quot;&gt;
  {{&gt; atoms-picture }}

  {{# has-slide-text }}
    &lt;div class=&quot;carousel__item-text spacing--half {{ carousel-text-class }}&quot;&gt;
      &lt;h2 class=&quot;carousel__item-heading font--serif--xxl&quot;&gt;{{{ slide-heading }}}&lt;/h2&gt;
      &lt;h2 class=&quot;carousel__item-subtitle font--serif--m&quot;&gt;{{{ slide-subtitle }}}&lt;/h2&gt;
      &lt;div class=&quot;carousel__item-dek pad-half--btm&quot;&gt;
        &lt;p&gt;{{{ slide-dek }}}&lt;/p&gt;
      &lt;/div&gt; &lt;!-- /.carousel__item-dek --&gt;
      &lt;a href=&quot;{{ url }}&quot; class=&quot;carousel__item-cta btn {{ btn-class }}&quot;&gt;{{{ slide-cta }}}&lt;/a&gt;
    &lt;/div&gt; &lt;!-- /.carousel__item-text --&gt;
  {{/ has-slide-text }}

&lt;/div&gt; &lt;!-- /.carousel__item --&gt;
