{{# media_block_default }}
<div class="media-block block spacing--quarter {{ block_class }}">
  {{# block_heading }}<h2 class="font--tertiary--m theme--primary-text-color pad--btm">{{# heading_icon }}<div class="icon icon--s">{{{ heading_icon }}}</div> {{/ heading_icon }} {{{ block_heading }}}</h2>{{/ block_heading }}
  {{# img }}
    <a class="media-block__image-wrap block__image-wrap db" href="{{ url }}">
      {{# kicker }}<span class="kicker font--secondary--m upper theme--secondary-text-color db align--left">{{ kicker }}</span>{{/ kicker }}
      <div class="{{ block_img_class }} dib"><img class="media-block__image block__image" src="{{ img.src }}" alt="{{ img.alt }}" /></div>
    </a> <!-- /.media-block__image-wrap -->
  {{/ img }}
  <div class="media-block__content block__content spacing--quarter">
    {{# title }}<h3 class="media-block__title block__title font--secondary--m"><a href="{{ url }}" class="block__title-link theme--primary-text-color">{{{ title }}}</a></h3>{{/ title }}
    {{# date }}
      <time class="block__date font--secondary--xs brown space-half--btm" datetime="{{ datetime }}">{{{ date }}}</time>
    {{/ date }}
    {{# description }}
      <div class="text pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">{{ description }}</span></p></div>
    {{/ description }}
    {{# cta }}
      <p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="{{ url }}">{{ cta }}</a></p>
    {{/ cta }}
  </div> <!-- media-block__content -->
</div> <!-- /.media-block -->
{{/ media_block_default }}
