<div class="content u-clear-fix has-aside" role="document">
  <main class="main can-be--dark-dark" role="main">
    <div class="l-container-grid--7-col u-spacing">
      {% for block in media_blocks %}
        {% include '@molecules/blocks/media-block.twig' with block %}
      {% endfor %}
    </div> <!-- /.l-container -->
  </main> <!-- /.main -->
</div> <!-- /.content -->
