<link rel="stylesheet" href="/styleguide/css/styleguide.min.css" media="all" />
<link rel="stylesheet" href="/styleguide/css/prism-typeahead.min.css" media="all" />
<div class="content u-clear-fix" role="document">
  <main class="main can-be--dark-dark u-background-color--white" role="main">
    <div class="l-container u-spacing pre-header active">
      <div class="sg-alps-logo-wrap">
        <a href="/" class="sg-alps-logo"><img src="/images/logo-alps.svg" alt="ALPS - Adventist Living Pattern System"></a>
      </div>
      <div class="sg-introduction u-position--relative">
        <div class="u-clear-fix l-flex-container">
          <div class="l-shift-left--fluid u-padding--double">
            <div class="text u-spacing">
              <h1 class="u-font--tertiary--l">Welcome to the Adventist Living Pattern System</h1>
              <p>We are glad you found ALPS. Take a look around, and see what you think. There is lots to explore. You can find <a href="https://github.com/adventistchurch/alps/" target="_blank">the code on Github</a>, check it out, <a href="https://github.com/adventistchurch/alps/issues" target="_blank">file issues</a>, and create pull requests. This code belongs to the Adventist church. It&rsquo;s ours!</p>
              <p>The Adventist Living Pattern System (ALPS) is a set of design patterns created by the Seventh-day Adventist Church for use around the world by Adventist churches, schools, and organizational units. The purpose of ALPS is to make it easy for our church to create good looking sites that promote the brand of the church, while allowing for individuality and customization of each site.</p>
              <p> As you browse through the pages of this site, you will see examples of patterns for different types of pages. From <a href="/?p=pages-home">home pages</a> to <a href="/?p=pages-channel-main-with-image">channel pages</a>, to <a href="/?p=pages-basic-page-with-image">basic pages</a>, ALPS is designed to be beautiful, fast and flexible, while maintaining a consistent brand across the sites that use it.</p>
              <p>Take a look for yourself!</p>
              <h2 class="u-font--tertiary--l">Include It In Your Project</h2>
              <p>Want to include ALPS in your project? The Adventist church is making the CSS and Javascript needed to build an ALPS site available via a public CDN. All you need to do to implement the latest styles is to link the files provides below and you will be up to date.</p>
              <p>Here are the links you need to make it happen.</p>
              <h3 class="u-font--secondary--m">Header</h3>
              <p>Include this code in the <code>&lt;head&gt;</code> of your page. This include the fonts, ALPS css, and the Javascript needed to start the page.</p>
              <pre class="language-markup"><code class="language-markup" id="head_code">
  &#x3C;link rel=&#x22;stylesheet&#x22; type=&#x22;text/css&#x22; href=&#x22;//fonts.googleapis.com/css?family=Merriweather:400,400i,700|Montserrat|Oswald&#x22; media=&#x22;all&#x22;&#x3E;<br>
  &#x3C;link rel=&#x22;stylesheet&#x22; type=&#x22;text/css&#x22; href=&#x22;//cdn.adventist.org/alps/2/latest/css/main.css&#x22; media=&#x22;all&#x22;&#x3E;<br>
  &#x3C;script src=&#x22;//cdn.adventist.org/alps/2/latest/js/head-script.min.js&#x22; type=&#x22;text/javascript&#x22;&#x3E;&#x3C;/script&#x3E;</code>
              </pre>
              <h3 class="u-font--secondary--m">Footer</h3>
              <p>Include this code in the footer of your page, right before the closing <code>&lt;/body&gt;</code> tag.</p>
              <pre class="language-markup"><code class="language-markup">
  &lt;script src=&quot;https://code.jquery.com/jquery-2.2.4.min.js&quot;&gt;&lt;/script&gt;<br>
  &lt;script src=&quot;//cdn.adventist.org/alps/2/latest/js/script.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code>
              </pre>
            </div>
          </div>
          <div class="l-shift-right--fluid u-padding--double text u-spacing">
            <h3 class="u-font--tertiary--m">Follow on GitHub</h3>
            <p class="u-font--primary--xs">ALPS is available on GitHub as a public project where you can download, file issues and pull requests, and follow the progress. </p>
            <p>
              <a class="github-button" href="https://github.com/adventistchurch/alps/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch adventistchurch/alps on GitHub">Watch</a>
              <a class="github-button" href="https://github.com/adventistchurch/alps" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star adventistchurch/alps on GitHub">Star</a>
              <a class="github-button" href="https://github.com/adventistchurch/alps/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork adventistchurch/alps on GitHub">Fork</a>
              <a class="github-button" href="https://github.com/adventistchurch/alps/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue adventistchurch/alps on GitHub">Issue</a>

            <h3 class="u-font--tertiary--m">Connect with Us</h3>
            <p class="u-font--primary--xs">Do you have questions about ALPS? I'd love to hear from you and help make it work for your Adventist website.</p>
            <p class="u-font--primary--xs"><a href="http://gain.adventist.org/slack" target="_blank">
              <img src="/images/slack_rgb.png" alt="Connect to the GAiN Slack Channel" />
              Join us on the free GAiN Slack channel in #designsystem.
            </a></p>
          </div>
        </div> <!-- /.l-grid--2-col--70-30--at-medium -->
      </div>
    </div>
  </main>
  {% include '@organisms/global/footer.twig' %}
</div>
<script src="/styleguide/bower_components/prism.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
