<div class="c-church-info c-church-info--basic can-be--dark-light">
  <div class="c-church-info__wrap u-color--gray">
    <p class="c-church-info__title u-theme--color--darker">{{ church_info.name }}</p>
    <p class="c-church-info__location">{{ church_info.location }}</p>
    <p class="c-church-info__link">
      <a href="https://{{ church_info.url }}" target="_blank">{{ church_info.url }}</a>
    </p>
  </div>
</div>
