<div class="c-search-results__item can-be--dark-light">
  <p class="c-search-results__item__title u-theme--color--darker">{{ church_info.name }}</p>
  <p class="c-search-results__item__location">{{ church_info.location }}</p>
  <p class="c-search-results__item__link">
    <a href="https://{{ church_info.url }}" target="_blank">{{ church_info.url }}</a>
  </p>
</div>
