<section class="s-store-form u-shift--left--1-col--at-large">
  <div class="s-store-form__fields">
    <div class="s-store-form__block-form">
      {% include '@molecules/forms/store-components.twig' %}
    </div>
    <div class="s-store-form__pagination">
      {% include "@molecules/navigation/pagination.twig" %}
    </div>
  </div>
  <div class="s-store-form__modals">
    <div class="s-store-form__input">
      <label class="s-store-form__error-label" for="">!Enter an input</label>
      <input class="has-error" type="text" name="name" value="">
    </div>
    <div class="s-store-form__notifications">
      {% for notification in notifications %}
        <div class="s-store-form__notification">
          {% include '@molecules/store/notification.twig' with notification %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
