<section class="s-store-product__item u-shift--left--1-col--at-large {{ type_of_page }}">
  {% if notification %}
    <div class="s-store-product__item--notification">
      {% include '@molecules/store/notification.twig' with notification %}
    </div>
  {% endif %}

  {% if item %}
    <div class="s-store-product__item--detail">
      {% include '@molecules/store/product-detail.twig' with item %}
    </div>
  {% endif %}

  {% if add_to_cart %}
    <div class="s-store-product__item--add__to__cart">
      {% include '@molecules/store/added-to-cart.twig' with add_to_cart %}
    </div>
  {% endif %}

  <div class="s-store-product__item--button">
    {% include '@atoms/buttons/button.twig' with button %}
  </div>
</section>
