<section class="s-store-product__list u-shift--left--1-col--at-large">

  {% if product_title_large %}
  <div class="s-store-product__list--title">
    {% include '@molecules/blocks/heading-block.twig' with product_title_large %}
  </div>
  {% endif %}
  <div class="s-store-product__list--large">
    {% for product in products_large %}
      {% include '@molecules/store/product.twig' with product %}
    {% endfor %}
  </div>

  {% if product_title_small %}
  <div class="s-store-product__list--title">
    {% include '@molecules/blocks/heading-block.twig' with product_title_small %}
  </div>
  {% endif %}
  <div class="s-store-product__list--small">
    {% for product in products_small %}
      {% include '@molecules/store/product.twig' with product %}
    {% endfor %}
  </div>

  {% if product_title_long %}
  <div class="s-store-product__list--title">
    {% include '@molecules/blocks/heading-block.twig' with product_title_long %}
  </div>
  {% endif %}
  <div class="s-store-product__list--more">
    {% for product in products_more %}
      {% include '@molecules/store/product-important.twig' with product %}
    {% endfor %}
  </div>

  <div class="s-store-product__list--pagination">
    {% include "@molecules/navigation/pagination.twig" %}
  </div>
</section>
