{{^ no_lazy }}
  &lt;img class=&quot;lazy&quot; data-original=&quot;{{ img.src }}&quot; itemprop=&quot;image&quot; alt=&quot;{{ img.alt }}&quot; /&gt;
  &lt;noscript&gt;&lt;img src=&quot;{{ img.src }}&quot; alt=&quot;{{ img.alt }}&quot;&gt;&lt;/noscript&gt;
{{/ no_lazy }}

{{# no_lazy }}
  &lt;img src=&quot;{{ img.src }}&quot; itemprop=&quot;image&quot; alt=&quot;{{ img.alt }}&quot; /&gt;
{{/ no_lazy }}
