<main class="l-main u-spacing--double u-padding--double--bottom" role="main">
  {% for block in cta_blocks %}
    {% include '@molecules/blocks/cta-block.twig' with block %}
  {% endfor %}
</main> <!-- /.l-main -->
