&lt;h2&gt;Icons&lt;/h2&gt;
&lt;div class=&quot;space-half&quot;&gt;

	&lt;h3 class=&quot;space-half&quot;&gt;Names&lt;/h3&gt;
	
	&lt;div class=&quot;cb space&quot;&gt;
			
		&lt;ul class=&quot;space-5--btm dib&quot;&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }}Arrow Left&lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }}Arrow Right&lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }}Logo &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }}Check&lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }}Magnify&lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }}PDF&lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }}DOC&lt;/li&gt;
			
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }}World&lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;	

&lt;div class=&quot;space-half&quot;&gt;
	&lt;h3 class=&quot;space-half&quot;&gt;Colors&lt;/h3&gt;

	&lt;div class=&quot;cb space&quot;&gt;
		
		&lt;h4 class=&quot;space-half&quot;&gt;Blue&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--blue') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--blue') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--blue') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--blue') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--blue') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--blue') }} &lt;/li&gt;
			
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--blue') }} &lt;/li&gt;
			
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--blue') }} &lt;/li&gt;



		&lt;/ul&gt;
	&lt;/div&gt;	

	&lt;div class=&quot;cb space&quot;&gt;
		
		&lt;h4 class=&quot;space-half&quot;&gt;Light Brown&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--light-brown') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--light-brown') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;

	&lt;div class=&quot;cb space&quot;&gt;
		
		&lt;h4 class=&quot;space-half&quot;&gt;Gray&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;

	&lt;div class=&quot;cb space&quot;&gt;
		
		&lt;h4 class=&quot;space-half&quot;&gt;White&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib bg--ming&quot;&gt;
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--white') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--white') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;
&lt;div&gt;	







&lt;div class=&quot;space-half&quot;&gt;
	&lt;h3 class=&quot;space-half&quot;&gt;Sizes&lt;/h3&gt;

	&lt;div class=&quot;cb space&quot;&gt;
		&lt;h4 class=&quot;space-half&quot;&gt;Extra Small&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xs left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;


	&lt;div class=&quot;cb space&quot;&gt;
		&lt;h4 class=&quot;space-half&quot;&gt;Small&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--s left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;

	&lt;div class=&quot;cb space&quot;&gt;
		&lt;h4 class=&quot;space-half&quot;&gt;Medium&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--m left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;	

	&lt;div class=&quot;cb space&quot;&gt;
		&lt;h4 class=&quot;space-half&quot;&gt;Large&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--l left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;	

	&lt;div class=&quot;cb space&quot;&gt;
		&lt;h4 class=&quot;space-half&quot;&gt;Extra Large&lt;/h4&gt;

		&lt;ul class=&quot;space-5--btm dib&quot;&gt;
			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-arrow-left(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-arrow-right(fill_class : 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-logo(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-check(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-pdf(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-doc(fill_class: 'fill--gray') }} &lt;/li&gt;

			&lt;li class=&quot;icon--xl left space&quot;&gt;{{&gt; atoms-icon-world(fill_class: 'fill--gray') }} &lt;/li&gt;

		&lt;/ul&gt;
	&lt;/div&gt;	
&lt;/div&gt;	



