{{# aside_nav }}
&lt;nav class=&quot;bg--tan aside-nav pad--secondary&quot; id=&quot;aside-nav&quot; role=&quot;navigation&quot;&gt;
  &lt;div class=&quot;spacing&quot;&gt;
    {{# category_nav }}
      &lt;ul class=&quot;aside-nav__list spacing--quarter&quot;&gt;
        {{# items }}
          &lt;li class=&quot;aside-nav__list-item rel&quot;&gt;&lt;a class=&quot;aside-nav__link theme--primary-text-color font--primary--xs&quot; href=&quot;{{ url }}&quot;&gt;{{{ text }}}&lt;/a&gt;&lt;/li&gt;
        {{/ items }}
      &lt;/ul&gt; &lt;!-- /.aside-nav__list --&gt;
    {{/ category_nav }}
    &lt;hr class=&quot;theme--primary-transparent-background-color--30&quot;&gt;
    {{# social_nav }}
      &lt;ul class=&quot;aside-nav__list spacing--quarter&quot;&gt;
        {{# items }}
          &lt;li class=&quot;aside-nav__list-item rel&quot;&gt;&lt;a class=&quot;aside-nav__link theme--primary-text-color font--primary--xs&quot; href=&quot;{{ url }}&quot;&gt;&lt;span class=&quot;icon icon--s va--tbtm&quot;&gt;{{{ icon }}}&lt;/span&gt; {{ text }}&lt;/a&gt;&lt;/li&gt;
        {{/ items }}
      &lt;/ul&gt; &lt;!-- /.aside-nav__list --&gt;
    {{/ social_nav }}
  &lt;/div&gt;
&lt;/nav&gt; &lt;!-- /.aside-nav --&gt;
{{/ aside_nav }}

