<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double u-padding--double--bottom" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}

      <section class="c-section c-section__highlight-blocks c-highlight-blocks u-theme--background-color--base u-color--white u-spacing">
        <div class="c-highlight-blocks__content">
          <div class="c-highlight-blocks__content-item">
            <div class="o-number u-font--secondary--xxl">1</div>
            <p class="u-font--secondary--m">View our Bible Study Catalog</p>
          </div>
          <div class="c-highlight-blocks__content-item">
            <div class="o-number u-font--secondary--xxl">2</div>
            <p class="u-font--secondary--m">Sign up for free with only your name and email</p>
          </div>
          <div class="c-highlight-blocks__content-item">
            <div class="o-number u-font--secondary--xxl">3</div>
            <p class="u-font--secondary--m">Find answers and peace as you begin to understand God's plan for your life</p>
          </div>
        </div>
        <button href="#" class="o-button o-button--white">
          <span class="u-icon u-icon--xs u-space--half--right">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>
          Start a bible study
        </button>
      </section>

      <section id="top" class="l-main__content l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides">
        <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--3-col">
          <div class="c-article__body u-spacing--double">

            <div class="c-content-read-more u-spacing u-theme--border-color--base text">
              <h2>Yes, these steps look easy. Easy enough to set aside for “later.” Easy enough to think that maybe they're not so important, or not so special. But that would be a mistake.</h2>
              <p>The Bible tells the story of Naaman, the commander of the Syrian army. He contracted leprosy which was incurable and terminal. One of his slaves, an Israelite, suggested that he go to Samaria, where the prophet Elisha would be able to heal him.</p>
              <p>Elisha told Naaman to go wash himself in the river Jordan, and to immerse himself seven times if he wanted to be healed. Naaman was insulted. That river was muddy and it was unacceptable for a high official to bath in it.</p>
              <button class="o-button o-button--outline js-toggle-parent">
                <span class="u-icon u-icon--xs u-space--half--right">{% include '@atoms/icons/icon-legal.twig' %}</span>
                <font>Read</font>
              </button>
            </div>

            <div class="c-split-highlight-content">
              <div class="c-split-highlight-content--left u-theme--background-color--base u-color--white u-padding">
                <span class="u-font--primary--l">If you are looking for something better, if you're looking for a way out of your troubles, we can help.</span>
              </div>
              <div class="c-split-highlight-content--right u-background-color--gray--light u-padding text">
                <p>The simple path we're offering will help you</p>
                <ul>
                  <li>Find trustworthy answers</li>
                  <li>Experience total peace of mind</li>
                  <li>Live with purpose</li>
                  <li>Find forgiveness</li>
                  <li>See the world differently—understand why our lives are so full of trouble and at the same time, learn why there is hope.</li>
                  <li>Learn the end of the story, and find freedom, healing and hope in Jesus</li>
                </ul>
                <button href="" class="o-button o-button--primary">
                  <span class="u-icon u-icon--xs u-space--half--right">{% include '@atoms/icons/icon-download.twig' %}</span>
                  Download Now
                </button>
              </div>
            </div>

          </div>
        </article>
      </section>

      {% include '@organisms/sections/testimonies-media.twig' %}

      <section class="l-main__content l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides">
        <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xl--3-col">
          <div class="c-article__body u-spacing--double">

            <div class="c-home-body-content u-spacing u-theme--border-color--base text">
              <h2>Life is tough. We know that you want to be at peace and have hope for the future. In order to do that, you need trustworthy answers. The problem is, it's difficult to find your way through the maze of competing philosophies that always fail to clarify the Truth, which makes you feel confused and even helpless.</h2>
              <p>We believe evil should not prevail in keeping people from the Truth. We understand the challenges you face—we've faced them too. Which is why we have put a lot of effort into helping millions of people discover  freedom, healing, and hope - all based on the word of the living God - the Bible.</p>
              <p>Here's how we do it:</p>

              <div class="c-step-blocks">
                <div class="c-step-blocks__item u-theme--background-color--base u-color--white u-padding">
                  <span class="o-kicker">Step 1</span>
                  <p><strong>View our Bible study catalog</strong></p>
                </div>
                <div class="c-step-blocks__item u-theme--background-color--base u-color--white u-padding">
                  <span class="o-kicker">Step 2</span>
                  <p><strong>Sign up for free with only your name and email</strong></p>
                </div>
                <div class="c-step-blocks__item u-theme--background-color--base u-color--white u-padding">
                  <span class="o-kicker">Step 3</span>
                  <p><strong>Find answers and peace as you begin to understand God’s plan for your life</strong></p>
                </div>
              </div>

              <p>So check out the Bible Study Catalog. If you're in a hurry, download the free guide on how to study the Bible. And if you'd like to have us pray for you personally, send us a prayer request.</p>
              <p>You can stop drifting through life without answers. You don't have to miss out on the journey that can bring you everlasting life. You can find freedom, healing and hope in Jesus.</p>
              <p>He's waiting for you.</p>
              <button href="" class="o-button o-button--primary">
                <span class="u-icon u-icon--xs u-space--half--right">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>
                Start a bible study
              </button>
            </div>

          </div>
        </article>
      </section>

      <section class="c-section c-section__video-full c-video-full">
        <div class="c-video-full__content">
          <span class="u-icon u-icon--xl u-path-fill--white">{% include '@atoms/icons/icon-play.twig' %}</span>
          <div class="u-color--white">
            <span class="o-heading--xl">Who are Seventh-day Adventists?</span>
            <span class="o-heading--xs">6:24</span>
          </div>
        </div>
      </section>

    </main>
    <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div>
  <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div>
<!-- ./l-wrap -->