<div class="content u-clear-fix has-aside" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark" role="main">
    {% include '@organisms/sections/page-header@complete.twig' %}
    {% include '@molecules/navigation/article-navigation.twig' %}
    <div class="layout-container full--until-large">
      <div class="l-flex-container u-clear-fix">
        <div class="shift-left--fluid column__primary bg--white can-be--dark-light u-spacing--one-and-half">
          {% include '@organisms/content/page-content.twig' %}
          <div class="u-padding--primary">{% include '@organisms/sections/comments.twig' %}</div>
        </div> <!-- /.shift-left--fluid -->
        <div class="shift-right--fluid bg--beige can-be--dark-dark">
          {% include '@molecules/navigation/aside-navigation.twig' %}
        </div> <!-- /.shift-right--fluid -->
      </div> <!-- /.l-flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
