<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double u-padding--double--bottom" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
      {% if rtl %}
        {% include '@organisms/content/article-content-rtl.twig' %}
      {% else %}
        {% include '@organisms/content/article-content.twig' %}
      {% endif %}
    </main>
    <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div>
  <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div>
<!-- ./l-wrap -->