<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
      <div class="l-shift-left--fluid l-column--primary u-background-color--white can-be--dark-light u-spacing--one-and-half">
        {% include '@organisms/content/page-content.twig' %}
        <div class="u-padding--primary">{% include '@organisms/sections/comments.twig' %}</div>
      </div> <!-- /.l-shift-left--fluid -->
      <div class="l-shift-right--fluid u-background-color--beige can-be--dark-dark">
        {% include '@molecules/navigation/aside-navigation.twig' %}
      </div> <!-- /.l-shift-right--fluid -->

    </main> <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div> <!-- /.l-content -->
  <aside class="l-wrap__sidebar l-sidebar">
  </aside><!-- ./l-sidebar -->
</div><!-- ./l-wrap -->
