<div class="content cf has-aside" role="document">
  {{> organisms-header }}
  <main class="main can-be--dark-dark" role="main">
    {{> organisms-page-header }}
    {{> molecules-article-navigation }}
    <div class="layout-container full--until-large">
      <div class="flex-container cf">
        <div class="shift-left--fluid column__primary bg--white can-be--dark-light spacing--one-and-half">
          {{> organisms-page-content }}
          <div class="pad--primary">{{> organisms-comments }}</div>
        </div> <!-- /.shift-left--fluid -->
        <div class="shift-right--fluid bg--beige can-be--dark-dark">
          {{> molecules-aside-navigation }}
        </div> <!-- /.shift-right--fluid -->
      </div> <!-- /.flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
