<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double u-padding--double--bottom" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
      <section class="l-grid--7-col l-grid--7-col--l--offset-1 l-grid-wrap--6-of-7 u-spacing--at-medium u-padding--zero">
        <div class="c-article l-grid-item l-grid-item--m--4-col l-grid-item--l--3-col u-padding--zero--sides">
          <div class="text c-article__body u-spacing has-dropcap">
            <p class="u-padding--sides">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
            {% if blockquote %}
              {% include '@atoms/text/blockquote.twig' %}
            {% endif %}
            <p class="u-padding--sides">Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam. Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
          </div>
        </div>
        <div class="l-sidebar l-grid-item l-grid-item--m--2-col l-grid-item--l--2-col u-padding--zero--sides">
          {% if related_posts %}
            <div class="u-padding--right">
              {% include '@organisms/asides/related-posts.twig' %}
            </div>
          {% endif %}
        </div>
      </section>
      {% if figure_breakout %}
        <section class="l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
          <div class="u-padding--zero--left u-width--100p">
            {% include '@molecules/media/breakout-image.twig' %}
          </div>
        </section>
      {% endif %}
      <section class="l-grid--7-col l-grid--7-col--l--offset-1 l-grid-wrap l-grid-wrap--6-of-7">
        <div class="l-grid-item l-grid-item--m--4-col l-grid-item--l--3-col u-padding--zero--sides">
          <div class="text u-spacing">
            <p class="u-padding--sides">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
            {% if figure_with_caption %}
              <div class="u-space--right--1-col--at-medium">
                {% include '@molecules/media/figure-with-caption.twig' %}
              </div>
            {% endif %}
            <p class="u-padding--sides">Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam. Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
          </div>
        </div>
      </section>
      {% if figure_split %}
        <section class="l-grid--7-col l-grid-wrap l-grid-wrap--6-of-7">
          <div class="l-grid-item--m--3-col u-padding--zero--left">
            {% include '@molecules/media/figure-with-caption.twig' %}
          </div>
          <div class="l-grid-item--m--3-col u-padding--zero--left">
            {% include '@molecules/media/figure-with-caption.twig' %}
          </div>
        </section>
      {% endif %}
      <section class="l-grid--7-col l-grid--7-col--l--offset-1 l-grid-wrap l-grid-wrap--6-of-7">
        <div class="l-grid-item l-grid-item--m--4-col l-grid-item--l--3-col u-padding--zero--sides">
          <div class="text u-spacing">
            <p class="u-padding--sides">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
            {% if highlight %}
              {% include '@molecules/text/highlight.twig' %}
            {% endif %}
            <p class="u-padding--sides">Vestibulum ipsum orci, egestas eu erat non, posuere maximus quam. Quisque tincidunt turpis id accumsan hendrerit. Cras eleifend, arcu sit amet faucibus blandit, dolor urna euismod sem, non molestie nulla nulla porta nibh. Integer commodo arcu vitae nisl iaculis, non hendrerit arcu sodales. Vivamus sagittis quam ut elit posuere ultrices. In blandit erat orci, vitae posuere enim vehicula quis. Nullam posuere mauris odio, eu facilisis lorem iaculis ut. Aenean tortor turpis, sollicitudin ut est eget, mattis feugiat arcu. Etiam est magna, aliquet ut blandit sit amet, malesuada a lacus. Nam scelerisque arcu non sem auctor molestie. Vestibulum sit amet congue ex.</p>
            {% if gallery_block %}
              {% include '@molecules/blocks/gallery-block.twig' %}
            {% endif %}
            <p class="u-padding--sides">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada, est ut viverra euismod, dui dolor gravida massa, sed aliquam ex nisl ut metus. Mauris at ante laoreet, gravida odio gravida, fermentum lectus. Fusce ac sollicitudin purus. Morbi et diam nunc. Praesent fringilla magna nisl, et volutpat nisi tincidunt aliquet. In laoreet ligula vel porttitor condimentum. In mattis ultricies placerat. Morbi interdum hendrerit tempus. Donec consequat elit vitae justo ornare, eget elementum quam consequat. Quisque auctor ex et congue finibus. Proin sed nisl ac velit aliquam euismod non tincidunt lectus. In enim ex, commodo feugiat porttitor sed, eleifend vitae ipsum. Suspendisse lorem nisl, suscipit at tellus quis, porttitor convallis sem.</p>
            {% if story_block %}
              {% include '@molecules/blocks/story-block.twig' %}
            {% endif %}
            <div class="u-padding--sides">
              {% include '@organisms/sections/article-footer.twig' %}
            </div>
          </div>
        </div>
        <div class="l-grid-item l-grid-item--m--2-col l-grid-item--l--2-col">
        </div>
      </section>
    </main> <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div> <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div><!-- ./l-wrap -->
