<div class="l-wrap l-grid-container--7-col">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
      <section class=" l-grid--7-col l-grid--7-col--l--offset-1 l-grid-wrap--6-of-7">
        <div class="l-grid-item l-grid-item--l--3-col">
          {% include '@organisms/content/page-content.twig' %}
        </div>
        <div class="l-grid-item l-grid-item--l--1-col">
          {% include '@molecules/navigation/aside-navigation.twig' %}
        </div>
      </section>
    </main> <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div> <!-- /.l-content -->
  <aside class="l-wrap__sidebar l-sidebar">
  </aside><!-- ./l-sidebar -->
</div><!-- ./l-wrap -->
