<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double u-padding--double--bottom" role="main">
      {% include '@organisms/sections/page-header.twig' %}
      <section id="top" class="l-main__content l-grid l-grid--7-col u-shift--left--1-col--at-xxlarge l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides">
        <article class="c-article l-grid-item l-grid-item--l--4-col l-grid-item--xxl--3-col">
          <div class="c-article__body">
            {% if has_short_body %}
              {% include '@organisms/content/body-content-short.twig' %}
            {% else %}
              {% include '@organisms/content/body-content.twig' %}
            {% endif %}
          </div>
        </article>
        <div class="c-sidebar l-grid-item l-grid-item--l--2-col l-grid-item--xl--2-col u-spacing u-padding--zero--sides">
          {% if breakout_block %}
            {% include '@molecules/blocks/breakout-block.twig' %}
          {% endif %}
          {% include '@organisms/asides/aside.twig' %}
          {% if related_posts %}
            {% include '@organisms/asides/related-posts.twig' %}
          {% endif %}
        </div>
        <!-- /.c-sidebar -->
      </section>
    </main>
    <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div>
  <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div>
<!-- ./l-wrap -->
