<div class="content u-clear-fix has-aside" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark" role="main">
    {% include '@organisms/sections/hero-carousel.twig' %}
    <div class="layout-container full--until-large">
    {% if split-callout %}
      {% include '@organisms/sections/split-callout.twig' %}
    {% endif %}
      <div class="l-flex-container u-clear-fix">
        <div class="shift-left--fluid column__primary bg--white can-be--dark-light no-pad--btm">
          {% if has_short_body %}
            {% include '@organisms/content/body-content-short.twig' %}
          {% else %}
            {% include '@organisms/content/body-content.twig' %}
          {% endif %}
        </div> <!-- /.shift-left--fluid -->
        <div class="shift-right--fluid bg--beige can-be--dark-dark">
          {% if breakout_block %}
            {% include '@molecules/blocks/media-block.twig' with {'media_block_default': breakout_block.media_block_default} %}
          {% endif %}
          <div class="column__secondary can-be--dark-dark">
            {% include '@organisms/asides/aside.twig' %}
          </div>
        </div> <!-- /.shift-right--fluid -->
      </div> <!-- /.l-flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
