<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <div class="title-of-locators-results u-theme--background-color--dark">
      <div class="title">
        <p>Find a Church</p>
      </div>
    </div>
    {% include "@molecules/blocks/map-default.twig" %}
    {% include "@organisms/sections/locator-search-results.twig" %}
    {% include '@organisms/global/footer.twig' %}
  </div>
  <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div>
<!-- ./l-wrap -->
