<div class="content u-clear-fix" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark u-background-color--white article__longform" role="main">
    {% include '@organisms/sections/page-header-longform@inreview.twig' %}
    <div class="l-container">
      <div class="u-spacing l-column--primary">
        {% include '@organisms/content/longform-content.twig' %}
      </div> <!-- /.u-spacing -->
    </div> <!-- /.l-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
