<div class="content cf" role="document">
  {{> organisms-header }}
  <main class="main can-be--dark-dark bg--white article__longform" role="main">
    {{> organisms-longform-header }}
    <div class="layout-container">
      <div class="spacing column__primary">
        {{> organisms-longform-content }}
      </div> <!-- /.spacing -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
