<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--double u-padding--double--bottom" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
      <section class="l-grid l-grid--7-col u-shift--left--1-col--at-large l-grid-wrap--6-of-7 u-spacing--double--until-xxlarge u-padding--zero--sides">
        <div class="c-article l-grid-item l-grid-item--l--4-col u-padding--zero--sides">
          <article class="c-article__body">
            {% include '@organisms/content/longform-content.twig' %}
          </article>
        </div>
      </section>
    </main> <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div> <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div><!-- ./l-wrap -->
