<div class="content cf" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark bg--white article__longform" role="main">
    {% include '@organisms/sections/page-header-longform@inreview.twig' %}
    <div class="layout-container">
      <div class="spacing column__primary">
        {% include '@organisms/content/longform-content.twig' %}
      </div> <!-- /.spacing -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
