<div class="content u-clear-fix has-aside" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark" role="main">
    {% include '@organisms/sections/page-header@complete.twig' %}
    {% if article_navigation %}
      {% include '@molecules/navigation/article-navigation.twig' %}
    {% endif %}
    <div class="l-container l-full--until-large">
      <div class="l-flex-container u-clear-fix">
        <div class="l-shift-left--fluid l-column--primary u-background-color--white u-padding--zero--top u-padding--zero--bottom can-be--dark-light">
          {% if news_home %}
            {% include '@organisms/content/news-content.twig' %}
          {% endif %}
          {% if news_channel %}
            {% include '@organisms/content/grid-3up-content.twig' with {'grid_class': 'l-grid--uniform', 'has_hr': false} %}
          {% endif %}
          {% if news_article %}
            {% include '@organisms/content/news-article-content.twig' %}
          {% endif %}
          {% if is_rtl %}
            {% include '@organisms/content/news-article-content-rtl.twig' %}
          {% endif %}
        </div> <!-- /.l-shift-left--fluid -->
        <div class="l-shift-right--fluid u-background-color--beige can-be--dark-dark">
          {% include '@molecules/navigation/aside-navigation.twig' %}
          <div class="l-column--secondary can-be--dark-dark">
            {% include '@organisms/asides/aside.twig' %}
          </div>
        </div> <!-- /.l-shift-right--fluid -->
      </div> <!-- /.l-flex-container -->
    </div> <!-- /.l-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
