<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-spacing--triple u-padding--double--bottom" role="main">
      <div>
        {% include '@organisms/sections/page-header.twig' %}
        {% include '@organisms/sections/page-header-feature.twig' %}
      </div>
      <section class="l-grid l-grid--7-col l-grid-wrap--6-of-7 u-spacing--double--until-large">
        <div class="l-grid-item l-grid-item--l--4-col u-padding--zero--sides">
          {% for content in featured_content %}
            <div class="c-block-wrap u-spacing u-padding--right">
              <div class="c-block__heading u-theme--border-color--darker">
                <h3 class="c-block__heading-title u-theme--color--darker">{{ content.featured_heading }}</h3>
                <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
              </div>
              <div class="c-block-wrap__content u-spacing--double">
                {% for block in content.featured_blocks %}
                  {% include '@molecules/blocks/media-block.twig' with block %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="l-grid-item l-grid-item--l--2-col u-padding--zero--sides">
          {% for content in aside_content %}
            <div class="c-block-wrap u-spacing u-padding--right">
              <div class="c-block__heading u-theme--border-color--darker">
                <h3 class="c-block__heading-title u-theme--color--darker">{{ content.aside_heading }}</h3>
                <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
              </div>
              <div class="c-block-wrap__content">
                {% for block in content.aside_blocks %}
                  {% include '@molecules/blocks/content-block.twig' with block %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <section class="l-grid l-grid--7-col l-grid-wrap--6-of-7">
        <div class="l-grid-item u-padding--zero--sides u-spacing--double">
          {% for content in media_content %}
            <div class="c-block-wrap u-spacing u-padding--right">
              <div class="c-block__heading u-theme--border-color--darker">
                <h3 class="c-block__heading-title u-theme--color--darker">{{ content.media_heading }}</h3>
                <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
              </div>
              <div class="c-block-wrap__content u-spacing">
                {% for block in content.media_blocks %}
                  {% include '@molecules/blocks/media-block.twig' with block %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <section class="l-section__block-row l-section__block-row--6-col l-grid l-grid--7-col">
        <div class="l-grid-item u-padding--zero--sides u-flex">
          {% for block in media_row_blocks %}
            {% include '@molecules/blocks/media-block.twig' with block %}
          {% endfor %}
        </div>
      </section>
      <section class="l-grid l-grid--7-col u-shift--left--1-col--at-large l-grid-wrap--6-of-7">
        <div class="c-article l-grid-item l-grid-item--l--4-col u-spacing--triple">
          {% include '@molecules/forms/subscribe-form.twig' %}
          {% for content in archive_content %}
            <div class="c-block-wrap u-spacing">
              <div class="c-block__heading u-theme--border-color--darker">
                <h3 class="c-block__heading-title u-theme--color--darker">{{ content.archive_heading }}</h3>
                <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
              </div>
              <div class="c-block-wrap__content u-spacing--double">
                {% for block in content.archive_blocks %}
                  {% include '@molecules/blocks/media-block.twig' with block %}
                {% endfor %}
              </div>
              <a href="" class="o-button o-button--outline o-button--with-arrow u-space--left">See All<span class="u-icon u-icon--arrow--long u-theme--path-fill--base u-space--half--right">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span></a>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>
    <!-- /.l-main -->
    {% include '@organisms/global/footer.twig' %}
  </div>
  <!-- /.l-content -->
  {% include '@organisms/asides/sabbath.twig' %}
</div>
<!-- ./l-wrap -->
