<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main" role="main">
      {% include '@organisms/sections/page-header-feature.twig' %}
    </main> <!-- /.main -->
    {% include '@organisms/global/footer.twig' %}
  </div> <!-- /.content -->
  <aside class="l-wrap__sidebar l-sidebar">
  </aside>
</div>
