<div class="content cf has-aside" role="document">
  {% include 'organisms-header' %}
  <main class="main can-be--dark-dark" role="main">
    {% include 'organisms-page-header' %}
    <div class="layout-container full--until-large">
      <div class="column__primary bg--white can-be--dark-light spacing--double">

        <!-- 70/30 section -->
        <div class="g g-2up--70-30--at-medium pad--primary spacing">
          <div class="gi right-gutter--l">
            <div class="text spacing">
              <h2>Header Two</h2>
              <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>
              <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>
              {% include 'atoms-button' %}
            </div>
          </div>
          <div class="gi">
            {% if fig_1 %}
              {% include 'molecules-figure-with-caption' with fig_1 %}
            {% endif %}
          </div>
        </div>

        {% include 'organisms-testimonies' %}

        <!-- Full-width media image -->
        {% if picture_1 %}
          {% include 'atoms-picture' with picture_1 %}
        {% endif %}

        <!-- 50/50 section -->
        <div class="g g-2up--at-medium pad--primary spacing">
          <div class="gi">
            {% if fig_2 %}
              {% include 'molecules-figure-with-caption' with fig_2 %}
            {% endif %}
          </div>
          <div class="gi left-gutter--l">
            <div class="text spacing">
              <h2>A Heading to Drive Us Home</h2>
              <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>
              <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>
            </div>
          </div>
        </div>

        <!-- 33.33 x 3 section -->
        <div class="g g-3up--at-medium pad--primary with-gutters spacing">
          <div class="gi">
            <div class="text spacing">
              <h2>Thing 1</h2>
              <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
          <div class="gi">
            <div class="text spacing">
              <h2>Thing 2</h2>
              <p>Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium?</p>
              {% include 'atoms-button' %}
            </div>
          </div>
          <div class="gi">
            <div class="text spacing">
              <h2>Thing 3</h2>
              <p>Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Fusce ullamcorper lorem, at lacinia arcu. Etiam semper eros vitae vestibulum ultricies.</p>
            </div>
          </div>
        </div>

        <!-- Full-width media image -->
        {% if picture_2 %}
          {% include 'atoms-picture' with picture_2%}
        {% endif %}

        <!-- 30/70 section -->
        <div class="g g-2up--70-30--at-medium pad--primary flip-columns spacing">
          <div class="gi left-gutter--l">
            <div class="text spacing">
              <h2>Header Two</h2>
              <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>
              <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>
            </div>
          </div>
          <div class="gi">
            {% if fig_1 %}
              {% include 'molecules-figure-with-caption' with fig_1%}
            {% endif %}
          </div>
        </div>

        <!-- Breakout media image -->
        {% include 'molecules-breakout-image-with-parallax' %}

        <!-- 30/70 section -->
        <div class="g g-2up--70-30--at-medium pad--primary flip-columns spacing">
          <div class="gi left-gutter--l">
            <div class="text spacing">
              <h2>Header Two</h2>
              <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>
              <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>
            </div>
          </div>
          <div class="gi">
            {% if fig_2 %}
              {% include 'molecules-figure-with-caption' with fig_2 %}
            {% endif %}
          </div>
        </div>

        <hr>

        <!-- 33.33 x 3 section -->
        <div class="g g-3up--at-medium pad--primary with-gutters spacing">
          <div class="gi">
            <div class="text spacing">
              <h2>Join Us This Saturday</h2>
              <p><strong>Service times:</strong> <br> Sabbath School: 9:30 a.m. <br> Worship Service: 11:00 a.m.</p>
              <address>
                {% if contact_1 %}
                  {% include 'molecules-hcard' with contact_1 %}
                {% endif %}
              </address>
            </div>
          </div>
          <div class="gi">
            <div class="img-wrap">
              {% if map %}
                {% include 'atoms-image' with map%}
              {% endif %}
            </div>
          </div>
          <div class="gi">
            <div class="text spacing">
              <h2>Contact the Church</h2>
              {% if contact_2 %}
                {% include 'molecules-hcard' with contact_2 %}
              {% endif %}
              {% if contact_3 %}
                {% include 'molecules-hcard' with contact_3 %}
              {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {% include 'organisms-footer' %}
</div> <!-- /.content -->
