<div class="content u-clear-fix" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark" role="main">
    {% include '@organisms/sections/page-header.twig' %}
    <!-- Content goes here -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
