<div class="content cf" role="document">
  {% include 'organisms-header' %}
  <main class="main can-be--dark-dark" role="main">
    {% include 'organisms-page-header' %}
    <!-- Content goes here -->
  </main> <!-- /.main -->
  {% include 'organisms-footer' %}
</div> <!-- /.content -->
