<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-padding--double--bottom c-map-main" role="main">
      {% include '@organisms/sections/page-header-long.twig' %}
      <section class="c-store-checkout u-shift--left--1-col--at-xxlarge">
        {% include '@molecules/store/checkout-billing.twig' %}
        {% include '@molecules/store/checkout-info.twig' %}
        {% include '@molecules/store/checkout-products.twig' %}
        {% include '@molecules/store/checkout-place.twig' %}
      </section>
    </main>
    {% include '@organisms/global/footer.twig' %}
  </div>
  {% include '@organisms/asides/sabbath.twig' %}
</div>
