<div class="l-wrap">
  <div class="l-wrap__content l-content" role="document">
    {% include '@organisms/global/header.twig' %}
    <main class="l-main u-padding--double--bottom c-map-main" role="main">
      {% include '@organisms/sections/page-header-long.twig' %}
      {% include '@organisms/store/checkout.twig' %}
    </main>
    {% include '@organisms/global/footer.twig' %}
  </div>
  {% include '@organisms/asides/sabbath.twig' %}
</div>
