&lt;aside class=&quot;aside spacing--double&quot;&gt;
  &lt;div&gt;&amp;nbsp;&lt;/div&gt;
  &lt;div class=&quot;pad--secondary spacing--one-and-half&quot;&gt;
    {{# aside_content }}
      &lt;h3 class=&quot;font--tertiary--m theme--secondary-text-color&quot;&gt;{{ aside_heading }}&lt;/h3&gt;
      {{# aside_blocks }}
        {{&gt; molecules-media-block }}
      {{/ aside_blocks }}
    {{/ aside_content }}
  &lt;/div&gt;
&lt;/aside&gt;
