<div class="split-callout flex flex--wrap">
  <div class="shift-left--fluid pad-double bg--medium-brown spacing--half">
    <h2 class="white font--tertiary--l">My Whole Life</h2>
    <div class="text white">
      <p>Nulla ac urna est. In faucibus in turpis vel ultrices. Nunc gravida velit a sem dapibus, sed faucibus sapien consequat. Aliquam malesuada sollicitudin nulla ut ornare. Donec porttitor dui ut tellus mollis, lacinia rutrum metus pharetra.</p>
    </div>
    <div class="g g-3up--at-medium align--center">
      <div class="gi pad">
        <div class="dib spacing--quarter">
          <a href="" class="dib icon--l">{% include 'atoms-icon-spirituality' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color font--secondary--m upper">Spirituality</h3>
          <div class="text white"><p>Donec porttitor dui ut tellus mollis.</p></div>
          <a href="" class="dib icon--m">{% include 'atoms-icon-share' with {'fill_class': 'fill--white'} %}</a>
        </div>
      </div> <!-- /.gi -->
      <div class="gi pad">
        <div class="dib spacing--quarter">
          <a href="" class="dib icon--l">{% include 'atoms-icon-vitality' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color font--secondary--m upper">Vitality</h3>
          <div class="text white"><p>Nullam molestie ornare dolor, non scelerisque.</p></div>
          <a href="" class="dib icon--m">{% include 'atoms-icon-share' with {'fill_class': 'fill--white'} %}</a>
        </div>
      </div> <!-- /.gi -->
      <div class="gi pad">
        <div class="dib spacing--quarter">
          <a href="" class="dib icon--l va--middle">{% include 'atoms-icon-service' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color font--secondary--m upper">Service</h3>
          <div class="text white"><p>Aliquam malesuada sollicitudin ut ornare.</p></div>
          <a href="" class="dib icon--m">{% include 'atoms-icon-share' with {'fill_class': 'fill--white'} %}</a>
        </div>
      </div> <!-- /.gi -->
    </div> <!-- /.2up--at-medium -->
  </div> <!-- /.shift-left--fluid -->
  <div class="shift-right--fluid pad-double bg--brown">
    <aside class="aside spacing--half">
      <h2 class="white font--tertiary--l"><span class="dib icon--m">{% include 'atoms-icon-list' with {'fill_class': 'fill--white'} %}</span> Our Beliefs</h2>
      <div class="text gray--light spacing">
        <p>Ut dignissim justo id tellus luctus dignissim. Nullam molestie ornare dolor, non scelerisque odio facilisis blandit. Pellentesque vitae cursus mauris, eu faucibus mi. Sed facilisis aliquet enim sit amet iaculis.</p>
          {% include 'atoms-button' %}
      </div>
    </aside>
  </div> <!-- /.shift-right--fluid -->
</div> <!-- /.split-callout -->
