&lt;div class=&quot;content cf has-aside&quot; role=&quot;document&quot;&gt;
  {{&gt; organisms-header }}
  &lt;main class=&quot;main can-be--dark-dark&quot; role=&quot;main&quot;&gt;
    {{&gt; organisms-page-header }}
    &lt;div class=&quot;layout-container full--until-large&quot;&gt;
      &lt;div class=&quot;flex-container cf&quot;&gt;
        &lt;div class=&quot;shift-left--fluid column__primary bg--white can-be--dark-light&quot;&gt;
          {{&gt; organisms-search-content }}
        &lt;/div&gt; &lt;!-- /.shift-left--fluid --&gt;
        &lt;div class=&quot;shift-right--fluid bg--beige can-be--dark-dark&quot;&gt;
          {{# breakout_block }}
            {{&gt; molecules-media-block }}
          {{/ breakout_block }}
          &lt;div class=&quot;column__secondary can-be--dark-dark&quot;&gt;
            {{&gt; organisms-aside }}
          &lt;/div&gt;
        &lt;/div&gt; &lt;!-- /.shift-right--fluid --&gt;
      &lt;/div&gt; &lt;!-- /.flex-container --&gt;
    &lt;/div&gt; &lt;!-- /.layout-container --&gt;
  &lt;/main&gt; &lt;!-- /.main --&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.content --&gt;
