&lt;div class=&quot;spacing--half&quot;&gt;
  

&lt;!-- Primary font sizes --&gt;
  &lt;p class=&quot;font--primary--xl&quot;&gt;.font--primary--xl&lt;/p&gt;
  &lt;p class=&quot;font--primary--l&quot;&gt;.font--primary--l&lt;/p&gt;
  &lt;p class=&quot;font--primary--m&quot;&gt;.font--primary--m&lt;/p&gt;
  &lt;p class=&quot;font--primary--s&quot;&gt;.font--primary--s&lt;/p&gt;
  &lt;p class=&quot;font--primary--xs&quot;&gt;.font--primary--xs&lt;/p&gt;
 
&lt;!-- Secondary Font Sizes   --&gt;
  &lt;p class=&quot;font--secondary--xl&quot;&gt;.font--secondary--xl&lt;/p&gt;
  &lt;p class=&quot;font--secondary--l&quot;&gt;.font--secondary--l&lt;/p&gt;
  &lt;p class=&quot;font--secondary--m&quot;&gt;.font--secondary--m&lt;/p&gt;
  &lt;p class=&quot;font--secondary--s&quot;&gt;.font--secondary--s&lt;/p&gt;
  &lt;p class=&quot;font--secondary--xs&quot;&gt;.font--secondary--xs&lt;/p&gt;

&lt;!-- Tertiary Font Sizes --&gt;
  &lt;p class=&quot;font--tertiary--xl&quot;&gt;.font--tertiary--xl&lt;/p&gt;
  &lt;p class=&quot;font--tertiary--l&quot;&gt;.font--tertiary--l&lt;/p&gt;
  &lt;p class=&quot;font--tertiary--m&quot;&gt;.font--tertiary--m&lt;/p&gt;

&lt;!-- Font Weights --&gt;
  &lt;p class=&quot;font--primary--m fw--800&quot;&gt;.font--weight--800&lt;/p&gt;
  &lt;p class=&quot;font--primary--m fw--600&quot;&gt;.font--weight--600&lt;/p&gt;
  &lt;p class=&quot;font--primary--m fw--400&quot;&gt;.font--weight--400&lt;/p&gt;

&lt;!-- Text Transforms --&gt;
  &lt;p class=&quot;font--primary--m upper&quot;&gt;.font--transform--upper&lt;/p&gt;
  &lt;p class=&quot;font--primary--m lower&quot;&gt;.font--transform--lower&lt;/p&gt;

&lt;!-- Text Decoration --&gt;
  &lt;p class=&quot;font--primary--m td--u&quot;&gt;.text--decorations--underline&lt;/p&gt;
&lt;/div&gt;
