&lt;dl&gt;
	&lt;dt&gt;Definition List&lt;/dt&gt;
	&lt;dd&gt;A number of connected items or names written or printed consecutively, typically one below the other.&lt;/dd&gt;
    &lt;dt&gt;This is a term.&lt;/dt&gt;
    &lt;dd&gt;This is the definition of that term, which both live in a &lt;code&gt;dl&lt;/code&gt;.&lt;/dd&gt;
    &lt;dt&gt;Here is another term.&lt;/dt&gt;
    &lt;dd&gt;And it gets a definition too, which is this line.&lt;/dd&gt;
    &lt;dt&gt;Here is term that shares a definition with the term below.&lt;/dt&gt;
    &lt;dd&gt;And it gets a definition too, which is this line.&lt;/dd&gt;
&lt;/dl&gt;