<div class="u-spacing--double u-padding--right">
  {% include '@molecules/forms/search-filter.twig' %}
  {% for content in aside_content %}
    <div class="c-block-wrap u-spacing">
      <div class="c-block__heading u-theme--border-color--darker">
        <h3 class="c-block__heading-title u-theme--color--darker">{{ content.aside_heading }}</h3>
        <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
      </div>
      <div class="c-block-wrap__content u-spacing">
        {% for block in content.aside_blocks %}
          {% include '@molecules/blocks/media-block.twig' with block %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div class="c-block-wrap u-spacing">
    <div class="c-block__heading u-theme--border-color--darker">
      <h3 class="c-block__heading-title u-theme--color--darker">{{ aside_content_blocks_heading }}</h3>
      <a href="" class="c-block__heading-link u-theme--color--base u-theme--link-hover--dark">See All</a>
    </div>
    <div class="c-block-wrap__content">
      {% for block in aside_content_blocks %}
        {% include '@molecules/blocks/content-block.twig' with block %}
      {% endfor %}
    </div>
  </div>
</div>
