<aside class="aside spacing--double">
  <div class="pad--secondary spacing--double">
    {% include '@molecules/forms/content-filter-expand.twig' %}

    {% for content in aside_content %}
      <h3 class="font--tertiary--m theme--secondary-text-color">{{ content.aside_heading }}</h3>
      {% for item in content.aside_blocks %}
        {% include '@molecules/blocks/media-block.twig' with {'block_inner_class': 'block__row--small-to-large'} %}
      {% endfor %}
    {% endfor %}

    <div class="spacing">
      <h3 class="font--tertiary--m theme--secondary-text-color">More News</h3>
      {% for item in content_blocks %}
        <div class="content__block">
          <h3 class="theme--primary-text-color font--secondary--m">{{ item.text.heading | raw }}</h3>
          <p>Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. {% if item.text.cta %} <a href="{{ item.url }}" class="font--secondary--s upper theme--secondary-text-color"><strong>{{ item.text.cta | raw}}</strong></a> {% endif %}</p>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
</aside>
