<aside class="aside spacing--double">
  <div class="pad--secondary spacing--double">

    {{# aside_content }}
      <h3 class="font--tertiary--m theme--secondary-text-color">{{ aside_heading }}</h3>
      {{# aside_blocks }}
        {{> molecules-media-block(block_inner_class: "block__row--small-to-large") }}
      {{/ aside_blocks }}
    {{/ aside_content }}

    <div class="spacing">
      <h3 class="font--tertiary--m theme--secondary-text-color">More News</h3>
      {{# content_blocks }}
        <div class="content__block">
          <h3 class="theme--primary-text-color font--secondary--m">{{{ text.heading }}}</h3>
          <p>Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. {{# text.cta }} <a href="{{ url }}" class="font--secondary--s upper theme--secondary-text-color"><strong>{{{ text.cta }}}</strong></a> {{/ text.cta }}</p>
        </div>
        <hr>
      {{/ content_blocks }}
    </div>
  </div>
</aside>
