<aside class="l-wrap__sabbath l-sabbath {% if sabbath_background %}{{'u-background-image--sabbath'}}{% endif %} js-sticky-parent js-toggle-menu">
  {% if sabbath_background %}
    <style>
      .u-background-image--sabbath::after {
        background-image: url('{{ sabbath_background }}') !important;
      }
    </style>
    {% if sabbath_logo %}
      <div class="l-sabbath__logo u-path-fill--white js-sticky">
        {% include '@atoms/icons/icon-logo.twig' %}
      </div>
    {% endif %}
  {% else %}
    <div class="l-sabbath__logo js-sticky">
      <div class="l-sabbath__logo--inner {{ sabbath_icon_class }}">
        <div class="l-sabbath__logo-light u-path-fill--white">
          {% include '@atoms/icons/icon-logo.twig' %}
        </div>
        <div class="l-sabbath__logo-dark u-theme--path-fill--base">
          {% include '@atoms/icons/icon-logo.twig' %}
        </div>
      </div>
    </div>
    <div class="l-sabbath__overlay u-theme--background-color--base"></div>
  {% endif %}
</aside>
