<aside class="aside spacing--double">
  <div>&nbsp;</div>
  <div class="pad--secondary spacing--one-and-half">
    {{# aside_content }}
      <h3 class="font--tertiary--m theme--secondary-text-color">{{ aside_heading }}</h3>
      {{# aside_blocks }}
        {{> molecules-media-block }}
      {{/ aside_blocks }}
    {{/ aside_content }}
  </div>
</aside>
