<ul class="o-inline-list">
  <li>Item Number 1</li>
  <li>Item Number 2</li>
  <li>Item Number 3</li>
  <li>Item Number 4</li>
  <li>Item Number 5</li>
</ul>
<div class="text u-spacing">

<ul class="o-inline-list">
  <li><a href="" class="o-button o-button--simple">Link 1</a></li>
  <li><a href="" class="o-button o-button--simple">Link 2</a></li>
  <li><a href="" class="o-button o-button--simple">Link 3</a></li>
  <li><a href="" class="o-button o-button--simple">Link 4</a></li>
  <li><a href="" class="o-button o-button--simple">Link 5</a></li>
</ul>

    <ul class="o-inline-list">
    <li><a class="o-button o-button--simple" href="#dates">Dates</a></li>
    <li><a class="o-button o-button--simple" href="#travel">Travel Information</a></li>
    <li><a class="o-button o-button--simple" href="#location">Location</a></li>
    <li><a class="o-button o-button--simple" href="#hotel">Hotel</a></li>
    <li><a class="o-button o-button--simple" href="#tickets">Tickets</a></li>
    <li><a class="o-button" href="#register">Register</a></li>
  </ul>
</div>
