<div class="pad">
  <h1>Two column grid</h1>
  <p>70/30 split at <code>medium</code> breakpoint</p>
</div>
<div class="g g-2up--70-30--at-medium">
  <div class="gi pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
  </div>
  <div class="gi pad-double bg--blue">
    <h3 class="white">Secondary Content</h3>
  </div>
</div> <!-- /.g-2up--70-30--at-medium -->
