{{# fig_with_modal }}
  &lt;figure class=&quot;figure {{ figure_class }}&quot;&gt;
    &lt;div class=&quot;img-wrap&quot;&gt;
      {{&gt; atoms-image }}
    &lt;/div&gt; &lt;!-- /.img-wrap --&gt;
    &lt;div class=&quot;spacing--quarter&quot;&gt;
      {{&gt; molecules-figcaption }}
      {{&gt; molecules-view-larger }}
    &lt;/div&gt;
  &lt;/figure&gt; &lt;!-- /.figure --&gt;
{{/ fig_with_modal }}
