{{# carousel }}
  {{&gt; organisms-hero-carousel }}
{{/ carousel }}
&lt;div class=&quot;g g-2up--at-medium with-divider&quot;&gt;
  &lt;div class=&quot;gi&quot;&gt;
    &lt;div class=&quot;spacing&quot;&gt;
      &lt;div class=&quot;spacing--half&quot;&gt;
        &lt;h2 class=&quot;font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm&quot;&gt;Vivamus ornare&lt;/h2&gt;
        &lt;hr&gt;
      &lt;/div&gt;
      {{# media_blocks }}
        &lt;div class=&quot;pad&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
        &lt;hr&gt;
      {{/ media_blocks }}
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
  &lt;div class=&quot;gi pad-double--btm&quot;&gt;
    &lt;div class=&quot;spacing&quot;&gt;
      &lt;div class=&quot;spacing--half&quot;&gt;
        &lt;h2 class=&quot;font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm&quot;&gt;Duis pretium&lt;/h2&gt;
        &lt;hr&gt;
      &lt;/div&gt;
      {{# video_block }}
        &lt;div class=&quot;pad no-pad--btm&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
      {{/ video_block }}

      &lt;div class=&quot;g g-2-split pad-half no-pad--top&quot;&gt;
        &lt;div class=&quot;gi spacing--half&quot;&gt;
          {{# video_block_list }}
            &lt;div class=&quot;pad-half--left pad-half--right&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
          {{/ video_block_list }}
        &lt;/div&gt;
        &lt;div class=&quot;gi spacing--half&quot;&gt;
          {{# video_block_list }}
            &lt;div class=&quot;pad-half--left pad-half--right&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
          {{/ video_block_list }}
        &lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.g-2-split --&gt;

      &lt;hr&gt;

      {{&gt; molecules-carousel-block }}

      &lt;hr&gt;

      &lt;h3 class=&quot;font--tertiary--m theme--secondary-text-color pad--top pad--left pad-right&quot;&gt;Sagittis massa&lt;/h3&gt;
      {{# content_blocks }}
        &lt;div class=&quot;content__block pad--left pad-right&quot;&gt;
          &lt;h3 class=&quot;theme--primary-text-color font--secondary--m&quot;&gt;{{{ text.heading }}}&lt;/h3&gt;
          &lt;p&gt;Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. {{# text.cta }} &lt;a href=&quot;{{ url }}&quot; class=&quot;font--secondary--s upper theme--secondary-text-color&quot;&gt;&lt;strong&gt;{{{ text.cta }}}&lt;/strong&gt;&lt;/a&gt; {{/ text.cta }}&lt;/p&gt;
        &lt;/div&gt;
        &lt;hr&gt;
      {{/ content_blocks }}

    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
&lt;/div&gt; &lt;!-- /.2up--at-medium --&gt;
