{{#button_default}}
<a href="" class="btn theme--secondary-background-color">{{button_text}}{{# has_icon }} <span class="dib icon--s">{{> atoms-icon-share(fill_class: "fill--white") }}</span>{{/ has_icon}}</a>
{{/button_default}}
