&lt;div class=&quot;spacing-zero&quot;&gt;
&Tab;&lt;p&gt;&lt;a href=&quot;#&quot;&gt;This is a text link&lt;/a&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;a href=&quot;http://google.com&quot;&gt;This is an external text link&lt;/a&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;strong&gt;Strong is used to indicate strong importance&lt;/strong&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;em&gt;This text has added emphasis&lt;/em&gt;&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;b&gt;b element&lt;/b&gt; is stylistically different text from normal text, without any special importance&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;i&gt;i element&lt;/i&gt; is text that is set off from the normal text&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;u&gt;u element&lt;/u&gt; is text with an unarticulated, though explicitly rendered, non-textual annotation&lt;/p&gt;
&Tab;&lt;p&gt;&lt;del&gt;This text is deleted&lt;/del&gt; and &lt;ins&gt;This text is inserted&lt;/ins&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;s&gt;This text has a strikethrough&lt;/s&gt;&lt;/p&gt;
&Tab;&lt;p&gt;Superscript&lt;sup&gt;&circledR;&lt;/sup&gt;&lt;/p&gt;
&Tab;&lt;p&gt;Subscript for things like H&lt;sub&gt;2&lt;/sub&gt;O&lt;/p&gt;
&Tab;&lt;p&gt;&lt;small&gt;This small text is small for for fine print, etc.&lt;/small&gt;&lt;/p&gt;
&Tab;&lt;p&gt;Abbreviation: &lt;abbr title=&quot;HyperText Markup Language&quot;&gt;HTML&lt;/abbr&gt;&lt;/p&gt;
&Tab;&lt;p&gt;Keybord input: &lt;kbd&gt;Cmd&lt;/kbd&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;q cite=&quot;https://developer.mozilla.org/en-US/docs/HTML/Element/q&quot;&gt;This text is a short inline quotation&lt;/q&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;cite&gt;This is a citation&lt;/cite&gt;&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;dfn&gt;dfn element&lt;/dfn&gt; indicates a definition.&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;mark&gt;mark element&lt;/mark&gt; indicates a highlight&lt;/p&gt;
&Tab;&lt;p&gt;&lt;code&gt;This is what inline code looks like.&lt;/code&gt;&lt;/p&gt;
&Tab;&lt;p&gt;&lt;samp&gt;This is sample output from a computer program&lt;/samp&gt;&lt;/p&gt;
&Tab;&lt;p&gt;The &lt;var&gt;variable element&lt;/var&gt;, such as &lt;var&gt;x&lt;/var&gt; = &lt;var&gt;y&lt;/var&gt;&lt;/p&gt;
&lt;/div&gt;
