<div class="spacing--double">
  <div class="pad--primary spacing text">
    <h2 class="font--tertiary--l theme--primary-text-color">{{{ text.heading }}}</h2>
    <p class="intro font--primary--m">{{{ text.intro }}}</p>
    {{> atoms-video }}
  </div>

  <hr>
  {{# row_blocks }}
  <div class="pad--primary no-pad--btm no-pad--top spacing--half">
    {{> molecules-media-block }}
  </div>
  <hr>
  {{/ row_blocks }}

  {{# content_blocks }}
  <div class="pad--primary no-pad--btm no-pad--top spacing--half text">
    <h3 class="brown font--tertiary--l">{{{ text.heading }}}</h3>
    <p>{{{ text.description }}} {{# text.cta }} <a href="{{ url }}" class="font--secondary--s upper"><strong>{{{ text.cta }}}</strong></a> {{/ text.cta }}</p>
  </div>
  <hr>
  {{/ content_blocks }}
</div>
