{{# carousel }}
  {{> organisms-hero-carousel }}
{{/ carousel }}
<div class="g g-2up--at-medium with-divider">
  <div class="gi">
    <div class="spacing">
      <div class="spacing--half">
        <h2 class="font--tertiary--l theme--primary-text-color pad padding-top pad-half--btm">Vivamus ornare</h2>
        <hr>
      </div>
      {{# media_blocks }}
        <div class="pad">{{> molecules-media-block }}</div>
        {{# has_hr }}<hr>{{/ has_hr }}
      {{/ media_blocks }}
    </div>
  </div> <!-- /.gi -->
  <div class="gi">
    <div class="spacing">
      <div class="spacing--half">
        <h2 class="font--tertiary--l theme--primary-text-color pad padding-top pad-half--btm">Duis pretium</h2>
        <hr>
      </div>
      {{# video_block }}
        {{> molecules-media-block }}
      {{/ video_block }}

      <div class="g g-2-split pad-half no-pad--top">
        <div class="gi">
          {{# video_block_list }}
            <div class="pad-half--left pad-half--right">{{> molecules-media-block }}</div>
          {{/ video_block_list }}
        </div>
        <div class="gi">
          {{# video_block_list }}
            <div class="pad-half--left pad-half--right">{{> molecules-media-block }}</div>
          {{/ video_block_list }}
        </div>
      </div> <!-- /.g-2-split -->

      <hr>

      {{> molecules-carousel-block }}

      <hr>

      <h3 class="font--tertiary--m theme--secondary-text-color pad--top pad--left pad-right">Sagittis massa</h3>
      {{# content_blocks }}
        <div class="content__block pad--left pad-right">
          <h3 class="theme--primary-text-color font--secondary--m">{{{ text.heading }}}</h3>
          <p>Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. {{# text.cta }} <a href="{{ url }}" class="font--secondary--s upper theme--secondary-text-color"><strong>{{{ text.cta }}}</strong></a> {{/ text.cta }}</p>
        </div>
        <hr>
      {{/ content_blocks }}

    </div>
  </div> <!-- /.gi -->
</div> <!-- /.2up--at-medium -->
