&lt;!DOCTYPE html&gt;
&lt;html class=&quot;{{ head.html_class }} no-js&quot; lang=&quot;{{ head.language }}&quot;&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;{{ head.charset }}&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
    &lt;title&gt;{{ head.title }}&lt;/title&gt;
    &lt;meta name=&quot;description&quot; content=&quot;{{ head.description }}&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;

    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;//fonts.googleapis.com/css?family=Montserrat&quot; media=&quot;all&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;//fonts.googleapis.com/css?family=Merriweather&quot; media=&quot;all&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;//fonts.googleapis.com/css?family=Abril+Fatface&quot; media=&quot;all&quot;&gt;
    &lt;link data-locale-stylesheet=&quot;0&quot; rel=&quot;stylesheet&quot; href=&quot;../../css/main.css?{{ cacheBuster }}&quot; media=&quot;all&quot; /&gt;

    &lt;script&gt;document.createElement(&quot;picture&quot;);&lt;/script&gt;
    &lt;script src=&quot;../../js/head-scripts.js?{{ cacheBuster }}&quot; async&gt;&lt;/script&gt;

    &lt;!-- Begin Pattern Lab (Required for Pattern Lab to run properly) --&gt;
    {% pattern-lab-head %}
    &lt;!-- End Pattern Lab --&gt;
    &lt;link rel=&quot;icon&quot; href=&quot;/favicon.ico&quot; /&gt;
  &lt;/head&gt;
  &lt;body class=&quot;{{ head.body_class }}&quot;&gt;
