<div class="carousel-block block spacing--quarter ">
      <h2 class="font--tertiary--m theme--primary-text-color pad pad-half--btm">
            Mauris sit
    </h2>
    <div class="carousel-block__carousel carousel-nav--4-3"><div class="carousel rel ">
  <div class="carousel__slides js-carousel__single-item">
                  <div class="carousel__item rel ">

      <picture class="picture">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="//unsplash.it/800/600/?random" media="(min-width: 500px)">
  <!--[if IE 9]></video><![endif]-->

      <img itemprop="image" srcset="//unsplash.it/500/375/?random" alt="Alt Text">
  </picture>
  
  
      <div class="carousel-block__content block__content spacing--quarter pad ">
              <h3 class="carousel-block__title block__title font--secondary--m">
          <a href="" class="block__title-link theme--primary-text-color">Proin venenatis maximus</a>
        </h3>
                    <time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>
                    <div class="text pad-half--btm">
          <p class="carousel-block__description block__description">
            <span class="font--primary--xs">Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</span>
          </p>
        </div>
                    <p>
          <a class="carousel-block__cta block__cta btn theme--secondary-background-color" href="">Donec volutpat libero</a>
        </p>
          </div> <!-- carousel-block__content -->
  
</div> <!-- /.carousel__item -->
                        <div class="carousel__item rel ">

      <picture class="picture">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="//unsplash.it/800/600/" media="(min-width: 500px)">
  <!--[if IE 9]></video><![endif]-->

      <img itemprop="image" srcset="//unsplash.it/500/375/" alt="Alt Text">
  </picture>
  
  
      <div class="carousel-block__content block__content spacing--quarter pad ">
              <h3 class="carousel-block__title block__title font--secondary--m">
          <a href="" class="block__title-link theme--primary-text-color">Sed sagittis massa id blandit aliquet</a>
        </h3>
                    <time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>
                    <div class="text pad-half--btm">
          <p class="carousel-block__description block__description">
            <span class="font--primary--xs">Fusce interdum purus est, vel semper ex tristique ut Pellentesque semper tincidunt ex sit amet tincidunt.</span>
          </p>
        </div>
                    <p>
          <a class="carousel-block__cta block__cta btn theme--secondary-background-color" href="">Cras at sem</a>
        </p>
          </div> <!-- carousel-block__content -->
  
</div> <!-- /.carousel__item -->
            </div> <!-- /.carousel__slides -->

  </div> <!-- /.carousel -->
</div>
</div> <!-- /.carousel-block -->
