
  <h3 class="font--primary pad">Primary: Merriweather</h3>

<div class="sg-grid">
  <div class="typography-intro sg-grid-1of2 pad">
    <p>Merriweather is an open-source typeface designed specifically for onscreen reading. The letterforms have a tall x-height, making it idea for reading across various sizes. It is a classic looking font, with blocky serifs but a modern feel.</p>
  </div>


  <div class="typography-intro sg-grid-1of2 font--primary pad">
    <span class="text-huge font--primary--xl">Aa</span>
    <div>
      <p class="sg-label font--primary--xs">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br />
      a b c d e f g h i j k l m n o p q r s t u v w x y z <br/>
      0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>
</div>
<div class="sg-include pad">
  <h5>Embed Merriweather</h5>
  <div class="sg-link font--monospace pad">

  <input type="text" name="input-text" id="input-text" value="&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;//fonts.googleapis.com/css?family=Merriweather&quot; media=&quot;all&#x201d;&gt;">
  </div>

</div>

  <h3 class="font--secondary pad">Secondary: Montserrat</h3>

<div class="sg-grid">
  <div class="typography-intro sg-grid-1of2 pad">
    <p>Merriweather is an open-source typeface designed specifically for onscreen reading. The letterforms have a tall x-height, making it idea for reading across various sizes. It is a classic looking font, with blocky serifs but a modern feel.</p>
  </div>


  <div class="typography-intro sg-grid-1of2 font--secondary pad">
    <span class="text-huge font--secondary--xl">Aa</span>
    <div>
      <p class="sg-label font--secondary--xs">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
      <p class="sg-label font--secondary--xs">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
      <p class="sg-label font--secondary--xs">0 1 2 3 4 5 6 7 8 9</p>
    </div>
  </div>
</div>

<p class="font--serif">Alpha font: {{ primaryFontStack }}</p><!-- needs more thought-->
<p class="font--serif"><em>Primary font italic: {{ primaryFontStack }}</em></p>
<p class="font--serif"><strong>Primary font bold: {{ primaryFontStack }}</strong></p>
<p class="font--sans">Secondary font: {{ secondaryFontStack }}</p>
<p class="font--sans"><em>Secondary font italic: {{ secondaryFontStack }}</em></p>
<p class="font--sans"><strong>Secondary font bold: {{ secondaryFontStack }}</strong></p>
