/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */
.layout-container {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-left: $pad;
  padding-right: $pad;
  @include mq($px500) {
    padding-left: $pad;
    padding-right: $pad;
  }
  @include mq($px1000) {
    padding-left: $pad-and-half;
    padding-right: $pad-and-half;
  }
  @include mq($px1300) {
    padding-left: 0;
    padding-right: 0;
  }
}
.layout-container--s {
  max-width: rem(650);
}
.layout-container--s-m {
  max-width: rem(700);
}
.layout-container--m {
  max-width: rem(800);
}
.layout-container--l {
  max-width: rem(1000);
}
.layout-container--xl {
  max-width: rem(1250);
}

/**
 * Wrapping element to keep content contained and centered.
 */
.wrap {
  max-width: $max-width;
  margin: 0 auto;
}


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

.column__primary,
.column__secondary {
  padding-bottom: $pad;
  @include mq($large) {
    padding-bottom: $pad-double;
  }
}
.pad--primary {
  padding-left: $pad-half;
  padding-right: $pad-half;
  @include mq($large) {
    padding-left: rem(60);
    padding-right: rem(60);
  }
  @include mq($xlarge) {
    padding-left: rem(80);
    padding-right: rem(80);
  }
}
.pad--secondary {
  padding-left: $pad-half;
  padding-right: $pad-half;
  @include mq($large) {
    padding-left: $pad-double;
    padding-right: $pad-double;
  }
}


/*------------------------------------*\
    $LAYOUT SHIFTERS
\*------------------------------------*/

/**
 * Shift at 900px (large breakpoint) with fluid left and right columns.
 */
.shift-left--fluid {
  width: 100%;
  @include mq($large) {
    float: left;
    width: 68%;
  }
}
.shift-right--fluid {
  @include mq($large) {
    float: right;
    width: 32%;
  }
}

/**
 * Shift at 900px (large breakpoint) with static right rail.
 */
.shift-left--static {
  width: 100%;
  @include mq($large) {
    float: left;
    margin-right: rem(-300);
  }
}
.shift-left--inner--static {
  @include mq($large) {
    margin-right: rem(300);
  }
}
.shift-right--static {
  @include mq($large) {
    float: right;
    width: rem(300);
    position: relative;
    z-index: 1;
  }
}
