/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn,
button,
input[type="submit"] {
  display: inline-block;
  text-align: center;
  font-size: rem(14);
  padding: rem(12) rem(15);
  line-height: 1;
  color: $orange;
  border: rem(2) solid $orange;
  cursor: pointer;
  transition: all .6s ease-out;
  overflow: hidden;
  border-radius: rem(5);
  &:hover,
  &:focus {
    border-color: darken($orange, 10);
    color: darken($orange, 10);
  }
}

/**
 * Button Sizing
 */
.btn--small {
  padding: rem(8) rem(12);
  font-size: rem(12);
}


/**
 * Button Themes
 */
.btn--white {
  border-color: $white;
  color: $white;
  &:hover {
    border-color: $orange;
    color: $orange;
  }
}
