/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

// Block
.block {
  font-family: $sans;
  .wf-active & {
    font-family: $font;
  }
  img {
    display: inline-block;
  }
}

