/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

.inline-list__item {
  display: inline-block;
}

/**
 * Bullet List
 */
.bullet-list__item {
  position: relative;
  overflow: visible;
  padding-left: rem(16);
  &:last-child {
    margin-bottom: 0;
  }
  &:before {
    content: '•';
    position: absolute;
    left: 0;
    top: rem(-6);
    z-index: 0;
    font-size: rem(24);
    color: $gray;
  }
}

/**
 * Text List
 */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
}
.text-list__item {
  margin-bottom: $space;
}
