/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

.inline-list {
  li {
    display: inline-block;
  }
}

/**
 * Bullet List
 */
ul.bullet-list,
.bullet-list ul {
  li {
    position: relative;
    overflow: visible;
    padding-left: rem(16);
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: '•';
      position: absolute;
      left: 0;
      top: rem(-6);
      z-index: 0;
      font-size: rem(24);
      color: $gray;
    }
  }
}
.color-bullet span {
  color: $body-color;
}

/**
 * Text List
 */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
  li {
    margin-bottom: $space;
  }
}
