/*------------------------------------*\
    $CAROUSELS
\*------------------------------------*/

.carousel__item {
  img {
    width: 100%;
  }
}
.carousel__controls {
  width: 100%;
}
.carousel__arrow {
  width: rem(44);
  height: rem(44);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.carousel__arrow--prev {
  left: $space-half;
}
.carousel__arrow--next {
  right: $space-half;
}

/**
 * Carousel with Text
 */

.carousel__item-text__wrap {
  padding: $pad;
  @media (max-width: $large-max) {
    color: $white;
    background-color: $blue;
  }
  @include mq($medium) {
    padding: $pad-and-half;
  }
  @include mq($large) {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    .layout-container {
      height: 100%;
    }
  }
}
.carousel__item-text {
  @include mq($large) {
    max-width: rem(680);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate(0, -50%);
    padding-bottom: 0;
    padding-top: rem(80);
  }
}
.carousel__item-heading {
  @include mq($large) {
    color: $blue;
  }
}
// Right align slide text
.carousel__item--right {
  @include mq($large) {
    right: 0;
    left: auto;
    text-align: right;
  }
}

// Carousel pagination
.slick-dots {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: $pad;
  width: 100%;
  text-align: center;
  max-width: $max-width;
  @include mq($large) {
    top: auto;
    bottom: 0;
    text-align: left;
  }
  li {
    display: inline-block;
    border-radius: 50%;
    border: rem(3) solid $white;
    background-color: transparent;
    width: rem(15);
    height: rem(15);
    margin-left: $space-half;
    cursor: pointer;
  }
  .slick-active {
    background-color: $white;
  }
  button {
    display: none;
  }
}
