/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

// Block
.block__image {
  display: block;
}

/**
 * Block row (block with left thumb and right text when space allows)
 */
.block__row {
  @include media('>small') {
    display: flex;
    align-items: center;
    .block__image-wrap {
      width: 30%;
      max-width: 300px;
      text-align: right;
    }
    .block__content {
      width: 70%;
      padding-left: $pad;
    }
  }
}

// Blocks that breakout of of their layout.
.block--breakout {
  margin-left: -$space;
  margin-right: -$space;
  @include media('>large') {
    margin-top: -$space;
    margin-bottom: -$space;
  }
}
