/*------------------------------------*\
    $STYLEGUIDE UPDATES
\*------------------------------------*/

.sg-main {
  max-width: $max-width;
  padding: $pad;
  margin-left: auto;
  margin-right: auto;
}
