&lt;form action=&quot;&quot; role=&quot;search&quot; method=&quot;get&quot; class=&quot;search-form toggled-element&quot;&gt;
  &lt;fieldset&gt;
    &lt;legend class=&quot;is-vishidden&quot;&gt;Search&lt;/legend&gt;
    &lt;input type=&quot;search&quot; name=&quot;s&quot; placeholder=&quot;{{ search }}&amp;hellip;&quot; class=&quot;search-form__input font--secondary--s&quot; required /&gt;
    &lt;button class=&quot;search-form__submit is-vishidden&quot;&gt;
      &lt;span class=&quot;is-vishidden&quot;&gt;Submit&lt;/span&gt;
    &lt;/button&gt; &lt;!-- /.search-form__submit --&gt;
  &lt;/fieldset&gt;
&lt;/form&gt; &lt;!-- /.search-form --&gt;
