<div class="article__meta">
  <span class="pub_date u-font--secondary--s gray can-be--white">{{ article_header.pub_date }}</span> <span class="divider">|</span>
  <span class="pub_region u-font--secondary--s gray can-be--white">{{ article_header.pub_region }}</span> <span class="divider">|</span>
  {% include '@molecules/text/byline.twig' %}
</div>
