{{# carousel }}
<div class="carousel rel">
  <div class="carousel__slides {{ carousel_class }}">
    {{# slides }}
      {{^ slides2column}}
        {{> molecules-slide }}
      {{/ slides2column}}
      {{# slides2column}}
        {{> molecules-slide-2-column }}
      {{/ slides2column}}
    {{/ slides }}
  </div> <!-- /.carousel__slides -->

  {{^ no_arrows }}
  <div class="carousel__controls">
    <span class="arrow__prev"><span class="carousel__arrow carousel__arrow--prev icon round">{{> atoms-icon-arrow-left(fill_class: 'theme--secondary-fill-color') }}</span></span>
    <span class="arrow__next"><span class="carousel__arrow carousel__arrow--next icon round">{{> atoms-icon-arrow-right(fill_class: 'theme--secondary-fill-color') }}</span></span>
  </div> <!-- /.carousel__controls -->
  {{/ no_arrows }}

</div> <!-- /.carousel -->
{{/ carousel }}
