{% if carousel %}
  <div class="c-carousel {% if carousel.slide_type %}c-carousel--{{ carousel.slide_type }} {% endif %}u-position--relative {{ carousel.carousel_outer_class }}">
    <div class="c-carousel__slides {{ carousel.carousel_class }}">
      {% for slide in carousel.slides %}
        {% if carousel.slide_type == 'inset' %}
          {% include '@molecules/components/slide-with-text-inset.twig' with slide %}
        {% else %}
          {% include '@molecules/components/slide.twig' with slide %}
        {% endif %}
      {% endfor %}
    </div>
    <!-- /.carousel__slides -->
    {% if not carousel.no_arrows %}
      <div class="c-carousel__controls">
        <span class="o-arrow o-arrow--prev"><span class="c-carousel__arrow c-carousel__arrow--prev u-icon u-icon--s u-round u-theme--background-color--darker u-path-fill--white">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span></span>
        <span class="o-arrow o-arrow--next"><span class="c-carousel__arrow c-carousel__arrow--next u-icon u-round u-theme--background-color--darker u-path-fill--white">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span></span>
      </div>
      <!-- /.c-carousel__controls -->
    {% endif %}
  </div>
  <!-- /.c-carousel -->
{% endif %}
