<div class="comment">
  <div class="comment__avatar">
    <img alt="" src="{{{ comment_avatar }}}" class="avatar" height="32" width="32">
  </div>
  <div class="comment__body">
    <div class="comment__meta">
      <span class="byline font--secondary--s gray can-be--white">{{{ comment_byline }}}</span>
      <span class="divider">|</span>
      <span class="pub_date font--secondary--s gray can-be--white">{{{ comment_date }}}</span>
    </div>
    <p class="comment__text">{{{ comment_text }}}</p>
  </div>
</div>
