<div class="comment--inner">
  <div class="comment__avatar u-round">
    <img alt="" src="{{ single_comment.comment_avatar }}" class="avatar" height="50" width="50">
  </div>
  <div class="comment__body spacing--quarter">
    <div class="comment__meta">
      <span class="byline u-font--secondary--s gray can-be--white theme--secondary-text-color"><a href="">{{ single_comment.comment_byline }}</a></span>
      <span class="divider">|</span>
      <span class="pub_date u-font--secondary--s gray can-be--white">{{ single_comment.comment_date }}</span><span class="comment__edit-link u-font--secondary--s theme--primary-text-color"><a class="comment-edit-link" href="">(Edit)</a></span>
    </div>
    <p class="comment__content">{{ single_comment.comment_text }}</p>
    <div class="comment__reply">
      <a href="" class="u-font--secondary--s theme--primary-text-color">Reply</a>
    </div>
  </div>
</div>
