{{# content_carousel }}
<div class="carousel content-carousel">
  <div class="content-carousel__slides {{ content_carousel_class }}">
    {{# content_carousel_slides }}
      <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">{{{ heading }}}</h3>
        <div class="content-carousel__description">
          <p>{{{ description }}}</p>
        </div>
      </div> <!-- /.content-carousel__item -->
    {{/ content_carousel_slides }}
  </div> <!-- /.content-carousel__slides -->

  {{^ no_arrows }}
  <div class="carousel__controls carousel__controls--outside">
    <span class="arrow__prev"><span class="carousel__arrow carousel__arrow--s carousel__arrow--prev icon round">{{> atoms-icon-arrow-left(fill_class: 'theme--secondary-fill-color') }}</span></span>
    <span class="arrow__next"><span class="carousel__arrow carousel__arrow--s carousel__arrow--next icon round">{{> atoms-icon-arrow-right(fill_class: 'theme--secondary-fill-color') }}</span></span>
  </div> <!-- /.carousel__controls -->
  {{/ no_arrows }}

</div> <!-- /.content-carousel -->
{{/ content_carousel }}
