{% if content_carousel %}
<div class="carousel content-carousel u-overflow--hidden">
  <div class="carousel__inner content-carousel__slides {{ content_carousel.content_carousel_class }}">
    {% for slide in content_carousel.content_carousel_slides %}
      <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading u-font--secondary--m theme--primary-text-color">{{ slide.heading }}</h3>
        <div class="content-carousel__description">
          <p>{{ slide.description }}</p>
        </div>
      </div> <!-- /.content-carousel__item -->
    {% endfor %}
  </div> <!-- /.content-carousel__slides -->

  {% if not content_carousel.no_arrows %}
    <div class="carousel__controls carousel__controls--outside">
      <span class="arrow__prev"><span class="carousel__arrow carousel__arrow--s carousel__arrow--prev icon u-round">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class': 'theme--secondary-fill-color'} %}</span></span>
      <span class="arrow__next"><span class="carousel__arrow carousel__arrow--s carousel__arrow--next icon u-round">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class': 'theme--secondary-fill-color'} %}</span></span>
    </div> <!-- /.carousel__controls -->
  {% endif %}

</div> <!-- /.content-carousel -->
{% endif %}
