<div class="c-modal u-theme--background-color-trans--base u-color--white u-padding">
  <p class="c-modal__body u-font--primary"><strong>By using our website you are consenting to our use of cookies in accordance with our <a href="">Cookie Policy</a></strong></p>
  <button class="c-modal__close u-icon u-icon--m u-path-fill--white js-toggle-parent">{% include '@atoms/icons/icon-close.twig' %}</button>
</div> <!-- /.c-modal -->
