<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content global" id="ui-id-1" tabindex="0">
  <li class="ui-menu-item" id="ui-id-4" tabindex="-1"><a><strong>bib</strong>le</a></li>
  <li class="ui-menu-item" id="ui-id-5" tabindex="-1"><a><strong>bib</strong>lical</a></li>
  <li class="ui-menu-item" id="ui-id-6" tabindex="-1"><a><strong>bib</strong>les</a></li>
  <li class="ui-menu-item" id="ui-id-7" tabindex="-1"><a><strong>bib</strong>lically</a></li>
  <li class="ui-menu-item" id="ui-id-8" tabindex="-1"><a><strong>bib</strong>lique</a></li>
  <li class="ui-menu-item" id="ui-id-9" tabindex="-1"><a><strong>bib</strong>lica</a></li>
  <li class="ui-menu-item" id="ui-id-10" tabindex="-1"><a><strong>bib</strong>lia</a></li>
  <li class="ui-menu-item" id="ui-id-11" tabindex="-1"><a><strong>bib</strong>liography</a></li>
  <li class="ui-menu-item" id="ui-id-12" tabindex="-1"><a><strong>bib</strong>el</a></li>
  <li class="ui-menu-item" id="ui-id-13" tabindex="-1"><a><strong>bib</strong>le’s</a></li>
</ul>
