<div class="carousel__item rel {{ carousel_item_class }}">

  {{# is_lazy }}
    {{> atoms-picture(is_lazy_slide: true) }}
  {{/ is_lazy }}
  {{^ is_lazy }}
    {{> atoms-picture }}
  {{/ is_lazy }}

  {{# has_slide_text }}
  <div class="carousel__item-text__wrap">
    <div class="layout-container">
      <div class="carousel__item-text {{ carousel_text_class }} spacing--half">
        <div>
          <h2 class="carousel__item-heading font--tertiary--xl theme--primary-transparent-background-color">{{{ slide_heading }}}</h2>
          {{# slide_subtitle }}<br><h3 class="carousel__item-subtitle font--secondary--m theme--primary-transparent-background-color">{{{ slide_subtitle }}}</h3>{{/ slide_subtitle }}
          <div class="carousel__item-dek pad-half--btm theme--primary-transparent-background-color">
            <p>{{{ slide_dek }}}</p>
          </div> <!-- /.carousel__item-dek -->
        </div>
        <a href="{{ url }}" class="carousel__item-cta btn theme--secondary-background-color">{{{ slide_cta }}}</a>
      </div> <!-- /.carousel__item-text -->
    </div>
  </div>
  {{/ has_slide_text }}

  {{# is_carousel_block }}
    <div class="carousel-block__content block__content spacing--quarter pad {{ block_content_class }}">
      {{# title }}<h3 class="carousel-block__title block__title {{ block_title_class }}"><a href="{{ url }}" class="block__title-link theme--primary-text-color">{{{ title }}}</a></h3>{{/ title }}
      {{# date }}
        <time class="block__date font--secondary--xs brown space-half--btm" datetime="{{ datetime }}">{{{ date }}}</time>
      {{/ date }}
      {{# description }}
        <div class="text pad-half--btm"><p class="carousel-block__description block__description"><span class="font--primary--xs">{{ description }}</span></p></div>
      {{/ description }}
      {{# cta }}
        <p><a class="carousel-block__cta block__cta btn theme--secondary-background-color" href="{{ url }}">{{ cta }}</a></p>
      {{/ cta }}
    </div> <!-- carousel-block__content -->
  {{/ is_carousel_block }}

</div> <!-- /.carousel__item -->
