<div class="carousel__item carousel__slide cf spacing rel {{ carousel_item_class }}">
  <div class="shift-left--fluid">
    {{> atoms-picture }}
  </div> <!-- /.shift-left--fluid -->

  {{# has_slide_text }}
    <div class="shift-right--fluid">
      <div class="{{ carousel_text_class }} spacing--half">
        <h2 class="carousel__slide-heading font--tertiary--l theme--primary-text-color">{{{ slide_heading }}}</h2>
        {{# slide_subtitle }}
          <h3 class="carousel__slide-subtitle font--secondary--m">{{{ slide_subtitle }}}</h3>
        {{/ slide_subtitle }}
        <div class="carousel__slide-dek pad-half--btm">
          <p>{{{ slide_dek }}}</p>
        </div> <!-- /.carousel__slide-dek -->
        <a href="{{ url }}" class="carousel__slide-cta btn theme--secondary-background-color">{{{ slide_cta }}}</a>
      </div> <!-- /.carousel__slide-text -->
    </div>
  {{/ has_slide_text }}
</div> <!-- /.carousel__slide -->
