<ul class="o-suggestions u-border--bottom u-theme--color--base">
  {% for suggestion in suggestions %}
    <li class="o-suggestions__item u-padding--half--top u-padding--half--bottom">
      <a class="o-suggestions__link" href="{{suggestion.url}}">{{suggestion.text | raw }}</a>
    </li>
  {% endfor %}
<ul>
