<ul class="c-search-filter__matches o-suggestions u-border--bottom u-theme--color--base" data-context="search-main-suggestions">
  {% for suggestion in suggestions %}
    <li>
      <a href="{{ suggestion.url }}">{{ suggestion.text | raw }}</a>
    </li>
  {% endfor %}
<ul>
TEST
