<div id="map" class="{{ custom_class.map }}"></div>
<script>
  function initMap() {
    const mapOptions = {{ map.options | json_encode|raw }};
    const map = new google.maps.Map(document.getElementById("map"), mapOptions);

    const markerData = [
      {% for marker in map.markers %}
      {{ marker | json_encode|raw }},
      {% endfor %}
    ];
    const markers = [];

    for (const marker of markerData) {
      markers.push(
        new google.maps.Marker({
          ...marker,
          map: map,
        })
      );
    }

    onMapInit(map, markers[0]);
  }

  function onMapInit(map, marker) {}
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ map.apiKey }}&callback=initMap"></script>
