<footer class="c-article__footer u-padding--left">
  <a href="" class="c-social-tools__comment can-be--white o-kicker u-theme--color--base u-space--right">
    <span class="u-icon u-icon--xs u-theme--path-fill--base u-space--quarter--right">{% include '@atoms/icons/icon-contact.twig' %}</span>Comment</a>
  {% include '@molecules/components/share-tools.twig' %}
</footer>
<!-- /.c-article__footer -->
