{{# comments }}
<section class="comments spacing padding-bottom">
  <h3 class="font--tertiary--l theme--primary-text-color">3 comments</h3>
  <hr>
  {{# comment }}
    {{> molecules-comment }}
  {{/ comment }}
  <hr>
  {{> molecules-comment-form }}
</section>
{{/ comments }}
