{% if comments %}
  <section class="{{ comments.comment_classes }}">
    <ul class="c-comment__list u-spacing">
      <div class="c-block__heading u-theme--border-color--darker">
        <h3 class="c-block__heading-title u-theme--color--darker">4 comments</h3>
      </div>
      {% for single_comment in comments.comment %}
        <li class="c-comment__list-item comment u-spacing">
          {% include '@molecules/components/comment.twig' with single_comment %}
          {% for single_comment in single_comment.comment_children %}
            <ul class="c-comment__children__list children u-spacing">
              <li class="c-comment__children__list-item comment">
                {% include '@molecules/components/comment.twig' with single_comment %}
              </li>
            </ul>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
    {% include '@molecules/forms/comment-form.twig' %}
  </section>
{% endif %}
