<section class="hero-carousel {% if carousel.slides2column %}l-container hero-carousel--2-column{% endif %}">
  {% include '@molecules/components/carousel.twig' %}
</section> <!-- /.hero-carousel -->
