<section class="hero-carousel {% if carousel.slides2column %} layout-container hero-carousel--2-column {% endif %}{% if carousel.slidesStacked %}hero-carousel--stacked{% endif %}">
  {% include '@molecules/components/carousel.twig' %}
</section> <!-- /.hero-carousel -->
