{% if page_header %}
<header class="c-page-header c-page-header__simple u-theme--background-color--base u-padding--sides u-padding--bottom u-padding--quad--top {{ page_header.page_header_class }}">
  {%  if page_header.kicker %}<span class="o-kicker u-color--white">{{ page_header.kicker | raw }}</span> {% endif %}
  <h1 class="u-font--primary--xxl u-color--white">{{ page_header.heading }}</h1>
</header>
{% endif %}
