{% if page_header_longform %}
<header class="longform__header {% if page_header_longform.picture %} longform__header--with-hero {% endif %}">
  <div class="layout-container cf spacing">
    <div class="longform__header__text spacing--half">
      <h1 class="longform__heading font--tertiary--xl">{{ page_header_longform.heading }}</h1>
      {% if page_header_longform.dek %}
        <p class="font--primary--m">{{ page_header_longform.dek }}</p>
      {% endif %}
    </div>
    {% if page_header_longform.picture %}
      <div class="longform__hero">
      {% include 'atoms-picture' with {'picture': page_header_longform.picture} %}
      </div>
    {% endif %}
  </div>
</header> <!-- /.longform__header -->
{% endif %}
