{% if page_header %}
  <header class="c-page-header c-page-header__feature">
    <div class="c-page-header__content">
      {% include '@molecules/blocks/media-block.twig' %}
    </div>
  </header> <!-- /.c-page-header -->
{% endif %}
