{{# page_header_longform }}
<header class="longform__header">
  <div class="layout-container cf spacing">
    <h1 class="longform__heading font--tertiary--xl">{{ heading }}</h1>
    <div class="longform__hero">
      {{> atoms-picture }}
    </div>
  </div>
</header> <!-- /.longform__header -->
{{/ page_header_longform }}
