<div class="split-callout u-flex u-flex--wrap">
  <div class="l-shift-left--fluid u-padding--double u-background-color--medium-brown u-spacing--half">
    <h2 class="white u-font--tertiary--l">My Whole Life</h2>
    <div class="text white">
      <p>Nulla ac urna est. In faucibus in turpis vel ultrices. Nunc gravida velit a sem dapibus, sed faucibus sapien consequat. Aliquam malesuada sollicitudin nulla ut ornare. Donec porttitor dui ut tellus mollis, lacinia rutrum metus pharetra.</p>
    </div>
    <div class="l-grid l-grid--3-col--at-medium u-text-align--center">
      <div class="l-grid-item u-padding">
        <div class="u-display--inline-block u-spacing--quarter">
          <a href="" class="u-display--inline-block u-icon--l">{% include '@atoms/icons/icon-spirituality.twig' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color u-font--secondary--m u-text-transform--upper">Spirituality</h3>
          <div class="text white"><p>Donec porttitor dui ut tellus mollis.</p></div>
          <a href="" class="u-display--inline-block u-icon--m">{% include '@atoms/icons/icon-share.twig' with {'fill_class': 'u-fill--white'} %}</a>
        </div>
      </div> <!-- /.l-grid-item -->
      <div class="l-grid-item u-padding">
        <div class="u-display--inline-block u-spacing--quarter">
          <a href="" class="u-display--inline-block u-icon--l">{% include '@atoms/icons/icon-vitality.twig' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color u-font--secondary--m u-text-transform--upper">Vitality</h3>
          <div class="text white"><p>Nullam molestie ornare dolor, non scelerisque.</p></div>
          <a href="" class="u-display--inline-block u-icon--m">{% include '@atoms/icons/icon-share.twig' with {'fill_class': 'u-fill--white'} %}</a>
        </div>
      </div> <!-- /.l-grid-item -->
      <div class="l-grid-item u-padding">
        <div class="u-display--inline-block u-spacing--quarter">
          <a href="" class="u-display--inline-block u-icon--l u-vertical-align--middle">{% include '@atoms/icons/icon-service.twig' with {'fill_class': 'theme--secondary-fill-color'} %}</a>
          <h3 class="theme--secondary-text-color u-font--secondary--m u-text-transform--upper">Service</h3>
          <div class="text white"><p>Aliquam malesuada sollicitudin ut ornare.</p></div>
          <a href="" class="u-display--inline-block u-icon--m">{% include '@atoms/icons/icon-share.twig' with {'fill_class': 'u-fill--white'} %}</a>
        </div>
      </div> <!-- /.l-grid-item -->
    </div> <!-- /.2up--at-medium -->
  </div> <!-- /.l-shift-left--fluid -->
  <div class="l-shift-right--fluid u-padding--double u-background-color--brown">
    <aside class="aside u-spacing--half">
      <h2 class="white u-font--tertiary--l"><span class="u-display--inline-block u-icon--m">{% include '@atoms/icons/icon-list.twig' with {'fill_class': 'u-fill--white'} %}</span> Our Beliefs</h2>
      <div class="text gray--light u-spacing">
        <p>Ut dignissim justo id tellus luctus dignissim. Nullam molestie ornare dolor, non scelerisque odio facilisis blandit. Pellentesque vitae cursus mauris, eu faucibus mi. Sed facilisis aliquet enim sit amet iaculis.</p>
          {% include '@atoms/buttons/button.twig' %}
      </div>
    </aside>
  </div> <!-- /.l-shift-right--fluid -->
</div> <!-- /.split-callout -->
