{% if testimonies %}
<section class="testimonies u-spacing--half carousel-nav--outside u-position--relative">
  <header class="testimonies__header u-border--bottom u-border--light u-flex u-flex--nowrap u-flex--align-end u-flex--justify-between">
    <h2 class="u-font--secondary--l theme--primary-text-color">Testimonies</h2>
    <div class="u-hide-until--m">{% include '@atoms/text/see-all-link.twig' %}</div>
  </header>
  {% include '@molecules/components/content-carousel.twig' %}
  <div class="u-spacing--half">
    <a href="{{ url }}" class="o-btn theme--secondary-background-color">Submit a Testimony</a>
    <div class="u-hide-after--m">{% include '@atoms/text/see-all-link.twig' %}</div>
  </div>
</section> <!-- /.testimonies -->
{% endif %}
