{% if testimonies %}
<section class="testimonies spacing--half carousel-nav--outside rel">
  <header class="testimonies__header border--bottom border--light flex flex--nowrap flex--align-end flex--justify-between">
    <h2 class="font--secondary--l theme--primary-text-color">Testimonies</h2>
    <div class="show-at--medium">{% include 'atoms-see-all-link' %}</div>
  </header>
  {% include 'molecules-content-carousel' %}
  <div class="spacing--half">
    <a href="{{ url }}" class="btn theme--secondary-background-color">Submit a Testimony</a>
    <div class="show-until--medium">{% include 'atoms-see-all-link' %}</div>
  </div>
</section> <!-- /.testimonies -->
{% endif %}
