{{# testimonies }}
<section class="testimonies spacing--half carousel-nav--outside rel">
  <header class="testimonies__header border--bottom border--light">
    <h2 class="font--secondary--l theme--primary-text-color">Testimonies</h2>
  </header>
  {{> molecules-content-carousel }}
  <a href="{{ url }}" class="btn theme--secondary-background-color">Submit a Testimony</a>
</section> <!-- /.testimonies -->
{{/ testimonies }}
