<div class="content cf has-aside" role="document">
  {{> organisms-header }}
  <main class="main can-be--dark-dark" role="main">
    {{> organisms-page-header }}
    {{# article_navigation}}
      {{> molecules-article-navigation }}
    {{/ article_navigation}}
    <div class="layout-container full--until-large">
      <div class="flex-container cf">
        <div class="shift-left--fluid column__primary bg--white no-pad--top no-pad--btm can-be--dark-light">
          {{# news_home }}
            {{> organisms-news-content }}
          {{/ news_home }}
          {{# news_channel }}
            {{> organisms-grid-3up-content(grid_class: "grid--uniform", has_hr: false) }}
          {{/ news_channel }}
          {{# news_article }}
            {{> organisms-news-article-content }}
          {{/ news_article }}
          {{# is_rtl }}
            {{> organisms-news-article-content-rtl }}
          {{/ is_rtl }}
        </div> <!-- /.shift-left--fluid -->
        <div class="shift-right--fluid bg--beige can-be--dark-dark">
          {{> molecules-aside-navigation }}
          <div class="column__secondary can-be--dark-dark">
            {{> organisms-aside }}
          </div>
        </div> <!-- /.shift-right--fluid -->
      </div> <!-- /.flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
