<div class="content cf has-aside" role="document">
  {{> organisms-header }}
  <main class="main can-be--dark-dark" role="main">
    {{> organisms-page-header }}
    <div class="layout-container full--until-large">
      <div class="flex-container cf">
        <div class="column__primary bg--white can-be--dark-light">
          {{> organisms-grid-3up-content }}
        </div> <!-- /.column__primary -->
      </div> <!-- /.flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
