<div class="content cf" role="document">
  {{> organisms-header }}
  <main class="main can-be--dark-dark" role="main">
    {{> organisms-page-header }}
    <!-- Content goes here -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
