&lt;ul class=&quot;sg-colors&quot;&gt;

&Tab;&lt;li&gt;
&Tab;&Tab;&lt;span class=&quot;sg-swatch&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
&Tab;&Tab;&lt;span class=&quot;sg-label small&quot;&gt;&lt;/span&gt;
&Tab;&lt;/li&gt;

&lt;/ul&gt;
