&lt;figure class=&quot;figure {{ figure_class }}&quot;&gt;
  &lt;div class=&quot;img-wrap fitvid&quot;&gt;
    {{&gt; atoms-video }}
  &lt;/div&gt; &lt;!-- /.img-wrap --&gt;
  {{&gt; molecules-figcaption }}
&lt;/figure&gt; &lt;!-- /.figure --&gt;
