<style>
.breakout-image { background-image: url(https://unsplash.it/500/800); }
@media(min-width: 500px) {
  .breakout-image { background-image: url(https://unsplash.it/700/800); }
}
@media(min-width: 700px) {
  .breakout-image { background-image: url(https://unsplash.it/1200/800); }
}
@media(min-width: 1200px) {
  .breakout-image { background-image: url(https://unsplash.it/1500/900); }
}
</style>
<div class="u-image--breakout has-parallax breakout-image u-background--cover" data-type="background" data-speed="8"></div>
