<figure class="figure {{ figure_class }}">
  <div class="img-wrap">
    {% include '@atoms/images/image.twig' %}
  </div> <!-- /.img-wrap -->
  {% include '@molecules/media/figcaption.twig' %}
</figure> <!-- /.figure -->
