{% if fig_with_modal %}
  <figure class="figure {{ fig_with_modal.figure_class }}">
    <div class="img-wrap">
      {% include 'atoms-image' %}
    </div> <!-- /.img-wrap -->
    <div class="spacing--quarter">
      {% include 'molecules-figcaption' %}
      {% include 'molecules-view-larger' %}
    </div>
  </figure> <!-- /.figure -->
{% endif %}
