{{# fig_with_modal }}
  <figure class="figure {{ figure_class }}">
    <div class="img-wrap">
      {{> atoms-image }}
    </div> <!-- /.img-wrap -->
    <div class="spacing--quarter">
      {{> molecules-figcaption }}
      {{> molecules-view-larger }}
    </div>
  </figure> <!-- /.figure -->
{{/ fig_with_modal }}
