<figure class="o-figure {{ figure_class }}">
  <div class="o-figure__image">
    {% include '@atoms/images/picture.twig' %}
  </div> <!-- /.o-figure__image -->
  <div class="o-figure__caption">
    {% include '@molecules/media/figcaption.twig' %}
  </div> <!-- /.o-figure__caption -->
</figure> <!-- /.o-figure -->
