{% if fig_with_modal %}
  <figure class="figure {% if figure_class %}{{ figure_class }} {% else %} {{ fig_with_modal.figure_class }} {% endif %}">
    <div class="img-wrap">
      {% include '@atoms/images/image.twig' %}
    </div> <!-- /.img-wrap -->
    <div class="spacing--quarter">
      {% include '@molecules/media/figcaption.twig' with fig_with_modal %}
      {% include '@molecules/text/view-larger.twig' with fig_with_modal %}
    </div>
  </figure> <!-- /.figure -->
{% endif %}
