<figure class="figure {{ figure_class }}">
  <div class="img-wrap fitvid">
    {% include '@atoms/media/video.twig' %}
  </div> <!-- /.img-wrap -->
  {% include '@molecules/media/figcaption.twig' %}
</figure> <!-- /.figure -->
