<figure class="figure {{ figure_class }}">
  <div class="img-wrap fitvid">
    {% include 'atoms-video' %}
  </div> <!-- /.img-wrap -->
  {% include 'molecules-figcaption' %}
</figure> <!-- /.figure -->
