<figure class="o-figure o-figure--video {{ figure_class }}">
  <div class="u-image--wrap fitvid">
    {% include '@atoms/media/video.twig' %}
  </div> <!-- /.u-image--wrap -->
  {% include '@molecules/media/figcaption.twig' %}
</figure> <!-- /.figure -->
