{{# secondary_nav }}
<nav class="secondary-nav toggled-element" id="secondary-nav" role="navigation">
  <ul class="secondary-nav__list">
    {{# items }}
    <li class="secondary-nav__list-item rel"><a class="secondary-nav__link theme--secondary-text-color {{# subnav }} js-toggle-parent {{/ subnav }}" href="{{ url }}">
      {{# link_before }}<span class="secondary-nav__before-link">{{{ link_before }}}</span>{{/ link_before }}
      <strong>{{{ text }}}</strong> {{# subnav }}<span class="subnav__arrow dib arrow--down va--middle"></span>{{/ subnav }}</a>
      {{# subnav }}
        <ul class="secondary-nav__subnav__list theme--secondary-background-color">
          {{# items }}
            <li class="secondary-nav__subnav__list-item"><a class="secondary-nav__subnav__link theme--secondary-background-hover-color--at-medium {{# active_link }} active {{/ active_link }}" href="{{ url }}">{{# active_link }}<span class="icon icon--xs icon__check">{{> atoms-icon-check }}</span>{{/ active_link }} {{{ text }}}</a></li>
          {{/ items }}
        </ul> <!-- /.subnav -->
      {{/ subnav }}
      </li>
    {{/ items }}
  </ul> <!-- /.secondary-nav__list -->
</nav> <!-- /.secondary-nav -->
{{/ secondary_nav }}
