&lt;div class=&quot;content cf has-aside&quot; role=&quot;document&quot;&gt;
  {{&gt; organisms-header }}
  &lt;main class=&quot;main&quot; role=&quot;main&quot;&gt;
    {{&gt; organisms-hero-carousel }}
  &lt;/main&gt; &lt;!-- /.main --&gt;
  {{!&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.content --&gt;
