&lt;div class=&quot;pad&quot;&gt;
  &lt;h1&gt;Standard two column layout&lt;/h1&gt;
  &lt;p&gt;Fluid left and right columns.&lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;cf&quot;&gt;
  &lt;div class=&quot;shift-left--fluid pad-double bg--brown&quot;&gt;
    &lt;h3 class=&quot;white&quot;&gt;Primary Content&lt;/h3&gt;
  &lt;/div&gt; &lt;!-- /.shift-left--fluid --&gt;
  &lt;div class=&quot;shift-right--fluid pad-double bg--blue&quot;&gt;
    &lt;aside class=&quot;aside&quot;&gt;
      &lt;h3 class=&quot;white&quot;&gt;Secondary Content&lt;/h3&gt;
    &lt;/aside&gt;
  &lt;/div&gt; &lt;!-- /.shift-right--fluid --&gt;
&lt;/div&gt; &lt;!-- /.cf --&gt;
