<blockquote>
  <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
  <p>Nullam vitae hendrerit mauris, quis ullamcorper justo. Curabitur volutpat, nisl nec posuere consequat, mi nunc vulputate dui, vitae laoreet ipsum ante dignissim quam. Phasellus eu erat vel enim bibendum consectetur. In hac habitasse platea dictumst. In euismod ante sed tellus pharetra, condimentum venenatis tellus vestibulum. Aliquam nec diam convallis, tristique sapien ut, dignissim arcu. Morbi mollis vehicula luctus. Aliquam placerat vel mi eget rutrum. Nunc vitae justo risus. Ut vel scelerisque ex. Vivamus eleifend enim lectus, eget ullamcorper enim ultrices feugiat.</p>
</blockquote>
