<div class="text">
  <blockquote class="pullquote u-theme--border-color--darker--left u-theme--color--darker u-padding--right">
    <p>A block quotation is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
  </blockquote>
</div>
