<a href="{{ url }}" class="see-all font--secondary--s theme--primary-text-color">See all {{ see_all_type }} <span class="icon icon--xs">{% include atoms-icon-arrow-right with {'fill_class': 'theme--primary-fill-color'} %}</span></a>
