<a href="{{ url }}" class="see-all u-font--secondary--s u-theme--primary-text-color">See all {{ see_all_type }} <span class="u-icon u-icon--xs">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class': 'u-theme--primary-fill-color'} %}</span></a>
