<div class="u-padding--double--bottom">

  <h2 class="u-space--bottom">Type Styles</h2>

  <div class="u-space u-space--and-half--bottom">

    <h3 class="u-text-decoration--underline">Primary</h3>

    <p class="u-font--primary--xl">.u-font--primary--xl</p>
    <p class="u-font--primary--l">.u-font--primary--l</p>
    <p class="u-font--primary--m">.u-font--primary--m</p>
    <p class="u-font--primary--s">.u-font--primary--s</p>
    <p class="u-font--primary--xs">.u-font--primary--xs</p>
  </div> 


  <div class="u-space u-space--and-half--bottom">

    <h3 class="u-text-decoration--underline">Secondary</h3>

    <p class="u-font--secondary--xl">.u-font--secondary--xl</p>
    <p class="u-font--secondary--l">.u-font--secondary--l</p>
    <p class="u-font--secondary--m">.u-font--secondary--m</p>
    <p class="u-font--secondary--s">.u-font--secondary--s</p>
    <p class="u-font--secondary--xs">.u-font--secondary--xs</p>
  </div>

  <div class="u-space u-padding--double--bottom">

    <h3 class="u-text-decoration--underline">Tertiary</h3>

    <p class="u-font--tertiary--xl">.u-font--tertiary--xl</p>
    <p class="u-font--tertiary--l">.u-font--tertiary--l</p>
    <p class="u-font--tertiary--m">.u-font--tertiary--m</p>
  </div>

</div>
