<div class="u-spacing">
  <h2>Type Styles</h2>
  <div class="u-spacing--half">
    <h3 class="u-text-decoration--underline">Primary</h3>
    <p class="u-font--primary--xxl">.u-font--primary--xxl</p>
    <p class="u-font--primary--xl">.u-font--primary--xl</p>
    <p class="u-font--primary--l">.u-font--primary--l</p>
    <p class="u-font--primary--m">.u-font--primary--m</p>
    <p class="u-font--primary--s">.u-font--primary--s</p>
    <p class="u-font--primary--xs">.u-font--primary--xs</p>
  </div>
  <div class="u-spacing--half">
    <h3 class="u-text-decoration--underline">Secondary</h3>
    <p class="u-font--secondary--xl">.u-font--secondary--xl</p>
    <p class="u-font--secondary--l">.u-font--secondary--l</p>
    <p class="u-font--secondary--m">.u-font--secondary--m</p>
    <p class="u-font--secondary--s">.u-font--secondary--s</p>
    <p class="u-font--secondary--xs">.u-font--secondary--xs</p>
  </div>
</div>
