<div class="spacing--half">
  

<!-- Primary font sizes -->
  <p class="font--primary--xl">.font--primary--xl</p>
  <p class="font--primary--l">.font--primary--l</p>
  <p class="font--primary--m">.font--primary--m</p>
  <p class="font--primary--s">.font--primary--s</p>
  <p class="font--primary--xs">.font--primary--xs</p>
 
<!-- Secondary Font Sizes   -->
  <p class="font--secondary--xl">.font--secondary--xl</p>
  <p class="font--secondary--l">.font--secondary--l</p>
  <p class="font--secondary--m">.font--secondary--m</p>
  <p class="font--secondary--s">.font--secondary--s</p>
  <p class="font--secondary--xs">.font--secondary--xs</p>

<!-- Tertiary Font Sizes -->
  <p class="font--tertiary--xl">.font--tertiary--xl</p>
  <p class="font--tertiary--l">.font--tertiary--l</p>
  <p class="font--tertiary--m">.font--tertiary--m</p>

<!-- Text Transforms -->
  <p class="font--primary--m upper">.font--transform--upper</p>
  <p class="font--primary--m lower">.font--transform--lower</p>

<!-- Text Decoration -->
  <p class="font--primary--m td--u">.text--decorations--underline</p>
</div>