<div class="media-block block spacing--quarter bg--tan can-be--dark-dark block--breakout pad--secondary--for-breakouts">

      <h2 class="font--tertiary--m theme--primary-text-color pad--btm"><div class="icon icon--s"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.22 99.29"><title>List Icon</title><path d="M34.68,54.8H65.57V44.87H34.68V54.8ZM77.58,0.36H22.42a11.06,11.06,0,0,0-11,11V88.61a11.06,11.06,0,0,0,11,11H77.58a11.06,11.06,0,0,0,11-11V11.39A11.06,11.06,0,0,0,77.58.36Zm0,88.26H22.42V11.39H77.58V88.61ZM65.44,23.35H34.56V33H65.44V23.35Zm0,43.3H34.56v9.65H65.44V66.66Z" transform="translate(-11.39 -0.36)" fill="#010101" class="theme--primary-fill-color"/></svg></div> Nulla facilisi</h2>
  
  
  <div class="media-block__inner spacing--quarter   ">
          <a class="media-block__image-wrap block__image-wrap db" href="">
        <div class=" dib"><img class="media-block__image block__image" src="//placehold.it/500x400" alt="Media Block Image Alt" /></div>
      </a> <!-- /.media-block__image-wrap -->
    
    
    <div class="media-block__content block__content ">

              <h3 class="media-block__title block__title font--secondary--m"><a href="" class="block__title-link theme--primary-text-color">Proin venenatis maximus</a></h3>
      
              <time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>
      
      <div class="spacing--half">
                  <div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">Fusce porta sed odio eu dignissim. Vivamus imperdiet libero mattis orci aliquam imperdiet. Vivamus sit amet tortor nec magna tincidunt faucibus sit amet ac sem. Maecenas mattis nibh at urna feugiat posuere. Pellentesque blandit condimentum eros, fermentum ornare diam facilisis eget.</span></p></div>
        
                  <p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="">Vestibulum non lectus</a></p>
              </div> <!-- /.spacing -->

    </div> <!-- media-block__content -->
  </div> <!-- /.media-block__inner -->

</div> <!-- /.media-block -->
