&lt;div class=&quot;share-tools&quot;&gt;
  &lt;div class=&quot;addthis_toolbox addthis_default_style&quot; addthis:url=&quot;{{ share_url }}&quot;&gt;
    &lt;a href=&quot;http://www.addthis.com/bookmark.php?v=250&amp;amp;pubid=ra-4ed4fc0e60966005&quot; class=&quot;addthis_button_compact&quot;&gt;Share&lt;/a&gt;
    &lt;span class=&quot;addthis_separator&quot;&gt;|&lt;/span&gt;
    &lt;a class=&quot;addthis_button_facebook&quot; g:plusone:count=&quot;false&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;addthis_button_twitter&quot; g:plusone:count=&quot;false&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;addthis_button_google_plusone&quot; g:plusone:count=&quot;false&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;addthis_button_email&quot; g:plusone:count=&quot;false&quot;&gt;&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt; &lt;!-- /.share-tools --&gt;
