&lt;blockquote class=&quot;pullquote&quot;&gt;
  &lt;p&gt;{{{ pullquote }}}&lt;/p&gt;&lt;br&gt;
  &lt;cite class=&quot;citation&quot;&gt;&amp;mdash; {{{ pullquote_author }}}&lt;/cite&gt;
&lt;/blockquote&gt; &lt;!-- /.pullquote --&gt;
