<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>o-icon__warning</title>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3L2 9H8L5 3Z" stroke="#717171" stroke-width="2"/>
</svg>
