<div>
	<h2>Icons</h2>
	<div class="u-space--half">
		<h3 class="u-space--half">Names</h3>
		<div class="u-space u-space--quarter--bottom">
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
	</div>
	<div class="u-space--half">
		<h3 class="u-space--half">Colors</h3>
		<div class="u-space">
			<h4 class="u-space--half">Gray</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--l u-path-fill--gray">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">White</h4>
			<ul class="u-space--quarter--bottom u-theme--background-color--base u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--l u-path-fill--white">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
	<div>
	<div class="u-space--half">
		<h3 class="u-space--half">Sizes</h3>
		<div class="u-space">
			<h4 class="u-space--half">Extra Small</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--xs u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Small</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--s u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Medium</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-center-block u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--m u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Large</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--l u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Extra Large</h4>
			<ul class="u-space--quarter--bottom u-padding--bottom u-flex u-flex--wrap o-icon-list">
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-left.twig' %}</span>Arrow Bracket Left</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-bracket-right.twig' %}</span>Arrow Bracket Right</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-left.twig' %}</span>Arrow Short Left</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-short-right.twig' %}</span>Arrow Short Right</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-left.twig' %}</span>Arrow Long Left</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-arrow-long-right.twig' %}</span>Arrow Long Right</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-close.twig' %}</span>Close</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-plus.twig' %}</span>Plus</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-menu.twig' %}</span>Menu</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-find.twig' %}</span>Find</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-contact.twig' %}</span>Contact</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-heart.twig' %}</span>Heart</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-language.twig' %}</span>Language</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-search.twig' %}</span>Search</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-subscribe.twig' %}</span>Subcribe</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-legal.twig' %}</span>Legal</li>
				<li><span class="u-icon u-icon--xl u-path-fill--black">{% include '@atoms/icons/icon-dots.twig' %}</span>Dots</li>
			</ul>
		</div>
	</div>
</div>
