<div>
	<h2>Icons</h2>
	<div class="space-half">
		<h3 class="space-half">Names</h3>
		<div class="space space-5--btm">
			<ul class="space-5--btm dib pad--btm">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %}Arrow Left</li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %}Arrow Right</li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %}Logo </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %}Check</li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %}Magnify</li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %}PDF</li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %}DOC</li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %}World</li>
			</ul>
		</div>
	</div>
	<div class="space-half">
		<h3 class="space-half">Colors</h3>
		<div class="space">
			<h4 class="space-half">Blue</h4>
			<ul class="space-5--btm dib">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--blue'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--blue'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Light Brown</h4>
			<ul class="space-5--btm dib">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--light-brown'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--light-brown'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Gray</h4>
			<ul class="space-5--btm dib">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">White</h4>
			<ul class="space-5--btm dib bg--ming">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--white'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--white'} %} </li>
			</ul>
		</div>
	<div>
	<div class="space-half">
		<h3 class="space-half">Sizes</h3>
		<div class="space">
			<h4 class="space-half">Extra Small</h4>
			<ul class="space-5--btm dib">
				<li class="icon--xs left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xs left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Small</h4>
			<ul class="space-5--btm dib">
				<li class="icon--s left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--s left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Medium</h4>
			<ul class="space-5--btm dib">
				<li class="icon--m left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--m left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Large</h4>
			<ul class="space-5--btm dib">
				<li class="icon--l left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--l left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
		<div class="space">
			<h4 class="space-half">Extra Large</h4>
			<ul class="space-5--btm dib">
				<li class="icon--xl left space">{% include 'atoms-icon-arrow-left' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-arrow-right' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-logo' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-check' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-magnify' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-pdf' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-doc' with {'fill_class' : 'fill--gray'} %} </li>
				<li class="icon--xl left space">{% include 'atoms-icon-world' with {'fill_class' : 'fill--gray'} %} </li>
			</ul>
		</div>
	</div>
</div>
