<h2>Icons</h2>
<div class="space-half">

	<h3 class="space-half">Names</h3>
	
	<div class="cb space">
			
		<ul class="space-5--btm dib">

			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }}Arrow Left</li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }}Arrow Right</li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }}Logo </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--gray') }}Check</li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }}Magnify</li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }}PDF</li>

			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }}DOC</li>
			
			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--gray') }}World</li>

		</ul>
	</div>
</div>	

<div class="space-half">
	<h3 class="space-half">Colors</h3>

	<div class="cb space">
		
		<h4 class="space-half">Blue</h4>

		<ul class="space-5--btm dib">
			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--blue') }} </li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--blue') }} </li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--blue') }} </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--blue') }} </li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--blue') }} </li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--blue') }} </li>
			
			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--blue') }} </li>
			
			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--blue') }} </li>



		</ul>
	</div>	

	<div class="cb space">
		
		<h4 class="space-half">Light Brown</h4>

		<ul class="space-5--btm dib">
			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--light-brown') }} </li>

			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--light-brown') }} </li>

		</ul>
	</div>

	<div class="cb space">
		
		<h4 class="space-half">Gray</h4>

		<ul class="space-5--btm dib">
			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>

	<div class="cb space">
		
		<h4 class="space-half">White</h4>

		<ul class="space-5--btm dib bg--ming">
			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--white') }} </li>

			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--white') }} </li>

		</ul>
	</div>
<div>	







<div class="space-half">
	<h3 class="space-half">Sizes</h3>

	<div class="cb space">
		<h4 class="space-half">Extra Small</h4>

		<ul class="space-5--btm dib">
			<li class="icon--xs left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--xs left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>


	<div class="cb space">
		<h4 class="space-half">Small</h4>

		<ul class="space-5--btm dib">
			<li class="icon--s left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--s left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>

	<div class="cb space">
		<h4 class="space-half">Medium</h4>

		<ul class="space-5--btm dib">
			<li class="icon--m left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--m left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>	

	<div class="cb space">
		<h4 class="space-half">Large</h4>

		<ul class="space-5--btm dib">
			<li class="icon--l left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--l left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>	

	<div class="cb space">
		<h4 class="space-half">Extra Large</h4>

		<ul class="space-5--btm dib">
			<li class="icon--xl left space">{{> atoms-icon-arrow-left(fill_class : 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-arrow-right(fill_class : 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-logo(fill_class: 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-check(fill_class: 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-magnify(fill_class: 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-pdf(fill_class: 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-doc(fill_class: 'fill--gray') }} </li>

			<li class="icon--xl left space">{{> atoms-icon-world(fill_class: 'fill--gray') }} </li>

		</ul>
	</div>	
</div>	



