<div>
	<h2>Icons</h2>
	<div class="u-space--half">
		<h3 class="u-space--half">Names</h3>
		<div class="u-space u-space--quarter--bottom">
			<ul class="u-space--quarter--bottom u-display--inline-block u-padding--bottom">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %}Arrow Left</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %}Arrow Right</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %}Logo </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %}Check</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %}Magnify</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %}PDF</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %}DOC</li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %}World</li>
			</ul>
		</div>
	</div>
	<div class="u-space--half">
		<h3 class="u-space--half">Colors</h3>
		<div class="u-space">
			<h4 class="u-space--half">Blue</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--blue'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Light Brown</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--light-brown'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Gray</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">White</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block u-background-color--ming">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--white'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--white'} %} </li>
			</ul>
		</div>
	<div>
	<div class="u-space--half">
		<h3 class="u-space--half">Sizes</h3>
		<div class="u-space">
			<h4 class="u-space--half">Extra Small</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xs left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Small</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--s left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Medium</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--m left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Large</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--l left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
		<div class="u-space">
			<h4 class="u-space--half">Extra Large</h4>
			<ul class="u-space--quarter--bottom u-display--inline-block">
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-arrow-left.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-arrow-right.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-logo.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-check.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-magnify.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-pdf.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-doc.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
				<li class="u-icon--xl left u-space">{% include '@atoms/icons/icon-world.twig' with {'fill_class' : 'u-fill--gray'} %} </li>
			</ul>
		</div>
	</div>
</div>
