<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>o-icon__trolly</title>
  <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="10" height="10">
    <rect width="10" height="10" fill="white"/>
  </mask>
  <g mask="url(#mask0)">
    <circle cx="2.5" cy="8.5" r="1.5" fill="#717171"/>
    <rect x="0.5" y="0.5" width="1" height="1" stroke="#717171"/>
    <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="6" y="2" width="4" height="6">
      <rect x="6" y="2" width="4" height="6" fill="white"/>
    </mask>
    <g mask="url(#mask1)">
      <path d="M9 0L8 7H6" stroke="#717171" stroke-width="2"/>
    </g>
    <path d="M7 7H3L2 0" stroke="#717171" stroke-width="2"/>
    <rect x="2.5" y="2.5" width="5" height="1" stroke="#717171"/>
    <circle cx="8.5" cy="8.5" r="1.5" fill="#717171"/>
  </g>
</svg>
