<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>o-icon__error</title>
  <ellipse cx="6" cy="3.5" rx="3" ry="1.5" stroke="#717171" stroke-width="2"/>
  <circle cx="2" cy="8" r="1" transform="rotate(90 2 8)" stroke="#717171" stroke-width="2"/>
  <circle cx="10" cy="8" r="1" transform="rotate(-180 10 8)" stroke="#717171" stroke-width="2"/>
  <rect x="5.5" y="0.5" width="1" height="1" stroke="#717171"/>
  <rect x="2.5" y="5.5" width="1" height="1" stroke="#717171"/>
  <rect x="8.5" y="5.5" width="1" height="1" stroke="#717171"/>
  <rect x="1.5" y="8.5" width="9" height="1" stroke="#717171"/>
</svg>
