<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>o-icon__info</title>
  <circle cx="5" cy="5" r="4" stroke="#717171" stroke-width="2"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4 6H6V9H4V6Z" fill="#717171"/>
  <circle cx="5" cy="4" r="1" fill="#717171"/>
</svg>
