/*------------------------------------*\
    $TEXT ELEMENTS
\*------------------------------------*/

/**
 * Text-Related Elements
 */
p {
  @include text-styles;
  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Bold
 */
strong, b {
  font-weight: 600;
}

/**
 * Blockquote
 */
blockquote {
  padding: 0;
  border: none;
  text-align: left;
  position: relative;
  quotes: "\201C""\201D""\2018""\2019";
  padding-left: $pad;
  p {
    font-size: rem(24);
    line-height: 1.3;
    margin-bottom: 1em;
    position: relative;
    z-index: 10;
    font-style: italic;
    text-indent: rem(25);
    &:after {
      content: close-quote;
    }
    &:before {
      content: open-quote;
      position: absolute;
      left: rem(-20);
      top: 0;

    }
  }
}

/**
 * Horizontal Rule
 */
hr {
  height: 1px;
  border: none;
  background-color: $gray-light;
  margin: 0;
  @include center-block;
}

/**
 * Abbreviation
 */
abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}
