/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Flexible Media
 */
img, video, object, svg, iframe {
  max-width: 100%;
  border: none;
}
svg {
  max-height: 100%;
}
picture,
picture img {
  display: block;
}
figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
figcaption {
  a {
    display: block;
  }
}

/*------------------------------------*\
    $PRINT STYLES
\*------------------------------------*/

@media print {
  @page {
    margin: 1in 0.5in 0.5in;
    orphans: 4;
    widows: 3;
  }
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    .logo__link {
      background-color: #000!important;
      margin: 0 auto;
    }
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  p, li, pre, figure, blockquote, h1, h2, h3, h4, h5  {
    page-break-inside: avoid;
  }
  section {
    page-break-before: always;
  }
  body,
  article {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .no-print,
  .ad {
    display: none;
  }
  #header {
    position: relative;
    display: block!important;
  }
  p:first-letter,
  span:first-letter{
    font-size: 100%!important;
    display: flex;
  }
  .kicker,
  .article__meta,
  .block__description span {
    display: flex;
    line-height: 1.6;
  }
  .divider {
    padding-left: 15px;
    padding-right: 10px;
    margin: 0;
    text-align: center;
    border: none;
  }
  .hero-carousel,
  .footer__unify-nav-desc,
  .nav-toggle,
  .at-cv-lightbox,
  .share-tools,
  #comments,
  .fitvid,
  .breakout,
  .article-nav__search,
  .article-nav {
    display: none;
  }
  .btn {
    border:1px solid #000;
  }
}
