/*------------------------------------*\
    $SITE MAIN
\*------------------------------------*/

body {
  background: $c-white;
  font: 400 100%/1.3 $ff-font;
  -webkit-text-size-adjust: 100%;
  color: $c-body-color;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
