@media print {
  @page {
    margin: 0.5in;
    size: 8.5in 11in;
  }

  body {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    color: black;
    background: white;
  }

  // pre,
  // blockquote,
  // tr,
  // img,
  // ul,
  // p,
  // button {
  //   display: block;
  //   page-break-inside: avoid;
  // }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  img,
  picture {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  // h2,
  // h3 {
  //   page-break-after: avoid;
  // }

  /*
   * Theme specific print styles.
   */
  .c-header {
    border-bottom: 1px solid black;
  }

  .c-header__nav-primary,
  .c-header__nav-secondary,
  .c-footer__primary-nav,
  .c-footer__secondary-nav,
  .c-footer__logo,
  .c-theme-switcher,
  .c-theme-switcher.this-is-active,
  .c-drawer,
  .c-comment-form,
  .sg-header,
  video,
  audio,
  object,
  embed,
  iframe,
  .fitvid,
  .o-figure--video {
    display: none !important;
  }

  .l-sabbath {
    border-left: 1px solid black;
    background-color: white;
    z-index: 9999;

    &__overlay {
      display: none;
    }

    > div:not(.l-sabbath__logo) {
      display: none !important;
    }

    &__logo {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }

    svg path {
      fill: black !important;
    }
  }

  .l-main {
    min-height: auto;
    display: flex;
    flex-direction: column;
  }

  .u-color--white,
  .u-color--white a,
  .u-color--white * {
    color: black;
  }

  .c-page-header__feature.has-scroll a {
    color: white;
  }

  .c-comment__list {
    margin-top: $space;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
