/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Flexible Media
 */
img, video, object, svg, iframe {
  max-width: 100%;
  border: none;
  height: auto;
}

svg {
  max-height: 100%;
}

picture,
picture img {
  display: block;
}

figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

figcaption {
  padding: ($pad-mobile / 2) $pad-mobile;

  @include media(">large") {
    padding: ($pad / 2) $pad;
  }


  a {
    display: block;
  }
}

.o-figure {
  display: block;
}
