/*------------------------------------*\
    $TABLES
\*------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $gray;
  width: 100%;
}
th {
  text-align: left;
  border: 1px solid transparent;
  background-color: $white;
  border-bottom: $gray solid 1px;
  padding: 0.2em;
  font-size: rem(14);
  padding: $pad-half;
}
tr {
  border: 1px solid transparent;
  &:nth-child(even){
    background-color: lighten($denim, 60%);
  }
}
td {
  border: 1px solid transparent;
  padding: $pad-half;
  font-size: rem(14);
}

/**
 * Table Layout
 */
.t {
  display: table;
}
.t-cell {
  display: table-cell;
}
