/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */
.layout-container {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-left: $pad;
  padding-right: $pad;
  width: 100%;
  @include media('>large') {
    padding-left: $pad;
    padding-right: $pad;
  }
  @include media('>xxlarge') {
    padding-left: 0;
    padding-right: 0;
  }
}
.layout-container--s {
  max-width: rem(650);
}
.layout-container--s-m {
  max-width: rem(700);
}
.layout-container--m {
  max-width: rem(800);
}
.layout-container--l {
  max-width: rem(1000);
}
.layout-container--xl {
  max-width: rem(1250);
}

// Stretch out of layout container.
.full--until-large {
  @include media('<=large') {
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Wrapping element to keep content contained and centered.
 */
.wrap {
  max-width: $max-width;
  margin: 0 auto;
}

// 16:9
.intrinsic-ratio--16-9 {
  @include aspect-ratio(16, 9);
}


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

.column__primary {
  padding-top: $pad-and-half;
  padding-bottom: $pad;
  @include media('>medium') {
    padding-top: $pad-double;
  }
  @include media('>large') {
    padding-bottom: $pad-double;
  }
  @include media('>xlarge') {
    padding-top: rem(80);
  }
}
.column__secondary {
  padding-top: $pad-and-half;
  padding-bottom: $pad-and-half;
  background-color: $beige;
  @include media('>medium') {
    padding-top: $pad-double;
    padding-bottom: $pad-double;
  }
}
// Padding for main content column
.pad--primary {
  padding-left: $pad;
  padding-right: $pad;
  @include media('>large') {
    padding-left: rem(60);
    padding-right: rem(60);
  }
}
// Padding for secondary column
.pad--secondary {
  padding-left: $pad;
  padding-right: $pad;
  @include media('>large') {
    padding-left: $pad-double;
    padding-right: $pad-double;
  }
}
.pad--secondary--for-breakouts {
  padding: $pad-and-half;
  @include media('>large') {
    padding: rem(50);
  }
}


/*------------------------------------*\
    $LAYOUT SHIFTERS
\*------------------------------------*/

/**
 * Shift at 900px (large breakpoint) with fluid left and right columns.
 */
.flex-container {
  @include media('>large') {
    display: flex;
    align-items: stretch;
  }
}
.shift-left--fluid {
  width: 100%;
  @include media('>large') {
    float: left;
    width: 68%;
  }
}
.shift-right--fluid {
  @include media('>large') {
    float: right;
    width: 32%;
  }
}

/**
 * Shift at 900px (large breakpoint) with static right rail.
 */
.shift-left--static {
  width: 100%;
  @include media('>large') {
    float: left;
    margin-right: rem(-300);
  }
}
.shift-left--inner--static {
  @include media('>large') {
    margin-right: rem(300);
  }
}
.shift-right--static {
  @include media('>large') {
    float: right;
    width: rem(300);
    position: relative;
    z-index: 1;
  }
}
