/*------------------------------------*\
    $COLOR MODIFIERS
\*------------------------------------*/

/**
 * Text Colors
 */
.gray {
  color: $gray;
}

.gray--med {
  color: $gray-med;
}

.gray--light {
  color: $gray-light;
}

.gray--dark,
.gray--dark a {
  color: $gray-dark;
}

.black,
.black a {
  color: $black;
}

.black--trans {
  color: rgba($black, 0.7);
}

.white {
  color: $white;
}

.white--trans {
  color: rgba($white, 0.7);
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}

.red {
  color: red;
}

.brown {
  color: $brown;
}

.brown--light {
  color: $brown-light;
}

/**
 * Link Colors
 */
.u-link--white {
  color: $white;

  &:hover {
    color: $brown-light;
  }
}

.u-link--brown-light {
  color: $brown-light;

  &:hover {
    color: $white;
  }
}

.u-link-hover--white:hover {
  color: $white;
}

/**
 * Background Colors
 */
.u-background-color--none {
  background: none;
}

.u-background-color--white {
  background-color: $white;
}

.u-background-color--black {
  background-color: $black;
}

.u-background-color--blue {
  background-color: $blue;
}

.u-background-color--gray {
  background-color: $gray;
}

.u-background-color--medium-gray {
  background-color: $gray-med;
}

.u-background-color--light-gray {
  background-color: $gray-light;
}

.u-background-color--dark-gray {
  background-color: $gray-dark;
}

.u-background-color--red {
  background-color: $red;
}

.u-background-color--brown {
  background-color: $brown;
}

.u-background-color--medium-brown {
  background-color: $brown-med;
}

.u-background-color--beige {
  background-color: $beige;
}

.u-background-color--tan {
  background-color: $tan;
}

// Theme colors
.u-background-color--emperor {
  background-color: $emperor;
}

.u-background-color--earth {
  background-color: $earth;
}

.u-background-color--grapevine {
  background-color: $grapevine;
}

.u-background-color--denim {
  background-color: $denim;
}

.u-background-color--campfire {
  background-color: $campfire;
}

.u-background-color--treefrog {
  background-color: $treefrog;
}

.u-background-color--ming {
  background-color: $ming;
}

.u-background-color--cool {
  background-color: $cool;
}

.u-background-color--warm {
  background-color: $warm;
}

.u-background-color--dark-light {
  background-color: $dark-light;
}

.u-background-color--dark-dark {
  background-color: $dark-dark;
}

/**
 * Colored Left Borders
 */
.u-border--left {
  position: relative;
  padding-left: $pad;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: rem(15);
    background-color: $blue;
  }

  &--emperor:before {
    background-color: $emperor;
  }

  &--earth:before {
    background-color: $earth;
  }

  &--grapevine:before {
    background-color: $grapevine;
  }

  &--denim:before {
    background-color: $denim;
  }

  &--campfire:before {
    background-color: $campfire;
  }

  &--treefrog:before {
    background-color: $treefrog;
  }

  &--ming:before {
    background-color: $ming;
  }

  &--cool:before {
    background-color: $cool;
  }

  &--warm:before {
    background-color: $warm;
  }

  &--blue:before {
    background-color: $blue;
  }

  &--brown:before {
    background-color: $brown;
  }

  &--red:before {
    background-color: $red;
  }
}

/**
 * States
 */
.u-color--valid {
  color: $valid;
}

.u-color--error {
  color: $error;
}

.u-color--warning {
  color: $warning;
}

.u-color--information {
  color: $information;
}

/**
 * SVG Fill Colors
 */
.u-fill--gray {
  fill: $body-color;
}

.u-fill--white {
  fill: $white;
}

.u-fill--blue {
  fill: $blue;
}

.u-fill--light-brown {
  fill: $brown-light;
}
