/*------------------------------------*\
    $COLOR MODIFIERS
\*------------------------------------*/

/**
 * Text Colors
 */
.u-color--gray {
  color: $c-gray;
}

.u-color--gray-medium {
  color: $c-gray--medium;
}

.u-color--gray-light {
  color: $c-gray--light;
}

.u-color--gray-dark,
.u-color--gray-dark a {
  color: $c-gray--dark;
}

.u-color--black,
.u-color--black a {
  color: $c-black;
}

.u-color--black-transparent {
  color: rgba($c-black, 0.7);
}

.u-color--white {
  color: $c-white;
}

.u-color--white-transparent {
  color: rgba($c-white, 0.7);
}

.u-color--red {
  color: red;
}

.u-color--brown {
  color: $c-brown;
}

.u-color--brown-light {
  color: $c-brown--light;
}

/**
 * Link Colors
 */
.u-link--white {
  color: $c-white;

  &:hover {
    color: $c-brown--light;
  }
}

.u-link--brown-light {
  color: $c-brown--light;

  &:hover {
    color: $c-white;
  }
}

/**
 * Background Colors
 */
.u-background-color--none {
  background: none;
}

.u-background-color--white {
  background-color: $c-white;
}

.u-background-color--black {
  background-color: $c-black;
}

.u-background-color--blue {
  background-color: $c-blue;
}

.u-background-color--gray {
  background-color: $c-gray;
}

.u-background-color--gray-medium {
  background-color: $c-gray--medium;
}

.u-background-color--gray-light {
  background-color: $c-gray--light;
}

.u-background-color--gray-dark {
  background-color: $c-gray--dark;
}

.u-background-color--red {
  background-color: $c-red;
}

.u-background-color--brown {
  background-color: $c-brown;
}

.u-background-color--brown-medium {
  background-color: $c-brown--medium;
}

.u-background-color--beige {
  background-color: $c-beige;
}

.u-background-color--tan {
  background-color: $c-tan;
}

// Theme colors
.u-background-color--emperor {
  background-color: $c-emperor;
}

.u-background-color--earth {
  background-color: $c-earth;
}

.u-background-color--grapevine {
  background-color: $c-grapevine;
}

.u-background-color--denim {
  background-color: $c-denim;
}

.u-background-color--campfire {
  background-color: $c-campfire;
}

.u-background-color--treefrog {
  background-color: $c-treefrog;
}

.u-background-color--ming {
  background-color: $c-ming;
}

.u-background-color--cool {
  background-color: $c-cool;
}

.u-background-color--warm {
  background-color: $c-warm;
}

.u-background-color--dark-light {
  background-color: $c-dark--light;
}

.u-background-color--dark-dark {
  background-color: $c-dark--dark;
}

/**
 * Colored Left Borders
 */
.u-border--left {
  position: relative;
  padding-left: $pad;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: rem(15);
    background-color: $c-blue;
  }

  &--emperor:before {
    background-color: $c-emperor;
  }

  &--earth:before {
    background-color: $c-earth;
  }

  &--grapevine:before {
    background-color: $c-grapevine;
  }

  &--denim:before {
    background-color: $c-denim;
  }

  &--campfire:before {
    background-color: $c-campfire;
  }

  &--treefrog:before {
    background-color: $c-treefrog;
  }

  &--ming:before {
    background-color: $c-ming;
  }

  &--cool:before {
    background-color: $c-cool;
  }

  &--warm:before {
    background-color: $c-warm;
  }

  &--blue:before {
    background-color: $c-blue;
  }

  &--brown:before {
    background-color: $c-brown;
  }

  &--red:before {
    background-color: $c-red;
  }
}

/**
 * States
 */
.u-color--valid {
  color: $c-valid;
}

.u-color--error {
  color: $c-error;
}

.u-color--warning {
  color: $c-warning;
}

.u-color--information {
  color: $c-information;
}

/**
 * SVG Fill Colors
 */
.u-fill--gray {
  fill: $c-body-color;
}

.u-fill--white {
  fill: $c-white;
}

.u-fill--blue {
  fill: $c-blue;
}

.u-fill--light-brown {
  fill: $c-brown--light;
}
