/*------------------------------------*\
    $ARTICLE
\*------------------------------------*/

.page--pad {
  @include mq($px350, max) {
    padding-left: rem(10);
    padding-right: rem(10);
  }
  padding-left: $pad;
  padding-right: $pad;
  @include mq($px1000) {
    padding-left: 0;
    padding-right: 0;
  }
}

/*------------------------------------*\
    $ARTICLE HEADER
\*------------------------------------*/

.article__title {
  font-size: rem(30);
  line-height: 1;
  margin-bottom: rem(8);
  @include mq($px750) {
    font-size: rem(34);
  }
  @include mq($px1000) {
    font-size: rem(44);
  }
  @include mq($px1200) {
    font-size: rem(55);
  }
}

// Longform header
.longform__header {
  position: relative;
  padding-top: $pad-double;
  @include media('>medium') {
    padding-top: rem(80);
  }
  @include media('>xlarge') {
    padding-top: rem(120);
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: 0;
    background-color: $beige;
  }
}

/*------------------------------------*\
    $BODY OF ARTICLE
\*------------------------------------*/

.article__body,
.article__flow {
  max-width: rem(700);
  margin-left: auto;
  margin-right: auto;
}
.article__body {
  padding-bottom: $pad-double;
  > figure:first-child {
    margin-top: 0;
    @include media('>medium') {
      margin-top: $space-half;
    }
  }
}


/*------------------------------------*\
    $IMAGE/FIGURE ALIGNMENT
\*------------------------------------*/

.aligncenter {
  @include center-block;
}
.alignright {
  float: none;
  padding-left: 0;
  @include media('>medium') {
    float: right;
    max-width: rem(400);
    width: 50%;
    margin: rem(5) 0 $space $space-and-half;
  }
}
.alignleft {
  float: none;
  padding-right: 0;
  width: 100%;
  clear: left;
  @include media('>medium') {
    float: left;
    max-width: rem(400);
    width: 50%;
    margin: rem(5) $space-and-half $space 0;
  }
}
.alignleft,
.alignright,
.aligncenter {
  @include media('<=medium') {
    width: auto;
  }
  &:first-child {
    margin-top: rem(5);
  }
}
.aligncenter {
  width: 100%;
}
.size--small,
.size--medium,
.size--large {
  .img-wrap {
    display: block;
  }
  @include media('<=medium') {
    margin-left: auto;
    margin-right: auto;
  }
}
.size--small {
  @include media('>medium') {
    max-width: rem(300);
  }
}
.size--medium {
  @include media('<=medium') {
    margin-left: auto;
    margin-right: auto;
  }
  @include media('>medium') {
    width: 40%;
    max-width: rem(320);
  }
}
.size--large {
  width: 100%;
}
.size-full {
  display: block;
}

// Longform article body
.longform__body {
  max-width: none;
  p,
  ul, ol,
  h1, h2, h3, h4, h5, h6,
  .size--large,
  .size--half {
    max-width: rem(700);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .size--medium {
    @include media('>large') {
      width: auto;
      max-width: rem(450);
    }
  }
  .size--half {
    @include media('>large') {
      float: left;
      width: 49%;
      clear: left;
      margin-bottom: $space-and-half;
      + .size--half {
        float: right;
        clear: right;
        + p,
        + ul, + ol,
        + h1, + h2, + h3, + h4, + h5, + h6,
        .size--large {
          clear: both;
        }
      }
    }
  }
}
