/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.c-footer {
  padding: $pad*2 0;

  &--inner > div {
    @include media('<=medium') {
      margin-top: $space*2;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__primary-nav {
    &__list {
      display: flex;
      flex-direction: column;
    }
  }

  &__secondary-nav {
    @include media('>medium') {
      order: 3;
      margin-top: $space*2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    @include media('>large') {
      order: 2;
      justify-content: flex-start;
      margin-top: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__link {
      display: flex;

      .u-icon {
        width: rem(12);
      }
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media('>medium') {
      order: 2;
    }

    @include media('>large') {
      order: 3;
    }
  }
}
