/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/

.main {
  overflow: hidden;
  @include media('>medium') {
    background-color: $beige;
  }
}

/**
 * Browser Update message
 */
.buorg {
  z-index: 60000000; // Appear over header
}

