/*------------------------------------*\
    $DISPLAY STATES
\*------------------------------------*/

/**
 * Display Classes
 */
.u-display--inline-block {
  display: inline-block;
}

.u-display--block {
  display: block;
}

// Shift classes
.u-shift--right--1-col--at-medium {
  @include media('>medium') {
    margin-right: calc((100vw/7) * -1);
  }
}

.u-shift--left--1-col--at-medium {
  @include media('>medium', '<=large') {
    margin-left: calc((100vw/7) * -1);
  }

  @include media('>xxlarge') {
    margin-left: calc((100vw/7) * -1);
  }
}

// Specific Widths - visible greater than #
.u-hide-until--s {
  @include media('<=small') {
    display: none;
  }
}

.u-hide-until--m {
  @include media('<=medium') {
    display: none;
  }
}

.u-hide-until--l {
  @include media('<=large') {
    display: none;
  }
}

.u-hide-until--l {
  @include media('<=xlarge') {
    display: none;
  }
}

// Specific Widths - hide greater than #
.u-hide-after--s {
  @include media('>small') {
    display: none;
  }
}

.u-hide-after--m {
  @include media('>medium') {
    display: none;
  }
}

.u-hide-after--l {
  @include media('>large') {
    display: none;
  }
}

.u-hide-after--xl {
  @include media('>xlarge') {
    display: none;
  }
}
