/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.c-footer {
  padding: $pad*2 0;

  @include media('>large') {
    position: relative;
  }

  &--inner {
    @include media('>large') {
      flex-wrap: nowrap;
      padding-bottom: $pad*4;
    }

    > .l-grid-item {
      @include media('<=medium') {
        margin-top: $space-mobile*2;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__description {
    order: 1;
  }

  &__primary-nav {
    order: 2;

    &__list {
      display: flex;
      flex-direction: column;
    }
  }

  &__secondary-nav {
    order: 3;
    flex-shrink: 0;

    @include media('>medium') {
      margin-top: $space*2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      order: 5;
    }

    @include media('>large') {
      order: 2;
      justify-content: flex-start;
      margin-top: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__link {
      display: flex;

      .u-icon {
        width: rem(12);
      }
    }
  }

  &__logo {
    order: 0;
    margin-bottom: $space-mobile;
    margin-top: 0 !important;
    display: none;

    svg {
      max-width: calc(100vw / 7 * 1);
    }

    @include media('>medium') {
      order: 3;
      margin-bottom: 0;
    }

    @include media('>large') {
      order: 4;
    }
  }

  &__legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    order: 5;

    @include media('>medium') {
      order: 4;
    }

    @include media('>large') {
      order: 5;
      position: absolute;
      bottom: $pad*2;
      left: 0;
    }
  }
}

.c-footer__primary-nav__link,
.c-footer__secondary-nav__link {
  font-family: $ff-font--secondary;
  font-size: rem(13);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.c-footer__copyright,
.c-footer__address {
  font-family: $ff-font;
  font-size: rem(13);
  line-height: 1.7;
}
