/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-header {
  display: flex;
  padding-top: $pad;
}

.c-header--inner {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media('>medium') {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.c-header__logo {
  width: 50%;
  max-width: rem(300);
  height: auto;
  padding-bottom: $pad;

  @include media('>medium') {
    width: rem(300);
    padding-bottom: 0;
    margin-right: $space;
  }
}

.c-header__nav {
  width: 100%;

  @include media('>medium') {
    width: calc(100% - 300px);
  }
}

// Primary Nav
.c-header__nav-primary {
  z-index: 1;

  .c-primary-nav {
    display: none;
    position: relative;
    justify-content: flex-end;
    float: right;

    @include media('>medium') {
      display: inline-table;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: flex-end;
      padding-right: rem(30);
      position: relative;

      &::after {
        content: "";
        background: white;
        height: rem(80);
        width: 100%;
        display: block;
        position: absolute;
        top: rem(30);
        z-index: 1;
      }
    }


    &__list-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        .c-primary-nav__subnav {
          display: block;
          visibility: visible;
          opacity: 1;
          z-index: 9;
        }
      }
    }

    &__link {
      display: block;
      padding: $pad/2;
      display: flex;
      align-items: center;

      span {
        margin-left: rem(4);
      }
    }

    &__list-item__toggle {
      width: rem(30);
      position: absolute;
      right: 0;
      cursor: pointer;
      justify-content: flex-end;
      padding: $pad/2;
      z-index: 99;

      .u-icon {
        position: relative;

        svg {
          position: absolute;
        }
      }
    }

    .c-subnav__arrow {
      position: relative;
      left: rem(-5);
    }
  }
}

// Secondary Nav
.c-header__nav-secondary {
  z-index: 2;

  .c-secondary-nav {
    margin-left: -$space;
    margin-right: -$space;

    @include media('>medium') {
      margin-left: 0;
      margin-right: 0;
    }

    &__list {
      height: rem(35);
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include media('>medium') {
        justify-content: flex-end;
        align-items: center;
      }
    }

    &__list-item {
      display: none;

      @include media('>medium') {
        display: inline-block;
      }

      &.is-priority {
        display: inline-block;
      }
    }

    &__list-item__menu {
      @include media('>medium') {
        display: none !important;
      }
    }

    &__link {
      white-space: nowrap;
      padding: $pad/2;
      display: flex;
      align-items: center;

      span {
        margin-right: rem(4);
        margin-left: rem(4);
        position: relative;

        svg {
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

// Subnav
.c-header .c-subnav {
  background: transparent !important;
}

.c-subnav {
  visibility: visible;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  width: auto;
  position: absolute;
  right: $pad/2;
  top: 0;
  flex-direction: column;
  z-index: -1;

  &.c-primary-nav__subnav {
    padding-top: rem(10);
    top: rem(30);
  }

  &.c-secondary-nav__subnav {
    padding-top: rem(10);
    top: rem(20);
  }

  &__list-item {
    background: $c-gray--light;
    border-left: 1px solid $c-black;
    position: relative;
    display: block;
    width: 100%;

    &:first-child {
      padding-top: $space/2;
    }

    &:last-child {
      padding-bottom: $space/2;
    }
  }

  &__link {
    padding: $pad/2 $pad;
    display: block;
    white-space: nowrap;
  }
}

.has-subnav {
  position: relative;

  &.this-is-active {
    ul.c-subnav {
      display: flex;
    }
  }
}

// Mobile menu
.c-drawer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;

  &.this-is-active {
    visibility: visible;
    opacity: 1;
    z-index: 999;

    .c-drawer__toggle,
    .c-drawer__container {
      right: 0;
    }
  }

  &__toggle {
    right: -100%;
    transition: right 0.25s ease-in-out;
    transition-delay: 0.25s;
    background-color: rgba($c-black, 0.8);
    position: relative;
    min-width: rem(50);
    cursor: pointer;

    .o-icon__close{
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__container {
    position: fixed;
    right: -100%;
    transition: right 0.25s ease-in-out;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: $pad;
    padding-bottom: $space*2;

    @include media('>medium') {
      padding: $pad $pad 0 $pad*2;
    }

    &.subnav-is-active {
      @include media('<=medium') {
        overflow: hidden;
      }
    }
  }

  .has-subnav {
    padding: 0;
    position: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.this-is-active {
      .c-subnav {
        opacity: 1;
        visibility: visible;
        height: auto;
        z-index: 999;
      }
    }

    @include media('<=medium') {
      right: -100%;
      transition: right 0.25s ease-in-out;
    }
  }

  svg path {
    fill: $c-white;
  }

  // Drawer Primary Nav
  &__nav-primary {
    z-index: 2;
  }

  .c-primary-nav {
    &__list {
      @include media('>medium') {
        max-width: rem(300);
        position: relative;

        &.this-is-active {
          .c-primary-nav__list-item.this-is-active {
            opacity: 1;
          }

          .c-primary-nav__list-item {
            opacity: 0.4;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &__list-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      // @include media('>medium') {
      //   &:hover {
      //     opacity: 0.5;
      //   }
      // }

      &.this-is-active {
        @include media('<=medium') {
          position: absolute;
          top: 0;
          right: 0;
          padding: $pad*2;
          display: block;

          .c-primary-nav__link {
            display: block;
            padding-top: 0;
            padding-bottom: $pad/2;
            font-family: $ff-font;
            font-size: rem(20);
            z-index: 999;

            &::before {
              content: "";
              display: inline-block;
              background: url('../images/icons/o-arrow__bracket--left.svg') center center no-repeat;
              background-size: rem(10);
              width: rem(10);
              height: rem(10);
            }
          }

          .c-subnav__arrow {
            top: 0;
            left: 0;
            width: 100%;
            height: rem(60);
            z-index: 9999;
            position: absolute;

            &::after {
              display: none;
            }
          }

          .c-primary-nav__subnav {
            height: 100vh;
            position: relative;
            margin: 0;
            padding: 0;
            padding-top: $pad;
            border-top: 1px solid $c-white;
            overflow: scroll;
            z-index: 999;

            &__list-item {
              background-color: transparent;
              padding-top: 0;
            }

            &__link {
              color: $c-white;
              padding: $pad/4 0;
              transition: none;
            }
          }
        }
      }
    }

    &__link {
      width: calc(100% - 50px);
      padding: $pad/2 0;
      justify-content: space-between;
      align-items: center;
      transition: none;
      color: $c-white;

      &:hover {
        color: $c-white !important;
      }
    }

    .c-subnav__arrow {
      width: rem(50);
      height: rem(30);
      min-width: rem(50);
      text-align: center;
      position: relative;
      cursor: pointer;

      &::after {
        border-right: 0;
        height: 0;
        width: 0;
        border-top: rem(5) solid transparent;
        border-bottom: rem(5) solid transparent;
        border-left: rem(5) solid $c-white;
        float: right;
        position: relative;
        top: rem(11);
        display: inline-block;
      }
    }

    &__list-item__toggle,
    &__toggle {
      display: none;
    }
  }

  // Drawer Secondary Nav
  &__nav-secondary {
    z-index: 1;
  }

  .c-secondary-nav {
    margin-top: $space;

    @include media('>medium') {
      margin-top: 0;
    }

    &__list {
      position: relative;

      @include media('>medium') {
        max-width: rem(300);
      }
    }

    &__list-item {
      display: flex;

      &__toggle {
        display: none;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &__link {
      padding: $pad/2 0;
      transition: none;
      color: $c-white;

      &:hover {
        color: $c-white !important;
      }
    }
  }

  // Drawer Subnav
  .c-subnav {
    left: 0;
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    width: 100%;
    min-width: rem(270);
    height: 0;
    top: 0;
    transition: none;

    @include media('>medium') {
      transition: all 0.25s ease;
      position: absolute;
      left: rem(320);
      //padding-left: $space*2;
      padding-top: $space/4;
      margin-bottom: $space/2;
      background: transparent !important;
    }

    &__list-item {
      background-color: $c-white;
      border: 0;

      &:first-child {
        padding-top: $pad/2;
      }

      &:last-child {
        padding-bottom: $pad/2;
      }
    }

    &__link {
      padding: $pad/4 $pad/2;
      white-space: normal;
    }
  }

  &__search {
    input {
      background-color: transparent;
      color: $c-white;
      border: 0;
      border-bottom: 1px solid $c-white;
      font-size: rem(20);
      font-family: $ff-font;
      outline: 0;
      padding: $pad/2 0;

      &::placeholder {
        color: $c-white;
      }
    }
  }

  &__nav,
  &__about {
    display: flex;
    flex-direction: column;

    @include media('>medium') {
      flex-direction: row;

      > div {
        width: 50%;

        &:first-child {
          padding-right: $pad;
        }

        &:last-child {
          padding-left: $pad;
        }
      }
    }
  }

  &__about-right {
    margin-top: $space;

    @include media('>medium') {
      margin-top: 0;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}

.o-icon__close {
  display: block;
  width: rem(50);
  height: rem(50);
  cursor: pointer;

  span {
    height: rem(1.5);
    width: rem(25);
    display: block;
    content: "";
    background-color: $c-white;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
