/*------------------------------------*\
    $SPACING
\*------------------------------------*/

/**
 * Padding
 */
.u-padding {
  padding: $pad;

  &--top {
    padding-top: $pad;
  }

  &--bottom {
    padding-bottom: $pad;
  }

  &--left {
    padding-left: $pad;
  }

  &--right {
    padding-right: $pad;
  }

  &--quarter {
    padding: $pad/4;

    &--top {
      padding-top: $pad/4;
    }

    &--bottom {
      padding-bottom: $pad/4;
    }
  }

  &--half {
    padding: $pad/2;

    &--top {
      padding-top: $pad/2;
    }

    &--bottom {
      padding-bottom: $pad/2;
    }
  }

  &--and-half {
    padding: $pad*1.5;

    &--top {
      padding-top: $pad*1.5;
    }

    &--bottom {
      padding-bottom: $pad*1.5;
    }
  }

  &--double {
    padding: $pad*2;

    &--top {
      padding-top: $pad*2;
    }

    &--bottom {
      padding-bottom: $pad*2;
    }

    &--left {
      padding-left: $pad*2;
    }

    &--right {
      padding-right: $pad*2;
    }
  }

  &--triple {
    padding: $pad*3;
  }

  &--quad {
    padding: $pad*4;
  }

  &--zero {
    padding: 0;

    &--top {
      padding-top: 0;
    }

    &--bottom {
      padding-bottom: 0;
    }
  }
}

/**
 * Spacing
 */
// For more information on this spacing technique, please see:
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls.

.u-spacing {
  & > * + * {
    margin-top: $space;
  }

  &--until-large {
    & > * + * {
      @include media('<=large') {
        margin-top: $space;
      }
    }
  }

  &--quarter {
    & > * + * {
      margin-top: $space/4;
    }

    &--until-large {
      & > * + * {
        @include media('<=large') {
          margin-top: $space/4;
        }
      }
    }

    &--until-xlarge {
      & > * + * {
        @include media('<=xlarge') {
          margin-top: $space/4;
        }
      }
    }
  }

  &--half {
    & > * + * {
      margin-top: $space/2;
    }

    &--until-large {
      & > * + * {
        @include media('<=large') {
          margin-top: $space/2;
        }
      }
    }
  }

  &--one-and-half {
    & > * + * {
      margin-top: $space*1.5;
    }
  }

  &--double {
    & > * + * {
      margin-top: $space*2;
    }
  }

  &--triple {
    & > * + * {
      margin-top: $space*3;
    }
  }

  &--quad {
    & > * + * {
      margin-top: $space*4;
    }
  }

  &--zero {
    & > * + * {
      margin-top: 0;
    }
  }
}

/**
 * Space
 */
.u-space {
  margin: $space;

  &--top {
    margin-top: $space;
  }

  &--bottom {
    margin-bottom: $space;
  }

  &--left {
    margin-left: $space;
  }

  &--right {
    margin-right: $space;
  }

  &--quarter {
    margin: $space/4;

    &--top {
      margin-top: $space/4;
    }

    &--bottom {
      margin-bottom: $space/4;
    }

    &--left {
      margin-left: $space/4;
    }

    &--right {
      margin-right: $space/4;
    }
  }

  &--half {
    margin: $space/2;

    &--top {
      margin-top: $space/2;
    }

    &--bottom {
      margin-bottom: $space/2;
    }

    &--left {
      margin-left: $space/2;
    }

    &--right {
      margin-right: $space/2;
    }
  }

  &--and-half {
    margin: $space*1.5;

    &--top {
      margin-top: $space*1.5;
    }

    &--bottom {
      margin-bottom: $space*1.5;
    }
  }

  &--double {
    margin: $space*2;

    &--top {
      margin-top: $space*2;
    }

    &--bottom {
      margin-bottom: $space*2;
    }
  }

  &--triple {
    margin: $space*3;
  }

  &--quad {
    margin: $space*4;
  }

  &--zero {
    margin: 0;

    &--top {
      margin-top: 0;
    }

    &--bottom {
      margin-bottom: 0;
    }
  }
}
