/*------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------*/

.section {
  position: relative;
}

/**
 * Page headings
 */
.header__swath {
  padding-top: rem(70);
  padding-bottom: rem(4);
  @include media('>large') {
    padding-top: rem(100);
  }
}
// Headers with background images
.header-swath--with-image {
  background-size: cover;
  padding-top: rem(120);
  @include media('>large') {
    padding-top: rem(200);
  }
}

// Headers with inner text
.header-swath--with-text {
  padding-top: 0;
  @include media('>medium') {
    padding-top: $pad;
  }
}
.header__text {
  padding-top: $pad;
  padding-bottom: $pad;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  .unify {
    padding-right: $space;
    align-self: center;
  }
  .rtl & {
    .unify {
      padding-right: 0;
      padding-left: $space;
    }
  }
  @include media('>small') {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  @include media('>medium') {
    text-align: right;
  }
}

/**
 * Comments
 */
.comment-list {
  padding-top: $space-half;
  margin-bottom: $space-double;
  > li {
    border-top: 2px solid $gray-light;
    padding-top: $pad;

    .comment-respond,
    .children li {
      margin-top: $space-and-half;
      margin-left: rem(50);
    }
  }
}
.comment-form {
  .comment-reply-title {
    margin-bottom: $space-half;
  }
  label {
    display: none;
  }
}
.comment--inner {
  display: flex;
  align-items: flex-start;
}
.comment__meta {
  margin-bottom: rem(5);
  .divider {
    margin-left: rem(5);
    margin-right: rem(5);
  }
}
.comment__edit-link {
  margin-left: rem(5);
}
.comment__avatar {
  margin-right: $space-half;
  display: flex;
  min-width: rem(50);
  min-height: rem(50);
}
