.o-suggestions {
  margin-top: $space;

  &[data-context=main-search-suggestions] {
    display: none;
  }

  li {
    margin-left: -$space;
    padding: ($space / 2) 0;
    padding-left: $space;
    transition: background-color 0.25s ease;

    @each $theme, $shades in $alps_themes {
      $dark: map-get($shades, dark);

      @at-root .#{$theme} &:hover {
        background-color: $dark;
      }
    }

    &:hover a {
      color: $c-white;
    }

    &:last-child {
      margin-bottom: $space * 2;
    }
  }

  // SIDE DRAWER ===================
  @at-root .c-drawer & {
    margin-top: $space;

    li {
      @each $theme, $shades in $alps_themes {
        $light: map-get($shades, light);
        @at-root .#{$theme} &:hover {
          background-color: $light;
        }
      }
    }

    a {
      color: $c-white;
    }
  }
}
