/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

.o-inline-list__item {
  display: inline-block;
}

/**
 * Bullet List
 */
.o-bullet-list {
  list-style-type: disc;
  padding-left: rem(18);

  li {
    overflow: visible;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**
 * Icon List
 */
.o-icon-list {
  display: flex;
  flex-direction: row;

  li {
    padding: $pad/2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .u-icon {
    margin-bottom: $space/2;
  }
}
