/*------------------------------------*\
    $CAROUSELS
\*------------------------------------*/

.carousel__item {
  img {
    width: 100%;
  }
}
.carousel__controls {
  width: 100%;
}
.carousel__arrow {
  width: rem(44);
  height: rem(44);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  z-index: 100;
  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: $white;
    z-index: -50;
  }
  &--s {
    width: rem(35);
    height: rem(35);
  }
}
.carousel__arrow--prev {
  left: $space-half;
}
.carousel__arrow--next {
  right: $space-half;
}

// Push carousel container open relative to the slide image ratio.
// For any carousel that fills in the height before slides load.
.carousel--with-height {
  position: relative;
  width: 100%;
  .slick-list {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &:not(.slick-initialized) {
    .carousel__item {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0;
      visibility: hidden;
    }
  }
}

// Full-browser width carousel (currently used on adventist.org home page)
.carousel--full-bleed {
  padding-top: (500 / 500) * 100%;
  @include media('>500px') {
    padding-top: (400 / 700) * 100%;
  }
  @include media('>700px') {
    padding-top: (400 / 900) * 100%;
  }
  @include media('>900px') {
    padding-top: (500 / 1300) * 100%;
  }
}

// Large format carousels. Mostly with the slide copy to the right at large
// viewport widths.
.carousel--large {
  &:not(.slick-initialized) {
    padding-top: (375 / 500) * 100%;
    @include media('>500px') {
      padding-top: (600 / 800) * 100%;
    }
    @include media('>large') {
      padding-top: (600 / 800) * 68%; // 68% is the new container width at this media query
    }
  }
  .slick-list {
    position: relative;
  }
}




/**
 * Carousel with Text
 */
.carousel__item-text__wrap {
  padding: $pad;
  color: $white;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  .layout-container {
    height: 100%;
  }
  @include media('>medium') {
    padding: $pad-and-half;
  }
}
.carousel__item-text {
  max-width: rem(600);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  padding-bottom: 0;
}
.carousel__item-heading,
.carousel__item-subtitle,
.carousel__item-dek {
  line-height: 1.5;
  padding: rem(8) $pad-half;
  display: inline-block;
  margin-bottom: -.5px;
}
.carousel__item-dek {
  padding-top: rem(5);
  @include media('<=medium') {
    display: none;
  }
}

// Hero
.hero-carousel {
  .carousel__item {
    max-height: rem(600);
  }
}

// Hero w/ two columns
.hero-carousel--2-column {
  .carousel__item {
    max-height: none;
  }
  .shift-right--fluid {
    @include media('>large') {
      padding-left: $pad-double;
    }
  }
}

// Right align slide text
.carousel__item--right {
  right: 0;
  left: auto;
  text-align: right;
}

// Carousel pagination
.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: $pad;
  width: 100%;
  text-align: center;
  max-width: $max-width;
  bottom: 0;
  text-align: left;
  li {
    display: inline-block;
    border-radius: 50%;
    border: rem(3) solid $white;
    background-color: transparent;
    width: rem(15);
    height: rem(15);
    margin-left: $space-half;
    cursor: pointer;
    box-shadow: 0 0 rem(3) rgba($black, .3),
                inset 0 0 rem(3) rgba($black, .3);
  }
  .slick-active {
    background-color: $white;
    box-shadow: 0 0 rem(3) rgba($black, .3);
  }
  button {
    display: none;
  }
}
.no-dots .slick-dots {
  display: none !important;
}

/**
 * Pad the left and right to allow room for outside placed prev/next arrows.
 */
.carousel-nav--outside {
  padding-left: rem(60);
  padding-right: rem(60);
  .carousel {
    margin-left: -$space;
    margin-right: -$space;
  }
}

/**
 * Carousel as block
 * Include a calculation for the intrinic ratio: 4:3 = 75% - 28px, 16:9 = 56.25% - 28px)
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */
@mixin carousel-nav--adjustment($ratio) {
  .slick-dots {
    top: 0;
    bottom: auto;
    left: 0;
    padding: rem(10);
    padding-top: calc(#{$ratio});
    transform: translate(0, 0);
  }
}

.carousel-nav--4-3 {
  @include carousel-nav--adjustment('75% - 28px');
}
.carousel-nav--4-3--until-large {
  @include media('<large') {
    @include carousel-nav--adjustment('75% - 28px');
  }
}

.carousel-nav--16-9 {
  @include carousel-nav--adjustment('56.25% - 28px');
}
.carousel-nav--16-9--until-large {
  @include media('<large') {
    @include carousel-nav--adjustment('56.25% - 28px');
  }
}
