/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: $c-gray;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: $c-gray;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: $c-gray;
}

/* Firefox 18- */
:-moz-placeholder {
  color: $c-gray;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  cursor: pointer;
  background: url('../images/icons/o-arrow--down.svg') center right rem(10) no-repeat;
  background-size: rem(10) rem(10);
  text-indent: 0.01px;
  text-overflow: "";

  &::-ms-expand {
    display: none;
  }
}

input[type=radio],
input[type=checkbox] {
  outline: none;
  border: 0;
  margin: 0;
  margin-right: rem(8);
  height: rem(15);
  width: rem(15);
  line-height: rem(15);
  background-size: rem(15);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance:none;
  appearance: none;
}

input[type=radio],
input[type=checkbox] {
  border-width: 2px;
  border-style: solid;
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  top: rem(-2);
  cursor: pointer;
  position: relative;
}

input[type=radio] {
  border-radius: rem(50);
}

.c-form--inline {
  display: flex;
  flex-direction: row;

  .form-input {
    padding: 0 $pad/2;
  }
}

/**
 * Search filter
 */
 .c-filter {
   &.c-filter-is-active {
     cursor: pointer;

     .c-filter__form {
       display: block;
     }

     .c-filter__toggle::after {
       content: "Hide Options";
     }
   }

   input[type="search"] {
     outline: 0;
     background-color: transparent;
     border: 0;
     border-bottom: 1px solid $c-gray;
     padding-left: 0;

     @include u-font--secondary--m;
   }

   &__form {
     display: none;
   }

   &__toggle {
     padding-left: 0;
     padding-right: 0;

     &::after {
       content: "Options";
       cursor: pointer;
     }
   }
 }
