/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/**
 * Icon Sizing
 */
$icon-xsmall: rem(12);
$icon-small: rem(18);
$icon-medium: rem(25);
$icon-large: rem(50);
$icon-big: rem(65);

.u-icon {
  display: inline-block;
}

.u-icon--standard {
  background-color: $c-gray--medium;
  path {
    fill: $c-white;
  }
  &:hover {
    background-color: $c-blue;
    path {
      fill: $c-white;
    }
  }
}

.u-icon--xs {
  width: $icon-xsmall;
  height: $icon-xsmall;
}

.u-icon--s {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}

.u-icon--m {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(3);
}

.u-icon--l {
  width: $icon-large;
  height: $icon-large;
  padding: rem(6);
}

.u-icon--xl {
  width: $icon-big;
  height: $icon-big;
  padding: rem(6);
}

/**
 * Play icon overlay
 */
.is-video {
  position: relative;
  transition: all .3s ease-out;
  border-bottom: 4px solid rgba($c-black, 0);
  display: block;

  &:hover {
    border-bottom-color: rgba($c-black, .2);
  }

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: rem(40);
    width: rem(40);
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/icons/icon-play.svg);
  }
}

body {
  > svg {
    width: 50px;
    height: 50px;
  }
}
