/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
input[type=radio],
input[type=checkbox] {
  outline: none;
  border: none;
  margin: 0;
  margin-right: rem(8);
  height: rem(15);
  width: rem(15);
  line-height: rem(15);
  background-size: rem(15);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  background-color: $white;
}
input[type=radio],
input[type=checkbox] {
  border-width: 2px;
  border-style: solid;
}
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  top: rem(-2);
  cursor: pointer;
  position: relative;
}

input[type=radio] {
  border-radius: rem(50);
}

.form-group {
  display: block;
  width: 100%;
}
