/*------------------------------------*\
    $CAROUSELS
\*------------------------------------*/

.c-carousel__item {
  img {
    width: 100%;
  }
}

.c-carousel__controls {
  width: 100%;
}

.c-carousel__arrow {
  width: rem(44);
  height: rem(44);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  z-index: 100;

  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: $c-white;
    z-index: -50;
  }
}

.c-carousel__arrow--prev {
  left: $space/2;
}
.c-carousel__arrow--next {
  right: $space/2;
}

/**
 * Carousel with Text
 */
.c-carousel__item-text__wrap {
  color: $c-white;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
}

.c-carousel__item-text {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.c-carousel__item-text--inner {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

// Right align slide text
.c-carousel__item {
  .c-carousel__item--right {
    align-items: flex-end;
    text-align: right;

    .c-carousel__item-text--inner {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

// Hero
.c-hero-carousel {
  .c-carousel__item {
    max-height: rem(600);
  }
}

// Carousel pagination
.slick-dots {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 0;
  text-align: left;
  padding: $pad-mobile;

  @include media('>large') {
    padding-left: 0;
    left: calc(100vw / 7 * 1);
  }

  li {
    display: inline-block;
    border-radius: 50%;
    border: rem(3) solid $c-white;
    background-color: transparent;
    width: rem(15);
    height: rem(15);
    margin-left: $space/2;
    cursor: pointer;
    box-shadow: 0 0 rem(3) rgba($c-black, .3), inset 0 0 rem(3) rgba($c-black, .3);

    &:first-child {
      margin-left: 0;
    }
  }

  .slick-active {
    background-color: $c-white;
    box-shadow: 0 0 rem(3) rgba($c-black, .3);
  }

  button {
    display: none;
  }
}

.no-dots .slick-dots {
  display: none !important;
}
