/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

/**
 * Article Navigation
 */
.article-nav__inner {
  @include media('>large') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.article-nav__list-item {
  @include media('>large') {
    display: inline-block;

    a.active {
      background-color: rgba($c-black, .1);
    }
  }
}

.article-nav__link {
  display: block;
  font-family: $ff-font;

  &.dropdown__item-link{
    padding-top: rem(13);
    padding-bottom: rem(13);
  }

  @include media('>large') {
    font-size: rem(16);
    padding: rem(15) rem(10);
  }

  @include media('>xlarge') {
    padding-left: rem(15);
    padding-right: rem(15);
  }

  &:hover {
    background-color: rgba($c-black, .1);
    color: $c-white;
  }
}

.article-nav--with-subnav {
  width: auto;
  position: relative;

  .arrow--down {
    @include u-transition;
  }

  @include media('<large') {
    &.is-active {
      @include u-transition;

      .article-nav__subnav {
        display: block;
      }

      .arrow--down {
        transform: rotate(180deg);
      }
    }
  }

  @include media('>large') {
    &:hover {
      z-index: 15;

      .article-nav__subnav {
        display: block;
      }
    }
  }
}

// Submenu from article navigation
.article-nav__subnav {
  display: none;

  @include media('>large') {
    position: absolute;
    text-align: left;
    left: 0;
    min-width: rem(200);
    width: 100%;
    z-index: 10;
  }
}

.article-nav__subnav__link {
  display: block;
  padding: rem(10) rem(10);
  font-size: rem(12);
  color: $c-white;
  position: relative;
  background-color: rgba($c-black, .1);

  @include media('>large') {
    padding: rem(10) rem(15);
    font-size: rem(14);
    background-color: transparent;
  }

  @include media('>xlarge') {
    padding-left: rem(20);
    padding-right: rem(20);
  }

  &:active,
  &:hover {
    cursor: pointer;
    color: $c-white;
    background-color: rgba($c-black, .2);

    @include media('>large') {
      background-color: rgba($c-black, .1);
    }
  }
}

.article-nav__subnav__arrow {
  display: none;

  @include media('<large') {
    position: absolute;
    right: 0;
    top: 0;
    height: rem(44);
    width: rem(44);
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: rem(7);
      right: rem(7);
      top: rem(9);
      bottom: rem(9);
    }

    .arrow--down {
      border-top-color: $c-white;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 10;
    }
  }
}

.article-nav__search {
  padding-top: rem(4);
  padding-bottom: rem(4);
  text-align: right;

  .search-form {
    width: rem(150);
    float: right;

    @include media('>xlarge') {
      width: rem(200);
    }

    .u-rtl & {
      @include media('<large') {
        float: left;
      }
    }
  }

  .search-form__input[type="search"] {
    border: none;
    border-radius: rem(25);
    padding: rem(5) rem(34) rem(5) rem(12);
    width: 100%;
    color: $c-white;
    box-shadow: inset 1px 1px 1px rgba($c-black, .1);
    background: rgba($c-black, .08) url('../images/icons/icon-search.svg') no-repeat center right 12px;
    background-size: rem(12);
    @include u-placeholder($c-white);
  }
}

/**
 * Dropdown Menus
 */
.dropdown {
  @include media('<=large') {
    cursor: pointer;
    position: absolute;
    height: 100%;
    &.is-active {
      .dropdown__arrow {
        transform: rotate(180deg);
      }
      .dropdown__options {
        margin-bottom: rem(10);
      }
      .dropdown__options {
        display: block;
      }
    }
  }
}

.dropdown__label {
  display: none;
  @include media('<=large') {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    min-width: rem(150);
    padding: $pad/2;

    .u-rtl & {
      right: 0;
    }
  }
}

span.dropdown__arrow {
  @include media('<=large') {
    transform: rotate(0deg);
    margin-left: rem(5);
    transition: all .15s ease-out;
    border-top-color: $c-white;
  }
}

.dropdown__options {
  @include media('<=large') {
    display: none;
    position: absolute;
    left: 0;
    top: rem(35);
    z-index: 100;
    min-width: rem(200);

    .u-rtl & {
      right: 0;
    }
  }
}

.dropdown__item-link {
  @include media('<=large') {
    padding: $pad/2;
    font-size: rem(14);
  }
}

/**
 * Pagination
 */
.pagination__page {
  display: inline-block;
  padding: rem(6) $pad/2;
  margin: rem(2);
}

/**
 * Search suggest
 */
.ui-autocomplete {
  background: $c-white;
  border: 1px solid $c-gray--light;
  border-top: none;
  max-width: rem(300);
}

.ui-menu-item {
  a {
    display: block;
    padding: rem(8);
    color: $c-gray;
    font-family: $ff-font--secondary;
    font-size: rem(14);
  }

  &.ui-state-focus,
  a:hover {
    color: $c-theme-ming;
    cursor: pointer;
  }
}

/**
 * Breadcrumbs
 */
.breadcrumbs__list-item {
  margin-right: rem(2);
  padding-right: rem(8);
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 4px solid $c-gray;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }

  &:last-child:after {
    display: none;
  }
}

/**
 * Accordion
 */
.accordion__heading {
  position: relative;
  padding: rem(5) 0 rem(5) rem(30);
  cursor: pointer;
}
.accordion__arrow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  @include u-transition;

  .is-active & {
    transform: translateY(-50%) rotate(90deg);
  }
}
.accordion__content {
  display: none;

  .is-active & {
    display: block;
  }
}
