/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.o-button,
button,
input[type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: rem(14);
  padding: rem(13) rem(16) rem(12);
  line-height: 1;
  color: $c-white;
  background-color: $c-gray--darker;
  cursor: pointer;
  transition: all .6s ease-out;
  font-family: $ff-font--secondary;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid $c-gray--darker;
  border-radius: rem(50);
  outline: 0;
  position: relative;

  &:hover {
    color: $c-white;
  }

  &:focus {
    &::before {
      border-style: dashed;
      border-width: 1px;
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border-radius: rem(50);
      content: "";
    }
  }

  .u-icon {
    svg path {
      transition: all .6s ease-out;
    }
  }

  &::after,
  font::before {
    transition: all .6s ease-out;
  }
}

/**
 * Button Sizing
 */
.o-button--small {
  padding: rem(11) rem(14) rem(9);
  font-size: rem(12);
}

.o-button--simple,
.o-button--simple--gray {
  background-color: transparent;
  border-color: transparent;
}

.o-button--outline {
  background-color: transparent;
}

.o-button--toggle {
  white-space: nowrap;

  &::after,
  &:focus:after {
    content: "Show";
    display: inline;
  }

  &:active,
  &.this-is-active {
    &:focus:after,
    &::after {
      content: "Close";
    }

    .u-icon {
      transform: rotate(45deg);
      right: rem(-2);
      top: rem(1);
    }
  }

  &:active,
  &.this-is-active,
  &:focus {
    &::after {
      display: inline;
      width: auto;
      height: auto;
      border: 0;
      border-radius: 0;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

.o-button--expand {
  display: table;

  &::after,
  &:focus:after {
    content: "Show More";
    display: table-cell;
    position: relative;
    vertical-align: middle;
  }

  &::before {
    content: "+";
    display: table-cell;
    position: relative;
    padding-right: rem(8);
    font-size: rem(20);
    vertical-align: middle;
    line-height: rem(10);
    height: rem(10);
  }

  span {
    display: none;
  }

  &.this-is-active {
    &:focus:after,
    &::after {
      content: "Show Less";
    }

    &::before {
      content: "-";
    }
  }

  &:active,
  &.this-is-active,
  &:focus {
    &::after {
      display: inline;
      width: auto;
      height: auto;
      border: 0;
      border-radius: 0;
      position: relative;
      top: 0;
      left: 0;
    }
  }
}

.o-button--with-arrow {
  position: relative;
  padding-right: $pad * 2.25;

  .u-icon {
    position: absolute;
    top: rem(9);
    bottom: 0;
    margin: auto 0;
    right: rem(15);
    width: rem(20);
    height: auto;
  }
}

.u-buttons--square {
  .o-button {
    border-radius: 0;
  }
}
