/*------------------------------------*\
    $CAROUSELS
\*------------------------------------*/

/**
 * Carousel with Text
 */
.c-carousel__item {
  img {
    width: 100%;
  }

  .c-carousel__item-text__wrap {
    color: $c-white;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
  }

  .c-carousel__item-text {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &--inner {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.c-carousel__controls {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: $space;
}

.c-carousel__arrow {
  width: rem(45);
  height: rem(45);
  margin: auto;
  z-index: 10;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    z-index: -50;
  }

  svg {
    width: rem(20);
    height: rem(20);
  }
}

/**
 * Carousel with Text Inset
 */
.c-carousel--inset {
  .c-carousel__item--inset {
    @include media(">medium") {
      max-height: 40rem;
    }
  }
}

.c-carousel__item--inset {
  font-size: 0.5em;

  img {
    width: 100%;
  }

  .c-carousel__item-text__wrap {
    color: #fff;
    position: relative;
    width: 100%;
    z-index: 100;

    @include media(">medium") {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: transparent;
      background-image: linear-gradient(to bottom, rgba(0, 41, 56, 0), rgba(0, 41, 56, 0.9));
    }

    @include media(">large") {
      padding: 7rem calc(100vw / 7) 0;
    }

    .c-carousel__item-subtitle {
      display: none;
    }

    .l-container {
      padding: $space;

      p {
        display: none;

        @include media(">large") {
          display: block;
        }
      }
    }
  }
}

// Hero
.c-hero {
  .c-block__image {
    min-height: 250px;
    display: block;
  }
}

.c-hero-carousel {
  .c-carousel__item {
    max-height: rem(600);
  }
}

// Carousel pagination
.slick-dots {
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  width: auto;
  text-align: right;
  padding: $pad-mobile;

  @include media(">large") {
    padding: $pad;
  }


  li {
    display: inline-block;
    border-radius: 50%;
    border: rem(3) solid $c-white;
    background-color: transparent;
    width: rem(15);
    height: rem(15);
    margin-left: $space / 2;
    cursor: pointer;
    box-shadow: 0 0 rem(3) rgba($c-black, 0.3), inset 0 0 rem(3) rgba($c-black, 0.3);

    &:first-child {
      margin-left: 0;
    }
  }

  .slick-active {
    background-color: $c-white;
    box-shadow: 0 0 rem(3) rgba($c-black, 0.3);
  }

  button {
    display: none;
  }
}

.no-dots .slick-dots {
  display: none !important;
}
