/*------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------*/

/**
 * Page Headers
 */

.c-page-header__3-col {
  .c-page-header__content {
    display: flex;
    flex-direction: column;

    @include media('>medium') {
      flex-direction: row;
    }
  }
}

.c-page-header__search {
  input[type="search"] {
    outline: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $c-gray;
    padding-left: 0;

    @include u-font--secondary--m;
  }

  .c-filter__toggle::after {
    content: "Settings";
  }
}

.c-page-header__simple {
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  min-height: calc(100vw / 7 * 2);

  @include media('>small') {
    min-height: calc(100vw / 7 * 1);
  }

  &--inner {
    z-index: 2;
    position: relative;
  }

  &.c-background-image {
    background-size: cover;
  }
}

.l-section__block-row {
  .c-block__image-wrap {
    margin-right: $space-mobile;

    @include media('>small') {
      margin-right: $space;
    }
  }

  &--6-col {
    .l-grid-item > * {
      margin-top: $space;
    }
  }
}

/**
 * Comments
 */
.c-comment {
  &--inner {
    display: flex;
    align-items: flex-start;
  }

  &__meta {
    margin-bottom: rem(5);

    .o-divider {
      margin-left: rem(5);
      margin-right: rem(5);
    }
  }

  &__edit-link {
    margin-left: rem(5);
  }

  &__avatar {
    display: flex;
    min-width: rem(50);
    min-height: rem(50);
  }

  &__children__list-item {
    margin-left: rem(50);
  }
}

/**
 * Accordion
 */

.c-accordion {
  &__item {
    cursor: pointer;

    &.this-is-active {
      .c-accordion__content {
        display: block;
      }

      .c-accordion__arrow {
        transform: rotate(90deg);
        position: relative;
        left: rem(4);
        top: rem(6);
      }
    }
  }

  &__content {
    display: none;
  }
}
