/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

// Block
.c-block__image {
  display: block;

  picture img {
    width: 100%;
  }
}

.c-block__image-wrap {
  > * {
    width: 100%;
  }
  .u-round {
    width: auto;
  }
}

.c-block__category {
  padding-right: $pad;

  @include media('>large') {
    padding-right: $pad*2;
  }
}

.c-block__meta {
  display: flex;
  align-items: flex-end;
}

.c-block__date {
  white-space: nowrap;
}

.c-block__description {
  flex-grow: 1;
  align-items: flex-end;
}

@mixin block-row {
  display: flex;

  .c-block__image-wrap {
    width: 30%;
    max-width: 300px;
    text-align: right;
  }

  .c-block__content {
    width: 70%;
    padding-left: $pad;
    align-self: center;

    .u-rtl & {
      padding-left: 0;
      padding-right: $pad;
    }
  }
}

/**
 * Block row (block with left thumb and right text when space allows)
 */
.c-block__row {
  @include media('>small') {
    @include block-row;
  }
}

// Horizontal block between 'small' and 'medium' viewports.
.c-block__row--small-to-medium {
  @include media('>small', '<=medium') {
    @include block-row;
  }
}

// Horizontal block between 'small' and 'large' viewports.
.c-block__row--small-to-large {
  @include media('>small', '<=large') {
    @include block-row;
  }
}

/**
 * Media Block
 */
 .c-media-block {
   display: flex;
   flex-direction: column;

   @include media('>small') {
     flex-direction: row;
   }

    > * {
      padding: 0;
    }

    .c-block__image {
      padding: 0;
    }

   .c-block__content {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     flex-direction: column;
     padding: $pad;

     @include media('>small') {
       padding-top: 0;
       padding-bottom: 0;
     }
   }

   .c-block__meta {
     display: flex;
     justify-content: flex-start;
   }

   &--reversed {
     @include media('>small') {
       flex-direction: row-reverse;
     }
   }
 }

 .c-block__stacked {
   flex-direction: column;

   .c-block__content {
     padding-bottom: 0;

     @include media('>small') {
       padding-top: $pad;
     }
   }
 }

.c-block__inset {
  display: block;
  position: relative;

  .c-block__content {
    flex-direction: row;
    position: absolute;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgba($c-black, 0.5) 80%);
    padding: $pad 0;

    .c-block__title-link,
    .c-block__date {
      color: $c-white;
    }
  }
}
