/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

/**
 * Navigation Toggler
 */
.nav-toggle {
  display: block;
  position: absolute;
  right: rem(15);
  top: rem(12);
  padding: rem(10) rem(5);
  height: rem(40);
  width: rem(70);
  z-index: 1015;
  overflow: hidden;
  cursor: pointer;
  .header & {
    @include media('>medium') {
      display: none;
    }
  }
  .rtl & {
    left: rem(15);
    right: auto;
  }
}
.nav-toggle__inner {
  width: rem(15);
  height: rem(15);
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
}

// Hamburger Contents
$slice-height: 3;
.nav-toggle__segment {
  display: block;
  position: absolute;
  height: rem($slice-height);
  width: 100%;
  background-color: $gray-dark;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  border-radius: rem(10);
}
.nav-toggle__segment--1 {
  top: 0px;
}
.nav-toggle__segment--2,
.nav-toggle__segment--3 {
  top: rem($slice-height * 2);
}
.nav-toggle__segment--4 {
  top: rem($slice-height * 4);
}
.nav-toggle__text {
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  .rtl & {
    left: 0;
    right: auto;
  }

}
// Active Hamburger
.nav-is-active {
  .nav-toggle__segment--1 {
    top: rem($slice-height * 2);
    width: 0%;
    left: 50%;
  }
  .nav-toggle__segment--2 {
    transform: rotate(45deg);
  }
  .nav-toggle__segment--3 {
    transform: rotate(-45deg);
  }
  .nav-toggle__segment--4 {
    top: rem($slice-height * 2);
    width: 0%;
    left: 50%;
  }
}


/**
 * Primary Nav
 */
.primary-nav {
  @include media('<=medium') {
    margin-top: rem(-17);
    border-top: $border-style;
    padding-top: rem(17);
  }
  @include media('>medium') {
    width: 100%;
  }
}
.primary-nav__list {
  @include media('>medium') {
    display: flex;
    justify-content: center;
  }
  @include media('>large') {
    justify-content: flex-end;
  }
}
.primary-nav__list-item {
  position: relative;
}
.primary-nav__link {
  display: block;
  white-space: nowrap;
  font-family: $font;
  padding: rem(10);
  @include media('<=medium') {
    font-size: rem(22);
  }

  @include media('>xlarge') {
    font-size: rem(17);
    padding-left: rem(15);
    padding-right: rem(15);
  }
}
.primary-nav--with-subnav {
  @include media('<=medium') {
    &.is-active {
      .primary-nav__subnav {
        display: block;
      }
      .arrow--down {
        transform: rotate(180deg);
      }
    }
  }
  @include media('>medium') {
    &:before {
      content: "";
      border-left: rem(5) solid transparent;
      border-right: rem(5) solid transparent;
      border-top: rem(5) solid rgba($black, .6);
      position: absolute;
      right: 0;
      top: calc(50%);
      transform: translate(0, -50%);
      .rtl & {
        left: 0;
        right: inherit;
      }
    }
    &:hover {
      box-shadow: 0 0 2px rgba($black, .3);
      background-color: $white;
      z-index: 15;
      &:before {
        display: none;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(5);
        background-color: $white;
        bottom: rem(-2);
        z-index: 20;
      }
      .primary-nav__subnav {
        display: block;
      }
    }
  }
  @include media('>medium', '<=xlarge') {
    padding-right: rem(2);
  }
}
.primary-nav__subnav__arrow {
  display: none;
  @include media('<=medium') {
    position: absolute;
    right: 0;
    top: 0;
    height: rem(48);
    width: rem(44);
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    &:before {
      content: "";
      position: absolute;
      left: rem(7);
      right: rem(7);
      top: rem(9);
      bottom: rem(9);
      background-color: rgba($black, .3);
    }
    .arrow--down {
      border-top-color: $white;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 10;
    }
  }
}
// Submenu from primary navigation
.primary-nav__subnav {
  background-color: $gray-light;
  display: none;
  @include media('>medium') {
    position: absolute;
    text-align: left;
    background-color: $white;
    left: 0;
    min-width: rem(200);
    box-shadow: 0 0 2px rgba($black, .3);
    z-index: 10;

    .rtl & {
      text-align: right;
      right: 0;
    }
  }
}
.primary-nav__subnav__link {
  display: block;
  padding: rem(8) rem(10);
  font-size: rem(15);
  @include media('>xlarge') {
    padding-left: rem(15);
    padding-right: rem(15);
  }
}

/**
 * Secondary Nav
 */
.secondary-nav {
  margin-bottom: rem(14);
  @include media('>medium') {
    margin: 0 $space 0 0;
  }
  @include media('>large') {
    margin-bottom: 0;
  }
  .subnav__arrow {
    border-top: rem(5) solid rgba($black, .6);
  }
}
.secondary-nav__list {
  @include media('>medium') {
    display: flex;
  }
}
.secondary-nav__list-item {
  display: block;
  @include media('>medium') {
    padding: rem(4);
    margin-left: rem(6);
    margin-right: rem(6);
  }
  &.is-active {
    .subnav__list {
      display: block;
    }
    .subnav__arrow {
      transform: rotate(180deg);
    }
  }
}
.secondary-nav__before-link {
  display: inline-block;
  @include media('>medium') {
    position: absolute;
    left: rem(-17);
  }
}
.secondary-nav__link,
.subnav__link {
  display: block;
  font-size: rem(16);
  white-space: nowrap;
  color: $blue;
  font-family: $font-secondary;
  @include media('<=medium') {
    padding: rem(11) rem(6);
  }
  @include media('>medium', '<=large') {
    padding: rem(3) 0;
    font-size: rem(11);
    color: $white;
  }
  @include media('>large') {
    font-size: rem(12)
  }
}
.secondary-nav__link {
  @include media('>medium') {
    position: relative;
  }
}

/**
 * Sub-navigation
 */
.subnav__list {
  display: none;
  padding-top: rem(6);
  padding-bottom: rem(6);
  @include media('>medium') {
    position: absolute;
    text-align: left;
    top: rem(28);
    left: 0;
    padding: 0;
    min-width: rem(110);
    box-shadow: 0 0 rem(2) rgba($black, .3);
  }
}
.subnav__list-item:last-child {
  .subnav__link {
    border-bottom: none;
  }
}
.subnav__link {
  @include media('>medium') {
    display: block;
    padding: rem(8) rem(26) rem(8) rem(12);
    position: relative;
    border-bottom: $border-style;
    background-color: $white;
  }
  .icon__check {
    margin-left: rem(-14);
    @include media('>medium') {
      position: absolute;
      right: rem(10);
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

/**
 * Article Navigation
 */
.article-nav__inner {
  @include media('>medium') {
    //padding-left: $pad-and-half;
  }
  @include media('>large') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.article-nav__list {
  // @include media('>large') {
  //   margin-left: rem(-12);
  // }
}
.article-nav__list-item {
  @include media('>large') {
    display: inline-block;
  }
}
.article-nav__link {
  display: block;
  padding: rem(15) rem(10);
  font-family: $font;
  @include media('>large') {
    font-size: rem(16);
  }
  @include media('>xlarge') {
    padding-left: rem(15);
    padding-right: rem(15);
  }
  &:hover {
    background-color: rgba($black, .1);
    color: $white;
  }
}
.article-nav__search {
  padding-top: rem(4);
  padding-bottom: rem(4);
  text-align: right;
  .search-form {
    width: rem(150);
    float: right;
    @include media('>xlarge') {
      width: rem(200);
    }
    .rtl & {
      @include media('<large') {
        float: left;
      }
    }
  }
  .search-form__input[type="search"] {
    border: none;
    border-radius: rem(25);
    padding: rem(5) rem(34) rem(5) rem(12);
    width: 100%;
    color: $white;
    box-shadow: inset 1px 1px 1px rgba($black, .1);
    background: rgba($black, .08) url('../../images/icons/icon-search.svg') no-repeat center right 12px;
    background-size: rem(12);
    @include placeHolder($white);
  }
}

/**
 * Dropdown Menus
 */
.dropdown {
  @include media('<=large') {
    cursor: pointer;
    position: absolute;
    height: 100%;
    &.is-active {
      .dropdown__arrow {
        transform: rotate(180deg);
      }
      .dropdown__options {
        margin-bottom: rem(10);
      }
      .dropdown__options {
        display: block;
      }
    }
  }
}
.dropdown__label {
  display: none;
  @include media('<=large') {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    min-width: rem(150);
    padding: $pad-half;

    .rtl & {
      right: 0;

    }
  }
}
span.dropdown__arrow {
  @include media('<=large') {
    transform: rotate(0deg);
    margin-left: rem(5);
    transition: all .15s ease-out;
    border-top-color: $white;
  }
}
.dropdown__options {
  @include media('<=large') {
    display: none;
    position: absolute;
    left: 0;
    top: rem(35);
    z-index: 100;
    min-width: rem(200);
    .rtl & {
      right: 0;
    }
  }
}
.dropdown__item-link {
  @include media('<=large') {
    padding: $pad-half;
    font-size: rem(14);
  }
}

/**
 * Pagination
 */
.pagination__page {
  display: inline-block;
  padding: rem(6) $pad-half;
  margin: rem(2);
}

/**
 * Search suggest
 */
.ui-autocomplete {
  background: $white;
  border: 1px solid $gray-light;
  border-top: none;
  max-width: rem(300);
}
.ui-menu-item {
  a {
    display: block;
    padding: rem(8);
    color: $gray;
    font-family: $font-secondary;
    font-size: rem(14);
  }
  &.ui-state-focus,
  a:hover {
    color: $blue;
    cursor: pointer;
  }
}
