/*------------------------------------*\
    $PAGE SECTIONS
\*------------------------------------*/

/**
 * Page Headers
 */

.c-page-header__simple {
  height: auto;
  min-height: calc(100vw / 7 * 2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  @include media('>small') {
    min-height: calc(100vw / 7 * 1);
  }

  &--inner {
    z-index: 2;
    position: relative;
  }
}


/**
 * Comments
 */
.comment-list {
  padding-top: $space/2;
  margin-bottom: $space*2;

  > li {
    border-top: 1px solid $c-gray--light;
    padding-top: $pad;

    .comment-respond,
    .children li {
      margin-top: $space;
      margin-left: rem(50);
    }
  }
}

.comment-form {
  label {
    display: none;
  }
}

.comment--inner {
  display: flex;
  align-items: flex-start;
}

.comment__meta {
  margin-bottom: rem(5);

  .o-divider {
    margin-left: rem(5);
    margin-right: rem(5);
  }
}

.comment__edit-link {
  margin-left: rem(5);
}

.comment__avatar {
  margin-right: $space/2;
  display: flex;
  min-width: rem(50);
  min-height: rem(50);
}
