/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// Primary color themed elements.
@mixin theme-primary($name, $primary-color) {
  .#{$name} {
    // Text colors
    .theme--primary-text-color,
    .theme--primary-text-color a {
      color: $primary-color;
    }
    a.theme--primary-text-color:hover,
    .theme--primary-text-color a:hover,
    .this-is-active > .theme--primary-text-color {
      color: complement($primary-color);
    }

    // Background colors
    .theme--primary-background-color {
      background-color: $primary-color;
    }
    .theme--primary-transparent-background-color {
      background-color: rgba($primary-color, .8);
    }
    .theme--primary-transparent-background-color--30 {
      background-color: rgba($primary-color, .3);
    }

    // Border colors
    .theme--primary-border-color {
      border-color: $primary-color;
    }

    // SVG fill colors
    .theme--primary-fill-color {
      fill: $primary-color;
    }

    // Bodies of text
    .text {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5 {
        color: $primary-color;
      }
    }
  }
}

// Secondary color themed elements.
@mixin theme-secondary($name, $secondary-color) {
  .#{$name} {
    // Text colors
    .theme--secondary-text-color,
    .theme--secondary-text-color a {
      color: $secondary-color;
    }
    a.theme--secondary-text-color:hover,
    .theme--secondary-text-color a:hover {
      color: complement($secondary-color);
    }

    // Background colors
    .theme--secondary-background-color {
      background-color: $secondary-color;
    }
    a.theme--secondary-background-color:hover {
      background-color: complement($secondary-color);
      color: $white;
    }
    .theme--secondary-transparent-background-color {
      background-color: rgba($secondary-color, .8);
    }

    // SVG fill colors
    .theme--secondary-fill-color {
      fill: $secondary-color;
    }

    // Border colors
    .theme--secondary-border-top-color {
      border-top-color: $secondary-color;
    }
    .theme--secondary-border-bottom-color {
      border-bottom-color: $secondary-color;
    }

    // Links
    .theme--secondary-background-hover-color--at-medium {
      color: $white;
      background-color: $secondary-color;
      @include media('>medium') {
        color: $secondary-color;
        background-color: $white;
        &:hover {
          color: $white;
          background-color: $secondary-color;
          path {
            fill: $white;
          }
        }
        path {
          fill: $secondary-color;
        }
      }
    }

    // Bodies of text
    .text {
      p, li {
        a {
          color: $secondary-color;
          box-shadow: inset 0 rem(-3) 0 rgba($secondary-color, .25);
          transition: all .2s ease-out;
          &:hover {
            color: complement($secondary-color);
            box-shadow: inset 0 rem(-10) 0 rgba($secondary-color, .15);
          }
        }
      }
    }
  }
}


// Generate primary color palettes.
@include theme-primary(theme--emperor, $emperor);
@include theme-primary(theme--earth, $earth);
@include theme-primary(theme--grapevine, $grapevine);
@include theme-primary(theme--denim, $denim);
@include theme-primary(theme--campfire, $campfire);
@include theme-primary(theme--treefrog, $treefrog);
@include theme-primary(theme--ming, $ming);

// Generate secondary color palettes.
@include theme-secondary(theme--warm, $warm);
@include theme-secondary(theme--cool, $cool);

/**
 * Dark Theme
 */
.dark {
  color: $white;
  background-color: $dark-dark;
  hr {
    background-color: rgba($white, .2);
  }
  .can-be--white {
    color: $white;
  }
  .g-2up--at-medium.with-divider > .gi:nth-child(odd):after {
    border-right-color: rgba($white, .2);
  }
  .can-be--dark-light {
    background-color: $dark-light;
  }
  .can-be--dark-dark {
    background-color: $dark-dark;
    .arrow--down,
    .primary-nav--with-subnav:before {
      border-top-color: $white;
    }
  }
}

// Theme switcher
.theme-switcher {
  position: fixed;
  left: 0;
  background-color: $white;
  bottom: 0;
  box-shadow: 0 0 3px rgba($black, .2);
  border-top-right-radius: 3px;
  .rtl & {
    direction: ltr;
  }
}
.theme-swatches {
  margin-bottom: 5px;
  display: inline-block;
}
.theme-swatches--primary {
  margin-right: $space-half;
}
.swatch {
  height: 15px;
  width: 15px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 rgba($black, 0);
  outline: 1px solid rgba($white, 0);
  transition: all .3s ease-out;
  &.active {
    box-shadow: 0 3px 5px rgba($black, .5);
    outline: 1px solid $white;
    transition: all .3s ease-out;
  }
}
.theme-switcher-heading {
  font-size: 10px;
  margin-bottom: 8px;
  color: $black;
}
.theme-heading {
  font-size: 9px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: $black;
}
