/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// https://gist.github.com/jlong/8760275

$themes: (
  u-theme--treefrog: (
    darker: #1b2d00,
    dark: #355724,
    base: $c-theme-treefrog, // base
    light: #7cd500,
    lighter: #9fe180
  ),
  u-theme--ming: (
    darker: #002938,
    dark: #255760,
    base: $c-theme-ming, // base
    light: #00d5fe,
    lighter: #9fe180
  ),
  // Muted
  u-theme--forest: (
    darker: #101a00,
    base: $c-theme-forest, // base
    dark: #2b8500,
    light: #7cd500,
    lighter: #9fe180
  )
);

@each $theme in $themes {
  .#{$theme} {
    @each $color, $colors in $theme {
      @each $key, $value in $color {

        // Text Color
        .u-theme--color--#{$key},
        .u-theme--color--#{$key} a,
        a.u-theme--link-hover--#{$key}:hover,
        .u-theme--link-hover--#{$key} a:hover {
          color: $value;
        }
        // a.u-theme--color--#{$key}:hover,
        // .u-theme--color--#{$key} a:hover {
        //   //color: complement($value);
        // }

        // Background Color
        .u-theme--background-color--#{$key} {
          background-color: $value;
        }
        .u-theme--background-color-trans--#{$key} {
          //background-color: rgba($value, 0.8);
        }

        // Border Color
        .u-theme--border-color--#{$key} {
          border-color: $value;

          &--top {
            border-top-color: $value;
          }

          &--bottom {
            border-bottom-color: $value;
          }

          &--left {
            border-left-color: $value;
          }

          &--right {
            border-right-color: $value;
          }
        }

        // SVG fill colors
        .u-theme--fill-color--#{$key} {
          path {
            fill: $value;
          }
        }
      }
    }
  }
}

/**
 * Dark Theme
 */
.u-theme--dark {
  color: $c-neutral-6;
  background-color: $c-neutral-1;

  hr {
    background-color: rgba($c-neutral-6, .2);
  }

  .can-be--white {
    color: $c-neutral-6;
  }

  .can-be--dark-light {
    background-color: $c-neutral-5;
  }

  .can-be--dark-dark {
    background-color: $c-neutral-2;
  }
}
