/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// https://gist.github.com/jlong/8760275

$themes: (
  u-theme--treefrog: (
    darker: #1b2d00,
    dark: #355724,
    base: $c-theme-treefrog, // base
    light: #7cd500,
    lighter: #9fe180
  ),
  u-theme--ming: (
    darker: #002938,
    dark: #255760,
    base: $c-theme-ming, // base
    light: #00d5fe,
    lighter: #9ae1f0
  ),
  u-theme--bluejay: (
    darker: #052252,
    dark: #2f557f,
    base: $c-theme-bluejay, // base
    light: #84adfc,
    lighter: #84adfc
  ),
  u-theme--iris: (
    darker: #37034c,
    dark: #4b207f,
    base: $c-theme-iris, // base
    light: #b971f7,
    lighter: #b971f7
  ),
  u-theme--lily: (
    darker: #4e053f,
    dark: #712551,
    base: $c-theme-lily, // base
    light: #ff61bc,
    lighter: #ff61bc
  ),
  u-theme--scarlett: (
    darker: #440000,
    dark: #782832,
    base: $c-theme-scarlett, // base
    light: #fd2641,
    lighter: #e17077
  ),
  u-theme--campfire: (
    darker: #361300,
    dark: #6f2727,
    base: $c-theme-campfire, // base
    light: #ffa06c,
    lighter: #ffa06c
  ),
  // Muted
  u-theme--forest: (
    darker: #101a00,
    base: $c-theme-forest, // base
    dark: #2b8500,
    light: #7cd500,
    lighter: #9fe180
  ),
  u-theme--cave: (
    darker: #01161e,
    dark: $c-theme-cave, // base
    base: #007f98,
    light: #00d5fe,
    lighter: #9ae1f0
  ),
  u-theme--denim: (
    darker: #04132b,
    dark: $c-theme-denim, // base
    base: #2e6de7,
    light: #84adfc,
    lighter: #84adfc
  ),
  u-theme--emperor: (
    darker: #240431,
    dark: $c-theme-emperor, // base
    base: #9013fe,
    light: #b971f7,
    lighter: #b971f7
  ),
  u-theme--grapevine: (
    darker: #2a0d24,
    dark: $c-theme-grapevine, // base
    base: #d41583,
    light: #ff61bc,
    lighter: #ff61bc
  ),
  u-theme--velvet: (
    darker: #2d0505,
    dark: $c-theme-velvet, // base
    base: #d0021b,
    light: #fd2641,
    lighter: #e17077
  ),
  u-theme--earth: (
    darker: #210b00,
    dark: $c-theme-earth, // base
    base:  #974e02,
    light: #eab57e,
    lighter: #eab57e
  )
);

@each $theme in $themes {
  .#{$theme} {
    @each $color, $colors in $theme {
      @each $key, $value in $color {
        // Text Color
        .u-theme--color--#{$key},
        .u-theme--color--#{$key} a,
        a.u-theme--link-hover--#{$key}:hover,
        .u-theme--link-hover--#{$key} a:hover {
          color: $value;
        }

        // Background Color
        .u-theme--background-color--#{$key} {
          background-color: $value;
        }

        // Border Color
        .u-theme--border-color--#{$key} {
          border-color: $value;

          &--top {
            border-top-color: $value;
          }

          &--bottom {
            border-bottom-color: $value;
          }

          &--left {
            border-left-color: $value;
          }

          &--right {
            border-right-color: $value;
          }
        }

        // SVG fill colors
        .u-theme--path-fill--#{$key} {
          path {
            fill: $value;
          }
        }
      }
    }
  }
}

@each $theme, $shade in $themes {
  $darker: map-get($shade, darker);
  $dark: map-get($shade, dark);
  $base: map-get($shade, base);
  $light: map-get($shade, light);
  $lighter: map-get($shade, lighter);
  .#{$theme} {

    // Background transparency
    .u-theme--background-color-trans--darker {
      background-color: rgba($darker, 0.8);
    }
    .u-theme--background-color-trans--dark {
      background-color: rgba($dark, 0.8);
    }
    .u-theme--background-color-trans--base {
      background-color: rgba($base, 0.8);
    }
    .u-theme--background-color-trans--light {
      background-color: rgba($light, 0.8);
    }
    .u-theme--background-color-trans--lighter {
      background-color: rgba($lighter, 0.8);
    }

    // Buttons
    .o-button,
    button,
    input[type=submit] {
      background-color: $base;
      color: $c-white;
      border-color: $base;

      &:hover {
        background-color: $dark;
        border-color: $dark;
      }
    }

    .o-button--simple {
      background-color: transparent;
      border-color: transparent;
      color: $base;

      &:hover {
        color: $c-white;
        background-color: $dark;
        border-color: $dark;
      }
    }

    .o-button--outline {
      background-color: transparent;
      color: $base;
      border-color: $base;

      svg path {
        fill: $base;
      }

      &:hover {
        background-color: $dark;
        color: $c-white;
        border-color: $dark;

        svg path {
          fill: $c-white;
        }
      }
    }

    input[type=radio],
    input[type=checkbox] {
      color: $darker;
      border-color: $darker;
    }

    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background-color: $darker;
    }

    .c-header .c-primary-nav__link {
      color: $darker;
    }

    .u-theme--dark {

      // Colors
      .u-theme--color--darker,
      .u-theme--color--darker a,
      a.u-theme--link-hover--darker:hover,
      .u-theme--link-hover--darker a:hover {
        color: $lighter;
      }

      .u-theme--color--dark,
      .u-theme--color--dark a,
      a.u-theme--link-hover--dark:hover,
      .u-theme--link-hover--dark a:hover {
        color: $light;
      }

      .u-theme--color--base,
      .u-theme--color--base a,
      a.u-theme--link-hover--base:hover,
      .u-theme--link-hover--base a:hover {
        color: $c-white;
      }

      .u-color--gray {
        color: $c-white;
      }
      .u-color--gray--dark {
        color: $c-gray--light;
      }

      // SVG fill colors
      .u-path-fill--gray path {
        fill: $c-white;
      }
      .u-path-fill--gray--dark path {
        fill: $c-gray--light;
      }
      .u-theme--path-fill--darker path {
        fill: $darker;
      }
      .u-theme--path-fill--dark path {
        fill: $dark;
      }
      .u-theme--path-fill--base path {
        fill: $c-white;
      }
      .o-arrow--down::after {
        border-top-color: $c-white;
      }

      // Borders
      .u-theme--border-color--darker {
        border-color: $lighter;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $lighter;
        }
      }
      .u-theme--border-color--dark {
        border-color: $light;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $light;
        }
      }
      .u-theme--border-color--base {
        border-color: $c-white;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $c-white;
        }
      }

      // Buttons
      .o-button,
      button,
      input[type=submit] {
        background-color: $lighter;
        color: $darker;
        border-color: $lighter;

        &:hover {
          background-color: $light;
          border-color: $light;
        }

        svg path {
          fill: $darker;
        }
      }

      .o-button--simple {
        background-color: transparent;
        border-color: transparent;
        color: $lighter;

        &:hover {
          color: $darker;
          background-color: $light;
          border-color: $light;
        }
      }

      .o-button--outline {
        background-color: transparent;
        color: $lighter;
        border-color: $lighter;

        svg path {
          fill: $lighter;
        }

        &:hover {
          background-color: $light;
          border-color: $light;
          color: $darker;

          svg path {
            fill: $darker;
          }
        }
      }

      // Custom
      .can-be--dark-dark {
        background-color: $darker;
      }

      .can-be--white {
        color: $c-white;
      }

      input[type=radio],
      input[type=checkbox] {
        color: $c-white;
        border-color: $lighter;
      }

      input[type=radio]:checked,
      input[type=checkbox]:checked {
        background-color: $lighter;
      }

      .c-header {
        background-color: $darker;

        .c-primary-nav__list::after {
          background-color: $darker !important;
        }

        .c-header__nav-secondary .c-secondary-nav__list-item__search {
          background-color: $darker;
        }

        .c-secondary-nav__link {
          color: $lighter;

          svg path {
            fill: $lighter;
          }
        }
      }

      .l-sabbath {
        background-color: $c-gray--darker;
      }
    }
  }
};

/**
 * Dark Theme
 */
.u-theme--dark {
  color: $c-white;
  background-color: $c-black;

  hr {
    background-color: rgba($c-white, .2);
  }

  .can-be--white {
    color: $c-white;
  }

  .can-be--dark-light {
    background-color: $c-gray--light;
  }

  .can-be--dark-dark {
    background-color: $c-gray--darker;
  }

  // Custom
  .c-primary-nav__list::after {
    background-color: $c-black !important;
  }

  .l-grid-container--7-col::before {
    opacity: 0.1;
  }

  .c-header__nav-secondary .c-secondary-nav__list-item__search {
    background-color: $c-black;
  }
}
