@import "tools.mixins";

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
 * Grid & Baseline Setup
 */
$ff-fontpx: 16; // Font size (px) baseline applied to <body> and converted to %.
$defaultpx: 16; // Browser default px used for media queries
$rembase: 16; // 16px = 1.00rem
$max-width-px: 1150;
$max-width: rem($max-width-px) !default;

/**
 * Theme Colors
 */
$c-theme-treefrog: #2b8500;
$c-theme-ming: #007f98;
$c-theme-bluejay: #2e6de7;
$c-theme-iris: #9013fe;
$c-theme-lily: #d41583;
$c-theme-scarlett: #d0021b;
$c-theme-campfire: #cd4900;
$c-theme-forest: #355724;
$c-theme-cave: #255760;
$c-theme-denim: #2f557f;
$c-theme-emperor: #4b207f;
$c-theme-grapevine: #712551;
$c-theme-velvet: #782832;
$c-theme-earth: #5e3929;

/**
 * Neutral Colors
 */
 $c-black: #000000;
 $c-gray--darker: #222222;
 $c-gray--dark: #4a4a4a;
 $c-gray: #717171;
 $c-gray--light: #f5f5f5;
 $c-white: #ffffff;

/**
 * Default Colors
 */
$c-error: #f00;
$c-valid: #089e00;
$c-warning: #fff664;
$c-information: #000db5;
$c-overlay: rgba($c-black, 0.8);

/**
 * Style Colors
 */
$c-body-color: $c-black;
$c-link-color: $c-gray;
$c-button-color: $c-gray;

/**
 * Typography
 */
$ff-font: 'Noto Sans', "Helvetica", "Arial", sans-serif;
$ff-font--primary: 'Noto Serif', Georgia, Times, "Times New Roman", serif;
$ff-font--secondary: 'Noto Sans', "Helvetica", "Arial", sans-serif;
$ff-font--serif: $ff-font--primary;
$ff-font--sans: $ff-font--secondary;
$ff-font--monospace: Menlo, Monaco, "Courier New", "Courier", monospace;

/**
 * Animation
 */
$cubic-bezier: cubic-bezier(0.860, 0.000, 0.070, 1.000);

/**
 * Default Spacing/Padding
 */
$space: 1.25rem; // 20px
$space-mobile: 0.9375rem; // 15px
$pad: 1.25rem; // 20px
$pad-mobile: 0.9375rem; // 15px

/**
 * Border Styles
 */
$border-med: 6px;
$border-thick: 8px;
$border-opacity: 1px solid rgba($c-white, .2);
$border-style: 1px solid $c-gray;
$border-style-blue: 1px solid $c-theme-ming;
$border-style-thick: 3px solid $c-gray--light;
$border-style-light: 1px solid $c-gray--light;
$border-style-dark: 1px solid $c-black;

/**
 * Common Breakpoints
 */
$xsmall: 350px;
$small: 500px;
$medium: 700px;
$large: 900px;
$xlarge: 1100px;
$xxlarge: 1300px;
$xxxlarge: 1500px;

$breakpoints: (
  'xsmall': $xsmall,
  'small': $small,
  'medium': $medium,
  'large': $large,
  'xlarge': $xlarge,
  'xxlarge': $xxlarge,
  'xxxlarge': $xxxlarge
);

/**
 * Element Specific Dimensions
 */
$article-max: rem(950);
$sidebar-width: 320;
$small-header-height: 60;
$wide-header-height: 80;
