/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// Primary color themed elements.
@mixin theme-primary($name, $primary-color) {
  .#{$name} {
    // Text colors
    .u-theme--primary-text-color,
    .u-theme--primary-text-color a {
      color: $primary-color;
    }
    a.u-theme--primary-text-color:hover,
    .u-theme--primary-text-color a:hover,
    .this-is-active > .u-theme--primary-text-color {
      color: complement($primary-color);
    }

    // Background colors
    .u-theme--primary-background-color {
      background-color: $primary-color;
    }
    .u-theme--primary-transparent-background-color {
      background-color: rgba($primary-color, .8);
    }
    .u-theme--primary-transparent-background-color--30 {
      background-color: rgba($primary-color, .3);
    }

    // Border colors
    .u-theme--primary-border-color {
      border-color: $primary-color;
    }

    // SVG fill colors
    .u-theme--primary-fill-color {
      path {
        fill: $primary-color;
      }
    }

    // Bodies of text
    .text {
      > h1,
      > h2,
      > h3,
      > h4,
      > h5 {
        color: $primary-color;
      }
    }
  }
}

// Secondary color themed elements.
@mixin theme-secondary($name, $secondary-color) {
  .#{$name} {

    // Text colors
    .u-theme--secondary-text-color,
    .u-theme--secondary-text-color a {
      color: $secondary-color;
    }

    a.u-theme--secondary-text-color:hover,
    .u-theme--secondary-text-color a:hover {
      color: complement($secondary-color);
    }

    // Background colors
    .u-theme--secondary-background-color,
    .text .o-btn {
      background-color: $secondary-color;
    }

    a.u-theme--secondary-background-color:hover {
      background-color: complement($secondary-color);
      color: $c-white;
    }

    .u-theme--secondary-transparent-background-color {
      background-color: rgba($secondary-color, .8);
    }

    // SVG fill colors
    .u-theme--secondary-fill-color {
      path {
        fill: $secondary-color;
      }
    }

    // Border colors
    .u-theme--secondary-border-top-color {
      border-top-color: $secondary-color;
    }

    .u-theme--secondary-border-bottom-color {
      border-bottom-color: $secondary-color;
    }

    .quote--inline,
    .u-theme--secondary-border-left-color {
      border-left-color: $secondary-color;
    }

    // Links
    .u-theme--secondary-background-hover-color--at-medium {
      color: $c-white;
      background-color: $secondary-color;

      @include media('>medium') {
        color: $secondary-color;
        background-color: $c-white;

        &:hover {
          color: $c-white;
          background-color: $secondary-color;

          path {
            fill: $c-white;
          }
        }

        path {
          fill: $secondary-color;
        }
      }
    }

    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background-color: $secondary-color;
    }

    input[type=radio],
    input[type=checkbox] {
      border-color: $secondary-color;
    }

    // Bodies of text
    .text {
      p, li {
        a:not(.o-btn) {
          color: $secondary-color;
          box-shadow: inset 0 rem(-3) 0 rgba($secondary-color, .25);
          transition: all .2s ease-out;

          &:hover {
            color: complement($secondary-color);
            box-shadow: inset 0 rem(-10) 0 rgba($secondary-color, .15);
          }
        }
      }
    }
  }
}

// Generate primary color palettes.
@include theme-primary(u-theme--emperor, $c-emperor);
@include theme-primary(u-theme--earth, $c-earth);
@include theme-primary(u-theme--grapevine, $c-grapevine);
@include theme-primary(u-theme--denim, $c-denim);
@include theme-primary(u-theme--campfire, $c-campfire);
@include theme-primary(u-theme--treefrog, $c-treefrog);
@include theme-primary(u-theme--ming, $c-ming);

// Generate secondary color palettes.
@include theme-secondary(u-theme--warm, $c-warm);
@include theme-secondary(u-theme--cool, $c-cool);

/**
 * Dark Theme
 */
.u-theme--dark {
  color: $c-white;
  background-color: $c-dark--dark;

  hr {
    background-color: rgba($c-white, .2);
  }

  .can-be--white {
    color: $c-white;
  }

  .l-grid--2-col--at-medium.with-divider > .l-grid-item:nth-child(odd):after {
    border-right-color: rgba($c-white, .2);
  }

  .can-be--dark-light {
    background-color: $c-dark--light;
  }

  .can-be--dark-dark {
    background-color: $c-dark--dark;

    .o-arrow--down,
    .primary-nav--with-subnav:before {
      border-top-color: $c-white;
    }
  }
}
