/*------------------------------------*\
    $THEMES
\*------------------------------------*/

// https://gist.github.com/jlong/8760275

$themes: (u-theme--treefrog: (darker: #1b2d00, dark: #355724, base: $c-theme-treefrog, light: #7cd500, lighter: #9fe180), u-theme--ming: (darker: #002938, dark: #255760, base: $c-theme-ming, light: #00d5fe, lighter: #9ae1f0), u-theme--bluejay: (darker: #052252, dark: #2f557f, base: $c-theme-bluejay, light: #84adfc, lighter: #84adfc), u-theme--iris: (darker: #37034c, dark: #4b207f, base: $c-theme-iris, light: #b971f7, lighter: #b971f7), u-theme--lily: (darker: #4e053f, dark: #712551, base: $c-theme-lily, light: #ff61bc, lighter: #ff61bc), u-theme--scarlett: (darker: #440000, dark: #782832, base: $c-theme-scarlett, light: #fd2641, lighter: #e17077), u-theme--campfire: (darker: #361300, dark: #6f2727, base: $c-theme-campfire, light: #ffa06c, lighter: #ffa06c), u-theme--winter: (darker: #222222, dark: #4A4A4A, base: $c-theme-winter, light: #F9F9F9, lighter: #F9F9F9), u-theme--forest: (darker: #101a00, dark: #2b8500, base: $c-theme-forest, light: #7cd500, lighter: #9fe180), u-theme--cave: (darker: #01161e, dark: #007f98, base: $c-theme-cave, light: #00d5fe, lighter: #9ae1f0), u-theme--denim: (darker: #04132b, dark: #04132b, base: $c-theme-denim, light: #2e6de7, lighter: #84adfc), u-theme--emperor: (darker: #240431, dark: #9013fe, base: $c-theme-emperor, light: #b971f7, lighter: #b971f7), u-theme--grapevine: (darker: #2a0d24, dark: #d41583, base: $c-theme-grapevine, light: #ff61bc, lighter: #ff61bc), u-theme--velvet: (darker: #2d0505, dark: #d0021b, base: $c-theme-velvet, light: #fd2641, lighter: #e17077), u-theme--earth: (darker: #210b00, dark: #974e02, base: $c-theme-earth, light: #eab57e, lighter: #eab57e), u-theme--night: (darker: #000000, dark: #717171, base: $c-theme-night, light: #F9F9F9, lighter: #F9F9F9));

@each $theme, $shades in $themes {
  $darker: map-get($shades, darker);
  $dark: map-get($shades, dark);
  $base: map-get($shades, base);
  $light: map-get($shades, light);
  $lighter: map-get($shades, lighter);

  .#{$theme} {
    @each $shade, $color in $shades {
      // Text Color
      .u-theme--color--#{$shade},
      .u-theme--color--#{$shade} a,
      a.u-theme--link-hover--#{$shade}:hover,
      .u-theme--link-hover--#{$shade} a:hover {
        color: $color;
      }

      // Background Color
      .u-theme--background-color--#{$shade} {
        background-color: $color;
      }

      // Border Color
      .u-theme--border-color--#{$shade} {
        border-color: $color;

        &--top {
          border-top-color: $color;
        }

        &--bottom {
          border-bottom-color: $color;
        }

        &--left {
          border-left-color: $color;
        }

        &--right {
          border-right-color: $color;
        }
      }

      // SVG fill colors
      .u-theme--path-fill--#{$shade} {
        path {
          fill: $color;
        }
      }
    }

    // Background transparency
    .u-theme--background-color-trans--darker {
      background-color: rgba($darker, 0.8);
    }

    .u-theme--background-color-trans--dark {
      background-color: rgba($dark, 0.8);
    }

    .u-theme--background-color-trans--base {
      background-color: rgba($base, 0.8);
    }

    .u-theme--background-color-trans--light {
      background-color: rgba($light, 0.8);
    }

    .u-theme--background-color-trans--lighter {
      background-color: rgba($lighter, 0.8);
    }

    .u-background-image--sabbath {
      background-attachment: fixed;
      background-size: auto 100vh;
      background-position: center right;
      background-repeat: no-repeat;
    }

    // Gradient
    .u-theme--gradient--bottom::after {
      content: "";
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-image: linear-gradient(to bottom, transparent, rgba($c-gray--light, 0.8) 50%);
    }

    .u-theme--gradient--top::after {
      content: "";
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 0;
      background-image: linear-gradient(to top, transparent, rgba($darker, 0.8) 100%);
    }

    // Text
    .text {
      a:not(.o-button) {
        border-color: $base;

        &:hover {
          border-color: $light;
        }
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $darker;
      }

      ul, ol {
        li::before {
          color: $base;
        }
      }

      .u-theme--background-color--darker {
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $c-white;
        }
      }
    }

    // Buttons
    .o-button,
    button,
    input[type=submit] {
      background-color: $base;
      color: $c-white;
      border-color: $base;

      svg path {
        fill: $c-white;
      }

      &:hover {
        background-color: $darker;
        border-color: $darker;
      }

      &:active,
      &.this-is-active {
        background-color: $dark;
        border-color: $dark;
      }

      &.disabled {
        background-color: $c-gray;
        border-color: $c-gray;
        cursor: not-allowed;

        &:hover {
          background-color: $c-gray--dark;
          border-color: $c-gray--dark;
        }
      }

      &:focus::after {
        border-color: $base;
      }
    }

    .o-button--simple {
      background-color: transparent;
      border-color: transparent;
      color: $base;

      svg path {
        fill: $base;
      }

      &:hover {
        color: $darker;
        background-color: transparent;
        border-color: transparent;
        text-decoration: underline;

        svg path {
          fill: $darker;
        }
      }

      &:active,
      &.this-is-active {
        color: $darker;
        background-color: transparent;
        border-color: transparent;

        svg path {
          fill: $darker;
        }
      }

      &.disabled {
        background-color: transparent;
        border-color: transparent;
        color: $c-gray;
        cursor: not-allowed;

        &:hover {
          background-color: transparent;
          border-color: transparent;
          color: $c-gray--dark;
        }
      }

      &:focus {
        color: $base;
        text-decoration: underline;

        &::after {
          display: none;
        }
      }
    }

    .o-button--outline {
      background-color: transparent;
      color: $base;
      border-color: $base;

      svg path {
        fill: $base;
      }

      &:hover {
        background-color: $dark;
        color: $c-white;
        border-color: $dark;

        svg path {
          fill: $c-white;
        }
      }

      &:active,
      &.this-is-active {
        background-color: transparent;
        color: $base;
        border-color: $darker;

        svg path {
          fill: $base;
        }
      }

      &.disabled {
        color: $c-gray;
        border-color: $c-gray;
        background-color: inherit;
        cursor: not-allowed;

        &:hover {
          color: $c-gray--dark;
          border-color: $c-gray--dark;
          background-color: inherit;
        }
      }

      &:focus::after {
        border-color: $base;
      }
    }

    .o-button--lighter {
      background-color: $lighter;
      color: $darker;
      border-color: $lighter;

      svg path {
        fill: $darker;
      }

      &:hover {
        background-color: $light;
        border-color: $light;
        color: $dark;

        svg path {
          fill: $dark;
        }
      }

      &:active,
      &.this-is-active {
        background-color: $base;
        border-color: $base;
        color: $c-white;

        svg path {
          fill: $c-white;
        }
      }

      &.disabled {
        color: $c-white;
        border-color: $c-gray;
        background-color: $c-gray;
        cursor: not-allowed;

        &:hover {
          color: $c-white;
          border-color: $c-gray--dark;
          background-color: $c-gray--dark;
        }
      }

      &:focus::after {
        border-color: $light;
      }
    }

    .o-button--white {
      background-color: $c-white;
      color: $darker;
      border-color: $c-white;

      svg path {
        fill: $darker;
      }

      &:hover {
        background-color: $lighter;
        border-color: $lighter;
        color: $darker;

        svg path {
          fill: $darker;
        }
      }

      &:active,
      &.this-is-active {
        background-color: $light;
        border-color: $light;
        color: $darker;

        svg path {
          fill: $darker;
        }
      }
    }

    input[type=radio],
    input[type=checkbox] {
      color: $darker;
      border-color: $darker;
    }

    input[type=radio]:checked,
    input[type=checkbox]:checked {
      background-color: $darker;
    }

    .c-header {
      .c-primary-nav__link {
        color: $darker;

        &.this-is-active,
        &:active {
          color: $base;
        }
      }

      .c-secondary-nav__link {
        &.this-is-active {
          color: $c-gray--darker;
        }
      }
    }

    .u-theme--dark {
      // Globals
      input,
      textarea,
      select {
        background-color: $c-gray--darker;
        border-color: $c-gray;
        color: white;
      }

      input[type=file] {
        background-color: transparent;
      }

      .u-background-color--gray--light {
        background-color: $darker;
      }

      // Colors
      .u-theme--color--darker,
      .u-theme--color--darker a,
      a.u-theme--link-hover--darker:hover,
      .u-theme--link-hover--darker a:hover {
        color: $lighter;
      }

      .u-theme--color--dark,
      .u-theme--color--dark a,
      a.u-theme--link-hover--dark:hover,
      .u-theme--link-hover--dark a:hover {
        color: $light;
      }

      .u-theme--color--base,
      .u-theme--color--base a,
      a.u-theme--link-hover--base:hover,
      .u-theme--link-hover--base a:hover {
        color: $c-white;
      }

      .u-color--gray {
        color: $c-white;
      }

      .u-color--gray--dark {
        color: $c-gray--light;
      }

      // Gradient
      .u-theme--background-gradient {
        background-image: linear-gradient(to bottom, $darker, $dark, $c-gray--darker);
      }

      &.u-theme--gradient--bottom::after,
      .u-theme--gradient--bottom::after {
        background-image: linear-gradient(to bottom, transparent, rgba($darker, 0.8) 50%);
      }

      // SVG fill colors
      .u-path-fill--gray path {
        fill: $c-white;
      }

      .u-path-fill--gray--dark path {
        fill: $c-gray--light;
      }

      .u-theme--path-fill--darker path {
        fill: $darker;
      }

      .u-theme--path-fill--dark path {
        fill: $dark;
      }

      .u-theme--path-fill--base path {
        fill: $c-white;
      }

      .o-arrow--down::after {
        border-top-color: $c-white;
      }

      // Borders
      .u-theme--border-color--darker {
        border-color: $lighter;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $lighter;
        }
      }

      .u-theme--border-color--dark {
        border-color: $light;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $light;
        }
      }

      .u-theme--border-color--base {
        border-color: $c-white;

        &--left,
        &--right,
        &--top,
        &--bottom {
          border-color: $c-white;
        }
      }

      // Text
      .text {
        a:not(.o-button) {
          color: $c-white;
          border-color: $light;

          &:hover {
            border-color: $lighter;
          }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $lighter;
        }

        ul,
        ol {
          li::before {
            color: $lighter;
          }
        }
      }

      &.c-form {
        .c-form-group {
          position: relative;

          input {
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $lighter;
            outline: 0;
            color: $lighter;
            padding-left: 0;
            padding-bottom: rem(10);
          }

          input::placeholder {
            color: $lighter;
          }

          label {
            position: absolute;
            top: 0;
            left: 0;
            color: $lighter;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.25s ease;
          }

          input:focus + label {
            top: rem(-15);
            font-size: rem(10);
            font-weight: bold;
            text-transform: uppercase;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      // Buttons
      .o-button,
      button,
      input[type=submit] {
        background-color: $lighter;
        border-color: $lighter;
        color: $darker;

        svg path {
          fill: $darker;
        }

        &:hover {
          background-color: $light;
          border-color: $light;
        }

        &:active,
        &.this-is-active {
          background-color: $light;
          border-color: $light;
          color: $dark;

          svg path {
            fill: $dark;
          }
        }

        &.disabled {
          background-color: $c-gray;
          border-color: $c-gray;
          cursor: not-allowed;
          color: $c-gray--darker;

          &:hover {
            background-color: $c-gray--light;
            border-color: $c-gray--light;
          }
        }

        &:focus::after {
          border-color: $lighter;
        }
      }

      .o-button--simple {
        background-color: transparent;
        border-color: transparent;
        color: $lighter;

        svg path {
          fill: $lighter;
        }

        &:hover {
          color: $light;
          background-color: transparent;
          border-color: transparent;

          svg path {
            fill: $light;
          }
        }

        &:active,
        &.this-is-active {
          color: $lighter;
          background-color: transparent;
          border-color: transparent;

          svg path {
            fill: $lighter;
          }
        }

        &.disabled {
          color: $c-gray;
          border-color: transparent;
          background-color: transparent;
          cursor: not-allowed;

          &:hover {
            color: $c-gray--light;
            border-color: transparent;
            background-color: inherit;
          }
        }

        &:focus {
          color: $lighter;

          &::after {
            display: none;
          }
        }
      }

      .o-button--outline {
        background-color: transparent;
        color: $lighter;
        border-color: $lighter;

        svg path {
          fill: $lighter;
        }

        &:hover {
          background-color: $lighter;
          border-color: $lighter;
          color: $darker;

          svg path {
            fill: $darker;
          }
        }

        &:active,
        &.this-is-active {
          background-color: transparent;
          border-color: $light;
          color: $lighter;

          svg path {
            fill: $lighter;
          }
        }

        &.disabled {
          background-color: transparent;
          border-color: $c-gray;
          color: $c-gray;
          cursor: not-allowed;

          svg path {
            fill: $c-gray;
          }

          &:hover {
            background-color: transparent;
            border-color: $c-gray--dark;
            color: $c-gray--dark;

            svg path {
              fill: $c-gray--dark;
            }
          }
        }

        &:focus::after {
          border-color: $lighter;
        }
      }

      // Custom
      .can-be--dark-dark {
        background-color: $darker;
      }

      .can-be--dark-light {
        .u-theme--color--darker {
          color: $darker;
        }

        .u-theme--color--dark {
          color: $dark;
        }

        .u-color--gray {
          color: $c-gray;
        }
      }

      .can-be--white {
        color: $c-white;
      }

      .can-be--light {
        color: $light;
      }

      .can-be--lighter {
        color: $lighter;
      }

      input[type=radio],
      input[type=checkbox] {
        color: $c-white;
        border-color: $lighter;
      }

      input[type=radio]:checked,
      input[type=checkbox]:checked {
        background-color: $lighter;
      }

      table {
        a {
          color: $c-white;
        }
      }

      th {
        border-bottom-color: $lighter;
      }

      tr {
        &:nth-child(even) {
          background-color: $c-gray--dark;
        }
      }

      .c-header {
        .c-priority-nav__dropdown-toggle {
          background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Ctitle%3Eicon-plus%3C/title%3E%3Cpath d='M15,8.5H8.5V15h-2V8.5H0v-2H6.5V0h2V6.5H15Z' fill='%23ffffff'/%3E%3C/svg%3E") center center no-repeat;
          background-size: 13px 13px;
        }

        .c-primary-nav__link {
          &.this-is-active,
          &:active {
            color: $light;
          }
        }

        .c-subnav__list-item {
          background-color: $darker;
          border-left-color: $lighter;
        }

        .c-secondary-nav__link {
          color: $lighter;

          &.this-is-active {
            color: $c-white;
          }

          svg path {
            fill: $lighter;
          }
        }
      }

      .l-sabbath {
        background-color: $c-black;
      }

      .c-secondary-nav__list-item__language select {
        color: $lighter;

        &::before {
          background: url("../images/icons/o-icon__language.svg") center center no-repeat;
        }
      }

      .c-page-header__search {
        input[type="search"] {
          color: $c-white;
          border-bottom-color: $lighter;
        }
      }
    }
  }
}

/**
 * Dark Theme
 */
.u-theme--dark {
  color: $c-white;
  background-color: $c-gray--darker;

  hr {
    background-color: rgba($c-white, 0.2);
  }

  .can-be--white {
    color: $c-white;
  }

  .can-be--dark-light {
    background-color: $c-gray--light !important;
  }

  .can-be--dark-dark {
    background-color: $c-gray--darker;
  }

  // Custom
  .l-grid-container--7-col::before {
    opacity: 0.1;
  }

  .c-header,
  .c-header__nav-secondary .c-secondary-nav__list-item__search,
  .c-header__nav-secondary .c-secondary-nav__list-item__menu {
    background-color: $c-gray--darker;
  }

  .l-sabbath__logo--inner > div {
    opacity: 1 !important;
  }
}
