/*------------------------------------*\
    $STYLEGUIDE UPDATES
\*------------------------------------*/

.sg-main {
  max-width: $max-width;
  padding: $pad;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(100);
}

.sg-alps-logo-wrap {
  border-bottom: 1px solid $c-gray--light;
  margin-bottom: $space;
  padding-left: $pad/2;
}

.sg-alps-logo {
  width: rem(250);
  display: block;
  padding: rem(15) $pad $pad/2 0;
}

.sg-introduction {
  .text {
    code,
    pre {
      font-size: 100%;
    }
  }
}

.sg-pattern-state {
  &.inprocess {
    &:before {
      color: red;
    }
  }
  &.inreview {
    &:before {
      color: yellow;
    }
  }
  &.complete {
    &:before {
      color: green;
    }
  }
}

/**
 * Styleguide Chrome Styles (Wrapper Controls)
 */
.sg-header,
.sg-tools-toggle {
  background-color: $c-theme-ming;

  a {
    color: $c-white;

    &.active {
      background-color: $c-theme-earth;
    }

    &:hover {
      background-color: darken($c-theme-earth, 10);
    }
  }

  // Remove start page from pattern list.
  [data-patternpartial="pages-start-page"] {
    display: none;
  }
}

.sg-acc-panel {
  li {
    background-color: $c-theme-earth;

    a:hover {
      background-color: darken($c-theme-earth, 10);
    }
  }
}

.sg-input {
  margin-left: 3px;
  margin-right: 3px;
  background-color: $c-theme-earth;
  color: $c-gray--light;
}

.sg-current-size {
  color: $c-white;
}

.sg-tools-toggle {
  path {
    fill: $c-white;
  }
}

.sg-acc-handle {
  &:after,
  &.active:after {
    color: rgba($c-white, .75);
  }
}

.sg-acc-panel {
  a {
    text-transform: none;
  }
}
