/* ------------------------------------*\
    $MEDIA QUERY TESTS
\*------------------------------------ */
@if $tests == true {
  body {
    &::before {
      display: block;
      position: fixed;
      z-index: 100000;
      background: black;
      bottom: 0;
      right: 0;
      padding: 0.5em 1em;
      content: 'No Media Query';
      color: transparentize(#fff, 0.25);
      border-top-left-radius: 10px;
      font-size: (12/16)+em;

      @media print {
        display: none;
      }
    }

    &::after {
      display: block;
      position: fixed;
      height: 5px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: (100000);
      content: '';
      background: black;

      @media print {
        display: none;
      }
    }

    @include media('>xsmall') {
      &::before {
        content: 'xsmall: 350px';
      }

      &::after,
      &::before {
        background: dodgerblue;
      }
    }

    @include media('>small') {
      &::before {
        content: 'small: 500px';
      }

      &::after,
      &::before {
        background: darkseagreen;
      }
    }

    @include media('>medium') {
      &::before {
        content: 'medium: 700px';
      }

      &::after,
      &::before {
        background: lightcoral;
      }
    }

    @include media('>large') {
      &::before {
        content: 'large: 900px';
      }

      &::after,
      &::before {
        background: mediumvioletred;
      }
    }

    @include media('>xlarge') {
      &::before {
        content: 'xlarge: 1100px';
      }

      &::after,
      &::before {
        background: hotpink;
      }
    }

    @include media('>xxlarge') {
      &::before {
        content: 'xxlarge: 1300px';
      }

      &::after,
      &::before {
        background: orangered;
      }
    }

    @include media('>xxxlarge') {
      &::before {
        content: 'xxxlarge: 1400px';
      }

      &::after,
      &::before {
        background: dodgerblue;
      }
    }
  }
}
