/*------------------------------------*\
    $STYLEGUIDE UPDATES
\*------------------------------------*/

.pl {
  .sg-main {
    max-width: $max-width;
    padding: $pad;
    margin-left: auto;
    margin-right: auto;
  }

  .sg-colors {
    width: 100%;
    li {
      width: rem(120);
    }
  }

  .sg-colors-swatch {
    display: block;
    height: rem(70);
  }
}

