/*------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------*/

.u-overlay--dark {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($c-black, 0.4);
}

.u-overlay--light {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($c-white, 0.4);
}

.u-gradient--bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, rgba($c-black, 0.5) 80%);
}

.has-grid {
  position: relative;

  &::after {
    background: url('../images/background-grid.svg') top left repeat-y;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    z-index: -1;
    display: block;
    content: "";
  }

  &.u-theme--dark::after {
    background: black url('../images/background-grid.svg') top left repeat-y;
    background-repeat: repeat-y;
    background-size: 100%;
    opacity: 0.1;
  }
}

/**
 * Arrows
 */
.o-arrow--down::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-top: rem(5) solid $c-gray;
}

/**
 * Right to left languages
 */
.u-rtl {
  direction: rtl;
  unicode-bidi: bidi-override;

  blockquote,
  .c-block__heading {
    border-right: rem(3) solid $c-black;
    border-left: 0;
    padding-left: $pad-mobile;
    padding-right: $pad-mobile;

    @include media('>large') {
      padding-left: $pad;
      padding-right: $pad;
    }
  }

  .u-border--left {
    border-right: rem(1) solid $c-black;
    border-left: 0;
  }

  .o-dropcap {
    float: right;
    margin-right: 0;
    margin-left: $pad;

    @include media('>large') {
      margin-left: $pad;
    }
  }

  .c-header .c-secondary-nav {
    direction: ltr;
  }

  .u-shift--right--1-col--at-medium {
    @include media('>medium') {
     margin-left: calc((100vw/7) * -1);
     margin-right: 0;
    }
  }

  .l-grid--7-col {
    &--l--offset-1 {
      @include media('>large') {
        margin-left: 0;
        margin-right: calc(100vw / 7);
      }
    }

    &--xl--offset-1 {
      @include media('>xxlarge') {
        margin-left: 0;
        margin-right: calc(100vw / 7);
      }
    }
  }
}

/**
 * Floats
 */
.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-float--none {
  float: none;
}


/**
 * Clearfix - extends outer container with floated children.
 */
.u-clear-fix {
  zoom: 1;
}

.u-clear-fix:before,
.u-clear-fix:after {
  content: " ";
  display: table;
}

.u-clear-fix:after {
  clear: both;
}

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.hide {
  display: none;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.screen-reader-text,
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Inner wrapper for images to adjust off line-height.
 */
.u-image--wrap {
  margin-bottom: rem(5);
  position: relative;
  overflow: hidden;
  img,
  picture {
    display: block;
  }
}

/**
 * Stretch media full browser width.
 */
.u-image--breakout {
  min-height: rem(250);
  width: 100%;

  @include media('>medium') {
    min-height: rem(350);
  }

  @include media('>large') {
    min-height: rem(450);
  }

  @include media('>xlarge') {
    min-height: rem(550);
  }
}

/**
 * Positioning
 */
.u-position--relative {
  position: relative;
}

.u-position--absolute {
  position: absolute;
}

/**
 * Round Element
 */
.u-round {
  overflow: hidden;
  border-radius: 100%;
}

/**
 * Background Covered
 */
.u-background--cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.u-background-image {
  background-size: 100%;
  background-repeat: no-repeat;
}

/**
 * Flexbox
 */
.u-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.u-flex--end {
  align-self: flex-end;
}

.u-flex--wrap {
  flex-wrap: wrap;
}

.u-flex--nowrap {
  flex-wrap: nowrap;
}

.u-flex-direction--column {
  flex-direction: column;
}

.u-flex--align-center {
  align-items: center;
}

.u-flex--align-end {
  align-items: flex-end;
}

.u-flex--justify-center {
  justify-content: center;
}

.u-flex--justify-start {
  justify-content: flex-start !important;
}

.u-flex--justify-between {
  justify-content: space-between;
}

/**
 * Misc
 */
.u-overflow--hidden {
  overflow: hidden;
}

.u-width--100p {
  width: 100%;
}

.u-height--100p {
  height: 100%;
}

/**
 * Alignment
 */
.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-text-align--right {
  text-align: right;
}

.u-text-align--center {
  text-align: center;
}

.u-text-align--left {
  text-align: left;
}

.u-align--center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
