/*------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------*/

/**
 * Arrows
 */
.o-arrow {
  width: 0;
  height: 0;
  display: inline-block;
}

.o-arrow--up {
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-bottom: rem(5) solid $c-black;
}

.o-arrow--down {
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-top: rem(5) solid $c-gray;
}

.o-arrow--right {
  border-top: rem(5) solid transparent;
  border-bottom: rem(5) solid transparent;
  border-left: rem(5) solid $c-black;
}

.o-arrow--left {
  border-top: rem(5) solid transparent;
  border-bottom: rem(5) solid transparent;
  border-right: rem(5) solid $c-black;
}

.o-arrow--small {
  border-width: 5px;
}

/**
 * Clearfix - extends outer container with floated children.
 */
.u-clear-fix {
  zoom: 1;
}
.u-clear-fix:before, .u-clear-fix:after {
  content: " "; // 1
  display: table; // 2
}
.u-clear-fix:after {
  clear: both;
}

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  visibility: hidden;
}
.hide {
  display: none;
}

/**
 * Right to left languages
 */
.u-rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}

/**
 * Floats
 */
.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-float--none {
  float: none;
}

/**
 * Clear Floats
 */
.u-clear--both {
  clear: both;
}
.u-clear--left {
  clear: left;
}
.u-clear--right {
  clear: right;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.screen-reader-text,
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Inner wrapper for images to adjust off line-height.
 */
.u-image--wrap {
  margin-bottom: rem(5);
  position: relative;
  overflow: hidden;
  img,
  picture {
    display: block;
  }
}

/**
 * Stretch media full browser width.
 */
.u-image--breakout {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  img {
    width: 100%;
    width: 100vw;
  }
}

/**
 * Floats
 */
.u-flaot--right {
  float: right;
}
.u-flaot--left {
  float: left;
}

/**
 * Positioning
 */
.u-position--relative {
  position: relative;
}

.u-position--absolute {
  position: absolute;
}

/**
 * Round Element
 */
.u-round {
  overflow: hidden;
  border-radius: 100%;
}

/**
 * Background Covered
 */
.u-background--cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/**
 * Flexbox
 */
.u-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.u-flex--end {
  align-self: flex-end;
}

.u-flex--wrap {
  flex-wrap: wrap;
}

.u-flex--nowrap {
  flex-wrap: nowrap;
}

.u-flex-direction--column {
  flex-direction: column;
}

.u-flex--align-center {
  align-items: center;
}

.u-flex--align-end {
  align-items: flex-end;
}

.u-flex--justify-center {
  justify-content: center;
}

.u-flex--justify-between {
  justify-content: space-between;
}

/**
 * Misc
 */
.u-overflow--hidden {
  overflow: hidden;
}

.u-width--100p {
  width: 100%;
}

.u-height--100p {
  height: 100%;
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .u-no-js-hide {
  display: none;
}

/**
 * Positioning
 */
.u-position--relative {
  position: relative;
}

.u-position--absolute {
  position: absolute;
}

/**
 * Active on/off states
 */
.u-active--off {
  display: none;
}
.this-is-active,
.is-active {
  .u-active--on {
    display: none;
  }
  .u-active--off {
    display: block;
  }
}

/**
 * Alignment
 */
.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-text-align--right {
  text-align: right;
}

.u-text-align--center {
  text-align: center;
}

.u-text-align--left {
  text-align: left;
}

.u-align--center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.u-vertical-align--top {
  vertical-align: top;
}

.u-vertical-align--text-top {
  vertical-align: text-top;
}

.u-vertical-align--bottom {
  vertical-align: bottom;
}

.u-vertical-align--text-bottom {
  vertical-align: text-bottom;
}

.u-vertical-align--middle {
  vertical-align: middle;
}

.u-vertical-align--sub {
  vertical-align: sub;
}

.u-vertical-align--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * Background Covered
 */
.u-background--cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.u-background-image {
  background-size: 100%;
  background-repeat: no-repeat;
}

/**
 * Flexbox
 */
.u-align-items--center {
  align-items: center;
}

.u-align-items--end {
  align-items: flex-end;
}

.u-align-items--start {
  align-items: flex-start;
}

.u-justify-content--center {
  justify-content: center;
}
