@import "settings.variables";

/*------------------------------------*\
    $THEMES
\*------------------------------------*/
@function map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map_merge($collection, $map);
  }
  @return $collection;
}

$themes: map-collect((), $u-theme-treefrog, $u-theme-ming);

@import "common";
