@import "settings.variables";

/*------------------------------------*\
    $THEMES
\*------------------------------------*/
@function map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map_merge($collection, $map);
  }
  @return $collection;
}

$themes: map-collect((), $u-theme-nad-denim, $u-theme-nad-nile, $u-theme-nad-amethyst, $u-theme-nad-spark, $u-theme-nad-miracle, $u-theme-nad-branch, $u-theme-nad-vine, $u-theme-treefrog, $u-theme-ming, $u-theme-bluejay, $u-theme-iris, $u-theme-lily, $u-theme-scarlett, $u-theme-campfire, $u-theme-winter, $u-theme-forest, $u-theme-cave, $u-theme-denim, $u-theme-emperor, $u-theme-grapevine, $u-theme-velvet, $u-theme-earth, $u-theme-night);

@import "common";
