/* NAD Styles */

/**
  * Header - NAD Pseudo-Pattern
  * Issue: https://github.com/adventistchurch/alps/issues/174
  * CSS Reference: css/_module.header.scss
  * PL/JSON Reference: @organisms/global/header~nad-division-logo.json
  * Note: Use of .logo__link--horiz should not be confused with the horizontal orientation of the NAD logo
  */
header.division-nad {
  .logo__link {
    width: 335px;
    height: 177px;
    padding: 40px;
  }
}