@import "bourbon";
@import "settings.variables";
@import "tools.mixins";
@import "tools.include-media";
@import "modifier.spacing";


/*------------------------------------*\
    $CUSTOM PATTERN LAB STYLEGUIDE
\*------------------------------------*/

$max-width: rem(1130);

.rel {
  position: relative;
}

#patternlab-html,
#patternlab-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $white;
}

.sg-annotation-toggle {
  display: none;
}
.pre-header {
  &.active {
    .sg-intro {
      display: none;
    }
    .sg-annotation-toggle {
      display: block;
    }
  }
}
.layout-container {
  max-width: rem(1104);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.alps-logo-wrap {
  border-bottom: 1px solid $gray-light;
  margin-bottom: $space;
  padding-left: $pad-half;
}
.alps-logo {
  width: rem(250);
  display: block;
  padding: rem(15) $pad $pad-half 0;
}

/**
 * Header
 */
.sg-header {
  font-family: $sans;
  order: 1;
  z-index: 10000;
  width: rem(230);
  font-weight: 600;
  right: rem(35);
  top: $space;
  left: auto;
  position: absolute;
  background-color: transparent;
  a {
    color: $white;
  }
}
.sg-acc-handle {
  vertical-align: middle;
  &:after {
    width: rem(14);
    color: $gray-med;
    margin-left: 2px;
    display: inline-block;
    font-size: 100%;
  }
}

/**
 * Nav
 */
.sg-header .sg-nav-toggle {
  display: block;
  color: $black;
  width: 100%;
  height: rem(60);
  width: rem(60);
  position: relative;
  right: rem(-20);
  margin-left: auto;
  border-bottom: none;
  background: transparent url("../images/icon-atom--+.svg") no-repeat center right;
  background-size: contain;
  &:hover,
  &:focus {
    background: transparent url("../images/icon-atom--+.svg") no-repeat center right;
    background-size: contain;
    color: $ming;
  }
  &.active {
    background-image: url("../images/icon-atom--x.svg");
  }
}
.sg-nav-container.active ~ .sg-nav-toggle {
  background-color: red;
}
.sg-nav-container {
  display: none;
  background-color: $black;
  margin-top: rem(-15);
  margin-right: rem(15);
  box-shadow: 4px 4px rgba($black, .15);
  &.active {
    display: block;
  }
}
.sg-nav > li {
  border-bottom: 1px solid rgba($white, .2);
  border-right: none;
  float: none;
}
.sg-controls, {
  position: relative;
  padding-bottom: rem(35);
}
.sg-control > li,
.sg-current-size,
.sg-size-options {
  float: none;
}
.sg-find,
.sg-tools {
  display: none; // hide for now.
}
.sg-view {
  position: static;
  .sg-icon-eye {
    display: none;
  }
  .sg-view {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    min-width: 0;
    max-height: none;
    overflow: visible;
    li {
      display: none;
      &:last-child {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        border-top: 1px solid rgba($white, .2);
        a {
          font-family: $sans;
          font-weight: 600;
          &:before {
            font-family: 'icomoon';
          }
        }
      }
    }
  }
}
.sg-nav > li > ol {
  position: relative;
  top: 0;
  > li a {
    display: block;
    padding-left: $pad;
    text-transform: capitalize;
  }
}
.sg-acc-panel {
  height: auto !important;
  .sg-sub-nav.active {
    a {
      padding-left: $pad-and-half;
    }
  }
}
.sg-nav-atoms {
  @include scrollbar(8px, rgba($gray-light, .5), rgba($ming, .2));
}
.sg-header a.active,
.sg-acc-handle.active {
  background-color: rgba($white, .35);
}
.sg-nav-blocks {
  .sg-acc-handle.active {
    background-color: rgba($ming, .5);
  }
}
.sg-header a:hover,
.sg-header a:focus {
  background-color: rgba($white, .15);
}
.sg-size-options > li {
  text-align: center;
  width: 25%;
}
// Hide "View All"
// [data-patternpartial^="viewall"] {
//   display: none !important;
// }

#sg-vp-wrap {
  position: relative;
  height: rem(800);
  order: 3;
  top: 0;
}

/**
 * Resize Container
 */
#sg-gen-container {
  border: 2px solid $gray-light;
  border-right: none;
}
#sg-rightpull {
  background-color: $ming;
  position: relative;
  &:hover {
    background-color: lighten($ming, 15);
  }
  &:active {
    background-color: darken($ming, 10);
  }
  &:after {
    content: "|||";
    position: absolute;
    font-size: rem(14);
    color: rgba($white, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/**
 * View Containers
 */
.sg-view-container {
  position: static;
  background-color: $white;
  max-width: $max-width;
  margin-left: 0;
  display: none;
  height: auto;
  margin-bottom: $space-half;
  &.anim-ready {
    display: block;
    transition: none;
  }
}

/**
 * Annotations
 */
#sg-annotation-container {
  position: relative;
  order: 2;
  overflow: visible;
  &.active {
    display: none;
  }
  &[style="bottom: 0px;"] {
    margin-bottom: $space;
  }
}
.sg-annotation-toggle {
  font-family: $sans;
  text-transform: uppercase;
  font-size: rem(10);
  font-weight: bold;
  margin-top: 0;
  position: relative;
  text-align: right;
  padding-right: rem(48);
  .show-annotations {
    display: none;
  }
  &:after {
    content: "-";
    position: absolute;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    background-color: $ming;
    color: $white;
    padding: rem(8);
    font-size: rem(16);
    font-weight: bold;
    right: 0;
    bottom: rem(-13);
    border: 2px solid $white;
    box-shadow: 0 0 3px rgba($black, .3);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 100;
  }
  &:hover:after {
    background-color: darken($ming, 10);
  }
  &.active {
    margin-bottom: $space;
    .show-annotations {
      display: block;
    }
    .hide-annotations {
      display: none;
    }
    &:after {
      content: "+";
    }
  }
}
.sg-comments-code-wrap {
  @include media('>large') {
    display: flex;
  }
}
.sg-comments-container {
  @include media('>large') {
    width: 70%;
    padding-right: rem(60);
  }
}
.sg-code-details {
  @include media('>large') {
    width: 30%;
    margin-top: rem(-6);
  }
}
.sg-code-patternname {
  position: absolute;
  right: rem(90);
  top: rem(14);
  font-size: rem(18);
}
#sg-comments-container {
  max-width: none;
}
.sg-comment-container {
  padding-bottom: $pad-half;
  color: $black;
  h2 {
    padding-bottom: rem(6);
    margin-bottom: $space;
    margin-top: 0;
    border-bottom: 1px solid $black;
    font-size: rem(20);
  }
}
.sg-intro,
.sg-comment-container {
  > div,
  p {
    font-family: $serif;
    font-size: rem(16);
    line-height: 1.55;
  }
}
.sg-code-heading {
  font-size: rem(11);
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 1px;
  color: $gray-med;
}
.sg-code-details {
  a {
    color: $ming;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid rgba($black, .17);
    text-transform: capitalize;
    font-size: rem(12);
    line-height: 1.7;
    &:hover {
      color: darken($ming, 15);
    }
  }
}
.annotation-tip {
  background-color: $ming !important;
  padding-top: 1px;
  border: 2px solid $white;
}
.has-annotation {
  box-shadow: none;
  &:hover {
    box-shadow: 0 0 rem(10) $ming;
  }
}

/**
 * Code Container
 */
#sg-code-container {
  order: 4;
  margin-top: $space-double;
  display: none;
  &[style="bottom: 0px;"] {
    display: block;
  }
}
#sg-code-tabs {
  li {
    font-size: rem(14);
    letter-spacing: 1px;
    border-top: none;
    background-color: $white;
    padding: $pad-half $pad;
    border: 1px solid $gray-light;
    border-bottom: none;
    margin-right: rem(6);
  }
  .sg-code-title-active {
    background-color: darken($ming, 15) !important;
    color: $white;
    border-color: transparent;
  }
}
pre[class*="language-"] {
  border-radius: 0;
}
.sg-code-head {
  color: $white;
}
.sg-code {
  display: none !important;
  color: lighten(#e6db74, 10);
  background-color: #272822;
  pre {
    border-color: $white;
    font-size: rem(18);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/**
 *  * Color Containers
 */
.colorset {
  display: flex;
  flex-wrap: wrap;
}

.colorset--color {
  flex: 0 1 20%;
  flex-direction: column;
}

.sg-lable--color{
  display: block;
}
