@import "bourbon";
@import "settings.variables";
@import "tools.mixins";
@import "tools.include-media";


/*------------------------------------*\
    $CUSTOM PATTERN LAB STYLEGUIDE
\*------------------------------------*/

#patternlab-html, #patternlab-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $white;
}

/**
 * Header
 */
.sg-header {
  font-family: "Arial", sans-serif;
  order: 1;
  z-index: 10000;
  width: rem(220);
  font-weight: 600;
  right: $space;
  top: $space;
  left: auto;
  position: absolute;
  a {
    color: $white;
  }
}
.sg-acc-handle {
  vertical-align: middle;
  &:after {
    width: rem(14);
    color: $gray-med;
    margin-left: 2px;
    display: inline-block;
    font-size: 100%;
  }
}

/**
 * Nav
 */
.sg-header .sg-nav-toggle {
  display: block;
  background-color: $white;
  color: $black;
  width: 100%;
  height: rem(60);
  padding-top: rem(25);
  text-align: right;
  padding-right: rem(65);
  background: $white url("http://d.pr/i/1iAbU+") no-repeat center right;
  &:hover,
  &:focus {
    background: $white url("http://d.pr/i/1iAbU+") no-repeat center right;
    color: $ming;
  }
}
.sg-nav-container {
  display: none;
  &.active {
    display: block;
  }
}
.sg-nav > li {
  border-bottom: 1px solid rgba($white, .2);
  border-right: none;
  float: none;
}
.sg-controls {
  position: relative;
}
.sg-control > li,
.sg-current-size,
.sg-size-options {
  float: none;
}
.sg-find,
.sg-view,
.sg-tools {
  display: none; // hide for now.
}
.sg-nav > li > ol {
  position: relative;
  top: 0;
  > li a {
    display: block;
    padding-left: $pad;
    text-transform: capitalize;
  }
}
.sg-acc-panel {
  height: auto !important;
  .sg-sub-nav.active {
    a {
      padding-left: $pad-and-half;
    }
  }
}
.sg-nav-atoms {
  @include scrollbar(8px, rgba($gray-light, .5), rgba($ming, .2));
}
.sg-header a.active,
.sg-acc-handle.active {
  background-color: rgba($white, .35);
}
.sg-nav-blocks {
  .sg-acc-handle.active {
    background-color: rgba($ming, .5);
  }
}
.sg-header a:hover,
.sg-header a:focus {
  background-color: rgba($white, .15);
}


#sg-vp-wrap {
  position: relative;
  height: rem(800);
  order: 3;
  top: 0;
}

.sg-view-close {
  display: none;
}

#sg-gen-container {
  border: 2px solid $gray-light;
  border-right: none;
}
#sg-rightpull {
  background-color: $ming;
  position: relative;
  &:hover {
    background-color: $treefrog;
  }
  &:after {
    content: "|||";
    position: absolute;
    font-size: rem(14);
    color: rgba($white, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/**
 * View Containers
 */
.sg-view-container {
  position: static;
  background-color: $white;
  max-width: rem(1130);
  margin-left: 0;
}

/**
 * Annotations
 */
#sg-annotation-container {
  order: 2;
  margin-bottom: $space-double;
}
#sg-comments-container {
  max-width: none;
}
.sg-comment-container {
  padding-bottom: $pad-half;
  color: $black;
  h2 {
    padding-bottom: rem(6);
    border-bottom: 1px solid $black;
    font-size: rem(28);
  }
  > div {
    font-family: $serif;
    font-size: rem(18);
  }
}

/**
 * Code Container
 */
#sg-code-container {
  order: 4;
  margin-top: $space-double;
}
#sg-code-tabs {
  li {
    font-size: rem(14);
    letter-spacing: 1px;
    border-top: none;
    background-color: $white;
    padding: $pad-half $pad;
    border: 1px solid $gray-light;
    border-bottom: none;
    margin-right: rem(6);
  }
  .sg-code-title-active {
    background-color: $ming !important;
    color: $white;
    border-color: transparent;
  }
}
pre[class*="language-"] {
  border-radius: 0;
}

