&lt;ul class=&quot;ui-autocomplete ui-front ui-menu ui-widget ui-widget-content global&quot; id=&quot;ui-id-1&quot; tabindex=&quot;0&quot;&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-4&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;le&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-5&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;lical&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-6&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;les&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-7&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;lically&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-8&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;lique&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-9&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;lica&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-10&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;lia&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-11&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;liography&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-12&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;el&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;ui-menu-item&quot; id=&quot;ui-id-13&quot; tabindex=&quot;-1&quot;&gt;&lt;a&gt;&lt;strong&gt;bib&lt;/strong&gt;le&rsquo;s&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
