&lt;header class=&quot;header {{ header_class }}&quot; role=&quot;banner&quot; id=&quot;header&quot;&gt;
  {{&gt; molecules-navigation-toggle }}
  &lt;div class=&quot;header__top-hat show-at--large bg--black pad-half align--right&quot;&gt;
    &lt;span class=&quot;icon icon__logo&quot;&gt;{{&gt; atoms-icon-logo(fill_class: &apos;fill--white&apos;) }}&lt;/span&gt;
    &lt;p class=&quot;font--secondary--xs gray--med&quot;&gt;This is an official website of the Seventh-day Adventist Church. &lt;a class=&quot;link--white&quot; href=&quot;&quot;&gt;Learn More about Adventists&lt;/a&gt;.&lt;/p&gt;
  &lt;/div&gt; &lt;!-- /.header__top-hat --&gt;
  &lt;div class=&quot;header__inner&quot;&gt;
    &lt;div class=&quot;header__unify-logo-nav&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;logo__link logo__link--horiz theme--primary-background-color show-until--large&quot;&gt;{{&gt; atoms-logo-horiz }}&lt;/a&gt;
      &lt;a href=&quot;/&quot; class=&quot;logo__link logo__link--square theme--primary-background-color show-at--large&quot;&gt;{{&gt; atoms-logo-square }}&lt;/a&gt;
      {{&gt; molecules-primary-navigation }}
    &lt;/div&gt; &lt;!-- /.header__unify-logo-nav --&gt;
    &lt;div class=&quot;header__utility&quot;&gt;
      &lt;div class=&quot;layout-container header__utility__inner full--until-large&quot;&gt;
        {{&gt; molecules-secondary-navigation }}
        {{&gt; molecules-search }}
      &lt;/div&gt;
    &lt;/div&gt; &lt;!-- /.header__utility --&gt;
  &lt;/div&gt; &lt;!-- /.header__inner --&gt;
&lt;/header&gt; &lt;!-- .header --&gt;
