{{^ no_lazy }}
  <img class="lazy" data-original="{{ img.src }}" itemprop="image" alt="{{ img.alt }}" />
  <noscript><img src="{{ img.src }}" alt="{{ img.alt }}"></noscript>
{{/ no_lazy }}

{{# no_lazy }}
  <img src="{{ img.src }}" itemprop="image" alt="{{ img.alt }}" />
{{/ no_lazy }}
