{{# media_block_default }}
&lt;div class=&quot;media-block block spacing--quarter {{ block_class }}&quot;&gt;

  {{# block_heading }}
    &lt;h2 class=&quot;font--tertiary--m theme--primary-text-color pad--btm&quot;&gt;{{# heading_icon }}&lt;div class=&quot;icon icon--s&quot;&gt;{{{ heading_icon }}}&lt;/div&gt; {{/ heading_icon }} {{{ block_heading }}}&lt;/h2&gt;
  {{/ block_heading }}

  {{# kicker }}
    &lt;span class=&quot;kicker font--secondary--m upper theme--secondary-text-color db&quot;&gt;{{ kicker }}&lt;/span&gt;
  {{/ kicker }}

  &lt;div class=&quot;media-block__inner {{ block_inner_class }}&quot;&gt;
    {{# img }}
      &lt;a class=&quot;media-block__image-wrap block__image-wrap db&quot; href=&quot;{{ url }}&quot;&gt;
        &lt;div class=&quot;{{ block_img_class }} dib&quot;&gt;&lt;img class=&quot;media-block__image block__image&quot; src=&quot;{{ img.src }}&quot; alt=&quot;{{ img.alt }}&quot; /&gt;&lt;/div&gt;
      &lt;/a&gt; &lt;!-- /.media-block__image-wrap --&gt;
    {{/ img }}

    {{# video }}
      &lt;div class=&quot;fitvid media-block__video&quot;&gt;{{&gt; atoms-video }}&lt;/div&gt;
    {{/ video }}

    &lt;div class=&quot;media-block__content block__content {{ block_content_class }}&quot;&gt;

      {{# title }}
        &lt;h3 class=&quot;media-block__title block__title {{ block_title_class }}&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;block__title-link theme--primary-text-color&quot;&gt;{{{ title }}}&lt;/a&gt;&lt;/h3&gt;
      {{/ title }}

      {{# date }}
        &lt;time class=&quot;block__date font--secondary--xs brown space-half--btm&quot; datetime=&quot;{{ datetime }}&quot;&gt;{{{ date }}}&lt;/time&gt;
      {{/ date }}

      {{# description }}
        &lt;div class=&quot;text pad-half--btm&quot;&gt;&lt;p class=&quot;media-block__description block__description&quot;&gt;&lt;span class=&quot;font--primary--xs&quot;&gt;{{ description }}&lt;/span&gt;&lt;/p&gt;&lt;/div&gt;
      {{/ description }}

      {{# cta }}
        &lt;p&gt;&lt;a class=&quot;media-block__cta block__cta btn theme--secondary-background-color&quot; href=&quot;{{ url }}&quot;&gt;{{ cta }}&lt;/a&gt;&lt;/p&gt;
      {{/ cta }}

    &lt;/div&gt; &lt;!-- media-block__content --&gt;
  &lt;/div&gt; &lt;!-- /.media-block__inner --&gt;

&lt;/div&gt; &lt;!-- /.media-block --&gt;
{{/ media_block_default }}
