<header class="c-header {{ header_class }}" role="banner" id="header">
  <div class="c-header--inner">
    <div class="c-header__logo c-logo">
      <a href="/" class="c-logo__link">
      {% include '@atoms/images/logo.twig' %}
      </a>
    </div> <!-- /.c-header__logo -->
    <div class="c-header__nav">
      <div class="c-header__nav-secondary">
        {% include '@molecules/navigation/secondary-navigation.twig' %}
        {% include '@molecules/navigation/search-toggle.twig' %}
        {% include '@molecules/navigation/navigation-toggle.twig' %}
      </div>
      <div class="c-header__nav-primary">
        {% include '@molecules/navigation/primary-navigation.twig' %}
      </div>
    </div> <!-- /.c-header__nav -->
  </div> <!-- /.c-header--inner -->
</header> <!-- .c-header -->
