<header class="c-header {{ header_class }}" role="banner" id="header">
  <div class="c-header--inner">
    <div class="c-header__nav-secondary">
      {% include '@molecules/navigation/secondary-navigation.twig' %}
    </div>
    <div class="c-header__logo c-logo {{ header_logo_size }}">
      <a href="/" class="c-logo__link {{ header_logo_class }}">
        {% include '@atoms/images/' ~ header_logo ~ '.twig' %}
      </a>
    </div><!-- /.c-header__logo -->
    <div class="c-header__nav-primary">
      {% include '@molecules/navigation/primary-navigation.twig' %}
    </div>
  </div><!-- /.c-header--inner -->
  {% if header_overlay == true %}
    <div class="c-header__sabbath u-theme--gradient--top">
      <div class="o-logo u-path-fill--white">
        {% include '@atoms/icons/icon-logo.twig' %}
      </div>
    </div>
  {% endif %}
</header>
<!-- .c-header -->
{% include '@molecules/navigation/drawer-navigation.twig' with drawer %}
