<div class="header__top-hat u-hide-until--l u-background-color--black u-padding--half u-text-align--right">
  <span class="u-icon icon__logo"><a href="http://www.adventist.org">{% include '@atoms/icons/icon-logo.twig' with {'fill_class': 'u-fill--white'} %}</a></span>
  <p class="u-font--secondary--xs gray--med">This is an official website of the Seventh-day Adventist Church. <a class="u-link--white" href="">Learn More about Adventists</a>.</p>
</div> <!-- /.header__top-hat -->
