<div class="header__top-hat show-at--large bg--black pad-half u-text-align--right">
  <span class="icon icon__logo"><a href="http://www.adventist.org">{% include '@atoms/icons/icon-logo.twig' with {'fill_class': 'fill--white'} %}</a></span>
  <p class="u-font--secondary--xs gray--med">This is an official website of the Seventh-day Adventist Church. <a class="link--white" href="">Learn More about Adventists</a>.</p>
</div> <!-- /.header__top-hat -->
