<div class="content u-clear-fix has-aside" role="document">
  {% include '@organisms/global/header.twig' %}
  <main class="main can-be--dark-dark" role="main">
    {% include '@organisms/sections/page-header.twig' %}
    <div class="l-container l-full--until-large">
      <div class="l-flex-container u-clear-fix">
        <div class="l-shift-left--fluid l-column--primary u-background-color--white u-padding--zero--top u-padding--zero--bottom can-be--dark-light">

          <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "Powerful earthquake in Ecuador kills 413, injures more than 2,500",
  "image": {
    "@type": "ImageObject",
    "url": "https://placehold.it/800x600",
    "height": 600,
    "width": 800
  },
  "datePublished": "2016-04-19T08:00:00+08:00",
  "dateModified": "2016-04-19T09:20:00+08:00",
  "author": {
    "@type": "Person",
    "name": "Andrew McChesney"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Seventh Day Adventists",
    "logo": {
      "@type": "ImageObject",
      "url": "https://placehold.it/100x100",
      "width": 100,
      "height": 60
    }
  },
  "description": "Church members, humanitarians gather donations to assist those affected by the tragedy."
}
</script>


<div class="u-padding--primary u-spacing l-column--primary">

  {% include '@organisms/sections/article-header.twig' %}

  <div class="text article__body u-spacing">


    <p>The Upper Columbia Conference of Seventh-day Adventists dedicated a 1-mile walking trail that meanders through the pine trees on their property in memory of Dr. Jay Randall Sloop, former Health Ministries Director, who died on a mission trip to the Ukraine two years ago. This was a more than fitting tribute to honor a man who challenged everyone he contacted—patients, friends, church members, even the casual acquaintance—to  take seriously their own health: physically, mentally, and spiritually. Exercise was a cornerstone of his everyday life—daily walks on the hills near their home, or a climb on a mountain in the Cascades, and saying to colleagues during a break in meetings, “Come on, let’s walk around the parking lot together!” </p>

    {% include '@molecules/media/figure-with-modal.twig' with {'figure_class' : 'size--medium alignright'} %}


    <p>During the dedication service, Dr. Fred Hardinge, Associate General Conference Health Ministries Director awarded Dr. Sloop, posthumously, the Medal of Distinguished Service in Health Ministry. This award recognizes those who have given a lifetime of service to the work of Health Ministry. Eighty-seven such medals have now been presented to a very diverse group of individuals around the globe--each one a humble, servant leader in Health Ministry. This was the first time it has been awarded posthumously, and the lovely plaque and beautiful lapel pin were presented to Dr. Sloop's widow, Sharlene Sloop.</p>

    <p>Those who personally knew Dr. Sloop, recognized he was endowed with significant capability and talent. Yet he was humble to the core of everything he did. His life was focused on serving His God, family, and community. He was one of the most balanced individuals when it came to health—a quality not always present in adequate measure among those who promote healthful living. He was a man of deep convictions and consecration to God. His unassuming servant leadership often hid a sharp, insightful intellect that blessed so many.</p>

    <p>Fittingly, the concluding activity of the ceremony was walk the whole trail let by Sharlene Sloop, two of her sons and their wives along with office staff and friends. At the beginning is a stone monument inscribed with these words:</p>

    <blockquote>
      <p>Jay Sloop Trail, dedicated April 6, 2016. This trail was constructed in honor of Dr. Jay Randall Sloop for his last years of selfless service in the Upper Columbia Conference and around the world. His life of faith inspired countless people to make physical, mental and spiritual health a lifelong priority.
</p>
    </blockquote>



  </div>


</div> <!-- /.u-spacing -->

<hr>

<div class="l-grid l-grid--2-col--at-medium with-divider">
  <div class="l-grid-item">
    <div class="u-padding u-padding--primary">{% include '@molecules/blocks/media-block.twig' with {'block_inner_class' : 'block__row--small-to-medium'} %}</div>
  </div> <!-- /.l-grid-item -->
  <div class="l-grid-item">
    <div class="u-padding u-padding--primary">{% include '@molecules/blocks/media-block.twig' with {'block_inner_class' : 'block__row--small-to-medium'} %}</div>
  </div> <!-- /.l-grid-item -->
</div> <!-- /.2up--at-medium -->


        </div> <!-- /.l-shift-left--fluid -->
        <div class="l-shift-right--fluid u-background-color--beige can-be--dark-dark">
          {% if breakout_block %}
            {% include '@molecules/blocks/media-block.twig' %}
          {%  endif %}
          <div class="l-column--secondary can-be--dark-dark">
            {% include '@organisms/asides/aside.twig' %}
          </div>
        </div> <!-- /.l-shift-right--fluid -->
      </div> <!-- /.l-flex-container -->
    </div> <!-- /.l-container -->
  </main> <!-- /.main -->
  {% include '@organisms/global/footer.twig' %}
</div> <!-- /.content -->
