&lt;div class=&quot;layout-container layout-container--s pad-double&quot;&gt;
  &lt;form class=&quot;spacing&quot; action=&quot;index.html&quot; method=&quot;post&quot;&gt;
    &lt;div class=&quot;spacing--quarter&quot;&gt;
      &lt;h2 class=&quot;font--secondary--l theme--secondary-text-color&quot;&gt;Login&lt;/h2&gt;
      &lt;hr /&gt;
      &lt;div class=&quot;messaging pad white theme--primary-background-color&quot;&gt;&lt;span class=&quot;font--secondary--s&quot;&gt;Logging you in...&lt;/span&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;spacing--quarter mw--400&quot;&gt;
      &lt;input type=&quot;text&quot; name=&quot;name&quot; value=&quot;&quot; placeholder=&quot;Username*&quot;&gt;
      &lt;input type=&quot;password&quot; name=&quot;name&quot; value=&quot;&quot; placeholder=&quot;Password*&quot;&gt;
      &lt;input class=&quot;theme--secondary-background-color&quot; type=&quot;submit&quot; value=&quot;Login&quot; /&gt;
    &lt;/div&gt;
    &lt;p&gt;&lt;a class=&quot;font--secondary--s theme--secondary-text-color&quot; href=&quot;&quot;&gt;Forgot Password?&lt;/a&gt;&lt;/p&gt;
&lt;/form&gt;
