
    &lt;div class=&quot;theme-switcher pad&quot;&gt;
      &lt;div class=&quot;theme-swatches theme-swatches--primary&quot;&gt;
        &lt;h4 class=&quot;theme-heading&quot;&gt;Primary&lt;/h4&gt;
        &lt;div class=&quot;swatch active bg--emperor&quot; data-color=&quot;emperor&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--earth&quot; data-color=&quot;earth&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--grapevine&quot; data-color=&quot;grapevine&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--denim&quot; data-color=&quot;denim&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--campfire&quot; data-color=&quot;campfire&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--treefrog&quot; data-color=&quot;treefrog&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--ming&quot; data-color=&quot;ming&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;

      &lt;div class=&quot;theme-swatches theme-swatches--secondary&quot;&gt;
        &lt;h4 class=&quot;theme-heading&quot;&gt;Secondary&lt;/h4&gt;
        &lt;div class=&quot;swatch active bg--cool&quot; data-color=&quot;cool&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;swatch bg--warm&quot; data-color=&quot;warm&quot;&gt;&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;script src=&quot;../../js/jquery-2.0.0b2.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;../../js/plugins.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;../../js/script.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
    &lt;!-- &lt;script src=&quot;/js/script.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt; --&gt;

    &lt;!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB --&gt;
    {% pattern-lab-foot %}
    &lt;!-- / END PATTERN LAB SCRIPTS --&gt;
  &lt;/body&gt;
&lt;/html&gt;
