{{# picture }}
<picture class="picture">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  {{# has_break_xl }}
    <source srcset="{{{ img.src_xl }}}" media="(min-width: {{ img_break_xl }}px)">
  {{/ has_break_xl }}
  {{# has_break_l }}
    <source srcset="{{{ img.src_l }}}" media="(min-width: {{ img_break_l }}px)">
  {{/ has_break_l }}
  <source srcset="{{{ img.src_m }}}" media="(min-width: {{ img_break_m }}px)">
  <!--[if IE 9]></video><![endif]-->
  {{^ is_lazy_slide }}
    <img itemprop="image" srcset="{{{ img.src_s }}}" alt="{{ img.alt }}">
  {{/ is_lazy_slide }}
  {{# is_lazy_slide }}
    <img itemprop="image" data-lazy="{{{ img.src_s }}}" alt="{{ img.alt }}">
  {{/ is_lazy_slide }}
</picture>
{{/ picture }}
