<div class="grids">
  <div class="pad">
    <ul class="bullet-list">
      <li><a href="#g1">One Column</a></li>
      <li><a href="#g2">Two Column</a></li>
      <li><a href="#g3">Three Column</a></li>
      <li><a href="#g4">Four Column</a></li>
    </ul>
  </div>

  <div class="pad">
    <h1 id="g1">One column grid</h1>
    <p>Full width</p>
  </div>
  <div class="g g-1up">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
  </div> <!-- /.g-1up -->

  <div class="pad">
    <h1 id="g2">Two column grid</h1>
    <p>70/30 split at <code>medium</code> breakpoint</p>
  </div>
  <div class="g g-2up--70-30--at-medium">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
    <div class="gi pad-double bg--blue">
      <h3 class="white">Column 2</h3>
    </div>
  </div> <!-- /.g-2up--70-30--at-medium -->

  <div class="pad">
    <p>35/65 split at <code>medium</code> breakpoint</p>
  </div>
  <div class="g g-2up--35-65--at-medium">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
    <div class="gi pad-double bg--blue">
      <h3 class="white">Column 2</h3>
    </div>
  </div> <!-- /.g-2up--65-35--at-medium -->

  <div class="pad">
    <p>50/50 split</p>
  </div>
  <div class="g g-2-split">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
    <div class="gi pad-double bg--blue">
      <h3 class="white">Column 2</h3>
    </div>
  </div> <!-- /.g-2-split -->

  <div class="pad">
    <h1 id="g3">Three column grid</h1>
    <p>33/33/33 split at <code>medium</code> breakpoint</p>
  </div>
  <div class="g g-3up--at-medium">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
    <div class="gi pad-double bg--gray">
      <h3 class="white">Coumn 2</h3>
    </div>
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 3</h3>
    </div>
  </div> <!-- /.g-g-3up--at-medium -->





  <div class="pad">
    <h1 id="g4">Four column grid</h1>

    <p>Evenly distributed between 4 columns</p>
  </div>
  <div class="g g-4up">
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 1</h3>
    </div>
    <div class="gi pad-double bg--gray">
      <h3 class="white">Coumn 2</h3>
    </div>
    <div class="gi pad-double bg--brown">
      <h3 class="white">Column 3</h3>
    </div>
    <div class="gi pad-double bg--medium-brown">
      <h3 class="white">Coumn 4</h3>
    </div>
  </div> <!-- /.g-4up -->

</div>
