<div class="layouts">
  <div class="pad">
  <h1>Standard one column layout</h1>
  <p>All the content goes in 1 column.</p>
</div>
<div class="cf">
  <div class=" pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
    <div class="text gray--light">
      <p>Cras dui est, ornare at eros ac, finibus facilisis diam. Praesent laoreet massa felis, id eleifend ante lobortis sed. Vivamus tortor ex, suscipit id diam a, semper auctor metus. Phasellus malesuada rhoncus lorem, eget hendrerit lacus. Fusce faucibus condimentum sem vel cursus. Aenean sed porttitor orci. Fusce tempus ante at neque semper, eu vestibulum ipsum scelerisque. Phasellus molestie mauris sed nisl mattis, vel vehicula ipsum interdum. Duis a facilisis ligula.</p>
    </div>
  </div> <!-- /.shift-left--fluid -->
</div> <!-- /.cf -->

<div class="pad">
  <h1>Standard two column layout</h1>
  <p>Fluid left and right columns. 70/30</p>
</div>
<div class="cf">
  <div class="shift-left--fluid pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
    <div class="text gray--light">
      <p>Nulla ac urna est. In faucibus in turpis vel ultrices. Nunc gravida velit a sem dapibus, sed faucibus sapien consequat. Aliquam malesuada sollicitudin nulla ut ornare. Donec porttitor dui ut tellus mollis, lacinia rutrum metus pharetra. Sed eu metus eleifend, iaculis est ut, sollicitudin eros. Proin quis vestibulum libero, sit amet cursus orci. Morbi sit amet arcu vel arcu placerat hendrerit. Duis consectetur sapien ut dui molestie lacinia. Sed magna nunc, gravida non elit id, volutpat tincidunt turpis. Nam pellentesque elementum posuere. Nulla facilisi. Duis pretium neque id sapien varius vehicula. Nulla dapibus ac ipsum a varius.</p>
    </div>
  </div> <!-- /.shift-left--fluid -->
  <div class="shift-right--fluid pad-double bg--blue">
    <aside class="aside">
      <h3 class="white">Secondary Content</h3>
      <div class="text gray--light">
        <p>Ut dignissim justo id tellus luctus dignissim. Nullam molestie ornare dolor, non scelerisque odio facilisis blandit. Pellentesque vitae cursus mauris, eu faucibus mi. Sed facilisis aliquet enim sit amet iaculis. </p>
      </div>
    </aside>
  </div> <!-- /.shift-right--fluid -->
</div> <!-- /.cf -->

<div class="pad">
  <h1>Two columns with static aside</h1>
  <p>Fluid left content column with static 300px right rail.</p>
</div>
<div class="shift-left--static">
  <div class="shift-left--inner--static pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
    <div class="text gray--light">
      <p>Praesent tempus ligula sit amet tempor vestibulum. In dolor quam, facilisis id pulvinar rutrum, fermentum non turpis. Sed ut bibendum risus. Vivamus bibendum arcu vitae mollis suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel nunc eu dolor pulvinar placerat. Praesent molestie vehicula fringilla. Integer eget convallis augue. Vivamus sodales ornare maximus. Ut a luctus lorem, sed ullamcorper velit. Sed viverra urna fringilla erat finibus, vel semper augue fermentum. Nam nec nunc sed elit euismod ultrices sit amet ut tellus. Quisque vitae pretium nisl. Morbi suscipit ac orci at malesuada. Fusce congue, dui vitae interdum rutrum, tortor nisi lobortis massa, at ornare massa massa mollis mi. Nullam viverra porta lectus, eu vulputate turpis cursus nec.</p>
    </div>
  </div> <!-- /.shift-left-inner -->
</div> <!-- /.shift-left--static -->
<div class="shift-right--static pad-double bg--blue">
  <aside class="aside">
    <h3 class="white">Secondary Content</h3>
      <div class="text gray--light">
        <p>Ut dignissim justo id tellus luctus dignissim. Nullam molestie ornare dolor, non scelerisque odio facilisis blandit. Pellentesque vitae cursus mauris, eu faucibus mi. Sed facilisis aliquet enim sit amet iaculis. </p>
      </div>
  </aside>
</div> <!-- /.shift-right--static -->

</div>
