<div class="pad">
  <h1>Standard one column layout</h1>
  <p>All the content goes in 1 column.</p>
</div>
<div class="cf">
  <div class=" pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
  </div> <!-- /.shift-left--fluid -->
</div> <!-- /.cf -->
