<div class="pad">
  <h1>Standard two column layout</h1>
  <p>Fluid left and right columns.</p>
</div>
<div class="cf">
  <div class="shift-left--fluid pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
  </div> <!-- /.shift-left--fluid -->
  <div class="shift-right--fluid pad-double bg--blue">
    <aside class="aside">
      <h3 class="white">Secondary Content</h3>
    </aside>
  </div> <!-- /.shift-right--fluid -->
</div> <!-- /.cf -->
