<div class="pad">
  <h1>Two columns with static aside</h1>
  <p>Fluid left content column with static 300px right rail.</p>
</div>
<div class="shift-left--static">
  <div class="shift-left--inner--static pad-double bg--brown">
    <h3 class="white">Primary Content</h3>
  </div> <!-- /.shift-left-inner -->
</div> <!-- /.shift-left--static -->
<div class="shift-right--static pad-double bg--blue">
  <aside class="aside">
    <h3 class="white">Secondary Content</h3>
  </aside>
</div> <!-- /.shift-right--static -->
