/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1 {
  font-weight: 800;
  font-size: rem(38);
  line-height: 1.05;
}
h2 {
  font-size: rem(28);
  font-weight: 600;
}
h3 {
  font-size: rem(24);
  font-weight: 500;
}
h4 {
  font-size: rem(16);
}
h5 {
  font-size: rem(16);
}
h6 {
  font-size: rem(16);
}
