&lt;table&gt;
&Tab;&lt;caption&gt;Caption&lt;/caption&gt;
&Tab;&lt;thead&gt;
&Tab;&Tab;&lt;tr&gt;
&Tab;&Tab;&Tab;&lt;th&gt;Table Heading 1&lt;/th&gt;
&Tab;&Tab;&Tab;&lt;th&gt;Table Heading 2&lt;/th&gt;
&Tab;&Tab;&Tab;&lt;th&gt;Table Heading 3&lt;/th&gt;
&Tab;&Tab;&Tab;&lt;th&gt;Table Heading 4&lt;/th&gt;
&Tab;&Tab;&Tab;&lt;th&gt;Table Heading 5&lt;/th&gt;
&Tab;&Tab;&lt;/tr&gt;
&Tab;&lt;/thead&gt;
&Tab;&lt;tbody&gt;
&Tab;&Tab;&lt;tr&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 1&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 2&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 3&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 4&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 5&lt;/td&gt;
&Tab;&Tab;&lt;/tr&gt;
&Tab;&Tab;&lt;tr&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 1&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 2&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 3&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 4&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 5&lt;/td&gt;
&Tab;&Tab;&lt;/tr&gt;
&Tab;&Tab;&lt;tr&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 1&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 2&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 3&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 4&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 5&lt;/td&gt;
&Tab;&Tab;&lt;/tr&gt;
&Tab;&Tab;&lt;tr&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 1&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 2&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 3&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 4&lt;/td&gt;
&Tab;&Tab;&Tab;&lt;td&gt;Table Cell 5&lt;/td&gt;
&Tab;&Tab;&lt;/tr&gt;
&Tab;&lt;/tbody&gt;
&lt;/table&gt;