{{# story_block_default }}
&lt;div class=&quot;story-block block spacing--half pad {{ block_class }}&quot; style=&quot;background-image: url({{ bg_img }})&quot;&gt;
  &lt;div class=&quot;story-block__image-wrap round&quot;&gt;
    &lt;img class=&quot;story-block__image&quot; src=&quot;{{ img.src }}&quot; alt=&quot;{{ img.alt }}&quot; /&gt;
  &lt;/div&gt;
  &lt;div class=&quot;story-block__content spacing&quot;&gt;
    &lt;div&gt;
      &lt;h2 class=&quot;story-block__heading font--secondary--l theme--secondary-text-color&quot;&gt;{{{ title }}}&lt;/h2&gt;
      {{# subtitle }}&lt;p class=&quot;font--secondary--xs white&quot;&gt;{{{ subtitle }}}&lt;/p&gt;{{/ subtitle }}
    &lt;/div&gt;
    &lt;div class=&quot;spacing&quot;&gt;
      &lt;div class=&quot;text story-block__description block__description white&quot;&gt;
        {{# text_img }}
          &lt;a class=&quot;story-block__text-image-wrap space-half--btm&quot; href=&quot;{{ url }}&quot;&gt;
            {{# is_video }}&lt;div class=&quot;is-video&quot;&gt;{{/ is_video }}
            &lt;img class=&quot;story-block__text-image&quot; src=&quot;{{ text_img.src }}&quot; alt=&quot;{{ text_img.alt }}&quot; /&gt;
            {{# is_video }}&lt;/div&gt;{{/ is_video }}
          &lt;/a&gt; &lt;!-- /.story-block__image-wrap --&gt;
        {{/ text_img }}
        {{{ description }}}
      &lt;/div&gt;
      {{# cta }}
        &lt;p&gt;&lt;a class=&quot;story-block__cta block__cta btn theme--secondary-background-color&quot; href=&quot;{{ url }}&quot;&gt;{{ cta }}&lt;/a&gt;&lt;/p&gt;
      {{/ cta }}
    &lt;/div&gt; &lt;!-- /.spacing --&gt;
  &lt;/div&gt; &lt;!-- story-block__content --&gt;
&lt;/div&gt; &lt;!-- /.story-block --&gt;
{{/ story_block_default }}
