{{# picture }}
&lt;picture class=&quot;picture&quot;&gt;
  &lt;!--[if IE 9]&gt;&lt;video style=&quot;display: none;&quot;&gt;&lt;![endif]--&gt;
  {{# has-break-xl }}
    &lt;source srcset=&quot;{{{ img.src-xl }}}&quot; media=&quot;(min-width: {{ img-break-xl }}px)&quot;&gt;
  {{/ has-break-xl }}
  {{# has-break-l }}
    &lt;source srcset=&quot;{{{ img.src-l }}}&quot; media=&quot;(min-width: {{ img-break-l }}px)&quot;&gt;
  {{/ has-break-l }}
  &lt;source srcset=&quot;{{{ img.src-m }}}&quot; media=&quot;(min-width: {{ img-break-m }}px)&quot;&gt;
  &lt;!--[if IE 9]&gt;&lt;/video&gt;&lt;![endif]--&gt;
  &lt;img itemprop=&quot;image&quot; srcset=&quot;{{{ img.src-s }}}&quot; alt=&quot;{{ img.alt }}&quot;&gt;
&lt;/picture&gt;
{{/ picture }}
