{{# media_block_default }}
&lt;div class=&quot;media-block block spacing--quarter {{ block_class }}&quot;&gt;
  &lt;a class=&quot;media-block__image-wrap block__image-wrap db&quot; href=&quot;{{ url }}&quot;&gt;
    {{# kicker }}&lt;span class=&quot;kicker font--secondary--m upper orange db align--left&quot;&gt;{{ kicker }}&lt;/span&gt;{{/ kicker }}
    &lt;div class=&quot;{{ block_img_class }} dib&quot;&gt;&lt;img class=&quot;media-block__image block__image&quot; src=&quot;{{ img.src }}&quot; alt=&quot;{{ img.alt }}&quot; /&gt;&lt;/div&gt;
  &lt;/a&gt; &lt;!-- /.media-block__image-wrap --&gt;
  &lt;div class=&quot;media-block__content block__content spacing--quarter&quot;&gt;
    &lt;h2 class=&quot;media-block__title block__title font--secondary--m&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;block__title-link link--blue&quot;&gt;{{{ title }}}&lt;/a&gt;&lt;/h2&gt;
    {{# date }}
      &lt;time class=&quot;block__date font--secondary--xs brown space-half--btm&quot; datetime=&quot;{{ datetime }}&quot;&gt;{{{ date }}}&lt;/time&gt;
    {{/ date }}
    {{# description }}
      &lt;p class=&quot;media-block__description block__description font--primary--s&quot;&gt;{{ description }}&lt;/p&gt;
    {{/ description }}
    {{# cta }}
      &lt;p&gt;&lt;a class=&quot;media-block__cta block__cta btn&quot; href=&quot;{{ url }}&quot;&gt;{{ cta }}&lt;/a&gt;&lt;/p&gt;
    {{/ cta }}
  &lt;/div&gt; &lt;!-- media-block__content --&gt;
&lt;/div&gt; &lt;!-- /.media-block --&gt;
{{/ media_block_default }}
