{{# mediaBlockDefault }}
&lt;div class=&quot;media-block default spacing&quot;&gt;
  &lt;a class=&quot;media-block__img-wrap&quot; href=&quot;#&quot;&gt;&lt;img class=&quot;media-block__img&quot; src=&quot;{{ imgSrc }}&quot; /&gt;&lt;/a&gt;
  &lt;div class=&quot;media-block__content spacing--half&quot;&gt;
    &lt;div class=&quot;spacing--half&quot;&gt;
    {{# title }}
      &lt;h2 class=&quot;media-block__content__title&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;media-block__content__title__link text-decoration--none&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h2&gt;
    {{/ title }}
    {{# date }}
      &lt;p class=&quot;&quot;&gt;{{ date }}&lt;/p&gt;
    {{/ date }}
    &lt;/div&gt;
    {{# description }}
      &lt;p class=&quot;description&quot;&gt;{{ description }}&lt;/p&gt;
    {{/ description }}
    {{# callToAction }}
      &lt;p&gt;&lt;a class=&quot;media-block_content__cta&quot; href=&quot;#&quot;&gt;{{ callToAction }}&amp;nbsp;&amp;gt;&lt;/a&gt;&lt;/p&gt;
    {{/ callToAction }}
&lt;/div&gt;&lt;!-- media-block__content --&gt;
&lt;/div&gt;
{{/ mediaBlockDefault }}
