&lt;script type=&quot;application/ld+json&quot;&gt;
{
  &quot;@context&quot;: &quot;http://schema.org&quot;,
  &quot;@type&quot;: &quot;NewsArticle&quot;,
  &quot;mainEntityOfPage&quot;:{
    &quot;@type&quot;: &quot;WebPage&quot;,
    &quot;@id&quot;: &quot;https://google.com/article&quot;
  },
  &quot;headline&quot;: &quot;Powerful earthquake in Ecuador kills 413, injures more than 2,500&quot;,
  &quot;image&quot;: {
    &quot;@type&quot;: &quot;ImageObject&quot;,
    &quot;url&quot;: &quot;https://placehold.it/800x600&quot;,
    &quot;height&quot;: 600,
    &quot;width&quot;: 800
  },
  &quot;datePublished&quot;: &quot;2016-04-19T08:00:00+08:00&quot;,
  &quot;dateModified&quot;: &quot;2016-04-19T09:20:00+08:00&quot;,
  &quot;author&quot;: {
    &quot;@type&quot;: &quot;Person&quot;,
    &quot;name&quot;: &quot;Andrew McChesney&quot;
  },
   &quot;publisher&quot;: {
    &quot;@type&quot;: &quot;Organization&quot;,
    &quot;name&quot;: &quot;Seventh Day Adventists&quot;,
    &quot;logo&quot;: {
      &quot;@type&quot;: &quot;ImageObject&quot;,
      &quot;url&quot;: &quot;https://placehold.it/100x100&quot;,
      &quot;width&quot;: 100,
      &quot;height&quot;: 60
    }
  },
  &quot;description&quot;: &quot;Church members, humanitarians gather donations to assist those affected by the tragedy.&quot;
}
&lt;/script&gt;

&lt;div class=&quot;pad--primary spacing column__primary&quot;&gt;

  {{&gt; organisms-article-header }}

  &lt;div class=&quot;text article__body spacing&quot;&gt;

    {{&gt; molecules-video-figure-with-caption(figure_class: &quot;size--large&quot;) }}

    &lt;p&gt;&lt;a href=&quot;#&quot;&gt;Aliquam erat volutpat.&lt;/a&gt; Mauris vulputate scelerisque feugiat ras a erat a diam venenatis aliquam sed tempus, &lt;strong&gt;purus ac pretium&lt;/strong&gt; varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum &lt;a href=&quot;&quot;&gt;sociis natoque penatibus et&lt;/a&gt; magnis dis parturient montes, nascetur ridiculus mus.&lt;/p&gt;

    {{&gt; molecules-figure-with-modal(figure_class: &quot;size--medium alignright&quot;) }}

    &lt;p&gt;Maecenas eros dolor, &lt;em&gt;rutrum eu sollicitudin&lt;/em&gt; eu, commodo at leo suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus maecenas eu urna adipiscing neque dictum mollis suscipit in augue.&lt;/p&gt;

    &lt;h2&gt;Header Two&lt;/h2&gt;

    &lt;p&gt;In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.&lt;/p&gt;

    &lt;p&gt;Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.&lt;/p&gt;

    {{# fig_large }}
      {{&gt; molecules-figure-with-caption }}
    {{/ fig_large }}

    &lt;p&gt;Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?&lt;/p&gt;

    &lt;h2&gt;Header Three&lt;/h2&gt;

    &lt;p&gt;Sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.&lt;/p&gt;

    {{# fig_center }}
      {{&gt; molecules-figure-with-caption }}
    {{/ fig_center }}

    &lt;p&gt;Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.&lt;/p&gt;
  &lt;/div&gt;

  {{&gt; molecules-pagination }}

&lt;/div&gt; &lt;!-- /.spacing --&gt;

&lt;hr&gt;

&lt;div class=&quot;g g-2up--at-medium with-divider&quot;&gt;
  &lt;div class=&quot;gi&quot;&gt;
    &lt;div class=&quot;pad pad--primary&quot;&gt;{{&gt; molecules-media-block(block_inner_class: &quot;block__row--small-to-medium&quot;) }}&lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
  &lt;div class=&quot;gi&quot;&gt;
    &lt;div class=&quot;pad pad--primary&quot;&gt;{{&gt; molecules-media-block(block_inner_class: &quot;block__row--small-to-medium&quot;) }}&lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
&lt;/div&gt; &lt;!-- /.2up--at-medium --&gt;

&lt;hr&gt;

{{&gt; organisms-heading-block-list }}
