<div class="c-store-product_to_cart">
  <div class="c-store-product_to_cart--title">Yaks and sheep gift</div>
  <div class="c-store-product_to_cart--radio u-spacing--half">
    <div class="u-font--secondary--s">Select one option</div>
    <div class="c-store-product_to_cart--input-radio inline-form-element--row">
      <input type="radio" />
      <label>$55</label>
    </div>
    <div class="c-store-product_to_cart--input-radio inline-form-element--row">
      <input type="radio" checked />
      <label>Choose your own amount</label>
    </div>
  </div>
  <div class="c-store-product_to_cart--amount">
    <p>Enter your donation amount below</p>
    <input type="text" />
  </div>
  <div class="c-store-product_to_cart--button">
    {% include '@atoms/buttons/button.twig' %}
  </div>
</div>
