<div class="c-store-cart-add">
  <div class="c-store-cart-add__title u-theme--color--dark">Yaks and sheep gift</div>

  <div class="c-store-cart-add__options">
    <div class="c-store-cart-add__options__title">Select one option</div>
    <div class="c-store-cart-add__options__item">
      <input type="radio" />
      <label>$55</label>
    </div>
    <div class="c-store-cart-add__options__item">
      <input type="radio" checked />
      <label>Choose your own amount</label>
    </div>
  </div>

  <div class="c-store-cart-add__custom-amount">
    <div class="c-store-cart-add__custom-amount__title u-theme--color--dark">Choose your own amount</div>
    <div class="c-store-cart-add__custom-amount__text">Enter your donation amount below</div>
    <input type="text" class="c-store-cart-add__custom-amount__input" />
    <div class="c-store-cart-add__custom-amount__button">
      {% include '@atoms/buttons/button.twig' with button %}
    </div>
  </div>
</div>
