<div class="c-store-cart-headers">
  <div class="c-store-cart-headers__col c-store-cart-headers__col--image u-theme--color--dark"></div>
  <div class="c-store-cart-headers__col c-store-cart-headers__col--title u-theme--color--dark">Product</div>
  <div class="c-store-cart-headers__col c-store-cart-headers__col--price u-theme--color--dark">Price</div>
  <div class="c-store-cart-headers__col c-store-cart-headers__col--quantity u-theme--color--dark">Quantity</div>
  <div class="c-store-cart-headers__col c-store-cart-headers__col--subtotal u-theme--color--dark">Subtotal</div>
</div>
