<div class="c-store-item__summary">
  <div class="c-store-item__summary--name"><span>{{ product_name }}</span></div>
  <div class="c-store-item__summary--price"><span>{{ product_subtotal }}</span></div>
</div>
