<div class="c-store-cart__total">
  <div>
    <p class="c-store-cart__total--field_name u-theme--color--dark">subtotal</p>
    <p class="c-store-cart__total--price u-theme--color--dark">{{ subtotal }}</p>
  </div>
  <div>
    <p class="c-store-cart__total--field_name u-theme--color--dark">total</p>
    <p class="c-store-cart__total--price u-theme--color--dark">{{ total }}</p>
  </div>
</div>
