<div class="c-store-cart__total">
  <div>
    <p class="c-store-cart__total--field_name">subtotal</p>
    <p class="c-store-cart__total--price">{{ subtotal }}</p>
  </div>
  <div>
    <p class="c-store-cart__total--field_name">total</p>
    <p class="c-store-cart__total--price">{{ total }}</p>
  </div>
</div>
