<div class="c-store-checkout-info">
  {% include '@molecules/blocks/heading-block.twig' with checkout_info %}
  <div class="c-store-checkout-info__wrap">
    <div class="c-store-checkout-info__title u-theme--color--darker">Order notes (optional)</div>
    <div class="c-store-checkout-info__text">Notes about your order, e.g. special notes for delivery.</div>
    <textarea></textarea>
  </div>
</div>
