<div class="c-store-payment__info">
  <div class="c-store-payment__info--card">
    <p class="c-store-payment__info--field__title">Card Number</p>
    <input type="text">
  </div>

  <div class="c-store-payment__info--date_code">
    <div class="c-store-payment__info--date">
      <p class="c-store-payment__info--field__title">Expiry Date</p>
      <p class="c-store-payment__info--date__month">MM/YY</p>
      <input type="text">
    </div>
    <div class="c-store-payment__info--code">
      <p class="c-store-payment__info--field__title">Card Code</p>
      <input type="text">
    </div>
  </div>

  <div class="c-store-payment__info--disclaimer">
    <p>{{ disclaimer }}</p>
  </div>
  <div class="c-store-payment__info--button">
    {% include '@atoms/buttons/button.twig' %}
  </div>
</div>
