<div class="c-store-product__detail">
  <div class="c-store-product__detail--image" >
    <img src="{{ img }}" alt="product image">
  </div>
  <div class="c-store-product__detail--content">
    <div class="c-store-product__detail--title">
      <p>{{ title }}</p>
    </div>
    <div class="c-store-product__detail--short_description">
      <p>{{ short_description }}</p>
    </div>
    <div class="c-store-product__detail--long_description">
      <p>{{ long_description }}</p>
    </div>
  </div>
</div>
