<div class="c-store-totals">
  <div>
    <p class="c-store-totals__field-name u-theme--color--dark">subtotal</p>
    <p class="c-store-totals__price u-theme--color--dark">{{ subtotal }}</p>
  </div>
  <div>
    <p class="c-store-totals__field-name u-theme--color--dark">total</p>
    <p class="c-store-totals__price u-theme--color--dark">{{ total }}</p>
  </div>
</div>
