<div class="media-block block spacing--quarter ">

  
  
  <div class="media-block__inner spacing--quarter   ">
          <a class="media-block__image-wrap block__image-wrap db" href="">
        <div class=" dib"><img class="media-block__image block__image" src="//placehold.it/500x400" alt="Media Block Image Alt" /></div>
      </a> <!-- /.media-block__image-wrap -->
    
    
    <div class="media-block__content block__content ">

              <h3 class="media-block__title block__title font--secondary--m"><a href="" class="block__title-link theme--primary-text-color">Proin venenatis maximus</a></h3>
      
              <time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>
      
      <div class="spacing--half">
                  <div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</span></p></div>
        
                  <p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="">Donec volutpat libero</a></p>
              </div> <!-- /.spacing -->

    </div> <!-- media-block__content -->
  </div> <!-- /.media-block__inner -->

</div> <!-- /.media-block -->
