{{# primaryNav }}
&lt;nav class=&quot;primary-nav toggled-element&quot; id=&quot;primary-nav&quot; role=&quot;navigation&quot; data-active-target=&quot;primary-nav&quot;&gt;
  &lt;ul class=&quot;primary-nav__list&quot;&gt;
    {{# items }}
    &lt;li class=&quot;primary-nav__list-item&quot;&gt;&lt;a class=&quot;primary-nav__link link--dark-gray-orange font--serif--s&quot; href=&quot;{{ url }}&quot;&gt;{{{ text }}}&lt;/a&gt;&lt;/li&gt;
    {{/ items }}
  &lt;/ul&gt; &lt;!-- /.primary-nav__list --&gt;
&lt;/nav&gt; &lt;!-- /.primary-nav --&gt;
{{/ primaryNav }}
