&lt;div class=&quot;g g-2up--at-medium with-divider&quot;&gt;
  &lt;div class=&quot;gi&quot;&gt;
    &lt;div class=&quot;spacing&quot;&gt;
      &lt;div class=&quot;spacing--half&quot;&gt;
        &lt;h2 class=&quot;font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm&quot;&gt;Vivamus ornare&lt;/h2&gt;
        &lt;hr&gt;
      &lt;/div&gt;
      {{# media_blocks }}
        &lt;div class=&quot;pad&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
        {{# has_hr }}&lt;hr&gt;{{/ has_hr }}
      {{/ media_blocks }}
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
  &lt;div class=&quot;gi pad-double--btm&quot;&gt;
    &lt;div class=&quot;spacing&quot;&gt;
      &lt;div class=&quot;spacing--half&quot;&gt;
        &lt;h2 class=&quot;font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm&quot;&gt;Duis pretium&lt;/h2&gt;
        &lt;hr&gt;
      &lt;/div&gt;
      {{# media_blocks_2 }}
        &lt;div class=&quot;pad&quot;&gt;{{&gt; molecules-media-block }}&lt;/div&gt;
        {{# has_hr }}&lt;hr&gt;{{/ has_hr }}
      {{/ media_blocks_2 }}
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.gi --&gt;
&lt;/div&gt; &lt;!-- /.2up--at-medium --&gt;
