{{# picture }}
<picture class="picture">
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  {{# has-break-xl }}
    <source srcset="{{{ img.src-xl }}}" media="(min-width: {{ img-break-xl }}px)">
  {{/ has-break-xl }}
  {{# has-break-l }}
    <source srcset="{{{ img.src-l }}}" media="(min-width: {{ img-break-l }}px)">
  {{/ has-break-l }}
  <source srcset="{{{ img.src-m }}}" media="(min-width: {{ img-break-m }}px)">
  <!--[if IE 9]></video><![endif]-->
  <img itemprop="image" srcset="{{{ img.src-s }}}" alt="{{ img.alt }}">
</picture>
{{/ picture }}
