&lt;header class=&quot;header&quot; role=&quot;banner&quot; id=&quot;header&quot;&gt;
  {{&gt; molecules-navigation-toggle }}
  &lt;div class=&quot;header__inner&quot;&gt;
    &lt;div class=&quot;header__unify-logo-nav&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;logo__link&quot;&gt;{{&gt; atoms-logo }}&lt;/a&gt;
      {{&gt; molecules-primary-navigation }}
    &lt;/div&gt; &lt;!-- /.header__unify-logo-nav --&gt;
    &lt;div class=&quot;header__utility&quot;&gt;
      {{&gt; molecules-secondary-navigation }}
      {{&gt; molecules-search }}
    &lt;/div&gt; &lt;!-- /.header__utility --&gt;
  &lt;/div&gt; &lt;!-- /.header__inner --&gt;
&lt;/header&gt; &lt;!-- .header --&gt;
