{{# breadcrumbs }}
<nav class="breadcrumbs" role="navigation">
  <ul class="breadcrumbs__list">
    {{# items }}
      <li class="breadcrumbs__list-item font--secondary--xs upper dib"><a href="" class="breadcrumbs__link">{{{ text }}}</a></li>
    {{/ items }}
  </ul>
</nav> <!-- /.breadcrumbs -->
{{/ breadcrumbs }}
