{% if breadcrumbs %}
<nav class="breadcrumbs" role="navigation">
  <ul class="breadcrumbs__list">
    {% for item in breadcrumbs.items %}
      <li class="breadcrumbs__list-item font--secondary--xs upper dib"><a href="{{ item.url }}" class="breadcrumbs__link can-be--white">{{ item.text }}</a></li>
    {% endfor %}
  </ul>
</nav> <!-- /.breadcrumbs -->
{% endif %}
