<a href="" class="c-nav-toggle js-toggle u-font--primary--s u-color--gray o-nav-toggle" data-toggled="c-header" data-prefix="c-nav">
  <span class="u-icon u-icon--xs u-path-fill----gray o-icon-menu"></span>
</a>
