{% if primary_nav %}
<nav class="c-primary-nav js-toggled-element" role="navigation" data-active-target="c-primary-nav">
  <ul class="c-primary-nav__list">
    {% for item in primary_nav.items %}
      <li class="c-primary-nav__list-item {% if item.has_subnav %} c-primary-nav--with-subnav js-hover {% endif %}" {% if item.has_subnav %} data-prefix="hover" {% endif %}>
        <a class="c-primary-nav__link {% if item.is_active %} active {% endif %}" href="{{ item.url }}">{{ item.text }}</a>
        {% if item.has_subnav %}
          <div class="c-primary-nav__subnav__arrow u-vertical-align--middle js-toggle-parent">
            <span class="o-arrow--down"></span>
          </div>
          <ul class="c-primary-nav__subnav c-subnav">
            {% for item in item.sub_items %}
              <li class="c-primary-nav__subnav__list-item c-subnav__list-item">
                <a class="c-primary-nav__subnav__link c-subnav__link" href="{{ item.url }}">{{ item.text }}</a>
              </li>
            {% endfor %}
          </ul> <!-- /.c-primary-nav__subnav -->
        {% endif %}
      </li>
    {% endfor %}
  </ul> <!-- /.c-primary-nav__list -->
</nav> <!-- /.c-primary-nav -->
{% endif %}
