{% if primary_nav %}
<nav class="c-primary-nav" role="navigation">
  <ul class="c-primary-nav__list">
    {% for item in primary_nav.items %}
      <li class="c-primary-nav__list-item {% if item.subnav %}has-subnav js-hover{% endif %}" {% if item.subnav %} data-prefix="hover" {% endif %}>
        <a href="{{ item.url }}" class="c-primary-nav__link {% if item.is_active %}active{% endif %}">
          {{ item.text }} {% if item.subnav %}<span class="c-subnav__arrow o-arrow--down"></span>{% endif %}
        </a>
        {% if item.subnav %}
          <ul class="c-primary-nav__subnav c-subnav">
            {% for sub_item in item.subnav.items %}
              <li class="c-primary-nav__subnav__list-item c-subnav__list-item">
                <a class="c-primary-nav__subnav__link c-subnav__link" href="{{ sub_item.url }}">{{ sub_item.text }}</a>
              </li>
            {% endfor %}
          </ul> <!-- /.c-primary-nav__subnav -->
        {% endif %}
      </li>
    {% endfor %}
  </ul> <!-- /.c-primary-nav__list -->
  <span class="c-primary-nav__toggle js-toggle-menu">+</span>
</nav> <!-- /.c-primary-nav -->
{% endif %}
