{% if subfooter_nav %}
<div class="footer__legal-links u-font--secondary--xs">
  {% for item in subfooter_nav.items %}
  <a class="hover link--brown-light {% if not count.last %}u-space--half--right{% endif %}" href="{{ item.url }}">
    {{ item.text }}
  </a> {% endfor %}
</div>
{% endif %}