{{# article_header }}
<header class="article__header article__flow spacing--quarter">
  <h1 class="font--secondary--xl theme--secondary-text-color">{{{ heading }}}</h1>
  <div class="spacing--half">
    {{# subheading }}<h1 class="font--secondary--m">{{{ subheading }}}</h1>{{/ subheading }}
    {{> molecules-share-tools }}
  </div>
  {{> molecules-article-meta }}
</header> <!-- /.article__header -->
{{/ article_header }}
