<header class="header {{ header_class }}" role="banner" id="header">
  {{> molecules-navigation-toggle }}
  <div class="header__inner">
    <div class="header__unify-logo-nav">
      <a href="/" class="logo__link">{{> atoms-logo }}</a>
      {{> molecules-primary-navigation }}
    </div> <!-- /.header__unify-logo-nav -->
    <div class="header__utility">
      {{> molecules-secondary-navigation }}
      {{> molecules-search }}
    </div> <!-- /.header__utility -->
  </div> <!-- /.header__inner -->
</header> <!-- .header -->
