<header class="header {{ header_class }}" role="banner" id="header">
  {{> molecules-navigation-toggle }}
  <div class="header__top-hat show-at--large bg--black pad-half align--right">
    <p class="font--secondary--xs gray--med">This is an official website of the Seventh-day Adventist Church. <a class="link--white" href="">Learn More about SDAs</a>.</p>
  </div> <!-- /.header__top-hat -->
  <div class="layout-container">
    <div class="header__inner">
      <div class="header__unify-logo-nav">
        <a href="/" class="logo__link">{{> atoms-logo }}</a>
        {{> molecules-primary-navigation }}
      </div> <!-- /.header__unify-logo-nav -->
      <div class="header__utility">
        {{> molecules-secondary-navigation }}
        {{> molecules-search }}
      </div> <!-- /.header__utility -->
    </div> <!-- /.header__inner -->
  </div> <!-- /.layout-container -->
</header> <!-- .header -->
