<header class="header" role="banner" id="header">
  <div class="layout-container position--relative">
    <a href="/" class="logo-link">{{> atoms-logo }}</a>
    {{> molecules-navigation-toggle }}
    {{# navigation }}
      {{> molecules-primary-navigation }}
    {{/ navigation }}
  </div> <!-- /.layout-container -->
</header> <!-- .header -->
