{% if button_default %}
  <a href="" class="o-button {{ button_default.class }}">{% if button_default.icon %}<span class="u-icon u-icon--xs u-path-fill--white">{% include '@atoms/icons/' ~ button_default.icon ~ '.twig' %}</span>{% endif %}{{ button_default.text }}</a>
{% endif %}
