{% if button_default %}
  <a href="" class="btn theme--secondary-background-color">{{ button_default.button_text }} {% if button_default.has_icon %}<span class="dib icon--s">{% include 'atoms-icon-share' with {'fill_class': 'fill--white'} %}</span>{% endif %}</a>
{% endif %}
