{% if button_default %}
  <a href="" class="o-btn theme--secondary-background-color">{{ button_default.button_text }} {% if button_default.has_icon %}<span class="u-display--inline-block u-icon--s">{% include '@atoms/icons/icon-share.twig' with {'fill_class': 'u-fill--white'} %}</span>{% endif %}</a>
{% endif %}
