&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  &lt;div class=&quot;footer__inner cf bg--medium-brown white&quot;&gt;
    &lt;div class=&quot;layout-container&quot;&gt;
      &lt;div class=&quot;footer__unify-nav-desc spacing--until-large&quot;&gt;
        &lt;nav class=&quot;footer__nav&quot;&gt;
          &lt;ul class=&quot;inline-list&quot;&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;Facebook&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;Twitter&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;YouTube&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;Vimeo&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;Email&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;footer__nav-item inline-list__item&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;footer__nav-link font--sans link--white&quot;&gt;Feedback&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/nav&gt; &lt;!-- /.footer__nav --&gt;
        &lt;div class=&quot;footer__desc&quot;&gt;
          &lt;span class=&quot;icon footer__logo&quot;&gt;{{&gt; atoms-icon-logo(fill_class: &apos;fill--light-brown&apos;) }}&lt;/span&gt;
          &lt;p class=&quot;footer__desc-text brown--light font--sans&quot;&gt;Adventist.org is the Official website of the Seventh-day Adventist world church &amp;bull; &lt;a href=&quot;{{ url }}&quot; class=&quot;link--white&quot;&gt;View Regions&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt; &lt;!-- /.footer_desc --&gt;
      &lt;/div&gt; &lt;!-- /.footer__unify-nav-desc --&gt;
    &lt;/div&gt; &lt;!-- /.layout-container --&gt;

    &lt;div class=&quot;footer__legal bg--brown&quot;&gt;
      &lt;div class=&quot;footer__legal__inner layout-container spacing--quarter--until-large&quot;&gt;
        &lt;div class=&quot;footer__unify-copyright-address spacing--quarter--until-large&quot;&gt;
          &lt;p class=&quot;footer__copyright font--sans--xs brown--light no-space--btm&quot;&gt;Copyright &amp;copy; 2016, General Conference of Seventh-day Adventists&lt;/p&gt;
          &lt;address class=&quot;footer__address font--sans--xs brown--light&quot;&gt;12501 Old Columbia Pike, Silver Spring, MD 20904, USA 301-680-6000&lt;/address&gt;
        &lt;/div&gt; &lt;!-- /.footer__unify-copyright-address --&gt;
        &lt;div class=&quot;footer__legal-links font--sans--xs&quot;&gt;&lt;a class=&quot;hover brown--light space-half--right&quot; href=&quot;{{ url }}&quot;&gt;Trademark and Logo Usage&lt;/a&gt; &lt;a class=&quot;hover brown--light&quot; href=&quot;{{ url }}&quot;&gt;Legal Notice&lt;/a&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;!-- /.layout-container --&gt;
    &lt;/div&gt; &lt;!-- /.legal --&gt;
  &lt;/div&gt; &lt;!-- /.footer__inner --&gt;
&lt;/footer&gt; &lt;!-- /.footer --&gt;
