&lt;div class=&quot;spacing--double&quot;&gt;
  &lt;div&gt;&amp;nbsp;&lt;/div&gt;
  &lt;div class=&quot;pad--primary spacing&quot;&gt;
    &lt;h2 class=&quot;blue font--sans--l&quot;&gt;{{{ text.heading }}}&lt;/h2&gt;
    &lt;p class=&quot;intro blue font--serif--m&quot;&gt;{{{ text.intro }}}&lt;/p&gt;
  &lt;/div&gt;

  &lt;hr&gt;

  {{# content_blocks }}
  &lt;div class=&quot;pad--primary spacing--half text&quot;&gt;
    &lt;h3 class=&quot;brown font--sans--m&quot;&gt;{{{ text.heading }}}&lt;/h3&gt;
    &lt;p&gt;{{{ text.description }}} {{# text.cta }} &lt;a href=&quot;{{ url }}&quot; class=&quot;font--sans--s upper&quot;&gt;&lt;strong&gt;{{{ text.cta }}}&lt;/strong&gt;&lt;/a&gt; {{/ text.cta }}&lt;/p&gt;
  &lt;/div&gt;

  &lt;hr&gt;
  {{/ content_blocks }}
&lt;/div&gt;
