
    <script src="/js/jquery-2.0.0b2.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js" type="text/javascript"></script>
    <script src="/js/plugins.js" type="text/javascript"></script>
    <script src="/js/script.js" type="text/javascript"></script>
    <!-- <script src="/js/script.min.js" type="text/javascript"></script> -->

    <!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
    {% pattern-lab-foot %}
    <!-- / END PATTERN LAB SCRIPTS -->
  </body>
</html>
