&lt;div class=&quot;content cf has-aside&quot; role=&quot;document&quot;&gt;
  {{&gt; organisms-header }}
  &lt;main class=&quot;main&quot; role=&quot;main&quot;&gt;
    {{&gt; organisms-page-header }}
    {{&gt; molecules-article-navigation }}
    &lt;div class=&quot;layout-container&quot;&gt;
      &lt;div class=&quot;flex-container cf&quot;&gt;
        &lt;div class=&quot;shift-left--fluid column__primary bg--white&quot;&gt;
          {{&gt; organisms-news-content }}
        &lt;/div&gt; &lt;!-- /.shift-left--fluid --&gt;
        &lt;div class=&quot;shift-right--fluid bg--beige&quot;&gt;
          {{&gt; molecules-aside-navigation }}
          &lt;div class=&quot;column__secondary&quot;&gt;
            {{&gt; organisms-aside }}
          &lt;/div&gt;
        &lt;/div&gt; &lt;!-- /.shift-right--fluid --&gt;
      &lt;/div&gt; &lt;!-- /.flex-container --&gt;
    &lt;/div&gt; &lt;!-- /.layout-container --&gt;
  &lt;/main&gt; &lt;!-- /.main --&gt;
  {{&gt; organisms-footer }}
&lt;/div&gt; &lt;!-- /.content --&gt;
