
.sbdocs-p {
    font-size: 1.5rem !important;
    font-weight: 200;
    line-height: 1.6em !important;
}

.sbdocs-subtitle {
    font-size: 1rem !important;
    color: #0087cb !important;
    letter-spacing: .05em;
}

.alps-status {

}
.css-xddykm {
    border: 0 solid transparent !important;
    background: none !important;
    color: inherit !important;
    //color: #717171 !important;
}

.css-kqzqgg {
    fill: currentColor !important;
}