<div class="u-spacing-double">
	<p>Note: These use <code>!important</code> to override more specific style declarations. See `_library.show-at.scss` for all available options</p>
	<p class="epsilon">Show Until Elements</p>
	<div>
		<div class="l-grid-item u-hide-after--s"><code>.u-hide-after--s</code> Show until small</div>
		<div class="l-grid-item u-hide-after--m"><code>.u-hide-after--m</code> Show until medium</div>
		<div class="l-grid-item u-hide-after--l"><code>.u-hide-after--l</code> Show untillarge</div>
		<div class="l-grid-item u-hide-after--xl"><code>.u-hide-after--xl</code> Show until xlarge</div>
	</div>
	<p class="epsilon">Hide Until Elements</p>
	<div>
		<div class="l-grid-item u-hide-until--s"><code>.u-hide-until--s</code> Hide until small</div>
		<div class="l-grid-item u-hide-until--m"><code>.u-hide-until--m</code> Hide until medium</div>
		<div class="l-grid-item u-hide-until--l"><code>.u-hide-until--l</code> Hide until large</div>
		<div class="l-grid-item u-hide-until--xl"><code>.u-hide-until--xl</code> Hide until xlarge</div>
	</div>
</div>
