<div class="spacing--half pad-double">
	<h2>Primary Theme Colors</h2>
	<ul class="sg-colors">
		<li>
			<div class="sg-colors-swatch bg--emperor" title="" style="background: "></div>
			<div class="font--secondary--xs">Emperor</div>
			<div>#4b207f</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--earth" title="" style="background: "></div>
			<div class="font--secondary--xs">Earth</div>
			<div> #5e3929</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--grapevine" title="" style="background: "></div>
			<div class="font--secondary--xs">Grapevine</div>
			<div> #7f264a</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--denim" title="" style="background: "></div>
			<div class="font--secondary--xs">Denim</div>
			<div>#2f557f</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--campfire" title="" style="background: "></div>
			<div class="font--secondary--xs">Campfire</div>
			<div>#e36520</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--treefrog" title="" style="background: "></div>
			<div class="font--secondary--xs">Treefrog</div>
			<div>#448d21</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--ming" title="" style="background: "></div>
			<div class="font--secondary--xs">Ming</div>
			<div>#3e8391</div>
		</li>

	</ul>

	<h2>Secondary Theme Colors</h2>

	<ul class="sg-colors">

		<li>
			<div class="sg-colors-swatch bg--cool" title"" style="background: "></div>
			<div class="font--secondary--xs">Cool</div>
			<div>#4d7549</div>
		</li>

		<li>
			<div class="sg-colors-swatch bg--warm" title"" style="background: "></div>
			<div class="font--secondary--xs">Warm</div>
			<div>#ffa92d</div>
		</li>

	</ul>
</div>
