<h2 class="u-padding--left">Bright Colors</h2>
<div class="u-space u-padding--double--bottom">
  <ul class="colorset primary-colors">

    <li class="u-space u-theme--nad-denim colorset--color">
      <span class="sg-swatch u-theme--nad-denim u-background-color--nad-denim"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Denim</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#003b5c
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(0, 59, 92)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>100, 48, 12, 58
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>302C
      </div>
    </li>

    <li class="u-space u-theme--nad-nile colorset--color">
      <span class="sg-swatch u-theme--nad-nile u-background-color--nad-nile"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Nile</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#007682
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(0, 118, 129)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>96, 9, 32, 29
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>7474C
      </div>
    </li>

    <li class="u-space u-theme--nad-amethyst colorset--color">
      <span class="sg-swatch u-theme--nad-amethyst u-background-color--nad-amethyst"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Amethyst</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#582c83
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(88, 44, 131)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>82, 98, 0, 12
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>268C
      </div>
    </li>

     <li class="u-space u-theme--nad-spark colorset--color">
      <span class="sg-swatch u-theme--nad-spark u-background-color--nad-spark"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Spark</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#d86018
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(216, 96, 24)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>0, 71, 100, 3
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>1595C
      </div>
    </li>

    <li class="u-space u-theme--nad-miracle colorset--color">
      <span class="sg-swatch u-theme--nad-miracle u-background-color--nad-miracle"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Miracle</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#7d2248
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(125, 34, 72)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>13, 96, 26, 52
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>216C
      </div>
    </li>

    <li class="u-space u-theme--nad-branch colorset--color">
      <span class="sg-swatch u-theme--nad-branch u-background-color--nad-branch"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Branch</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#4e3629
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(78, 54, 41)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>30, 71, 75, 81
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>476C
      </div>
    </li>

    <li class="u-space u-theme--nad-vine colorset--color">
      <span class="sg-swatch u-theme--nad-vine u-background-color--nad-vine"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">NAD - Vine</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#4a7729
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(74, 119, 41)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>71, 4, 100, 45
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>364C
      </div>
    </li>

    <li class="u-space u-theme--treefrog colorset--color">
      <span class="sg-swatch u-theme--treefrog u-background-color--treefrog"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Tree Frog</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#2b8500
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(43, 133, 0)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>78, 0, 100, 2
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>362C
      </div>
    </li>

    <li class="u-space u-theme--ming colorset--color">
      <span class="sg-swatch u-background-color--ming"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Ming</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#007f98
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(0, 127, 152)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>96, 9, 32, 29
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>7474C
      </div>
    </li>

    <li class="u-space u-theme--bluejay colorset--color">
      <span class="sg-swatch u-theme--background-color--base"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Bluejay</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#2e6de7
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(46, 109, 231)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>90, 48, 0, 0
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>285C
      </div>
    </li>

    <li class="u-space u-theme--iris colorset--color">
      <span class="sg-swatch u-background-color--iris"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Iris</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#9013fe
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(144, 19, 254)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>70, 76, 0, 0
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>2665C
      </div>
    </li>

    <li class="u-space u-theme--lily colorset--color">
      <span class="sg-swatch u-background-color--lily"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Lily</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#d41583
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(212, 21, 131)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>1, 92, 4, 0
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>219C
      </div>
    </li>

    <li class="u-space u-theme--scarlett colorset--color">
      <span class="sg-swatch u-background-color--scarlett"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Scarlett</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#d0021b
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(208, 2, 27)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>0, 100, 72, 0
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>199C
      </div>
    </li>

    <li class="u-space u-theme--campfire colorset--color">
      <span class="sg-swatch u-background-color--campfire"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Campfire</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#cd4900
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(201, 73, 2)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>0, 71, 100, 3
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>1595C
      </div>
    </li>
    <li class="u-space u-theme--winter colorset--color">
      <span class="sg-swatch u-background-color--winter"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Winter</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#717171
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(113, 113, 113)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>30, 22, 17, 57
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>Cool Gray 9C
      </div>
    </li>

  </ul>
</div>

<h2 class="u-padding--left">Muted Colors</h2>
<div class="u-space u-padding--double--bottom">
  <ul class="colorset primary-colors">

    <li class="u-space u-theme--forest colorset--color">
      <span class="sg-swatch u-background-color--forest"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Forest</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#355724
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(53, 87, 36)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>80, 21, 79, 64
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>357C
      </div>
    </li>

    <li class="u-space u-theme--cave colorset--color">
      <span class="sg-swatch u-background-color--cave"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Cave</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#255760
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(37, 87, 96)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>89, 22, 34, 65
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>7476C
      </div>
    </li>

    <li class="u-space u-theme--denim colorset--color">
      <span class="sg-swatch u-background-color--denim"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Denim</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#2f557f
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(47,85,127)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>96, 54, 5, 27
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>647C
      </div>
    </li>

    <li class="u-space u-theme--emperor colorset--color">
      <span class="sg-swatch u-background-color--emperor"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Emperor</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#4b207f
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(75,32,127)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>82, 100, 0, 12
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>268C
      </div>
    </li>

    <li class="u-space u-theme--grapevine colorset--color">
      <span class="sg-swatch u-background-color--grapevine"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Grapevine</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#712550
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(113, 37, 81)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>13, 96, 26, 52
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>216C
      </div>
    </li>

    <li class="u-space u-theme--velvet colorset--color">
      <span class="sg-swatch u-background-color--velvet"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Velvet</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#782832
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(120, 40, 50)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>20, 97, 40, 58
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>209C
      </div>
    </li>

    <li class="u-space u-theme--earth colorset--color">
      <span class="sg-swatch u-background-color--earth"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Earth</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#5e3929
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(94,57,41)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>30, 71, 75, 81
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>476C
      </div>
    </li>
    <li class="u-space u-theme--night colorset--color">
      <span class="sg-swatch u-background-color--night"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Night</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#4A4A4A
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(74, 74, 74)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>44, 34, 22, 77
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>Cool Gray 10C
      </div>
    </li>


  </ul>
</div>
