<h2 class="u-padding--left">Bright Colors</h2>
<div class="u-space u-padding--double--bottom">
  <ul class="colorset primary-colors">

    <li class="u-space colorset--color">
      <span class="sg-swatch u-theme--treefrog u-background-color--treefrog"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Tree Frog</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#448d21
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(68,141,33)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>80, 23, 100, 9
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>362
      </div>
    </li>

    <li class="u-space u-theme--ming colorset--color">
      <span class="sg-swatch u-background-color--ming"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Ming</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#3e8391
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(62,131,145)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>87, 38, 40, 8
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>7474
      </div>
    </li>

    <li class="u-space u-theme--bluejay colorset--color">
      <span class="sg-swatch u-theme--background-color--base"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Bluejay</span>
    </li>

    <li class="u-space u-theme--iris colorset--color">
      <span class="sg-swatch u-background-color--iris"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Iris</span>
    </li>

    <li class="u-space u-theme--lily colorset--color">
      <span class="sg-swatch u-background-color--lily"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Lily</span>
    </li>

    <li class="u-space u-theme--scarlett colorset--color">
      <span class="sg-swatch u-background-color--scarlett"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Scarlett</span>
    </li>

    <li class="u-space u-theme--campfire colorset--color">
      <span class="sg-swatch u-background-color--campfire"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Campfire</span>
    </li>

  </ul>
</div>

<h2 class="u-padding--left">Muted Colors</h2>
<div class="u-space u-padding--double--bottom">
  <ul class="colorset primary-colors">

    <li class="u-space u-theme--forest colorset--color">
      <span class="sg-swatch u-background-color--forest"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Forest</span>
    </li>

    <li class="u-space u-theme--cave colorset--color">
      <span class="sg-swatch u-background-color--cave"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Cave</span>
    </li>

    <li class="u-space u-theme--denim colorset--color">
      <span class="sg-swatch u-background-color--denim"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Denim</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#2f557f
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(47,85,127)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>100, 72, 38, 28
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>302
      </div>
    </li>

    <li class="u-space u-theme--emperor colorset--color">
      <span class="sg-swatch u-background-color--emperor"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Emperor</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#4b207f
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(75,32,127)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>82, 100, 0, 12
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>268
      </div>
    </li>

    <li class="u-space u-theme--grapevine colorset--color">
      <span class="sg-swatch u-background-color--grapevine"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Grapevine</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#7f264a
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(127,38,74)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>38, 95, 51, 29
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>216
      </div>
    </li>

    <li class="u-space u-theme--velvet colorset--color">
      <span class="sg-swatch u-background-color--velvet"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Velvet</span>
    </li>

    <li class="u-space u-theme--earth colorset--color">
      <span class="sg-swatch u-background-color--earth"></span>
      <div class="sg-swatch--mini">
        <span class="sg-swatch--mini-item u-theme--background-color--darker"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--dark"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--base"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--light"></span>
        <span class="sg-swatch--mini-item u-theme--background-color--lighter"></span>
      </div>
      <span class="sg-label small u-font--primary--m">Earth</span>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">HEX</span>#5e3929
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">RGB</span>rgb(94,57,41)
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">CMYK</span>48, 69, 74, 57
      </div>
      <div class="sg-label sg-label--color u-font--monospace--s u-padding--quarter">
        <span class="sg-label--block">Pantone</span>476
      </div>
    </li>

  </ul>
</div>
