<ul class="sg-colors">

	<h2>Primary Theme Colors</h2>

	<li>
		<span class="sg-colors-swatch bg--emperor" title="" style="background: "></span>
		<span class="font--secondary--xs">Emperor</span>
		<span>#4b207f</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--earth" title="" style="background: "></span>
		<span class="font--secondary--xs">Earth</span>
		<span> #5e3929</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--grapevine" title="" style="background: "></span>
		<span class="font--secondary--xs">Grapevine</span>
		<span> #7f264a</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--denim" title="" style="background: "></span>
		<span class="font--secondary--xs">Denim</span>
		<span>#2f557f</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--campfire" title="" style="background: "></span>
		<span class="font--secondary--xs">Campfire</span>
		<span>#e36520</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--treefrog" title="" style="background: "></span>
		<span class="font--secondary--xs">Treefrog</span>
		<span>#448d21</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--ming" title="" style="background: "></span>
		<span class="font--secondary--xs">Ming</span>
		<span>#3e8391</span>
	</li>


</ul>


<ul class="sg-colors">

	<h2>Secondary Theme Colors</h2>

	<li>
		<span class="sg-colors-swatch bg--cool" title"" style="background: "></span>
		<span class="font--secondary--xs">Cool</span>
		<span>#4d7549</span>
	</li>

	<li>
		<span class="sg-colors-swatch bg--warm" title"" style="background: "></span>
		<span class="font--secondary--xs">Warm</span>
		<span>#ffa92d</span>
	</li>

</ul>
