<h2 class="pad--left">Primary Colors</h2>
<div class="space pad-double--btm">
	<ul class="space colorset primary-colors">
		<li class="space colorset--color">
			<span class="sg-swatch bg--emperor" ></span>
			<span class="sg-label small font--primary--m">Emperor</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span>#4b207f</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(75,32,127)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>82, 100, 0, 12</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>268</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--earth" ></span>
			<span class="sg-label small font--primary--m">Earth</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #5e3929</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(94,57,41)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>48, 69, 74, 57</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>476</span>

		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--grapevine" ></span>
			<span class="sg-label small font--primary--m">Grapevine</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #7f264a</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(127,38,74)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>38, 95, 51, 29</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>216</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--denim" ></span>
			<span class="sg-label small font--primary--m">Denim</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #2f557f</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(47,85,127)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>100, 72, 38, 28</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>302</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--campfire" ></span>
			<span class="sg-label small font--primary--m">Campfire</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #e36520</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(227,101,32)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>11, 76, 100, 1</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>1595</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--treefrog" ></span>
			<span class="sg-label small font--primary--m">Tree Frog</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #448d21</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(68,141,33)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>80, 23, 100, 9</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>362</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--ming" ></span>
			<span class="sg-label small font--primary--m">Ming</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #3e8391</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(62,131,145)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>87, 38, 40, 8</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>7474</span>
		</li>
	</ul>
</div>

<h2 class="pad--left">Secondary Colors</h2>
<div class="space pad-double--btm space-double--btm">
	<ul class="space colorset secondary-colors">

		<li class="space colorset--color">
			<span class="sg-swatch bg--warm" ></span>
			<span class="sg-label small font--primary--m">Warm</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #ffa92d</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(255,169,45)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>4, 34, 100, 0</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>7409</span>
		</li>

		<li class="space colorset--color">
			<span class="sg-swatch bg--cool" ></span>
			<span class="sg-label small font--primary--m">Cool</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">HEX</span> #4d7549</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">RGB</span>rgb(77,117,73)</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">CMYK</span>76, 31, 100, 19</span>
			<span class="sg-label sg-label--color font--monospace--s pad-5"><span class="sg-label--block">Pantone</span>364</span>
		</li>
	</ul>
</div>

