<h2 class="pad--left">Primary Colors</h2>	
<div class="space pad-double--btm">	
	<ul class="space">

		<li class="space">
			<span class="sg-swatch bg--emperor" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Emperor</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--earth" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Earth</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--grapevine" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Grapevine</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--denim" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Denim</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--campfire" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Campfire</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--treefrog" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Tree Frog</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--ming" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Ming</span>
		</li>

	</ul>
</div>


<h2 class="pad--left">Secondary Colors</h2>
<div class="space pad-double--btm space-double--btm">
	<ul class="space">

		<li class="space">
			<span class="sg-swatch bg--warm" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Warm</span>
		</li>

		<li class="space">
			<span class="sg-swatch bg--cool" title="" style="background: "></span>
			<span class="sg-label small font--primary--l">Cool</span>
		</li>

	</ul>

</div>

