<div class="u-spacing--double">
  <div class="o-font u-font--primary u-spacing">
    <h2>Primary Font: {{ primary_font }}</h2>
    <p>When text is rendered by a computer, sometimes there will be characters in the text that can not be displayed, because no font that supports them is available to the computer. When this occurs, small boxes are shown to represent the characters. We call those small boxes “tofu,” and we want to remove tofu from the Web. This is how the Noto font families got their name.</p>

    <h3>Styles</h3>
    <hr />
    <div class="o-font__styles">
      <p>Regular</p>
      <p><em>Italic</em></p>
      <p><strong>Bold</strong></p>
    </div>

    <h3>Characters</h3>
    <hr />
    <div class="o-font__characters">
      <span class="u-font--primary--xl">Aa</span>
      <div class="u-font--primary--xs">
        <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
        <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
        <p>0 1 2 3 4 5 6 7 8 9</p>
      </div>
    </div>
  </div>

  <div class="o-font u-font--secondary u-spacing">
    <h2>Secondary Font: {{ secondary_font }}</h2>
    <p>When text is rendered by a computer, sometimes there will be characters in the text that can not be displayed, because no font that supports them is available to the computer. When this occurs, small boxes are shown to represent the characters. We call those small boxes “tofu,” and we want to remove tofu from the Web. This is how the Noto font families got their name.</p>

    <h3>Styles</h3>
    <hr />
    <div class="o-font__styles">
      <p>Regular</p>
      <p><em>Italic</em></p>
      <p><strong>Bold</strong></p>
    </div>

    <h3>Characters</h3>
    <hr />
    <div class="o-font__characters">
      <span class="u-font--secondary--xl">Aa</span>
      <div class="u-font--secondary--xs">
        <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
        <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
        <p>0 1 2 3 4 5 6 7 8 9</p>
      </div>
    </div>
  </div>
</div>
