{{# carousel_block_default }}
&lt;div class=&quot;carousel-block block spacing--quarter {{ block_class }}&quot;&gt;
  {{# block_heading }}&lt;h2 class=&quot;font--tertiary--m theme--primary-text-color pad pad-half--btm&quot;&gt;{{# heading_icon }}&lt;div class=&quot;icon icon--s&quot;&gt;{{{ heading_icon }}}&lt;/div&gt; {{/ heading_icon }} {{{ block_heading }}}&lt;/h2&gt;{{/ block_heading }}
  &lt;div class=&quot;carousel-block__carousel&quot;&gt;{{&gt; molecules-carousel }}&lt;/div&gt;
&lt;/div&gt; &lt;!-- /.carousel-block --&gt;
{{/ carousel_block_default }}
