&lt;div class=&quot;spacing--double&quot;&gt;
  &lt;div class=&quot;pad--primary spacing text&quot;&gt;
    &lt;h2 class=&quot;font--tertiary--l theme--primary-text-color&quot;&gt;{{{ text.heading }}}&lt;/h2&gt;
    &lt;p class=&quot;intro font--primary--m&quot;&gt;{{{ text.intro }}}&lt;/p&gt;
    {{&gt; molecules-video-figure-with-caption(figure_class: &quot;size--large&quot;) }}
  &lt;/div&gt;

  &lt;hr&gt;
  {{# row_blocks }}
  &lt;div class=&quot;pad--primary spacing--half&quot;&gt;
    {{&gt; molecules-media-block }}
  &lt;/div&gt;
  &lt;hr&gt;
  {{/ row_blocks }}

  {{# content_blocks }}
  &lt;div class=&quot;pad--primary spacing--half text&quot;&gt;
    &lt;h3 class=&quot;brown font--tertiary--l&quot;&gt;{{{ text.heading }}}&lt;/h3&gt;
    &lt;p&gt;{{{ text.description }}} {{# text.cta }} &lt;a href=&quot;{{ url }}&quot; class=&quot;font--secondary--s upper&quot;&gt;&lt;strong&gt;{{{ text.cta }}}&lt;/strong&gt;&lt;/a&gt; {{/ text.cta }}&lt;/p&gt;
  &lt;/div&gt;
  &lt;hr&gt;
  {{/ content_blocks }}
&lt;/div&gt;
