&lt;ul class=&quot;sg-colors&quot;&gt;

	&lt;h2&gt;Primary Theme Colors&lt;/h2&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--emperor&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Emperor&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt; #4b207f&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--earth&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Earth&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt; #5e3929&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--grapevine&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Grapevine&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt; #7f264a&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--denim&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Denim&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;#2f557f&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--campfire&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Campfire&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;#e36520&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--treefrog&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Treefrog&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;#448d21&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--ming&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Ming&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;#3e8391&lt;/span&gt;
	&lt;/li&gt;


&lt;/ul&gt;


&lt;ul class=&quot;sg-colors&quot;&gt;

	&lt;h2&gt;Secondary Theme Colors&lt;/h2&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--cool&quot; title&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Cool&lt;/span&gt;
		&lt;span class=&quot;sg-lablel small&quot;&gt;#4d7549&lt;/span&gt;
	&lt;/li&gt;

	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg--warm&quot; title&quot;&quot; style=&quot;background: &quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label small&quot;&gt;Warm&lt;/span&gt;
		&lt;span class=&quot;sg-lablel small&quot;&gt;#ffa92d&lt;/span&gt;
	&lt;/li&gt;

&lt;/ul&gt;
