&lt;div class=&quot;spacing--half pad-double&quot;&gt;
	&lt;h2&gt;Primary Theme Colors&lt;/h2&gt;
	&lt;ul class=&quot;sg-colors&quot;&gt;
		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--emperor&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Emperor&lt;/div&gt;
			&lt;div&gt;#4b207f&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--earth&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Earth&lt;/div&gt;
			&lt;div&gt; #5e3929&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--grapevine&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Grapevine&lt;/div&gt;
			&lt;div&gt; #7f264a&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--denim&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Denim&lt;/div&gt;
			&lt;div&gt;#2f557f&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--campfire&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Campfire&lt;/div&gt;
			&lt;div&gt;#e36520&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--treefrog&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Treefrog&lt;/div&gt;
			&lt;div&gt;#448d21&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--ming&quot; title=&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Ming&lt;/div&gt;
			&lt;div&gt;#3e8391&lt;/div&gt;
		&lt;/li&gt;

	&lt;/ul&gt;

	&lt;h2&gt;Secondary Theme Colors&lt;/h2&gt;

	&lt;ul class=&quot;sg-colors&quot;&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--cool&quot; title&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Cool&lt;/div&gt;
			&lt;div&gt;#4d7549&lt;/div&gt;
		&lt;/li&gt;

		&lt;li&gt;
			&lt;div class=&quot;sg-colors-swatch bg--warm&quot; title&quot;&quot; style=&quot;background: &quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;font--secondary--xs&quot;&gt;Warm&lt;/div&gt;
			&lt;div&gt;#ffa92d&lt;/div&gt;
		&lt;/li&gt;

	&lt;/ul&gt;
&lt;/div&gt;
