<div class="content cf has-aside" role="document">
  {{> organisms-header }}
  <main class="main bg--beige" role="main">
    {{> organisms-page-header }}
    {{> molecules-article-navigation }}
    <div class="layout-container">
      <div class="flex-container cf">
        <div class="shift-left--fluid column__primary bg--white">
          {{> organisms-page-content }}
        </div> <!-- /.shift-left--fluid -->
        <div class="shift-right--fluid bg--beige">
          {{> molecules-aside-navigation }}
        </div> <!-- /.shift-right--fluid -->
      </div> <!-- /.flex-container -->
    </div> <!-- /.layout-container -->
  </main> <!-- /.main -->
  {{> organisms-footer }}
</div> <!-- /.content -->
