<div class="content cf has-aside" role="document">
  {{> organisms-header }}
  <main class="main" role="main">
    {{> organisms-hero-carousel }}
  </main> <!-- /.main -->
  {{!> organisms-footer }}
</div> <!-- /.content -->
