&lt;a href=&quot;{{ large_image_url }}&quot; class=&quot;view-larger js-modal-image flex flex--align-center flex--justify-center theme--secondary-text-color ta--center&quot;&gt;&lt;span class=&quot;dib round icon--m pad-5 theme--secondary-background-color space-5--right&quot;&gt;{{&gt; atoms-icon-magnify(fill_class: 'fill--white') }}&lt;/span&gt; &lt;span class=&quot;font--secondary--xs&quot;&gt;View Larger&lt;/span&gt;&lt;/a&gt;
