&lt;aside class=&quot;aside spacing--double&quot;&gt;
  &lt;div class=&quot;pad--secondary spacing--double&quot;&gt;

    {{# aside_content }}
      &lt;h3 class=&quot;font--tertiary--m theme--secondary-text-color&quot;&gt;{{ aside_heading }}&lt;/h3&gt;
      {{# aside_blocks }}
        {{&gt; molecules-media-block(block_inner_class: &quot;block__row--small-to-large&quot;) }}
      {{/ aside_blocks }}
    {{/ aside_content }}

    &lt;div class=&quot;spacing&quot;&gt;
      &lt;h3 class=&quot;font--tertiary--m theme--secondary-text-color&quot;&gt;More News&lt;/h3&gt;
      {{# content_blocks }}
        &lt;div class=&quot;content__block&quot;&gt;
          &lt;h3 class=&quot;theme--primary-text-color font--secondary--m&quot;&gt;{{{ text.heading }}}&lt;/h3&gt;
          &lt;p&gt;Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet. {{# text.cta }} &lt;a href=&quot;{{ url }}&quot; class=&quot;font--secondary--s upper theme--secondary-text-color&quot;&gt;&lt;strong&gt;{{{ text.cta }}}&lt;/strong&gt;&lt;/a&gt; {{/ text.cta }}&lt;/p&gt;
        &lt;/div&gt;
        &lt;hr&gt;
      {{/ content_blocks }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/aside&gt;
