&lt;div class=&quot;article__meta&quot;&gt;
  &lt;span class=&quot;pub_date font--secondary--s gray&quot;&gt;{{ pub_date }}&lt;/span&gt; &lt;span class=&quot;divider&quot;&gt;|&lt;/span&gt;
  &lt;span class=&quot;pub_region font--secondary--s gray&quot;&gt;{{ pub_region }}&lt;/span&gt; &lt;span class=&quot;divider&quot;&gt;|&lt;/span&gt;
  &lt;span class=&quot;byline font--secondary--s gray&quot;&gt;{{ byline }}&lt;/span&gt;
&lt;/div&gt;
