<div class="c-block__breakout u-padding u-padding--double--bottom u-padding--double--top u-spacing u-theme--background-color--darker {{ breakout_block.block_class }}">
  <h3 class="c-block__title u-color--white">{{ breakout_block.title }}</h3>
  <p class="c-block__body u-theme--color--lighter">{{ breakout_block.description }}</p>
  <a href="" class="o-button o-button--lighter">{{ breakout_block.cta.text }}</a>
</div>
