{{# carousel_block_default }}
<div class="carousel-block block spacing--quarter {{ block_class }}">
  {{# block_heading }}<h2 class="font--tertiary--m theme--primary-text-color pad pad-half--btm">{{# heading_icon }}<div class="icon icon--s">{{{ heading_icon }}}</div> {{/ heading_icon }} {{{ block_heading }}}</h2>{{/ block_heading }}
  <div class="carousel-block__carousel">{{> molecules-carousel }}</div>
</div> <!-- /.carousel-block -->
{{/ carousel_block_default }}
