<div class="modal">
  <div class="modal__block">
    <p class="modal__block--title">{{ block_info.name }}</p>
    <p class="modal__block--location">{{ block_info.location }}</p>
    <p class="modal__block--site">
      <a href="{{ block_info.site }}">{{ block_info.site }}</a>
    </p>
  </div>
</div>
