{% if primary_nav %}
<nav class="c-primary-nav u-background--texture" role="navigation">
  <ul class="c-primary-nav__list">
    {% for item in primary_nav.items %}
      <li class="c-primary-nav__list-item">
        <a href="/" class="c-primary-nav__link u-font--primary--m u-color--white">
          <strong>{{ item.text }}</strong>
        </a>
      </li>
    {% endfor %}
  </ul> <!-- /.c-primary-nav__list -->
</nav> <!-- /.c-primary-nav -->
{% endif %}
