<div class="modal__result">
  <p class="modal__result--title">{{ block_info.name }}</p>
  <p class="modal__result--location">{{ block_info.location }}</p>
  <p class="modal__result--site">
    <a href="{{ block_info.site }}">{{ block_info.site }}</a>
  </p>
</div>
