{% if story_block_default %}
  <div class="js-this c-story-block c-block u-background-color--gray--light u-border--left u-theme--border-color--darker--left can-be--dark-dark">
    <div class="c-story-block__header">
      <div class="c-story-block__title u-padding">
        {% if story_block_default.title %}
          <h2 class="u-font--primary--s u-theme--color--darker">
            <span class="u-theme--color--base"><em>{{ story_block_default.kicker }}</em></span> {{ story_block_default.title }}
          </h2>
        {% endif %}
        <div class="c-story-block__toggle">
          <button class="js-toggle o-button o-button--outline o-button--toggle o-button--small" data-toggled="this" data-prefix="this"><span class="u-icon u-icon--xs u-path-fill--white">{% include '@atoms/icons/icon-plus.twig' %}</span></button>
        </div>
      </div> <!-- /.c-story-block__title -->
    </div> <!-- /.c-story-block__header -->
    <div class="c-story-block__body u-padding u-padding--zero--sides--top u-spacing">
      {{ story_block_default.body | raw }}
    </div> <!-- /.c-story-block__body -->
  </div> <!-- /.c-story-block -->
{% endif %}
