{{# story_block_default }}
<div class="story-block block spacing--half pad {{ block_class }}" style="background-image: url({{ bg_img }})">
  <div class="story-block__image-wrap round">
    <img class="story-block__image" src="{{ img.src }}" alt="{{ img.alt }}" />
  </div>
  <div class="story-block__content spacing">
    <div>
      <h2 class="story-block__heading font--secondary--l theme--secondary-text-color">{{{ title }}}</h2>
      {{# subtitle }}<p class="font--secondary--xs white">{{{ subtitle }}}</p>{{/ subtitle }}
    </div>
    <div class="spacing">
      <div class="text story-block__description block__description white">
        {{# text_img }}
          <a class="story-block__text-image-wrap space-half--btm" href="{{ url }}">
            {{# is_video }}<div class="is-video">{{/ is_video }}
            <img class="story-block__text-image" src="{{ text_img.src }}" alt="{{ text_img.alt }}" />
            {{# is_video }}</div>{{/ is_video }}
          </a> <!-- /.story-block__image-wrap -->
        {{/ text_img }}
        {{{ description }}}
      </div>
      {{# cta }}
        <p><a class="story-block__cta block__cta btn theme--secondary-background-color" href="{{ url }}">{{ cta }}</a></p>
      {{/ cta }}
    </div> <!-- /.spacing -->
  </div> <!-- story-block__content -->
</div> <!-- /.story-block -->
{{/ story_block_default }}
