<div class="u-spacing--double">
  <div class="text u-spacing">
    <h2 class="u-font--secondary--l u-theme--color--darker">{{ text.heading | raw}}</h2>
    <p class="intro u-font--primary--m">{{ text.intro | raw }}</p>
    {% include '@molecules/media/video-figure-with-caption.twig' with {'figure_class': 'size--large'} %}
  </div>

  <section class="c-section c-section__blocks u-spacing">
    {% for block in row_blocks %}
      {% include '@molecules/blocks/media-block.twig' with block %}
    {% endfor %}
  </section>

  <section class="c-section c-section__blocks u-spacing">
    {% for block in content_blocks %}
      {% include '@molecules/blocks/content-block.twig' with block %}
    {% endfor %}
  </section>

  <section class="c-section c-section__blocks u-spacing">
    {% for block in page_content_blocks %}
      {% include '@molecules/blocks/content-block.twig' with block %}
    {% endfor %}
  </section>

  {% include '@molecules/blocks/story-block.twig' %}
</div>
