<div class="u-spacing--double u-flex u-height--100p">

  <div class="content-blocks u-spacing--double">
    {% for block in content_blocks %}
    <div class="u-padding--primary u-spacing--half text">
      <h3 class="brown u-font--tertiary--l">{{ text.heading  | raw}}</h3>
      <p>{{ block.text.description | raw }} {% if block.text.cta %} <a href="{{ block.url }}" class="u-font--secondary--s u-text-transform--upper"><strong>{{ block.text.cta | raw}}</strong></a> {% endif %}</p>
    </div>
    <hr>
    {% endfor %}
  </div>

  {% include '@molecules/blocks/story-block.twig' with {'block_class': 'u-flex--end'} %}
</div>
