<div class="u-spacing--triple">
  <div class="text u-spacing">
    <h2 class="u-font--secondary--l u-theme--color--darker">{{ text.heading|raw}}</h2>
    <p class="o-intro u-font--primary--m">{{ text.intro|raw }}</p>
  </div>

  <section class="c-section c-section__blocks u-spacing--double">
    {% for block in page_content_blocks %}
      {% include '@molecules/blocks/content-block.twig' with block %}
    {% endfor %}
  </section>

  <section class="c-section c-section__blocks">
    {% include '@molecules/blocks/content-block-expand.twig' %}
  </section>
</div>
