<div class="spacing--double flex h--100p">

  <div class="content-blocks spacing--double">
    {{# content_blocks }}
    <div class="pad--primary spacing--half text">
      <h3 class="brown font--tertiary--l">{{{ text.heading }}}</h3>
      <p>{{{ text.description }}} {{# text.cta }} <a href="{{ url }}" class="font--secondary--s upper"><strong>{{{ text.cta }}}</strong></a> {{/ text.cta }}</p>
    </div>
    <hr>
    {{/ content_blocks }}
  </div>

  {{> molecules-story-block(block_class: "flex--end") }}
</div>
