<div class="spacing--half">
  <h2 class="font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm">All Photos</h2>
  <hr>
</div>
<div class="g g-3up--at-medium with-divider">
  {{# media_blocks }}
    <div class="gi">
      <div class="spacing">
        <div class="pad">{{> molecules-media-block }}</div>
        {{# has_hr }}<hr>{{/ has_hr }}
      </div>
    </div> <!-- /.gi -->
  {{/ media_blocks }}
  {{# media_blocks_2 }}
    <div class="gi pad-double--btm">
      <div class="spacing">
        <div class="pad">{{> molecules-media-block }}</div>
        {{# has_hr }}<hr>{{/ has_hr }}
      </div>
    </div> <!-- /.gi -->
  {{/ media_blocks_2 }}
</div> <!-- /.2up--at-medium -->
