<div class="spacing--half">
  <h2 class="u-font--tertiary--l theme--primary-text-color pad pad-double--top pad-half--btm">{{heading}}</h2>
  <hr>
</div>
<div class="spacing--half">
  <div class="pad">
  {% include '@molecules/forms/facet-filter.twig' %}
  </div>
  <hr>
</div>
<div class="g g-2up--at-medium with-divider">
  {% for block in media_blocks %}
    <div class="gi">
      <div class="spacing">
        <div class="pad">{% include '@molecules/blocks/media-block.twig' with block %}</div>
        {% if block.has_hr %}<hr>{% endif %}
      </div>
    </div> <!-- /.gi -->
  {% endfor %}
  {% for block in media_blocks_2 %}
    <div class="gi pad-double--btm">
      <div class="spacing">
        <div class="pad">{% include '@molecules/blocks/media-block.twig' with block %}</div>
        {% if block.has_hr %}<hr>{% endif %}
      </div>
    </div> <!-- /.gi -->
  {% endfor %}
</div> <!-- /.2up--at-medium -->
<hr>
<div class="pad spacing">
{% include '@molecules/navigation/pagination.twig' %}
</div>
