<div class="u-spacing--half">
  <h2 class="u-font--tertiary--l u-theme--primary-text-color u-padding u-padding--double--top u-padding--half--bottom">{{ heading }}</h2>
  <hr>
</div>
<div class="l-grid l-grid--3-col--at-medium with-divider {{ grid_class }}">
  {% for block in media_blocks %}
    <div class="l-grid-item">
      <div class="u-spacing">
        <div class="u-padding">{% include '@molecules/blocks/media-block.twig' with block %}</div>
        {% if has_hr %}<hr>{% endif %}
      </div>
    </div> <!-- /.l-grid-item -->
  {% endfor %}
  {% for block in media_blocks_2 %}
    <div class="l-grid-item">
      <div class="u-spacing">
        <div class="u-padding">{% include '@molecules/blocks/media-block.twig' with block %}</div>
        {% if has_hr %}<hr>{% endif %}
      </div>
    </div> <!-- /.l-grid-item -->
  {% endfor %}
</div> <!-- /.2up--at-medium -->
