<div class="text article__body longform__body u-spacing u-center-block">
  <div><p class="u-font--primary--l">Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p></div>

  <h2>Header One, Written with Header Two</h2>

  <p>Mauris sapien purus, pharetra ac elit ac, volutpat suscipit ligula. Nullam dapibus pharetra vestibulum. Sed blandit enim quis efficitur pharetra. Nullam mattis a enim et suscipit. Praesent luctus quam nec quam fermentum, a dictum ex auctor. Nulla vel ullamcorper velit. Nam mollis turpis a commodo efficitur. Donec in tincidunt enim, quis placerat nunc.</p>

  {% if fig_1 %}
    {% include '@molecules/media/figure-with-caption.twig' with fig_1 %}
  {% endif %}

  <p>Mauris vel ante porttitor nulla ultricies porta. Aliquam sapien mi, varius vel tellus in, dapibus pulvinar lectus. Proin consectetur ex vel eros sodales, at vestibulum nisl molestie. Aliquam velit neque, consectetur ut lorem nec, volutpat vestibulum nulla.</p>

  <ul>
    <li><strong>Quisque tincidunt</strong> elementum eros, eget. <em>Nulla fringilla enim eget bibendum</em> scelerisque. Aenean vehicula varius lectus, ut vestibulum mi sollicitudin nec. Fusce sed mauris sed elit tempor feugiat a sit amet ipsum.</li>
    <li><strong>Donec in tincidunt</strong> enim, quis placerat nunc. Mauris vel ante porttitor nulla ultricies porta. Aliquam sapien mi, varius vel tellus in, dapibus pulvinar lectus.</li>
    <li><strong>Ut eu enim magna.</strong> Aliquam consequat ultricies ex, in pretium ipsum maximus sed. Nulla aliquet fringilla orci id posuere. Fusce lectus massa.</li>
  </ul>

  <p>Proin consectetur ex vel eros sodales, at vestibulum nisl molestie. Aliquam velit neque, consectetur ut lorem nec, volutpat vestibulum nulla.</p>

  <blockquote class="quote--inline">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas, lectus at varius bibendum, sapien libero tincidunt magna, eu posuere ante odio at nulla. Nullam mi magna, feugiat aliquet felis eu, tempus egestas sem. Aliquam at nulla varius, vehicula nunc ac, egestas ligula. Pellentesque gravida augue massa, eget suscipit tellus dignissim sit amet. Donec tincidunt imperdiet tellus, vel fermentum justo egestas at. Mauris cursus justo in nisl ultricies gravida. Pellentesque condimentum pulvinar urna, sit amet mattis turpis sagittis vel. Fusce sollicitudin viverra mi et finibus. Nullam eleifend magna ut condimentum rhoncus. Curabitur eget nisi quam.</p>

    <p>Nam ut ultricies mi. Etiam eros urna, tempor at interdum ut, mattis vel metus. Aliquam bibendum nulla a leo elementum, ultricies accumsan nisl pharetra. Sed efficitur urna a odio egestas blandit. Integer venenatis, est ac sodales varius, ipsum tellus tincidunt mi, sit amet feugiat leo tortor sed arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pharetra faucibus euismod. Donec efficitur, leo et viverra laoreet, lectus purus faucibus diam, non fringilla magna ligula eu velit. Vivamus suscipit lacus nec metus vestibulum condimentum. Cras venenatis, dui maximus tincidunt dapibus, lacus lorem accumsan metus, in facilisis ligula ligula id nisi. Praesent in ligula volutpat, pellentesque magna vitae, auctor purus. Praesent placerat lacinia ligula.</p>
  </blockquote>

  <p><a href="" class="btn">Read the whole post</a></p>

  {% include '@molecules/media/video-figure-with-caption.twig' with {'figure_class': 'size--large'}  %}

  <p><a href="#">Aliquam erat volutpat.</a> Mauris vulputate scelerisque feugiat ras a erat a diam venenatis aliquam sed tempus, <strong>purus ac pretium</strong> varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum <a href="">sociis natoque penatibus et</a> magnis dis parturient montes, nascetur ridiculus mus.</p>

  {% if fig_2 %}
    {% include '@molecules/media/figure-with-caption.twig' with fig_2 %}
  {% endif %}

  <p>Mauris sapien purus, pharetra ac elit ac, volutpat suscipit ligula. Nullam dapibus pharetra vestibulum. Sed blandit enim quis efficitur pharetra. Nullam mattis a enim et suscipit. Praesent luctus quam nec quam fermentum, a dictum ex auctor. Nulla vel ullamcorper velit. Nam mollis turpis a commodo efficitur. Donec in tincidunt enim, quis placerat nunc.</p>

  <p>Ante porttitor nulla ultricies porta. Aliquam sapien mi, varius vel tellus in, dapibus pulvinar lectus. Proin consectetur ex vel eros sodales, at vestibulum nisl molestie. Aliquam velit neque, consectetur ut lorem nec, volutpat vestibulum nulla.</p>

  <blockquote class="size--large aligncenter">
    <p>Fringilla lectus vel risus feugiat semper.Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae.</p>
  </blockquote>

  <p>Dabitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

  <blockquote class="quote--extended">
    <p><em>Reading time: 3 minutes</em><br></p>
    <h3>Sed efficitur urna a odio egestas blandit</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas, lectus at varius bibendum, sapien libero tincidunt magna, eu posuere ante odio at nulla. Nullam mi magna, feugiat aliquet felis eu, tempus egestas sem. Aliquam at nulla varius, vehicula nunc ac, egestas ligula. Pellentesque gravida augue massa, eget suscipit tellus dignissim sit amet. Donec tincidunt imperdiet tellus, vel fermentum justo egestas at. Mauris cursus justo in nisl ultricies gravida. Pellentesque condimentum pulvinar urna, sit amet mattis turpis sagittis vel. Fusce sollicitudin viverra mi et finibus. Nullam eleifend magna ut condimentum rhoncus. Curabitur eget nisi quam.</p>

    <p>Nam ut ultricies mi. Etiam eros urna, tempor at interdum ut, mattis vel metus. Aliquam bibendum nulla a leo elementum, ultricies accumsan nisl pharetra. Sed efficitur urna a odio egestas blandit. Integer venenatis, est ac sodales varius, ipsum tellus tincidunt mi, sit amet feugiat leo tortor sed arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pharetra faucibus euismod. Donec efficitur, leo et viverra laoreet, lectus purus faucibus diam, non fringilla magna ligula eu velit. Vivamus suscipit lacus nec metus vestibulum condimentum. Cras venenatis, dui maximus tincidunt dapibus, lacus lorem accumsan metus, in facilisis ligula ligula id nisi. Praesent in ligula volutpat, pellentesque magna vitae, auctor purus. Praesent placerat lacinia ligula.</p>
  </blockquote>

  <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum.</p>

  <p>Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  {% if fig_4 %}
    {% include '@molecules/media/figure-with-caption.twig' with fig_4 %}
  {% endif %}

  {% if fig_5 %}
    {% include '@molecules/media/figure-with-caption.twig' with fig_5%}
  {% endif %}

  <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  <p>Dabitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

  <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum.</p>

  {% if fig_3 %}
    {% include '@molecules/media/figure-with-caption.twig' with fig_3 %}
  {% endif %}

  <p>Maecenas eros dolor, <em>rutrum eu sollicitudin</em> eu, commodo at leo suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus maecenas eu urna adipiscing neque dictum mollis suscipit in augue.</p>

  <h2>Header Two</h2>

  <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

  <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  {% if picture_1 %}
    <figure class="u-image--breakout breakout-image">
      {% include '@atoms/images/picture.twig' with picture_1 %}
    </figure>
  {% endif %}

  <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

  <h3>Header Three</h3>

  <p>Sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>

  <blockquote class="size--medium alignleft">
    <p>Fusce fringilla lectus vel risus feugiat semper.Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor.</p>
  </blockquote>

  <p>Ante porttitor nulla ultricies porta. Aliquam sapien mi, varius vel tellus in, dapibus pulvinar lectus. Proin consectetur ex vel eros sodales, at vestibulum nisl molestie. Aliquam velit neque, consectetur ut lorem nec, volutpat vestibulum nulla.</p>

  <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  <p>Dabitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

  {% if picture_2 %}
    <figure class="size--full">
      {% include '@atoms/images/picture.twig' with picture_2 %}
    </figure>
  {% endif %}

  <p>Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

  <h4>Header Four</h4>

  <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

  <p>Sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>
</div>
