
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "Powerful earthquake in Ecuador kills 413, injures more than 2,500",
  "image": {
    "@type": "ImageObject",
    "url": "https://placehold.it/800x600",
    "height": 600,
    "width": 800
  },
  "datePublished": "2016-04-19T08:00:00+08:00",
  "dateModified": "2016-04-19T09:20:00+08:00",
  "author": {
    "@type": "Person",
    "name": "Andrew McChesney"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Seventh Day Adventists",
    "logo": {
      "@type": "ImageObject",
      "url": "https://placehold.it/100x100",
      "width": 100,
      "height": 60
    }
  },
  "description": "Church members, humanitarians gather donations to assist those affected by the tragedy."
}
</script>

<div class="pad--primary spacing column__primary">

  <div class="rtl">{% include 'organisms-article-header' %}</div>

  <div class="text article__body spacing rtl">

    {% include 'molecules-video-figure-with-caption' with {'figure_class' : 'size--large'} %}

    <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>

    <p>إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.</p>

    <h2>إيبسوم،</h2>

    <p>إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات</p>
  </div>

</div> <!-- /.spacing -->
