<div class="u-spacing">
  {% include '@molecules/navigation/breadcrumbs.twig' %}
  <div class="text article__body u-spacing has-dropcap">
    <p>Mauris vulputate scelerisque feugiat ras a erat a diam venenatis aliquam sed tempus, <strong>purus ac pretium</strong> varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum <a href="">sociis natoque penatibus et</a> magnis dis parturient montes, nascetur ridiculus mus.</p>

    {% include '@molecules/components/accordion.twig' %}

    <p>Maecenas eros dolor, <em>rutrum eu sollicitudin</em> eu, commodo at leo suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus maecenas eu urna adipiscing neque dictum mollis suscipit in augue.</p>

    {% if blockquote %}
      {% include '@atoms/text/blockquote.twig' %}
    {% endif %}

    <p>Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.</p>

    <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

    <hr>

    <ol>
      <li>This is a top level <code>ol</code> item
        <ul>
          <li>This is a sub-level <code>ul</code> item</li>
          <li>This is a sub-level <code>ul</code> item</li>
        </ul>
      </li>
      <li>This is a top level <code>ol</code> item
        <ul>
          <li>This is a sub-level <code>ul</code> item</li>
          <li>This is a sub-level <code>ul</code> item</li>
        </ul>
      </li>
    </ol>

    <hr>

    <ul>
      <li>This is a top level <code>ul</code> item
        <ol>
          <li>This is a sub-level <code>ol</code> item</li>
          <li>This is a sub-level <code>ol</code> item</li>
        </ol>
      </li>
      <li>This is a top level <code>ul</code> item
        <ol>
          <li>This is a sub-level <code>ol</code> item</li>
          <li>This is a sub-level <code>ol</code> item</li>
        </ol>
      </li>
    </ul>

    <hr>

    <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

    {% include '@molecules/media/video-figure-with-caption.twig' with {'figure_class' : 'size--large'} %}

    <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

    <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

    {% if fig_large %}
      {% include '@molecules/media/figure-with-caption.twig' with fig_large %}
    {% endif %}

    <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

    <h2>Header Two</h2>

    <p>Sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>

    {% if fig_center %}
      {% include '@molecules/media/figure-with-caption.twig' with fig_center %}
    {% endif %}

    <p>Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

    <figure class="aligncenter">
      <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BBnp79zmXlN/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Cara Cara &amp; Blood Orange Salad with Ricotta Salad featured in our February issue from @42burners #marthafood</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Martha Stewart (@marthastewart) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-02-10T20:44:28+00:00">Feb 10, 2016 at 12:44pm PST</time></p></div></blockquote>
      <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    </figure>

    <h3>Header Three</h3>

    <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

    <figure class="fitcenter">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A penguin was once knighted in Norway. <a href="https://t.co/0g6C1nBPxd">pic.twitter.com/0g6C1nBPxd</a></p>&mdash; OMG Facts (@OMGFacts) <a href="https://twitter.com/OMGFacts/status/719265776893575172">April 10, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </figure> <!-- /.aligncenter -->

    <p>In lacinia tortor eget elit gravida dapibus. Mauris eget magna sed libero hendrerit feugiat. Nullam suscipit malesuada nisl tristique euismod. In egestas ipsum in porttitor finibus.</p>

    <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

    {% if fig_right %}
      {% include '@molecules/media/figure-with-caption.twig' with fig_right %}
    {% endif %}


    <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

    <h4>Header Four</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

    <p>Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis.</p>

    <h5>Header Five</h5>

    <p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies. Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. </p>

    <p>Nullam vel eleifend odio, non porttitor arcu. Aliquam erat volutpat. Cras et ultrices quam. Nulla facilisi. Nullam blandit, est eget molestie mattis, tellus augue consequat nisi, id tempor diam dolor in metus. Quisque id egestas nunc.</p>

    {% if fig_medium %}
      {% include '@molecules/media/figure-with-caption.twig' with fig_medium %}
    {% endif %}

    <p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

    <p>Aenean sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>

    <h6>Header Six</h6>

    <p>In lacinia tortor eget elit gravida dapibus. Mauris eget magna sed libero hendrerit feugiat. Nullam suscipit malesuada nisl tristique euismod. In egestas ipsum in porttitor finibus.</p>

    {% include '@atoms/lists/unordered.twig' %}

    <p>Vestibulum a felis tincidunt, elementum risus ac, porttitor dolor. Maecenas et blandit quam. Duis gravida sem id augue laoreet fringilla nec eu ante. Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat morbi malesuada augue ac massa hendrerit fermentum integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.</p>

    <p>Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

    {% if pullquote %}
      <figure class="alignleft size--large">
        {% include '@molecules/text/pullquote.twig' %}
      </figure>  <!-- /.alignleft -->
    {% endif %}

    <p>Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.</p>

    <p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

    <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

    <p>Consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, <a href="">convallis et arcu</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar.</p>

    {% if pullquote %}
      <figure class="aligncenter">
        {% include '@molecules/text/pullquote.twig' %}
      </figure>  <!-- /.aligncenter -->
    {% endif %}

    <p>Maecenas eros dolor, <em>rutrum eu sollicitudin</em> eu, commodo at leo. Suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus. Maecenas eu urna adipiscing neque dictum mollis suscipit in augue.</p>

    <p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

    {% include '@atoms/lists/ordered.twig' %}

    <p>Consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, <a href="">convallis et arcu</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis duiecenas eget diam nunc.</p>

    <p>Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non.</p>
  </div>
</div>

{% include '@molecules/forms/sample-form.twig' %}
