<div class="c-search-results u-spacing--double text">
  {% for block in search_results %}
    {% include '@molecules/blocks/media-block.twig' with block %}
  {% endfor %}
  {% include '@molecules/navigation/pagination.twig' %}
</div> <!-- /.c-search-results -->
