<div class="c-search-results u-spacing--double">
  {% for block in search_results %}
    {% include '@molecules/blocks/content-block.twig' with block %}
  {% endfor %}
  <a href="" class="o-button">Load More</a>
</div> <!-- /.c-search-results -->
