.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.container-1 {
  display: flex;
  padding: 10px;
}

.container-1 div {

  padding: 10px;
  border: 1px solid silver;
}

.box {
  width: 25%;
  padding-right: 20px;
  padding-bottom: 30px;

}
.box-1 {
  display: block;
  width: 100%;
  height: 5rem;
}

.box-2{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  height: 15%;
}

.colors-list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 2.5rem;
  margin: .3125rem 0;
}

.colors-item {
  background-color: pink;
  width: 100%;
  margin-right: .3125rem;
  height: 40px;
}

.colors-name.span {
  font-family: "noto serif",Georgia,Times,times new roman,serif;
  font-size: 1.25rem;
  font-weight: 400;
  box-sizing: border-box;
  display: block;
  padding: .3125rem;
  background: none;
}


.span {
  background:#f5f5f5 ;
  color: #717171;
  line-height: 1;
  margin-bottom: .3125rem;
  padding: .3125rem;
  margin-right: .625rem;
  font-size: 10px;
  font-family: Menlo,Monaco,courier new,courier,monospace;
  display: inline-block;
  border-radius: .3125rem;
}


.colors-internals {
  display: block;
  color: #717171;
  line-height: 1;
  margin-bottom: .3125rem;
  padding: .3125rem;
  font-size: .9375rem;
  font-family: Menlo,Monaco,courier new,courier,monospace;
}

.color-square__table {
  background-color: #1b2d00;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.color__table {
  color: #cd4900;
}* {
   box-sizing: border-box;
 }

.colors-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-indent: initial;
  display: table;
  border-color: grey;

  //display: table-row-group;
  vertical-align: middle;
  //border-color: inherit;
}

.td-table {
  border: 1px solid transparent;
  display: table-cell;
  vertical-align: inherit;
  font-size: .875rem;
  padding: .25rem;
}

.tr-table {
  border: 1px solid transparent;
  display: table-row;
  vertical-align: inherit;
}