<div class="article__meta">
  <span class="pub_date font--secondary--s gray">{{ pub_date }}</span> <span class="divider">|</span>
  <span class="pub_region font--secondary--s gray">{{ pub_region }}</span> <span class="divider">|</span>
  <span class="byline font--secondary--s gray">{{ byline }}</span>
</div>
