<div class="share-tools">
  <div class="addthis_toolbox addthis_default_style" addthis:url="{{ share_url }}">
    <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4ed4fc0e60966005" class="addthis_button_compact">Share</a>
    <span class="addthis_separator">|</span>
    <a class="addthis_button_facebook" g:plusone:count="false"></a>
    <a class="addthis_button_twitter" g:plusone:count="false"></a>
    <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
    <a class="addthis_button_email" g:plusone:count="false"></a>
  </div>
</div> <!-- /.share-tools -->
