<div class="carousel__item rel {{ carousel_item_class }}">
  {{> atoms-picture }}

  {{# has_slide_text }}
  <div class="carousel__item-text__wrap">
    <div class="layout-container">
      <div class="carousel__item-text spacing--half {{ carousel_text_class }}">
        <h2 class="carousel__item-heading font--serif--xxl">{{{ slide_heading }}}</h2>
        {{# slide_subtitle }}<h3 class="carousel__item-subtitle font--serif--m">{{{ slide_subtitle }}}</h3>{{/ slide_subtitle }}
        <div class="carousel__item-dek pad-half--btm">
          <p>{{{ slide_dek }}}</p>
        </div> <!-- /.carousel__item-dek -->
        <a href="{{ url }}" class="carousel__item-cta btn {{ btn_class }}">{{{ slide_cta }}}</a>
      </div> <!-- /.carousel__item-text -->
    </div>
  </div>
  {{/ has_slide_text }}

</div> <!-- /.carousel__item -->
