{{# heading_block_default }}
&lt;div class=&quot;heading-block block {{ block_class }}&quot;&gt;
  &lt;div class=&quot;g g-2up--35-65--at-medium pad&quot;&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;h2 class=&quot;pad no-pad--btm heading-block__heading font--secondary--l w--100p theme--secondary-text-color align--right--at-medium&quot;&gt;{{{ block_heading }}}&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;gi&quot;&gt;
      &lt;div class=&quot;pad heading-block__content block__content {{ block_content_class }}&quot;&gt;
        &lt;div class=&quot;spacing&quot;&gt;
          &lt;div class=&quot;text&quot;&gt;&lt;p class=&quot;heading-block__description block__description&quot;&gt;{{ description }}&lt;/p&gt;&lt;/div&gt;
          {{# cta }}
            &lt;p&gt;&lt;a class=&quot;heading-block__cta block__cta btn theme--secondary-background-color&quot; href=&quot;{{ url }}&quot;&gt;{{ cta }}&lt;/a&gt;&lt;/p&gt;
          {{/ cta }}
        &lt;/div&gt; &lt;!-- /.spacing --&gt;
      &lt;/div&gt; &lt;!-- heading-block__content --&gt;
    &lt;/div&gt;
  &lt;/div&gt; &lt;!-- /.g-2up--35-65--at-medium --&gt;
&lt;/div&gt; &lt;!-- /.heading-block --&gt;
{{/ heading_block_default }}
