<div class="article__meta">
  <span class="pub_date font--secondary--s gray can-be--white">{{ pub_date }}</span> <span class="divider">|</span>
  <span class="pub_region font--secondary--s gray can-be--white">{{ pub_region }}</span> <span class="divider">|</span>
  {{> molecules-byline }}
</div>
