{{# article_header }}
&lt;header class=&quot;article__header article__flow spacing--quarter&quot;&gt;
  &lt;h1 class=&quot;font--secondary--xl theme--secondary-text-color&quot;&gt;{{{ heading }}}&lt;/h1&gt;
  &lt;div class=&quot;spacing--half&quot;&gt;
    {{# subheading }}&lt;h1 class=&quot;font--secondary--m&quot;&gt;{{{ subheading }}}&lt;/h1&gt;{{/ subheading }}
    {{&gt; molecules-share-tools }}
  &lt;/div&gt;
  {{&gt; molecules-article-meta }}
&lt;/header&gt; &lt;!-- /.article__header --&gt;
{{/ article_header }}
