<div class="theme-switcher u-padding">
  <h3 class="theme-switcher-heading">Select primary and secondary colors.</h3>
  <div class="theme-swatches theme-swatches--primary">
    <div class="swatch active u-background-color--treefrog" data-color="treefrog" title="Treefrog"></div>
    <div class="swatch u-background-color--ming" data-color="ming" title="Ming"></div>
    <div class="swatch u-background-color--bluejay" data-color="bluejay" title="Bluejay"></div>
    <div class="swatch u-background-color--iris" data-color="iris" title="Iris"></div>
    <div class="swatch u-background-color--scarlett" data-color="scarlett" title="Scarlett"></div>
    <div class="swatch u-background-color--campfire" data-color="campfire" title="Campfire"></div>
    <div class="swatch u-background-color--forest" data-color="forest" title="Forest"></div>
    <div class="swatch u-background-color--cave" data-color="cave" title="Cave"></div>
    <div class="swatch u-background-color--denim" data-color="denim" title="Denim"></div>
    <div class="swatch u-background-color--emperor" data-color="emperor" title="Emperor"></div>
    <div class="swatch u-background-color--grapevine" data-color="grapevine" title="Grapevine"></div>
    <div class="swatch u-background-color--velvet" data-color="velvet" title="Velvet"></div>
    <div class="swatch u-background-color--earth" data-color="earth" title="Earth"></div>
    <h4 class="theme-heading">Primary</h4>
  </div>

  <div class="theme-swatches theme-swatches--dark">
    <div class="swatch u-background-color--black" title="Dark Theme"></div>
    <h4 class="theme-heading">Dark</h4>
  </div>
</div>

<script src="/v3/js/jquery-2.0.0b2.js" type="text/javascript"></script>
<script src="/v3/js/iframeResizer.contentWindow.min.js"></script>
<script src="/v3/js/iframeResizer.contentWindow.map"></script>
<script src="/v3/js/script.min.js" type="text/javascript"></script>

<!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
{{ patternLabFoot | raw }}
<!-- / END PATTERN LAB SCRIPTS -->
</body>

</html>
