    <div class="theme-switcher pad">
      <h3 class="theme-switcher-heading">Select primary and secondary colors.</h3>
      <div class="theme-swatches theme-swatches--primary">
        <div class="swatch active bg--emperor" data-color="emperor" title="Emperor"></div>
        <div class="swatch bg--earth" data-color="earth" title="Earth"></div>
        <div class="swatch bg--grapevine" data-color="grapevine" title="Grapevine"></div>
        <div class="swatch bg--denim" data-color="denim" title="Denim"></div>
        <div class="swatch bg--campfire" data-color="campfire" title="Campfire"></div>
        <div class="swatch bg--treefrog" data-color="treefrog" title="Tree frog"></div>
        <div class="swatch bg--ming" data-color="ming" title="Ming"></div>
        <h4 class="theme-heading">Primary</h4>
      </div>

      <div class="theme-swatches theme-swatches--secondary">
        <div class="swatch active bg--cool" data-color="cool" title="Cool"></div>
        <div class="swatch bg--warm" data-color="warm" title="Warm"></div>
        <h4 class="theme-heading">Secondary</h4>
      </div>

      <div class="theme-swatches theme-swatches--dark">
        <div class="swatch bg--dark-light" title="Dark Theme"></div>
        <h4 class="theme-heading">Dark</h4>
      </div>
    </div>

    <script src="../../js/jquery-2.0.0b2.js" type="text/javascript"></script>
    <script src="../../js/script.min.js" type="text/javascript"></script>

    <!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
    {{{ patternLabFoot }}}
    <!-- / END PATTERN LAB SCRIPTS -->
  </body>
</html>
