<div class="c-theme-switcher u-padding--half">
  <div class="c-theme-switcher__toggle js-toggle-parent u-padding--half">
    <span class="u-icon u-icon--s u-space--quarter--right">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 10 10"><path d="M3.59,3.25.09,6.75,1.5,8.16,5,4.66l3.5,3.5L9.91,6.75l-3.5-3.5L5,1.84Z"/></svg>
    </span>
    Themes
  </div>
  <div class="c-theme-switcher--inner">
    <div class="c-theme-switcher__swatches c-swatches c-swatches--colors">
      <h4 class="c-swatches__heading">Colors</h4>
      <div class="c-swatches__item u-background-color--treefrog" data-color="treefrog" title="Treefrog"></div>
      <div class="c-swatches__item active u-background-color--ming" data-color="ming" title="Ming"></div>
      <div class="c-swatches__item u-background-color--bluejay" data-color="bluejay" title="Bluejay"></div>
      <div class="c-swatches__item u-background-color--iris" data-color="iris" title="Iris"></div>
      <div class="c-swatches__item u-background-color--lily" data-color="lily" title="Lily"></div>
      <div class="c-swatches__item u-background-color--scarlett" data-color="scarlett" title="Scarlett"></div>
      <div class="c-swatches__item u-background-color--campfire" data-color="campfire" title="Campfire"></div>
      <div class="c-swatches__item u-background-color--winter" data-color="winter" title="Winter"></div>
      <div class="c-swatches__item u-background-color--forest" data-color="forest" title="Forest"></div>
      <div class="c-swatches__item u-background-color--cave" data-color="cave" title="Cave"></div>
      <div class="c-swatches__item u-background-color--denim" data-color="denim" title="Denim"></div>
      <div class="c-swatches__item u-background-color--emperor" data-color="emperor" title="Emperor"></div>
      <div class="c-swatches__item u-background-color--grapevine" data-color="grapevine" title="Grapevine"></div>
      <div class="c-swatches__item u-background-color--velvet" data-color="velvet" title="Velvet"></div>
      <div class="c-swatches__item u-background-color--earth" data-color="earth" title="Earth"></div>
      <div class="c-swatches__item u-background-color--night" data-color="night" title="Night"></div>
    </div>

    <div class="c-theme-switcher__swatches c-swatches c-swatches--background">
      <h4 class="c-swatches__heading">Background</h4>
      <div class="c-swatches__item u-background-color--gray--darker" title="Dark Background"></div>
    </div>

    <div class="c-theme-switcher__swatches c-swatches c-swatches--grid">
      <h4 class="c-swatches__heading">Grid</h4>
      <div class="c-swatches__item u-background-color--gray u-border active" title="Grid"></div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/v3/js/iframeResizer.contentWindow.min.js"></script>
<script src="/v3/js/iframeResizer.contentWindow.map"></script>
<script src="/v3/js/script.min.js" type="text/javascript"></script>

<!-- PATTERN LAB SCRIPTS // DO NOT REMOVE FOR PATTERN LAB -->
{{ patternLabFoot|raw }}
<!-- / END PATTERN LAB SCRIPTS -->
</body>
</html>
