<section class="testimonies spacing--half carousel-nav--outside rel">
  <header class="testimonies__header border--bottom border--light flex flex--nowrap flex--align-end flex--justify-between">
    <h2 class="font--secondary--l theme--primary-text-color">Testimonies</h2>
    <div class="show-at--medium"><a href="" class="see-all font--secondary--s theme--primary-text-color">See all posts <span class="icon icon--xs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><title>Right arrow icon</title><path d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0ZM21.69,38.25l-3.43-3.43L28.07,25l-9.82-9.82,3.43-3.43L34.93,25Z" class="theme--primary-fill-color" fill="#438390"/></svg>
</span></a>
</div>
  </header>
  <div class="carousel content-carousel ovh">
  <div class="carousel__inner content-carousel__slides js-carousel__multi-item">
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Proin aliquam tempus lacinia</h3>
        <div class="content-carousel__description">
          <p>Morbi massa ipsum, molestie ut luctus nec, placerat commodo magna. Vestibulum rhoncus molestie</p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Quisque ac justo</h3>
        <div class="content-carousel__description">
          <p>Nullam ultricies ante nec sapien mattis viverra. Aliquam posuere urna quis est accumsan accumsan.</p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Class aptent, taciti</h3>
        <div class="content-carousel__description">
          <p>Fusce a odio ligula. Aliquam aliquet ligula purus, non mollis purus semper ut.</p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Phasellus ligula ligula</h3>
        <div class="content-carousel__description">
          <p>Proin pretium nisi non nisl lobortis, eu molestie magna posuere. Maecenas fermentum lorem ut eros viverra scelerisque.</p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Quisque porta elit dui</h3>
        <div class="content-carousel__description">
          <p>Ut vestibulum rhoncus molestie. Fusce a odio ligula. Aliquam aliquet ligula purus, non mollis purus semper ut.</p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Cras nisi dolor, malesuada</h3>
        <div class="content-carousel__description">
          <p>Maecenas tincidunt, dui at ultrices mattis, elit augue sollicitudin quam, hendrerit pellentesque leo mauris sed massa. </p>
        </div>
      </div> <!-- /.content-carousel__item -->
          <div class="content-carousel__item spacing--half pad">
        <h3 class="content-carousel__heading font--secondary--m theme--primary-text-color">Aliquam vitae</h3>
        <div class="content-carousel__description">
          <p>Maecenas interdum est eget blandit posuere. Pellentesque lacus sem, feugiat non porttitor eget commodo magna.</p>
        </div>
      </div> <!-- /.content-carousel__item -->
      </div> <!-- /.content-carousel__slides -->

      <div class="carousel__controls carousel__controls--outside">
      <span class="arrow__prev"><span class="carousel__arrow carousel__arrow--s carousel__arrow--prev icon round"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><title>Left arrow icon</title><path d="M0,25A25,25,0,1,0,25,0,25,25,0,0,0,0,25Zm15.07,0L28.31,11.75l3.43,3.43L21.93,25l9.82,9.82-3.43,3.43Z" class="theme--secondary-fill-color" fill="#438390"/></svg>
</span></span>
      <span class="arrow__next"><span class="carousel__arrow carousel__arrow--s carousel__arrow--next icon round"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><title>Right arrow icon</title><path d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0ZM21.69,38.25l-3.43-3.43L28.07,25l-9.82-9.82,3.43-3.43L34.93,25Z" class="theme--secondary-fill-color" fill="#438390"/></svg>
</span></span>
    </div> <!-- /.carousel__controls -->
  
</div> <!-- /.content-carousel -->
  <div class="spacing--half">
    <a href="" class="btn theme--secondary-background-color">Submit a Testimony</a>
    <div class="show-until--medium"><a href="" class="see-all font--secondary--s theme--primary-text-color">See all posts <span class="icon icon--xs"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><title>Right arrow icon</title><path d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0ZM21.69,38.25l-3.43-3.43L28.07,25l-9.82-9.82,3.43-3.43L34.93,25Z" class="theme--primary-fill-color" fill="#438390"/></svg>
</span></a>
</div>
  </div>
</section> <!-- /.testimonies -->
